<div class="card-form">
  <div class="clearfix">
    <div class="left-nav-bar pull-left row-header">
      <div>
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png" (click)="goBack();">
        <span *ngIf="create" class="title">Thêm mới đề nghị trợ cấp</span>
        <span *ngIf="update" class="title">Cập nhật đề nghị trợ cấp</span>
        <span *ngIf="view" class="title">Chi tiết đề nghị trợ cấp</span>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
      <ul class="header-right sys-ul space-line">
        <li>
          <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="goBack();" [innerHTML]="'common.button.out' | translate">
          </button>
        </li>
        <li *ngIf="!view">
          <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="processSaveOrUpdate()" [innerHTML]="'common.button.icon.save' | translate">
          </button>
        </li>
        <li *ngIf="view && f['status'].value === 0">
          <button class="btn btn-sm vt-btn btn-submit mt-btn btn-header-right ng-star-inserted" type="button" (click)="navigate()" [innerHTML]="'common.button.icon.edit' | translate">
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="info">
  <div class="panel panel-default card-info">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong>
          <span class="ml-2 title-info">Thông tin đề nghị chính sách trong đơn vị</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
<!--        row 1 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'subsidizedSuggest.label.subsidizedPeriodId' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="formSave.controls.allowancePeriodId"
                           [options]="allowancePeriodOptions"
                           optionLabel="name"
                           optionValue="allowancePeriodId"
                           [placeHolder]="'common.label.cboMustSelect'"
                           [disabled]="view"
                           (onChange)="changeAllowancePeriod($event)">
            </select-filter>
            <app-control-messages [control]="f['allowancePeriodId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.request.organization' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <mass-org-selector *ngIf="branch == 1 || branch == 2 || branch == 3"
                    [property]="f['approveOrgId']"
                    operationKey="action.view"
                    adResourceKey="resource.empAllowanceRequest"
                    [defaultValue]="true"
                    [branch] = "branch"
                    [rootId]="massOrgIdByEmp"
                    [disabled]="view">
            </mass-org-selector>
            <party-org-selector *ngIf="branch == 0"
                    [property]="f['approveOrgId']"
                    operationKey="action.view"
                    adResourceKey="resource.empAllowanceRequest"
                    [disabled]='view'
                    [rootId]="massOrgIdByEmp"
            >
            </party-org-selector>
            <app-control-messages [control]="f['approveOrgId']"></app-control-messages>
          </div>
        </div>
<!--        row 2 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.allowance.request.search.allowanceType' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['allowanceType']" [options]="allowanceTypeOptions" optionLabel="name" optionValue="value" [disabled]="true"
                           [placeHolder]="'common.label.cboMustSelect'" >
            </select-filter>
            <app-control-messages [control]="f['allowanceType']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'common.label.object' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['objectType']"
                           [options]="objectTypeOptions"
                           optionLabel="name"
                           optionValue="value"
                           [placeHolder]="'common.label.cboMustSelect'"
                           [disabled]="true">
            </select-filter>
            <app-control-messages [control]="f['objectType']"></app-control-messages>
          </div>
        </div>
<!--        row 3 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.request.requestContent' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
                    [property]="f['welfarePolicyCategoryId']"
                    [options]="welfarePolicyCategoryList"
                    optionLabel="name"
                    optionValue="welfarePolicyCategoryId"
                    [placeHolder]="'common.label.cboSelect'"
                    (onChange)="changeWelfarePolicyCategory($event)"
                    [disabled]="view">
            </select-filter>
            <app-control-messages [control]="f['welfarePolicyCategoryId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'label.welfare.policy.category.relationship' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
                    [property]="f['relationshipId']"
                    [options]="relationshipOptions"
                    optionLabel="name"
                    optionValue="sysCatId"
                    [placeHolder]="'common.label.cboSelect'"
                    (onChange)="changeRelationshipId()"
                    [disabled]="view || f['objectType'].value == 1? true: null">
            </select-filter>
            <small *ngIf="isInvalidRelationshipId" class="text-danger errorMessage">* Trường bắt buộc</small>
            <app-control-messages [control]="f['relationshipId']"></app-control-messages>
          </div>
        </div>
<!--        row 4 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.request.employee' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <data-picker
                    [property]="f['employeeId']"
                    systemCode="political"
                    operationKey="action.view"
                    adResourceKey="resource.empAllowanceRequest"
                    objectBO="EmployeeBO"
                    codeField="employeeCode"
                    nameField="fullName"
                    emailField="email"
                    mobileNumberField="mobileNumber"
                    selectField="employeeId"
                    type="employee"
                    (onChange)="onChangeEmployee($event)"
                    [filterCondition]="employeeFilterCondition"
                    [disabled]="view"
            >
            </data-picker>
            <app-control-messages [control]="f['employeeId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'label.welfare.policy.requestList.objectName' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
                    [property]="f['objectId']"
                    [options]="objectNameOptions"
                    optionLabel="name"
                    optionValue="value"
                    [placeHolder]="'common.label.cboSelect'"
                    (onChange)="changeObjectId($event)"
                    [disabled]="view || f['objectType'].value == 1?true:null">
            </select-filter>
            <small *ngIf="isInvalidObjectId" class="text-danger errorMessage">* Trường bắt buộc</small>
            <app-control-messages [control]="f['objectId']"></app-control-messages>
          </div>
        </div>
<!--        row 5 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" *ngIf="!isAllowanceHM">
            {{'label.welfare.policy.desease.category' | translate}}
          </label>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" *ngIf="isAllowanceHM">
            {{'label.welfare.policy.deseaseHM.category' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="formSave.controls.deseaseId"
                           [options]="deseaseOptions"
                           optionLabel="categoryName"
                           optionValue="policyDeseaseId"
                           [placeHolder]="'common.label.cboMustSelect'"
                           (onChange)="changeRequiredDesease($event)"
                           [disabled]="view">
            </select-filter>
            <small *ngIf="isRequiredDesease" class="text-danger errorMessage">* Trường bắt buộc</small>
            <app-control-messages [control]="f['deseaseId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            <label class="required" style="word-break: break-word; float: right; width: 50% !important;">
              {{'label.emp.allowance.request.reason' | translate}}
            </label>
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <textarea [formControl]="formSave.controls.reason" id="reason" type="text-area"
                      class="form form-control" [attr.disabled]="view? true: null"></textarea>
            <app-control-messages [control]="f['reason']"></app-control-messages>
          </div>
        </div>
<!--        row 6 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.emp.allowance.request.fromDate' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [disabled]="view" [property]="f['startDate']"></date-picker>
            <app-control-messages [control]="f['startDate']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'common.label.toDate' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [disabled]="view" [property]="f['endDate']"></date-picker>
            <app-control-messages [control]="f['endDate']"></app-control-messages>
          </div>
        </div>
<!--        row 7 -->
        <div class="ui-g-12 vt-row" *ngIf="isAllowanceHM" >
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.request.marriageTime' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [disabled]="view" [property]="f['marriageTime']" (onChanged)="changeMarriageTime()"></date-picker>
            <small *ngIf="isRequiredMarriageTime" class="text-danger errorMessage">* Trường bắt buộc</small>
            <small *ngIf="isCheckMarriageTime" class="text-warning errorMessage">* Đồng chí cần bổ sung giấy xác nhận hiếm muộn/vô sinh của bệnh viện</small>
            <app-control-messages [control]="f['marriageTime']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.request.isWorkInCompany' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-icon-filter [property]="formSave.controls.isWorkInCompany" [options]="isWorkInCompanyOptions" optionLabel="label"
                                optionValue="value" [placeHolder]="'common.label.cboMustSelect'" appendTo="body"
                                [disabled]="view">
            </select-icon-filter>
            <small *ngIf="isRequiredIsWorkInCompany" class="text-danger errorMessage">* Trường bắt buộc</small>
            <app-control-messages [control]="f['isWorkInCompany']"></app-control-messages>
          </div>
        </div>
<!--        row 8 -->
        <div class="ui-g-12 vt-row" *ngIf="isAllowanceHM" >
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.request.treatmentTime' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" [attr.disabled]="view?true:null" class="form form-control" name="treatmentTime" [formControl]="formSave.controls.treatmentTime">
            <small *ngIf="isRequiredTreatmentTime" class="text-danger errorMessage">* Trường bắt buộc</small>
            <app-control-messages [control]="f['treatmentTime']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.request.numberOfTreatments' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="number" [attr.disabled]="view?true:null" class="form form-control" name="numberOfTreatments" [formControl]="formSave.controls.numberOfTreatments" [min]="0">
            <small *ngIf="isRequiredNumberOfTreatments" class="text-danger errorMessage">* Trường bắt buộc</small>
            <app-control-messages [control]="f['numberOfTreatments']"></app-control-messages>
          </div>
        </div>
<!--        row 9 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.allowance.request.form.amountPerBill' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="number" [attr.disabled]="view? true : null" [formControl]="formSave.controls.amountPerBill" class="form-control" [min]="0">
            <app-control-messages [control]="f['amountPerBill']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.allowance.request.form.proposeType' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="formSave.controls.proposeType"
                           [options]="proposeTypeList"
                           optionLabel="name"
                           optionValue="value"
                           [placeHolder]="'common.label.cboMustSelect'"
                           [disabled]="view || !isAllowanceHM ? true: false"
                           (onChange)="changeProposeType($event)">
            </select-filter>
            <app-control-messages [control]="f['proposeType']"></app-control-messages>
          </div>
        </div>
<!--        row 10 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.request.documentState' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="formSave.controls.documentState"
                           [options]="documentStateList"
                           optionLabel="name"
                           optionValue="value"
                           [placeHolder]="'common.label.cboMustSelect'"
                           [disabled]="view">
            </select-filter>
            <app-control-messages [control]="f['documentState']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'label.allowance.request.form.note' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
                <textarea [formControl]="formSave.controls.rejectReason" id="rejectReason" type="text-area"
                          class="form form-control" [attr.disabled]="view? true: null"></textarea>
            <app-control-messages [control]="f['rejectReason']"></app-control-messages>
          </div>
        </div>
<!--        row 11 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.request.status' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['status']"
                           [options]="statusList"
                           optionLabel="name"
                           optionValue="value"
                           [placeHolder]="'common.label.cboMustSelect'"
                           (onChange)="changeStatus($event)"
                           [disabled]="view || update ? true : false">
            </select-filter>
            <small *ngIf="isInvalidStatus" class="text-danger errorMessage">* Trường bắt buộc</small>
            <app-control-messages [control]="f['status']"></app-control-messages>
          </div>
        </div>
<!--        row 12 -->
        <div class="ui-g-12 vt-row" *ngIf="isShowAmount">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.request.chairmanType' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-icon-filter [property]="formSave.controls.chairmanType" [options]="chairmanTypeList" optionLabel="name"
                                optionValue="value" [placeHolder]="'common.label.cboMustSelect'" appendTo="body"
                                [disabled]="view" (onChange)="changeChairmanType($event)">
            </select-icon-filter>
            <small *ngIf="isRequiredChairmanType" class="text-danger errorMessage">* Trường bắt buộc</small>
            <app-control-messages [control]="f['chairmanType']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'label.welfare.policy.proposal.total' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="number" [attr.disabled]="true" [formControl]="formSave.controls.amountTotal" class="form-control">
            <app-control-messages [control]="f['amountTotal']"></app-control-messages>
          </div>
        </div>
<!--        row 12-->
        <div class="ui-g-12 vt-row" *ngIf="isShowAmount">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.request.taxableObject' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="formSave.controls.taxableObject"
                           [options]="taxableObjectList"
                           optionLabel="name"
                           optionValue="value"
                           [placeHolder]="'common.label.cboMustSelect'"
                           (onChange)="changeTaxableObject($event)"
                           [disabled]="view">
            </select-filter>
            <app-control-messages [control]="f['taxableObject']"></app-control-messages>
          </div>
        </div>

        <!--        row 12 -->
        <div class="ui-g-12 vt-row" *ngIf="isShowIdPassport">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            Căn cước công dân</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text"  [attr.disabled]="view? true: null" [formControl]="formSave.controls.idPassport" class="form-control">           
            <app-control-messages [control]="f['idPassport']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            Mã số thuế</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text"   [attr.disabled]="view? true: null" [formControl]="formSave.controls.taxNumber" class="form-control">            
          </div>
        </div>

<!--        nguồn kinh phí -->
        <div class="ui-g-12 vt-row" *ngIf="isShowAmount">
          <form [formGroup]="empAllowanceRequestAmountBOList" style="width: 100%">
            <div *ngFor="let item of empAllowanceRequestAmountBOList.controls; let i = index">
              <div [formGroup]="item" class="ui-g-12 vt-row" style="display: flex;">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'label.welfare.policy.category.fundingCategory' | translate}}</label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <select-icon-filter [property]="item.controls.fundingCategoryId" [options]="fundingCategoryOptions" optionLabel="funding"
                                      optionValue="fundingCategoryId" [placeHolder]="'common.label.cboMustSelect'" appendTo="body"
                                      [disabled]="true">
                  </select-icon-filter>
                  <app-control-messages [control]="item.controls.fundingCategoryId"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'label.welfare.policy.category.level' | translate}}</label>
                <div class="ui-g-12 ui-md-6 ui-lg-3" style="display: flex">
                  <div style="width: 40%">
                    <select-icon-filter [property]="item.controls.level" [options]="item.controls.optionLevel.value" optionLabel="name"
                                        optionValue="id" [placeHolder]="'common.label.cboMustSelect'" appendTo="body"
                                        [disabled]="view" (onChange)="changeLevelList(empAllowanceRequestAmountBOList, i)">
                    </select-icon-filter>
                  </div>
                  <div style="width: 60%; padding-left: 10px;">
                    <input type="number" [attr.disabled]="(item.get('isFixed').value === 1 || view) ? true: null" [formControl]="item.controls.amount" class="form-control">
                  </div>
                  <app-control-messages [control]="item.controls.amount"></app-control-messages>
                </div>
              </div>
            </div>
          </form>
        </div>


<!--        file đính kèm-->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'label.welfare.policy.request.attachmentFile' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <span class="text-warning">{{attachmentFileLabel}}</span>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <form [formGroup]="empAllowanceRequestDocumentList" style="width: 100%">
            <div *ngFor="let item of empAllowanceRequestDocumentList.controls; let i = index">
              <div [formGroup]="item" class="ui-g-12 vt-row" style="display: flex;" *ngIf="item.value.isDeleted !== 0">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'label.welfare.policy.request.fileType' | translate}}</label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <select-icon-filter [property]="item.controls.policyDocumentId" [options]="requestDocumentTypeOptions" optionLabel="name"
                                      optionValue="policyDocumentId" [placeHolder]="'common.label.cboMustSelect'" appendTo="body"
                                      [disabled]="true">
                  </select-icon-filter>
                  <app-control-messages [control]="item.controls.policyDocumentId"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" [ngClass]="item.get('isRequired').value !== 1 ? '' : 'required'">
                  {{'label.welfare.policy.request.chooseFile' | translate}}</label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <file-chooser
                          [property]="item.controls.file"
                          fileName="fileAttachment"
                          [htmlId]="'filesControl' + i"
                          validMaxSize="50"
                          validType="png,jpg,gif,tiff,bmp,xls,xlsx,doc,docx,pdf,rar,zip,7z"
                          (onFileChange)="onFileChange($event)"
                          [disabled]="view"
                  >
                  </file-chooser>
                  <small *ngIf="isInvalidFileAttachment && item.value.isRequired === 1 && (!item.value.file || (item.value.file && !item.value.file.type)) && item.value.isDeleted == 1" class="text-danger errorMessage">* Trường bắt buộc</small>
                  <app-control-messages *ngIf="item.get('isRequired').value === 1" [control]="item.controls.file"></app-control-messages>
                </div>
                <div>
                  <button type="button" class="btn-icon plus" style="margin: 0px 5px" *ngIf="!view" [title]="'titleAdd' | translate" (click)="addRow(i, item)" [innerHTML]="'common.icon.plus' | translate">
                  </button>
                  <button type="button" class="btn-icon minus" *ngIf="!view" [title]="'titleDelete' | translate" (click)="removeRow(i, item)" [innerHTML]="'common.icon.minus' | translate">
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="isAllowanceHM" class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-lg-7 control-label vt-align-right "></label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <a class="text-link" (click)="processDownloadTemplate(1);">
                  <span ><i class="fa fa-download"></i> Biểu mẫu Bản kê khai đề nghị hỗ trợ</span>
                </a> <br>
                <a class="text-link" (click)="processDownloadTemplate(2);">
                  <span ><i class="fa fa-download"></i>  Biểu mẫu Bản kê khai hỗ trợ kinh phí nhận con nuôi</span>
                </a>
              </div>
            </div>
          </form>
        </div>

          <div class="ui-g-12 vt-row" *ngIf="view">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                  Lý do từ chối đề xuất</label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text"  [attr.disabled]="view? true: null" [formControl]="formSave.controls.rejectReasonAllowanceProposal" class="form-control">
              </div>

              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                  Người từ chối đề xuất</label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text"  [attr.disabled]="view? true: null" [formControl]="formSave.controls.rejectUpdatedByAllowanceProposal" class="form-control">
              </div>
              <!--              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">-->
              <!--                  Mã số thuế</label>-->
              <!--              <div class="ui-g-12 ui-md-6 ui-lg-3">-->
              <!--                  <input type="text"   [attr.disabled]="view? true: null" [formControl]="formSave.controls.taxNumber" class="form-control">-->
              <!--              </div>-->
          </div>
          <div class="ui-g-12 vt-row" *ngIf="view">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                 Ngày từ chối đề xuất</label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker [disabled]="view" [property]="f['rejectUpdatedTimeAllowanceProposal']"></date-picker>
              </div>

          </div>
      </div>
    </form>
  </div>
</div>
