<div class="panel-body panel-table">
  <p-table
    [value]="resultList.data"
    (onLazyLoad)="processSearch($event)"
    [lazy]="true" [rows]="changeRow"
    [rows]="resultList.recordsTotal"
    [totalRecords]="resultList.recordsTotal"
    [scrollable]="true"
    [lazyLoadOnInit]="false"
    tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
    [resizableColumns]="true"
  >
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col style="width: 50px;">
        <col style="width: 200px;">
        <col style="width: 200px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 200px;">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th translate pResizableColumn>common.table.index</th>
        <th translate pResizableColumn>employee.assessment.assessName</th>
        <th translate pResizableColumn>label.document.file.name</th>
        <th translate pResizableColumn>employee.assessment.validFrom</th>
        <th translate pResizableColumn>employee.assessment.validTo</th>
        <th translate pResizableColumn>employee.assessment.criticalLevel</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex+1">
      <tr>
        <td class="vt-align-center">{{ index }}</td>
        <td class="vt-align-left">{{ item.assessName }}</td>
        <td class="vt-align-left">
          <a class="text-link" (click)="processDownloadFile(item)">
            <span>{{ item.vtCriticalId }}.pdf</span>
          </a>
        </td>
        <td class="vt-align-center">{{ item.validFrom }}</td>
        <td class="vt-align-center">{{ item.validTo }}</td>
        <td class="vt-align-left">{{ item.criticalLevel }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="emptymessage">
        <td [attr.colspan]="5" [innerHTML]="'app.noRecords' | translate">
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
