<div class="panel-body padding-xl ui-g" style="padding-bottom: 0;">
    <div class="ui-g-10 ui-g-offset-1">
        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            Email
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="form-check">
                <label class="i-checks">
                    <input type="checkbox" (change)="changeSendEmail($event)" name="sendEmail">
                    <i></i>
                </label>
            </div>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            SMS
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="form-check">
                <label class="i-checks">
                    <input type="checkbox" (change)="changeSendSms($event)" name="sendSms">
                    <i></i>
                </label>
            </div>
        </div>
    </div>
    <div class="ui-g-10 ui-g-offset-1" *ngIf="checkedEmail">
        <label class="ui-g-12 ui-md-4  control-label vt-align-left required" style="width:10%">
            Tiêu đề</label>
        <div class="ui-g-12 ui-md-8" style="width:90%">
            <input [formControl]="form.controls.subject" class="form-control">
            <app-control-messages [control]="form.controls.subject"></app-control-messages>
        </div>
    </div>
    <div class="ui-g-10 ui-g-offset-1">
        <label class="ui-g-12 ui-md-4  control-label vt-align-left required" style="width:10%">
            Nội dung</label>
        <div class="ui-g-12 ui-md-8" style="width:90%">
            <textarea [formControl]="form.controls.message" id="message" type="text-area" rows="8"
                      class="form form-control"></textarea>
            <app-control-messages [control]="form.controls.message"></app-control-messages>
        </div>
    </div>
    <div class="ui-g-10 ui-g-offset-1" style="display: none">
        <label class="ui-g-12 ui-md-4  control-label vt-align-left required">
            ID nhân viên chọn</label>
        <div class="ui-g-12 ui-md-8">
            <input [formControl]="form.controls.checkedId" class="form-control">
            <app-control-messages [control]="form.controls.checkedId"></app-control-messages>
        </div>
    </div>
    <div class="ui-g-10 ui-g-offset-1" style="display: none">
        <label class="ui-g-12 ui-md-4  control-label vt-align-left required">
            ID bản ghi</label>
        <div class="ui-g-12 ui-md-8">
            <input [formControl]="form.controls.competitionProgramId" class="form-control">
            <app-control-messages [control]="form.controls.competitionProgramId"></app-control-messages>
        </div>
    </div>
    <div style="color: red; width: 100%; text-align: center">{{raise}}</div>
    <div class="panel-footer vt-area-button ui-g-12">
        <button type="button" (click)="goBack()" class="btn btn-sm btn-danger"
                [innerHTML]="'common.button.out' | translate"></button>
        <button type="submit" class="btn btn-sm btn-info" (click)="save()"
                [innerHTML]="'Gửi'"></button>
    </div>

</div>
