<div class="content vt-nopadding">
  <div class="no-padding-left">
    <form id="formPosition" [formGroup]="formPosition">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>
            <span *ngIf="branch === 1"> Thông tin chức danh tổ chức phụ nữ</span>
            <span *ngIf="branch === 2"> Thông tin chức danh tổ chức thanh niên</span>
            <span *ngIf="branch === 3"> Thông tin chức danh tổ chức công đoàn</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
              class="btn btn-span btn-sm"><img class="info-icon" src="./../../../assets/images/home/Mask_Group_19561.png"></button>
          </div>
        </div>
        <div *ngIf="!isMobileScreen" class="panel-body padding-xl ui-g">
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'massMember.organization' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <mass-org-selector [property]="f['massOrganizationId']" operationKey="action.view"
                adResourceKey="resource.massMember" [defaultValue]="true" [branch]="branch"
                [autoFocus]="true" [isRequiredField]="true" (onChange)="onChangeMassOrg($event, massOrgSelector)">
              </mass-org-selector>
              <app-control-messages [control]="f['massOrganizationId']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
              {{'massMember.massPosition' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <data-picker [property]="f['massPositionId']" systemCode="political" operationKey="action.view"
                adResourceKey="resource.massMember" objectBO="MassPositionBO" codeField="code" nameField="name"
                selectField="massPositionId" [disabled]="view" [filterCondition]="filterCondition"
                [orderField]="orderField" [isRequiredField]="true" (onChange)="onChangePosition($event, item)"
                [nameData]="nameData">
              </data-picker>
              <app-control-messages [control]="f['massPositionId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'generalStandard.effectiveDate' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['effectiveDate']" appendTo="body">
              </date-picker>
              <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'generalStandard.expiredDate' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['expiredDate']" appendTo="body">
              </date-picker>
              <app-control-messages [control]="f['expiredDate']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'label.mass.titlemgmt.isHighestTitle' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <label class="i-checks" *ngIf="!view">
                <input type="checkbox" name="isHighest" formControlName="isHighest"/>
                <i></i>
              </label>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processUpdate()" class="btn btn-sm vt-btn btn-submit" [innerHTML]="'common.button.icon.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm vt-btn" [innerHTML]="'common.button.out' | translate"></button>
        </div>
      </div>
    </form>
  </div>
</div>