<div class="panel panel-default" *ngIf="(hasPermission('action.view') && isView) || (hasPermission('action.update') && isUpdate)">
  <div class="panel-heading vt-relative">
    <strong class="text-u-c">
      <i class="fa fa-th"></i>&nbsp;
      <span *ngIf="!isView" translate>generalInformation.label.title</span>
      <span *ngIf="isView" translate>generalInformation.label.title.view</span>
    </strong>
  </div>
  <form id="formView" [formGroup]="formView">
    <div class="panel-body ui-g" style="padding-bottom: 0px;">
      <div class="ui-g-12 vt-row"><!-- Row 1 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'common.label.fullName' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="employeeName" formControlName="employeeName">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.officerNumber' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" name="formatedSoldierNumber" formControlName="formatedSoldierNumber" class="form-control">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'common.label.gender' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="single" [value]="1" name="gender" formControlName="gender">
              <i></i>
              {{'common.label.male' | translate}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="single" [value]="2" name="gender" formControlName="gender">
              <i></i>
              {{'common.label.female' | translate}}
            </label>
          </div>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 2 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.aliases' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="aliasName" formControlName="aliasName">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'staffManager.Label.dateOfBirth' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <date-picker [property]="f['dateOfBirth']" [disabled]="true"></date-picker>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.nationality' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['nationId']"
            [options]="nationList"
            optionLabel="name"
            optionValue="nationId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 3 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'transferactivity.label.cv' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="currentPosition" formControlName="currentPosition">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.tookOfficeDate' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <date-picker [property]="f['positionStartDate']" [disabled]="true"></date-picker>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 4 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'common.label.unit' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-10">
          <input type="text" class="form form-control" name="orgFullName" formControlName="orgFullName">
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 5 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'profile.label.ddt' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['empTypeId']"
            [options]="empTypeList"
            optionLabel="name"
            optionValue="empTypeId"
            [disabled]="true"
          ></select-filter>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'profile.label.cb' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="soldierLevel" formControlName="soldierLevel">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.tookRankDate' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <date-picker [property]="f['soldierSignedDate']" [disabled]="true"></date-picker>
        </div>
      </div>
    </div>
    <hr />
    <div class="panel-body ui-g" style="padding-bottom: 0px; padding-top: 0px;">
      <div class="ui-g-12 vt-row"><!-- Row 1 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.idCard' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="personalIdNumber" formControlName="personalIdNumber">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.dateIdCard' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <date-picker [property]="f['personalIdIssuedDate']" [disabled]="true"></date-picker>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.placeIdCard' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="personalIdIssuedPlace" formControlName="personalIdIssuedPlace">
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 2 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.passportNumber' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="passportNumber" formControlName="passportNumber">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.datePassportNumber' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <date-picker [property]="f['passportIssueDate']" [disabled]="true"></date-picker>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.ethnicity' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['ethnicId']"
            [options]="ethnicList"
            optionLabel="name"
            optionValue="sysCatId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 3 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.traningLevel' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="currentEducationGrade" formControlName="currentEducationGrade">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.degree' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['degreeId']"
            [options]="degreeList"
            optionLabel="name"
            optionValue="sysCatId"
            [disabled]="true"
          ></select-filter>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.religion' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['religionId']"
            [options]="religionList"
            optionLabel="name"
            optionValue="sysCatId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 4 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.maritalStatus' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="single" [value]="1" name="maritalStatus" formControlName="maritalStatus">
              <i></i>
              {{'generalInformation.label.single' | translate}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="married" [value]="2" name="maritalStatus" formControlName="maritalStatus">
              <i></i>
              {{'generalInformation.label.marriged' | translate}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="disvorce" [value]="3" name="maritalStatus" formControlName="maritalStatus">
              <i></i>
              {{'generalInformation.label.divorce' | translate}}
            </label>
          </div>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right">
          {{'generalInformation.label.empTypeFile' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['empTypeFile']"
            [options]="empTypeFileList"
            optionLabel="name"
            optionValue="code"
          ></select-filter>
        </div>
      </div>
    </div>
    <hr />
    <div class="panel-body ui-g" style="padding-top: 0px;">
      <div class="ui-g-12 vt-row"><!-- Row 1 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.placeOfBirth' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input type="text" class="form form-control" name="placeOfBirth" formControlName="placeOfBirth">
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['provinceOfBirthId']"
            [options]="provinceList"
            optionLabel="name"
            optionValue="provinceId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 2 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.originalOfBirth' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input type="text" class="form form-control" name="origin" formControlName="origin">
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['provinceOfOriginId']"
            [options]="provinceList"
            optionLabel="name"
            optionValue="provinceId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 3 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.permanentResidence' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input type="text" class="form form-control" name="permanentAddress" formControlName="permanentAddress">
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['permanentProvinceId']"
            [options]="provinceList"
            optionLabel="name"
            optionValue="provinceId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 4 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.currentAddress' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input type="text" class="form form-control" name="currentAddress" formControlName="currentAddress">
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['currentProvinceId']"
            [options]="provinceList"
            optionLabel="name"
            optionValue="provinceId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 5 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.mobile' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="mobileNumber" formControlName="mobileNumber">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.phoneNumber' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="phoneNumber" formControlName="phoneNumber">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.fax' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="fax" formControlName="fax">
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 6 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.partyMembersType' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['recruitTypeId']"
            [options]="recuitList"
            optionLabel="name"
            optionValue="sysCatId"
            [disabled]="true"
          ></select-filter>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.WorkState' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['status']"
            [options]="employeeStatusList"
            optionLabel="label"
            optionValue="id"
            [isMultiLanguage]=true
            [disabled]="true"
          ></select-filter>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.isAbroad' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <p-inputSwitch formControlName="wentAbroad"></p-inputSwitch>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 7 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.DateJoined' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <date-picker [property]="f['sangnnStartDate']" [disabled]="true"></date-picker>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.firstOfferDate' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <date-picker [property]="f['firstSignedContractDate']" [disabled]="true"></date-picker>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.enlistmentDate' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <date-picker [property]="f['mobilizationDate']" [disabled]="true"></date-picker>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 8 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.Leader' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="managementCommand" formControlName="managementCommand">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.politicalTheory' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="politicalTheorist" formControlName="politicalTheorist">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.technicalExpertise' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="technicalExpertiseProfession" formControlName="technicalExpertiseProfession">
        </div>
      </div>
    </div>
  </form>

  <div class="pannel-footer">
    <p-tabView>
      <!-- Thông tin Đảng, Đoàn, Tổ chức -->
      <p-tabPanel header="{{'generalInformation.label.politicalInformation' | translate}}" [selected]="true">
        <form id="formSavePartyMember" [formGroup]="formSavePartyMember">
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'organization.label.name' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <party-org-selector
                [property]="fPartyMember['partyOrganizationId']"
                operationKey="action.view"
                adResourceKey="resource.employeeManager"
                [defaultValue]="true"
                [disabled]="true"
              >
              </party-org-selector>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.partyTitle' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <data-picker
                [property]="fPartyMember['partyPositionId']"
                systemCode="political"
                operationKey="action.view"
                adResourceKey="resource.employeeManager"
                objectBO="PartyPositionBO"
                codeField="code"
                nameField="name"
                selectField="partyPositionId"
                [disabled]="true"
              >
              </data-picker>
            </div>
          </div>
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'generalInformation.label.partyCardNumber' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <input type="text" class="form form-control" name="partyNumber" formControlName="partyNumber" [autoFocus]="true" maxlength="50" [attr.disabled]="isView ? true : null">
              <app-control-messages [control]="fPartyMember['partyNumber']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.partyAdmisionDate' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <date-picker [property]="fPartyMember['partyAdmissionDate']" [disabled]="isView ? true : null"></date-picker>
              <app-control-messages [control]="fPartyMember['partyAdmissionDate']"></app-control-messages>
            </div>
          </div>
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.partyAdmision' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <input type="text" class="form form-control" name="partyAdmissionPlace" formControlName="partyAdmissionPlace" maxlength="500" [attr.disabled]="isView ? true : null">
              <app-control-messages [control]="fPartyMember['partyAdmissionPlace']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'generalInformation.label.partyDateJoinSuccess' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <date-picker [property]="fPartyMember['partyOfficialAdmissionDate']" [disabled]="isView ? true : null"></date-picker>
              <app-control-messages [control]="fPartyMember['partyOfficialAdmissionDate']"></app-control-messages>
            </div>
          </div>
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{"partymanager.label.freePartyActivity" | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <party-org-selector
                [property]="fPartyMember['exceptPartyOrganizationId']"
                operationKey="action.view"
                adResourceKey="resource.employeeManager"
                [defaultValue]="false"
                [disabled]="isView ? true : null">
              </party-org-selector>
              <app-control-messages [control]="fPartyMember['exceptPartyOrganizationId']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'party.member.official.party.day' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <date-picker [property]="fPartyMember['exceptPartyDate']" [disabled]="isView ? true : null"></date-picker>
              <app-control-messages [control]="fPartyMember['exceptPartyDate']"></app-control-messages>
            </div>
          </div>          
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.firstDayIntroduce' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <div class="display-table w100">
                <div class="table-cell" style="width: 60px;">
                  <label class="i-switch bg-info m-t-xs m-r" title="{{'partymember.title.isEmployeesangnn' | translate}}">
                    <input type="checkbox" name="isFirstIntroduceIn"  formControlName="isFirstIntroduceIn" [value]="1" (change)="onChangeFirstIntroduceInOut($event)" [attr.disabled]="isView ? true : null"/>
                    <i></i>
                  </label>
                </div>
                <div class="table-cell">
                  <data-picker
                    [property]="fPartyMember['firstIntroduceEmployeeId']"
                    systemCode="political"
                    operationKey="action.view"
                    adResourceKey="resource.employeeManager"
                    objectBO="EmployeeBO"
                    codeField="employeeCode"
                    nameField="fullName"
                    emailField="email"
                    mobileNumberField="mobileNumber"
                    selectField="employeeId"
                    (onChange)="onChangeIntroduce($event, fPartyMember['firstPositionUnit'])"
                    #firstIntroduceDataPicker
                    [hidden]="isFirstIntroduceIn"
                    [disabled]="isView ? true : null">
                  </data-picker>
                  <input type="text" [hidden]="!isFirstIntroduceIn" class="form form-control" name="firstIntroducePerson" formControlName="firstIntroducePerson" maxlength="500" [attr.disabled]="isView ? true : null">
                </div>
              </div>
              <app-control-messages [hidden]="!isFirstIntroduceIn" [control]="fPartyMember['firstIntroducePerson']"></app-control-messages>
              <app-control-messages [control]="fPartyMember['firstIntroduceEmployeeId']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.position' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <input type="text" class="form form-control" name="firstPositionUnit" formControlName="firstPositionUnit" maxlength="500" [attr.disabled]="isView ? true : null || isFirstIntroduceIn ? null : true">
              <app-control-messages [hidden]="!isFirstIntroduceIn" [control]="fPartyMember['firstPositionUnit']"></app-control-messages>
            </div>
          </div>
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.secondDayIntroduce' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <div class="display-table w100">
                  <div class="table-cell" style="width: 60px;">
                    <label class="i-switch bg-info m-t-xs m-r" title="{{'partymember.title.isEmployeesangnn' | translate}}">
                      <input type="checkbox" name="isSecondIntroduceIn" formControlName="isSecondIntroduceIn" [value]="1" (change)="onChangeSecondIntroduceInOut($event)" [attr.disabled]="isView ? true : null"/>
                      <i></i>
                    </label>
                  </div>
                  <div class="table-cell">
                    <data-picker
                      [property]="fPartyMember['secondIntroduceEmployeeId']"
                      systemCode="political"
                      operationKey="action.view"
                      adResourceKey="resource.employeeManager"
                      objectBO="EmployeeBO"
                      codeField="employeeCode"
                      nameField="fullName"
                      emailField="email"
                      mobileNumberField="mobileNumber"
                      selectField="employeeId"
                      (onChange)="onChangeIntroduce($event, fPartyMember['secondPositionUnit'])"
                      #secondIntroduceDataPicker
                      [hidden]="isSecondIntroduceIn"
                      [disabled]="isView ? true : null">
                  </data-picker>
                  <input type="text" [hidden]="!isSecondIntroduceIn" class="form form-control" name="secondIntroducePerson" formControlName="secondIntroducePerson" maxlength="500" [attr.disabled]="isView ? true : null">
                </div>
              </div>
              <app-control-messages [hidden]="!isSecondIntroduceIn" [control]="fPartyMember['secondIntroducePerson']"></app-control-messages>
              <app-control-messages [control]="fPartyMember['secondIntroduceEmployeeId']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.position' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <input type="text" class="form form-control" name="secondPositionUnit" formControlName="secondPositionUnit" maxlength="500" [attr.disabled]="isView ? true : null || isSecondIntroduceIn ? null : true">
              <app-control-messages [hidden]="!isSecondIntroduceIn" [control]="fPartyMember['secondPositionUnit']"></app-control-messages>
            </div>
          </div>
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.politicalFosteringClassForReservePartyMembers' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <input type="text" class="form form-control" name="trainingUnit" formControlName="trainingUnit" maxlength="1000" [attr.disabled]="isView ? true : null">
              <app-control-messages [control]="fPartyMember['trainingUnit']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'common.label.result' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <select-filter
                [property]="fPartyMember['trainingResultId']"
                [options]="trainingResultList"
                optionLabel="name"
                optionValue="resultId"
                [placeHolder]="'common.label.cboSelect'"
                [disabled]="isView ? true : null">
              </select-filter>
              <app-control-messages [control]="fPartyMember['trainingResultId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.occupationBeforeEnteringTheParty' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <input type="text" class="form form-control" name="jobBefore" formControlName="jobBefore" maxlength="200" [attr.disabled]="isView ? true : null">
              <app-control-messages [control]="fPartyMember['jobBefore']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.mainWork' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <input type="text" class="form form-control" name="mainJob" formControlName="mainJob" maxlength="200" [attr.disabled]="isView ? true : null">
              <app-control-messages [control]="fPartyMember['mainJob']"></app-control-messages>
            </div>
          </div>
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.highestRank' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <select-filter
                [property]="fPartyMember['highestRankId']"
                [options]="highestRankList"
                optionLabel="name"
                optionValue="sysCatId"
                [placeHolder]="'common.label.cboSelect'"
                [disabled]="isView ? true : null">
              </select-filter>
              <app-control-messages [control]="fPartyMember['highestRankId']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.partyProfileNumber' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <input type="text" class="form form-control" name="profileNumber" formControlName="profileNumber" maxlength="200" [attr.disabled]="isView ? true : null">
              <app-control-messages [control]="fPartyMember['profileNumber']"></app-control-messages>
            </div>
          </div>
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.typeOfOfficer' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <select-filter
                [property]="fPartyMember['officerTypeId']"
                [options]="officerTypeList"
                optionLabel="name"
                optionValue="sysCatId"
                [placeHolder]="'common.label.cboSelect'"
                [disabled]="isView ? true : null">
              </select-filter>
              <app-control-messages [control]="fPartyMember['officerTypeId']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.numberUnionCard' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <input type="text" class="form form-control" name="unionNumber" formControlName="unionNumber" maxlength="50" [attr.disabled]="isView ? true : null">
              <app-control-messages [control]="fPartyMember['unionNumber']"></app-control-messages>
            </div>
          </div>
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.dateOfDelegation' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <date-picker [property]="fPartyMember['unionDate']" [disabled]="isView ? true : null"></date-picker>
              <app-control-messages [control]="fPartyMember['unionDate']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.groupAdmissionPlace' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <input type="text" class="form form-control" name="unionPlace" formControlName="unionPlace" maxlength="200" [attr.disabled]="isView ? true : null">
              <app-control-messages [control]="fPartyMember['unionPlace']"></app-control-messages>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
            <button *ngIf="!isView" type="submit" (click)="doSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.icon.save' | translate"></button>
            <button type="button" (click)="goBack()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
          </div>
        </form>
      </p-tabPanel>
      <!-- Thông tin to chuc khac -->
      <p-tabPanel header="{{'generalInformation.label.otherParty' | translate}}">
        <form [formGroup]="formSaveOtherParty">
          <div *ngFor="let item of formSaveOtherParty.controls; let i = index;" class="ui-grid-row" style="padding-right: 20px;">
            <div [formGroup]="item">
              <div class="ui-grid-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.organization.controller.name' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                  <input type="text" class="form form-control" name="partyName" formControlName="partyName" maxlength="200" [attr.disabled]="isView ? true : null">
                  <app-control-messages [control]="item.get('partyName')"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'generalInformation.label.orgDateJoin' | translate}}
                  </label>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                  <date-picker [property]="item.get('joinedDate')" [disabled]="isView ? true : null"></date-picker>
                  <app-control-messages [control]="item.get('joinedDate')"></app-control-messages>
                </div>
              </div>
              <div class="ui-grid-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'generalInformation.label.orgPlaceJoin' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                  <input type="text" class="form form-control" name="joinedPlace" formControlName="joinedPlace" maxlength="200" [attr.disabled]="isView ? true : null">
                  <app-control-messages [control]="item.get('joinedPlace')"></app-control-messages>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2" style="text-align: left">
                  <button style="margin-right: 3px;" type="button" [title]="'titleAdd' | translate" class="btn-icon plus" (click)="addOtherParty(i)" [innerHTML]="'common.icon.plus' | translate" [disabled]="isView ? true : null">
                  </button>
                  <button type="button" [title]="'titleDelete' | translate" class="btn-icon minus" (click)="removeOtherParty(i)" [innerHTML]="'common.icon.minus' | translate" [disabled]="isView ? true : null">
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
            <button *ngIf="!isView" type="submit" (click)="doSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.icon.save' | translate"></button>
            <button type="button" (click)="goBack()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
          </div>
        </form>
      </p-tabPanel>
      <!-- Thông tin BVAN -->
      <p-tabPanel header="{{'generalInformation.label.SecurityInfor' | translate}}">
        <form id="formBVAN" [formGroup]="formSaveSecurityProtectionInfo">
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'generalInformation.label.attentionInfor' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <select-filter
                [property]="fSecurityProtection['noteTypeId']"
                [options]="noteTypeList"
                optionLabel="name"
                optionValue="sysCatId"
                (onChange)="onChangeEmployeeNoteType()"
                [placeHolder]="'common.label.cboSelect'"
                [disabled]="isView ? true : null"
              >
              </select-filter>
            </div>
          </div>
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'generalInformation.label.ExpressionOfViolation' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              <multi-select-filter [property]="fSecurityProtection['expressionViolationIdList']"
                [options]="expressionViolationList"
                optionLabel="name"
                optionValue="sysCatId"
                [filterPlaceHolder]="'common.label.cboSelect'"
                (placeHolder)="'common.label.cboSelect'"
                maxSelectedLabels="100"
                [disabled]="isView ? true : null"
              >
              </multi-select-filter>
            </div>
          </div>
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'generalInformation.label.detailDescription' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              <textarea type="text" rows="4" name="description" class="form-control" formControlName="description" maxlength="1000" [attr.disabled]="isView ? true : null"></textarea>
              <app-control-messages [control]="fSecurityProtection['description']"></app-control-messages>
            </div>
          </div>
          <hr />
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'generalInformation.label.SecurityCommitment' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <multi-file-chooser
                [property]="fSecurityProtection['fileInfomationSecurity']"
                [validMaxSize]="50"
                validType="xls,xlsx,doc,docx,pdf"
                fileName="fileInfomationSecurity"
                [disabled]="isView ? true : null"
              ></multi-file-chooser>
              <app-control-messages [control]="fSecurityProtection['fileInfomationSecurity']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'generalInformation.label.JudicialRecords' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <multi-file-chooser
                [property]="fSecurityProtection['fileJudicialRecord']"
                [validMaxSize]="50"
                validType="xls,xlsx,doc,docx,pdf"
                fileName="fileJudicialRecord"
                [disabled]="isView ? true : null"
              ></multi-file-chooser>
              <app-control-messages [control]="fSecurityProtection['fileJudicialRecord']"></app-control-messages>
            </div>
          </div>
          <hr />
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'generalInformation.label.politicalApprovalForm' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <multi-file-chooser
                [property]="fSecurityProtection['filePoliticalStandard']"
                [validMaxSize]="50"
                validType="xls,xlsx,doc,docx,pdf"
                fileName="filePoliticalStandard"
                [disabled]="isView ? true : null"
              ></multi-file-chooser>
              <app-control-messages [control]="fSecurityProtection['filePoliticalStandard']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'generalInformation.label.confirmProfileForm' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <multi-file-chooser
                [property]="fSecurityProtection['fileLeaderComment']"
                [validMaxSize]="50"
                validType="xls,xlsx,doc,docx,pdf"
                fileName="fileLeaderComment"
                [disabled]="isView ? true : null"
              ></multi-file-chooser>
              <app-control-messages [control]="fSecurityProtection['fileLeaderComment']"></app-control-messages>
            </div>
          </div>
          <hr />
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'generalInformation.label.CVForm' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <multi-file-chooser
                [property]="fSecurityProtection['fileSelfProfile']"
                [validMaxSize]="50"
                validType="xls,xlsx,doc,docx,pdf"
                fileName="fileSelfProfile"
                [disabled]="isView ? true : null"
              ></multi-file-chooser>
              <app-control-messages [control]="fSecurityProtection['fileSelfProfile']"></app-control-messages>
            </div>
          </div>
          <hr />
          <div class="ui-grid-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'generalInformation.label.foreignEduPlace' | translate}}
            </label>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
              <div class="panel-body panel-table">
                <p-table 
                #pTable 
                [value]="resultList.data" 
                [responsive]="true" 
                (onLazyLoad)="processSearch($event)" 
                [lazy]="true" 
                [rows]="resultList.recordsTotal" 
                [totalRecords]="resultList.recordsTotal"
                [scrollable]="true" 
                [lazyLoadOnInit]="false"
                tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
              >
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="size-1">
                    <col class="size-10">
                    <col class="size-6">
                    <col class="size-8">
                    <col class="size-4">
                    <col class="size-6">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th translate>common.table.index</th>
                    <th pSortableColumn="placeOfIssue" translate>label.foreignEduPlace.schoolName.schoolAddress
                      <p-sortIcon field="placeOfIssue"></p-sortIcon>
                    </th>
                    <th pSortableColumn="educationGrade" translate>label.foreignEduPlace.level
                      <p-sortIcon field="educationGrade"></p-sortIcon>
                    </th>
                    <th pSortableColumn="educationSubject" translate>label.foreignEduPlace.specialized
                      <p-sortIcon field="educationSubject"></p-sortIcon>
                    </th>
                    <th pSortableColumn="dateOfIssue" translate>label.foreignEduPlace.graduationYear
                      <p-sortIcon field="dateOfIssue"></p-sortIcon>
                    </th>
                    <th pSortableColumn="studyTime" translate>label.foreignEduPlace.studyTime
                      <p-sortIcon field="studyTime"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                  <tr>
                    <td class="vt-align-center">{{index}}</td>
                    <td class="vt-align-left">{{item.placeOfIssue}}</td>
                    <td class="vt-align-left">{{item.educationGrade}}</td>
                    <td class="vt-align-left">{{item.educationSubject}}</td>
                    <td class="vt-align-center">{{item.yearOfIssue}}</td>
                    <td class="vt-align-center">{{item.studyTime}}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr class="emptymessage">
                    <td [attr.colspan]="14" [innerHTML]="'app.noRecords' | translate">
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                  <table-footer (changeRow)="onTablePageChange($event)" [resultList]="resultList"></table-footer>
                </ng-template>
              </p-table>
              </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
            <button *ngIf="!isView" type="submit" (click)="doSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.icon.save' | translate"></button>
            <button type="button" (click)="goBack()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
          </div>
        </form>
      </p-tabPanel>
      
    </p-tabView>
  </div>
</div>
<div *ngIf="(!hasPermission('action.view') && isView) || (!hasPermission('action.update') && isUpdate)">
  {{'common.haveNoPermission' | translate}}
</div>
