<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          Danh sách hồ sơ cần tải thêm
        </strong>
      </div>
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12 vt-row">
            <span>- Chứng minh thư quân đội</span><br>
            <span>- Giấy Khai Sinh</span><br>
            <span>- Lý lịch quân nhân</span><br>
            <span>- Bản khai hồ sơ cá nhân</span><br>
            <span>- Sơ yếu lí lịch (mẫu NN)</span><br>
            <span>- Sơ yếu lí lịch (mẫu TĐ)</span><br>
            <span>- Xác nhận thu nhập cá nhân năm 2019</span><br>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading vt-relative">
    <strong class="text-u-c"><i class="fa fa-th"></i>
      <span translate>listEmployeeProfile.list</span>
    </strong>
    <div class="vt-absolute vt-shotcut-button-in-heading">
      <div *ngIf="hasPermission('action.insert')" >
        <!-- <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info"
          [innerHTML]="'common.button.icon.addNew' | translate"></button> -->
      </div>
    </div>
  </div>
  <div class="panel-body panel-table">
    <p-table 
      #pTable 
      [value]="resultList.data" 
      [paginator]="true" 
      [responsive]="true" 
      (onLazyLoad)="processSearch($event)" 
      [lazy]="true" 
      [rows]="changeRow"
      [totalRecords]="resultList.recordsTotal"
      [scrollable]="true" 
      [lazyLoadOnInit]="false"
      tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
    >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col class="size-1" *ngIf="hasPermission('action.update')">
          <col class="size-1" *ngIf="hasPermission('action.delete')">
          <col class="size-4">
          <col class="size-10">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-4">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate>common.table.index</th>
          <th *ngIf="hasPermission('action.update')" translate>common.label.edit</th>
          <th *ngIf="hasPermission('action.delete')" translate>titleDelete</th>
          <th pSortableColumn="fileId" translate>
            profile.table.lhs
            <p-sortIcon field="fileId"></p-sortIcon>
          </th>
          <th pSortableColumn="organizationId" translate>profile.table.dvqlhs
            <p-sortIcon field="organizationId"></p-sortIcon>
          </th>
          <th translate>
            profile.table.filedk
          </th>
          <th pSortableColumn="fixedEmpFile" translate>profile.table.hsbc
            <p-sortIcon field="fixedEmpFile"></p-sortIcon>
          </th>
          <th pSortableColumn="status" translate>profile.table.tt
            <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="description" translate>profile.table.note
            <p-sortIcon field="description"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex+1">
        <tr>
          <td class="vt-align-center">{{index}}</td>
          <td class="vt-align-center" *ngIf="hasPermission('action.update')"><a class="btn-table edit" (click)="prepareSaveOrUpdate(item)"
              title="{{'common.label.edit' | translate}}"><i class="fa fa-edit"></i></a></td>
          <td class="vt-align-center" *ngIf="hasPermission('action.delete')"><a class="btn-table delete" (click)="processDeletes(item)"
              title="{{'titleDelete' | translate}}"><i class="fa fa-trash-alt"></i></a></td>
          <td class="vt-align-left">{{item.fileTypeName}}</td>
          <td class="vt-align-left">{{item.organizationIdName}}</td>
          <td class="vt-align-left">
            <!-- <a *ngFor="let data of item.fileAttachment.file"
              style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
              (click)="downloadFile(data)">
                {{data.fileName}}
            </a> -->
        </td>
          <td class="vt-align-left"  translate>
            <div *ngIf="item.fixedEmpFile === 1" >app.empFile.saved </div>
            <div *ngIf="item.fixedEmpFile === 2" >app.empFile.notSaved </div>
          </td>
          <td class="vt-align-left" translate>
            <div *ngIf="item.status === 4" >app.empFile.acceptHardCopy </div>
            <div *ngIf="item.status === 5" >app.empFile.hasBeenStored</div>
            <div *ngIf="item.status === 6" >app.empFile.individualHandover </div>
          </td>
          <td class="vt-align-left">{{item.description}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">                                  
        <tr class="emptymessage">
          <td [attr.colspan]="9" [innerHTML]="'app.noRecords' | translate">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <table-footer  (changeRow)="onTablePageChange($event)" [resultList]="resultList"></table-footer>
      </ng-template>
    </p-table>
  </div>
</div>
