<!-- <div *ngIf="(hasPermission('action.update') && isUpdate) || (hasPermission('action.insert') && isInsert)"> -->
<div class="panel panel-default">
  <div class="panel-heading vt-relative">
    <strong class="text-u-c">
      <i class="fa fa-th"></i>&nbsp;
      <span translate> label.empArmyProposed.headerEvaluating</span>
    </strong>
    <div class="vt-absolute vt-shotcut-button-in-heading">
      <button style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
        class="btn btn-span btn-sm btn-info btn-close"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <br />
  <div class="min-height">
    <div>
      <p-tabView>
        <p-tabPanel header="{{ 'label.empArmyProposed.cqctri' | translate }}" *ngIf="lstComment">
          <p-table [scrollable]="false" [value]="lstComment.controls" styleClass="controlOverflow" *ngIf="lstComment">
            <ng-template pTemplate="body" let-item let-index="rowIndex">
              <tr [formGroup]="item">
                <td class="vt-align-center" style="width: 100%;">
                  <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right">
                      <!-- space -->
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-8 control-label vt-align-left">
                      <!-- content -->
                      <label class="control-label">{{item.value.conditionName}}</label>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-2">
                      <select-filter [property]="item.controls.conditionCheck" [options]="conditionCheckList"
                        optionLabel="label" optionValue="value" class="vt-align-left"
                        [placeHolder]="'common.label.cboMustSelect'" *ngIf="item.get('dataType').value === 'EVALUATING'"
                        [isMultiLanguage]="true">
                      </select-filter>
                    </div>
                  </div>
                  <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right">
                    </label>
                    <div class="ui-g-12 ui-md-9 ui-lg-10">
                      <textarea [autoFocus]="false" formControlName="conditionValue" id="conditionValue" cols="200"
                        rows="5" class="form-control" maxlength="{{item.get('conditionMaxLength').value}}"
                        [attr.disabled]="item.get('dataType').value === 'SYSTEM' ? true : null"
                        [placeholder]="item.value.placeholder ? item.value.placeholder : ''"></textarea>
                      <app-control-messages [control]="item.controls.conditionValue"></app-control-messages>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
        <p-tabPanel header="{{ 'label.empArmyProposed.evaluate' | translate }}" *ngIf="lstEvaluate">
          <p-table [scrollable]="false" [value]="lstEvaluate.controls" styleClass="controlOverflow" *ngIf="lstEvaluate">
            <ng-template pTemplate="body" let-item let-index="rowIndex">
              <tr [formGroup]="item">
                <td class="vt-align-center" style="width: 100%;">
                  <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right">
                      <!-- space -->
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-8 control-label vt-align-left">
                      <!-- content -->
                      <label class="control-label">{{item.value.conditionName}}</label>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-2">
                      <select-filter [property]="item.controls.conditionCheck" [options]="conditionCheckList"
                        optionLabel="label" optionValue="value" class="vt-align-left"
                        [placeHolder]="'common.label.cboMustSelect'" *ngIf="(item.get('dataType').value === 'EVALUATING') ||(item.get('dataType').value === 'DS KQHTNV')"
                        [isMultiLanguage]="true" [disabled]="isDisable">
                      </select-filter>
                    </div>
                  </div>
                  <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right">
                    </label>
                    <div class="ui-g-12 ui-md-9 ui-lg-10">
                      <div class="vt-align-left" *ngIf="item.get('dataType').value === 'DS KQHTNV'">
                        <div style="display: flex" *ngFor="let data of listRequire">
                          <emp-army-proposed-add-select-filter-list
                              #empArmyProposedAddSelectFilterComponent
                              (onSelectProposed) = "getOnSelectProposed($event)"
                                  style="width: 100%" [list]="item" [property]="data">
                          </emp-army-proposed-add-select-filter-list>
                        </div>
                      </div>
                      <div *ngIf="item.get('dataType').value !== 'DS KQHTNV'">
                        <textarea [autoFocus]="false" formControlName="conditionValue" id="conditionValue" cols="200"
                                  rows="5" class="form-control" maxlength="{{item.get('conditionMaxLength').value}}"
                                  [attr.disabled]="item.get('dataType').value === 'SYSTEM' || isDisable ? true : null"
                                  [placeholder]="item.value.placeholder ? item.value.placeholder : ''"></textarea>
                        <app-control-messages [control]="item.controls.conditionValue"></app-control-messages>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
        <p-tabPanel header="{{ 'label.empArmyProposed.explain' | translate }}" *ngIf="lstExplain">
          <p-table [scrollable]="false" [value]="lstExplain.controls" styleClass="controlOverflow" *ngIf="lstExplain">
            <ng-template pTemplate="body" let-item let-index="rowIndex">
              <tr [formGroup]="item">
                <td class="vt-align-center" style="width: 100%;">
                  <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right">
                      <!-- space -->
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-8 control-label vt-align-left">
                      <!-- content -->
                      <label class="control-label">{{item.value.conditionName}}</label>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-2">
                      <select-filter [property]="item.controls.conditionCheck" [options]="conditionCheckList"
                        optionLabel="label" optionValue="value" class="vt-align-left"
                        [placeHolder]="'common.label.cboMustSelect'" *ngIf="item.get('dataType').value === 'EVALUATING'"
                        [isMultiLanguage]="true" [disabled]="isDisable">
                      </select-filter>
                    </div>
                  </div>
                  <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right">
                    </label>
                    <div class="ui-g-12 ui-md-9 ui-lg-10">
                      <textarea [autoFocus]="false" formControlName="conditionValue" id="conditionValue" cols="200"
                        rows="5" class="form-control" maxlength="{{item.get('conditionMaxLength').value}}"
                        [attr.disabled]="item.get('dataType').value === 'SYSTEM' || isDisable ? true : null "
                        [placeholder]="item.value.placeholder ? item.value.placeholder : ''"></textarea>
                      <app-control-messages [control]="item.controls.conditionValue"></app-control-messages>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
  <div class="panel-footer vt-area-button">
    <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
      [innerHTML]="'common.button.icon.save' | translate"></button>
    <button type="button" (click)="goBack()" class="btn btn-sm btn-danger"
      [innerHTML]="'common.button.out' | translate"></button>
  </div>
</div>
<!-- </div>
<div *ngIf="!(hasPermission('action.update') && isUpdate) && !(hasPermission('action.insert') && isInsert)">
  {{'common.haveNoPermission' | translate}}
</div> -->
