<div class="card-form">
  <div class="clearfix">
    <div class="left-nav-bar pull-left row-header">
      <div>
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png" (click)="goBack();">
        <span *ngIf="!formSave.get('allowancePeriodId').value && !view && !update" class="title">Thêm mới đợt trợ cấp</span>
        <span *ngIf="update" class="title">Cập nhật đợt trợ cấp</span>
        <span *ngIf="view" class="title">Xem thông tin đợt trợ cấp</span>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
      <ul class="header-right sys-ul space-line">
        <li>
          <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="goBack();" [innerHTML]="'common.button.out' | translate">
          </button>
        </li>
        <li *ngIf="!view">
          <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="processSaveOrUpdate()" [innerHTML]="'common.button.icon.save' | translate">
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="info">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong>
          <span class="ml-2 title-info">Thông tin chung</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <!-- row 1 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.allowance.period.search.name' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-9">
            <input type="text"
                   class="form form-control"
                   name="name"
                   formControlName="name"
                   maxlength="2000" autocomplete="off"
                   [attr.disabled] = "view || (update && f['status'].value == 1)? true: null">
            <app-control-messages [control]="f['name']"></app-control-messages>
          </div>
        </div>
        <!-- row 2 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.allowance.period.search.allowanceType' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['allowanceType']" [options]="allowanceTypeOptions" optionLabel="name" optionValue="value"
                           [placeHolder]="'common.label.cboMustSelect'" (onChange)="changeAllowanceType($event)" [disabled]="view || (update && f['status'].value == 1)">
            </select-filter>
            <app-control-messages [control]="f['allowanceType']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'label.welfare.policy.category.organizationModel' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['orgType']"
                           [options]="orgTypeOptions"
                           optionLabel="name"
                           optionValue="id"
                           [placeHolder]="'common.label.cboMustSelect'"
                           [disabled]="true">
            </select-filter>
            <app-control-messages [control]="f['orgType']"></app-control-messages>
          </div>
        </div>
        <!-- row 3 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.request.requestContent' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <multi-select-filter
                    [property]="f['welfarePolicyCategoryIdList']"
                    [options]="welfarePolicyCategoryList"
                    optionLabel="name"
                    optionValue="welfarePolicyCategoryId"
                    [disabled]="view || (update && f['status'].value == 1)"
                    [filterPlaceHolder]="'common.label.cboSelect'">
            </multi-select-filter>
            <app-control-messages [control]="f['welfarePolicyCategoryIdList']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'label.allowance.period.search.approveOrgId' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector [property]="f['approveOrgId']"
                          operationKey="action.view"
                          adResourceKey="resource.allowancePeriod"
                          [defaultValue]="true"
                          [isRequiredField]="true"
                          [disabled] = "view || (update && f['status'].value == 1)">
            </org-selector>
            <app-control-messages [control]="f['approveOrgId']"></app-control-messages>
          </div>
        </div>
        <!-- row 4 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'common.label.startDate' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['startDate']" (onChanged)="changeStartDate($event)" [disabled]="view || (update && f['status'].value == 1)"></date-picker>
            <app-control-messages [control]="f['startDate']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'competitionProgram.unitCode' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <multi-org-selector [property]="f['allowancePeriodOrgList']" [operationKey]="operationKey"
                                [adResourceKey]="'resource.allowancePeriod'" [disabled]="view || (update && f['status'].value == 1)">
            </multi-org-selector>
            <small *ngIf="isAllowancePeriodOrgList" class="text-danger errorMessage">* Trường bắt buộc</small>
          </div>
        </div>
        <!-- row 5 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'common.label.endDate' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['deadline']" (onChanged)="changeDeadline($event)" [disabled]="view"></date-picker>
            <app-control-messages [control]="f['deadline']"></app-control-messages>
            <small *ngIf="isInvalidDeadline" class="text-danger errorMessage">Ngày kết thúc phải lớn hơn ngày bắt đầu</small>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'label.allowance.period.search.empDeadlineForm' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['empDeadline']" (onChanged)="changeEmpDeadline($event)" [disabled]="view"></date-picker>
            <app-control-messages [control]="f['empDeadline']"></app-control-messages>
            <small *ngIf="isInvalidEmpDeadline" class="text-danger errorMessage">Hạn cá nhân đề nghị phải nhỏ hơn ngày kết thúc</small>
            <small *ngIf="isInvalidEmpDeadlineStartDate" class="text-danger errorMessage">Hạn cá nhân đề nghị phải lớn hơn ngày bắt đầu</small>
          </div>
        </div>
        <!-- row 6 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'common.label.description' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-9">
            <textarea type="text-area" class="form form-control" name="description" [formControl]="f['description']"
                      rows="5" [attr.disabled]="view || (update && f['status'].value == 1)? true: null" ></textarea>
            <app-control-messages [control]="f['description']"></app-control-messages>
          </div>
        </div>
        <!--        row 7 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'lable.workprocess.year' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['year']" [options]="yearList" optionLabel="year" optionValue="year"
                           [placeHolder]="'common.label.cboSelect'" [disabled]="view || (update && f['status'].value == 1)">
            </select-filter>
            <app-control-messages [control]="f['year']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'common.label.attachmentFile' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <multi-file-chooser
                    class="attachment-file"
                    [property]="f['fileAttachment']"
                    htmlId="attachFile"
                    validType="png,jpg,gif,tiff,bmp,xls,xlsx,doc,docx,pdf,rar,zip,7z"
                    [validMaxSize]="50"
                    [disabled]="view || (update && f['status'].value == 1)">
            </multi-file-chooser>
            <app-control-messages [control]="f['fileAttachment']"></app-control-messages>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
