<div class="card-form">
  <div class="clearfix">
    <div class="left-nav-bar pull-left row-header">
      <div>
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png" (click)="goBack();">
        <span *ngIf="!formSave.get('expressionReportRecordedId').value" class="title">{{'expresstionReport.add' | translate}}</span>
        <span *ngIf="formSave.get('expressionReportRecordedId').value && !isView" class="title">{{'expresstionReport.edit' | translate}}</span>
        <span *ngIf="isView" class="title">{{'expresstionReport.view' | translate}}</span>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
        <ul class="header-right sys-ul space-line">
          <li>
            <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="goBack();" [innerHTML]="'common.button.out' | translate">
            </button>
          </li>
          <li *ngIf="!isView">
            <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="processSaveOrUpdate()" [innerHTML]="'common.button.icon.save' | translate">
            </button>
          </li>
          <li *ngIf="isView">
            <button class="btn btn-sm vt-btn btn-submit mt-btn btn-header-right ng-star-inserted" type="button" (click)="navigate()" [innerHTML]="'common.button.icon.edit' | translate">
            </button>
          </li>
        </ul>
    </div>
  </div>
</div>
<div class="info">
  <div class="panel panel-default card-info">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong>
          <!-- <span *ngIf="!formSave.get('expressionReportRecordedId').value">{{'expresstionReport.add' | translate}}</span>
          <span *ngIf="formSave.get('expressionReportRecordedId').value && !isView">{{'expresstionReport.edit' | translate}}</span>
          <span *ngIf="isView">{{'expresstionReport.view' | translate}}</span> -->
          <span class="ml-2 title-info">Thông tin báo cáo biểu hiện tư tưởng</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12 vt-row">
          <label [class]="firstTitle">
            {{'expresstionReport.reportOrg' | translate}}
          </label>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <org-selector [property]="f['reportedOrganizationId']" operationKey="action.view"
              [adResourceKey]="adResourceKey" [defaultValue]="true" [disabled]="isView" (onChange)="onChangeReportedOrg($event)">
            </org-selector>
            <app-control-messages [control]="f['reportedOrganizationId']"></app-control-messages>
          </div>
          <label [class]="lastTitle">
            {{'expresstionReport.recevieOrg' | translate}}
          </label>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <org-selector [property]="f['receivedOrganizationId']" operationKey="action.view"
              [adResourceKey]="adResourceKey" [disabled]="isView" [rootId]="rootId">
            </org-selector>
            <app-control-messages [control]="f['receivedOrganizationId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label [class]="firstTitle">
            {{'expresstionReport.repoter' | translate}}
          </label>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <data-picker [property]="f['reportedEmployeeId']" systemCode="political" operationKey="action.view"
              adResourceKey="resource.expressionReportRecorded" objectBO="EmployeeBO" codeField="employeeCode"
              nameField="fullName" emailField="email" mobileNumberField="mobileNumber" selectField="employeeId"
              [disabled]="isView">
            </data-picker>
            <app-control-messages [control]="f['reportedEmployeeId']"></app-control-messages>
          </div>
          <label [class]="lastTitle">
            {{'expresstionReport.year' | translate}}
          </label>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <select-filter [property]="f['reportedYear']" [options]="yearList" optionLabel="year" optionValue="year" 
              [placeHolder]="'common.label.cboSelect'" (onChange)="onChangeYear()" [disabled]="isView" [isDisplayClear]="false">
            </select-filter>
            <app-control-messages [control]="f['reportedYear']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label [class]="firstTitle">
            {{'expresstionReport.type' | translate}}
          </label>
          <div class="ui-g-12 ui-md-3 ui-lg-3" style="line-height: 32px;">
            <div class="form-check-inline">
              <label class="i-checks" translate>
                <input type="radio" class="form-check-input control-label" id="dateRange_1" [value]="1" name="reportedType"
                  formControlName="reportedType" (ngModelChange)="onChangeReportTime($event)" [attr.disabled]="isView">
                <i></i>
                common.label.dateRange.2
              </label>
            </div>
            <div class="form-check-inline">
              <label class="i-checks" translate>
                <input type="radio" class="form-check-input control-label" id="dateRange_2" [value]="2" name="reportedType"
                  formControlName="reportedType" (ngModelChange)="onChangeReportTime($event)" [attr.disabled]="isView">
                <i></i>
                common.label.dateRange.3
              </label>
            </div>
            <div class="form-check-inline">
              <label class="i-checks" translate>
                <input type="radio" class="form-check-input control-label" id="dateRange_3" [value]="3" name="reportedType"
                  formControlName="reportedType" (ngModelChange)="onChangeReportTime($event)" [attr.disabled]="isView">
                <i></i>
                common.label.dateRange.4
              </label>
            </div>
            <div class="form-check-inline">
              <label class="i-checks" translate>
                <input type="radio" class="form-check-input control-label" id="dateRange_4" [value]="4" name="reportedType"
                  formControlName="reportedType" (ngModelChange)="onChangeReportTime($event)" [attr.disabled]="isView">
                <i></i>
                common.label.dateRange.5
              </label>
            </div>
          </div>
        </div>
        <div *ngIf="f['reportedType'].value != 4" class="ui-g-12 vt-row">
          <label [class]="firstTitle">{{'expresstionReport.time' | translate}} </label>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <select-filter [property]="f['reportedTime']" [options]="reportTimeList" optionLabel="reportTimeName" optionValue="reportTime"
              [placeHolder]="'common.label.cboSelect'" [disabled]="isView" (onChange)="handleThoughtStatus()" [isDisplayClear]="false">
            </select-filter>
            <app-control-messages [control]="f['reportedTime']"></app-control-messages>
          </div>
        </div>
        <!-- bảng dữ liệu báo cáo -->
          <div class="ui-g-12 vt-row" *ngIf="isShowRewardThoughtReport">
            <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-8">
              <p-table [value]="listDataTable" styleClass="controlOverflow"
                tableStyleClass="table controls-table table-wrapper b-t b-b">
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="size-8">
                    <col class="size-4">
                    <col class="size-4">
                    <col class="size-4">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>
                      <label>
                        {{'propaganda.thoughtStatus' | translate}}
                      </label>
                    </th>
                    <th>
                      <label>
                        {{'expresstionReport.label.total' | translate}}
                      </label>
                    </th>
                    <th>
                      <label>
                        {{'expresstionReport.label.waitingForExplanation' | translate}}
                      </label>
                    </th>
                    <th>
                      <label>
                        {{'expresstionReport.label.explained' | translate}}
                      </label>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-index="rowIndex">
                  <tr>
                    <td class="vt-align-left">
                      <div *ngIf="item.eovTypeLevel == 1">{{'propaganda.thoughtReport.level1' | translate}}</div>
                      <div *ngIf="item.eovTypeLevel == 2">{{'propaganda.thoughtReport.level2' | translate}}</div>
                      <div *ngIf="item.eovTypeLevel == 3">{{'propaganda.thoughtReport.level3' | translate}}</div>
                    </td>
                    <td class="vt-align-center">
                      {{item.countEov}}
                    </td>
                    <td class="vt-align-center">
                      {{item.totalDoing}}
                    </td>
                    <td class="vt-align-center">
                      {{item.totalDone}}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr class="emptymessage">
                    <td [innerHTML]="'app.noRecords' | translate">
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
  
        <div class="ui-g-12 vt-row">
          <label [class]="firstTitle">
            {{'expresstionReport.result' | translate}}
          </label>
          <div class="ui-g-12 ui-md-3 ui-lg-3" style="line-height: 32px;">
            <div class="form-check-inline">
              <label class="i-checks" translate>
                <input type="radio" class="form-check-input control-label" id="reportResult_1" [value]="1" name="reportResult"
                  formControlName="reportResult" (ngModelChange)="onChangeReportResult($event)" [attr.disabled]="isView">
                <i></i>
                expresstionReport.label.reportResult.1
              </label>
            </div>
            <div class="form-check-inline">
              <label class="i-checks" translate>
                <input type="radio" class="form-check-input control-label" id="reportResult_2" [value]="2" name="reportResult"
                  formControlName="reportResult" (ngModelChange)="onChangeReportResult($event)" [attr.disabled]="isView">
                <i></i>
                expresstionReport.label.reportResult.2
              </label>
            </div>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right" [ngClass]="!isView && isRequiredComment ? 'required' : ''">
            {{'expresstionReport.comment' | translate}}
          </label>
          <div class="ui-g-12 ui-md-9 ui-lg-9">
            <textarea formControlName="comment" id="comment" cols="200" rows="4" class="form-control"
              maxlength="500" [attr.disabled]="isView? true : null"></textarea>
              <div *ngIf="f['reportResult'].value == 2 && !f['comment'].value " class="errorMessageDiv show" ng-reflect-klass="errorMessageDiv" ng-reflect-ng-class="[object Object]">
                <small class="text-danger errorMessage ng-star-inserted">{{'expresstionReport.label.requiredComment' | translate}}</small>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>