<div class="card-form">
  <div class="clearfix"  style="height: 100%">
    <div class="left-nav-bar pull-left row-header"  style="height: 100%">
      <div style="height: 100%">
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png"
          (click)="previous()">
        <span class="title" style="height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; color: rgba(198,31,27,1); font-family: PFBeauSansPro">{{header}}</span>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
      <ul class="header-right sys-ul space-line">
        <li *ngIf="!viewMode">
          <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="save()"
            [innerHTML]="'common.button.icon.save' | translate">
          </button>
        </li>
        <li *ngIf="viewMode && formGroup.value.status != null && formGroup.value.status == 0">
          <button class="btn btn-sm vt-btn btn-submit mt-btn btn-header-right ng-star-inserted" type="button"
            (click)="navigate()" [innerHTML]="'common.button.icon.edit' | translate">
          </button>
        </li>
          <li *ngIf="viewMode && formGroup.value.status != null && formGroup.value.status == 0 ">
          <button class="btn btn-sm vt-btn btn-submit mt-btn btn-header-right ng-star-inserted" type="button"
           (click)="preview()" [innerHTML]="'button.table.thorough-content.preview.btn' | translate">
          </button>
        </li>
<!--        <li *ngIf="viewMode && formGroup.value.status != null && formGroup.value.status == 0 && hasApproveEmployee">-->
<!--          <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="submitToApprove()"-->
<!--            [innerHTML]="'label.thorough-content.submit' | translate">-->
<!--          </button>-->
<!--        </li>-->
<!--          <li *ngIf="viewMode && formGroup.value.status != null && formGroup.value.status == 0   && !hasApproveEmployee">-->
<!--              <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="submitToThorough()"-->
<!--                      [innerHTML]="'label.thorough-content.thorough' | translate">-->
<!--              </button>-->
<!--          </li>-->
        <li>
          <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="previous()"
            [innerHTML]="'common.button.close' | translate">
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="info">
  <form id="formSave" [formGroup]="formGroup">
    <div class="panel panel-default card-info">
      <div *ngIf="!isMobileScreen" class="panel-body padding-xl ui-g border-info-common">
        <div class="ui-g-12 vt-row">
            <!-- Lĩnh vực -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                {{'label.thorough-content.branch' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter [optionValue]="'value'" [optionLabel]="'label'" [property]="f['branch']" [disabled]="viewMode  || editableThoroughed"
                               [options]="branchOptions" [placeHolder]="'placeholder.choose'" (onChange)="onChangeBranch()"
                               [filter]="true">
                </select-filter>
                <app-control-messages [control]="f['branch']"></app-control-messages>
            </div>
          <!-- Cấp triển khai -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.thorough-content.org-tkqt' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
<!--              <party-org-selector-->
<!--                  #partyThoroughOrgSelector-->
<!--                  [property]="f['thoroughLevel']"-->
<!--                  operationKey="action.view"-->
<!--                  adResourceKey="CTCT_THOROUGH_CONTENT"-->
<!--                  [disabled]="viewMode || editableThoroughed"-->
<!--                  isRequiredField="true">-->
<!--              </party-org-selector>-->
              <select-filter optionLabel="partyOrganizationName" optionValue="partyOrganizationId" [property]="f['thoroughLevel']" [disabled]="viewMode || editableThoroughed"
                             [options]="thoroughLevelOptions" [placeHolder]="'placeholder.choose'" (onChange)="onChangeThoroughLevel()"
                             [filter]="true" >
              </select-filter>
            <app-control-messages [control]="f['thoroughLevel']"></app-control-messages>
          </div>
        </div>
<!--          <div class="ui-g-12 vt-row">-->
<!--             -->
<!--          </div>-->
        <!-- 1 -->
        <div class="ui-g-12 vt-row">
          <!-- Quán triệt cấp trên -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'label.thorough-content.parent-add' | translate}}</label>
          <div class="ui-g-12 ui-md-12 ui-lg-8">
            <parent-thorough-content-picker
              [disabled]="viewMode || editableThoroughed || parentThoroughDate"
              [property]="f['parentId']"
              systemCode="political"
              operationKey="action.view"
              adResourceKey="CTCT_THOROUGH_CONTENT"
              objectBO="ThoroughContentBO"
              codeField="thoroughLevel"
              nameField="title"
              selectField="thoroughContentId"
              (onChange)="onChangeParent()"
              [filterCondition]="filterCondition">
            </parent-thorough-content-picker>
          </div>
        </div>
        <!-- 2 -->
        <div class="ui-g-12 vt-row">
          <!-- Tiêu đề -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.thorough-content.title' | translate}}</label>
          <div class="ui-g-12 ui-md-12 ui-lg-8">
            <input type="text" [readonly]=" viewMode || (!viewMode && editableThoroughed && hasApproveEmployee) || (!viewMode && editableThoroughed && progressStatus == PROGRESS.ENDED)" formControlName="title" class="form-control"
              maxlength="250">
            <app-control-messages [control]="f['title']"></app-control-messages>
          </div>
        </div>
        <!-- 3 -->
        <div class="ui-g-12 vt-row">
            <!-- Người phê duyệt -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'label.thorough-content.approver_id' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <data-picker
                        [property]="f['approveEmployeeId']"
                        systemCode="political"
                        operationKey="action.view"
                        [disabled]="viewMode || editableThoroughed"
                        adResourceKey="CTCT_THOROUGH_CONTENT"
                        objectBO="EmployeeBO"
                        codeField="employeeCode"
                        nameField="fullName"
                        emailField="email"
                        mobileNumberField="mobileNumber"
                        selectField="employeeId"
                        [isDisplayCode]="false"
                        [filterCondition]=filterConditionApprover
                >
                </data-picker>
                <app-control-messages [control]="f['approveEmployeeId']"></app-control-messages>
            </div>
          <!-- Cấp ban hành -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.thorough-content.issue-level-doc' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter optionLabel="name" optionValue="id" [property]="f['issueLevel']" [disabled]="viewMode || editableThoroughed"
              [options]="issueLevelOptions" [placeHolder]="'placeholder.choose'"
              [filter]="true" >
              </select-filter>
            <app-control-messages [control]="f['issueLevel']"></app-control-messages>
          </div>
        </div>
        <!-- 4 -->
        <div class="ui-g-12 vt-row">
          <!-- Đơn vị tạo quán triệt -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.thorough-content.org-tqt' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
              <multi-party-org-selector
                    #partyThoroughOrgSelector
                      [property]="f['thoroughContentOrgIds']"
                      operationKey="action.view"
                      adResourceKey="CTCT_THOROUGH_CONTENT"
                      [filterCondition]="filterConditionThoroughLevel"
                      [disabled]="viewMode || editableThoroughed"
                      isRequiredField="true">
              </multi-party-org-selector>
            <app-control-messages [control]="f['thoroughContentOrgIds']"></app-control-messages>
          </div>
            <!-- Hình thức xác nhận -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                {{'label.thorough-content.form-of-confirmation' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter [optionLabel]="'name'" [optionValue]="'id'" [property]="f['formOfConfirmation']" [disabled]="viewMode  || editableThoroughed"
                               [options]="formOfConfirmationOptions" [placeHolder]="'placeholder.choose'"
                               [filter]="true" >
                </select-filter>
                <app-control-messages [control]="f['formOfConfirmation']"></app-control-messages>
            </div>
        </div>
        <!-- 5 -->
        <div class="ui-g-12 vt-row">
            <!-- Ngày quán triệt -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                {{'label.thorough-content.thorough-date' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker [disabled]=" viewMode || (!viewMode && editableThoroughed && hasApproveEmployee) || (!viewMode && editableThoroughed && !(progressStatus == PROGRESS.WAITING))" [property]="f['thoroughDate']"></date-picker>
                <app-control-messages [control]="f['thoroughDate']"></app-control-messages>
                <div *ngIf="customValidateThoroughDate()" class="errorMessageDiv show">
                    <small class="text-danger errorMessage ng-star-inserted">
                        {{'thorough-content.input.thorough-date' | translate}}
                    </small>
                </div>
            </div>
          <!-- Đối tượng quán triệt -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.thorough-content.type-thorough' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [optionLabel]="'name'" [optionValue]="'id'" [property]="f['typeThorough']" [disabled]=" viewMode || (!viewMode && editableThoroughed && hasApproveEmployee) || (!viewMode && editableThoroughed && !(progressStatus == PROGRESS.WAITING))"
              [options]="typeThoroughOptions" [placeHolder]="'placeholder.choose'"
              [filter]="true" (onChange)="onChangeTypeThorough()">
            </select-filter>
            <app-control-messages [control]="f['typeThorough']"></app-control-messages>
          </div>
        </div>

        <!-- 6 -->
        <div class="ui-g-12 vt-row">
            <!-- Hạn quán triệt -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                {{'label.thorough-content.end-date' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker [disabled]=" viewMode  " [property]="f['endDate']"></date-picker>
                <app-control-messages [control]="f['endDate']"></app-control-messages>
                <div *ngIf="customValidateDate()" class="errorMessageDiv show">
                    <small class="text-danger errorMessage ng-star-inserted">
                        {{'thorough-content.input.end-date' | translate}}
                    </small>
                </div>
            </div>
          <!-- Yêu cầu quán triệt cho đơn vị -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'label.thorough-content.required-thorough' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <p-checkbox [disabled]="viewMode || editableThoroughed || notIsSecretary" [formControl]="f['requiredThorough']" binary="true">
            </p-checkbox>
          </div>
        </div>
        <!-- 7 -->
        <div class="ui-g-12 vt-row">
            <!-- Loại văn bản -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                {{'label.thorough-content.type' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter [optionLabel]="'name'" [optionValue]="'categoryId'" [property]="f['type']"
                               [disabled]="viewMode  || editableThoroughed" [options]="typeOptions"
                               [placeHolder]="'placeholder.choose'"  [filter]="true">
                </select-filter>
                <app-control-messages [control]="f['type']"></app-control-messages>
            </div>
          <!-- Đối tượng quán triệt đích -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.thorough-content.target-type-thorough' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [optionLabel]="'name'" [optionValue]="'id'" [property]="f['targetTypeThorough']" [disabled]=" viewMode || (!viewMode && editableThoroughed && hasApproveEmployee) || (!viewMode && editableThoroughed && !(progressStatus == PROGRESS.WAITING)) || hasParentThoroughContent"
              [options]="targetTypeThoroughOptions" [placeHolder]="'placeholder.choose'"
              [filter]="true" (onChange)="onChangeTargetTypeThorough()">
            </select-filter>
            <app-control-messages [control]="f['targetTypeThorough']"></app-control-messages>
          </div>
        </div>
          <div *ngIf="isShowMassThough" class="ui-g-12 vt-row">
              <!-- Yêu cầu quán triệt cho đơn vị -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'label.thorough-content.mass-thorough' | translate}}</label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <p-checkbox [disabled]="viewMode || editableThoroughed" [formControl]="f['massThorough']" binary="true">
                  </p-checkbox>
              </div>
          </div>
        <!-- 8 -->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Chọn đề thi &ndash;&gt;-->
<!--&lt;!&ndash;          <label *ngIf="f['formOfConfirmation'].value != undefined && f['formOfConfirmation'].value.id == 2"&ndash;&gt;-->
<!--&lt;!&ndash;            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">&ndash;&gt;-->
<!--&lt;!&ndash;            {{'label.thorough-content.select-exam-question-set' | translate}}</label>&ndash;&gt;-->
<!--&lt;!&ndash;          <div *ngIf="f['formOfConfirmation'].value != undefined && f['formOfConfirmation'].value.id == 2"&ndash;&gt;-->
<!--&lt;!&ndash;            class="ui-g-12 ui-md-6 ui-lg-3">&ndash;&gt;-->
<!--&lt;!&ndash;            <p-dropdown [optionLabel]="'title'" [formControl]="f['examQuestionSetId']"&ndash;&gt;-->
<!--&lt;!&ndash;              [disabled]="viewMode || f['parentId'].value || editableThoroughed" [options]="examQuestionSetOptions"&ndash;&gt;-->
<!--&lt;!&ndash;              [placeholder]="'placeholder.choose' | translate" [showClear]="true" [filter]="true"&ndash;&gt;-->
<!--&lt;!&ndash;              [emptyFilterMessage]="emptyFilterMessage" [resetFilterOnHide]="true">&ndash;&gt;-->
<!--&lt;!&ndash;            </p-dropdown>&ndash;&gt;-->
<!--&lt;!&ndash;            <app-control-messages [control]="f['examQuestionSetId']"></app-control-messages>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--         -->
<!--        </div>-->
        <!-- 9 -->
        <div class="ui-g-12 vt-row">
          <!-- Số câu hỏi -->
<!--          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.question-amount' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-lg-3">-->
<!--            <input type="text" [readonly]="viewMode || f['parentId'].value || editableThoroughed" formControlName="questionAmount"-->
<!--              class="form-control">-->
<!--            <app-control-messages [control]="f['questionAmount']"></app-control-messages>-->
<!--          </div>-->
<!--          &lt;!&ndash; Yêu cầu tối thiểu &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.pass-score' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-lg-3">-->
<!--            <input type="text" [readonly]="viewMode || f['parentId'].value || editableThoroughed" formControlName="passScore" class="form-control">-->
<!--            <app-control-messages [control]="f['passScore']"></app-control-messages>-->
<!--          </div>-->
        </div>
        <!-- 10 -->
        <div class="ui-g-12 vt-row">
          <!-- Nội dung tóm tắt -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'label.thorough-content.summary-content' | translate}}</label>
          <div class="ui-g-12 ui-md-12 ui-lg-8">
             <textarea formControlName="summaryContent" id="summaryContent" type="text-area" class="form form-control"
                        [attr.disabled]="(viewMode || editableThoroughed)? true: null"></textarea>
<!--            <p-editor formControlName="summaryContent" id="summaryContent"-->
<!--              [readonly]="viewMode || editableThoroughed"></p-editor>-->
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <!-- Nội dung tóm tắt audio -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'label.thorough-content.summary-audio' | translate}}</label>
          <div class="ui-g-12 ui-md-12 ui-lg-8">
             <textarea formControlName="summaryContentAudio" id="summaryContentAudio" type="text-area" class="form form-control"
                        [attr.disabled]="(viewMode || editableThoroughed)? true: null"></textarea>
<!--            <p-editor formControlName="summaryContent" id="summaryContent"-->
<!--              [readonly]="viewMode || editableThoroughed"></p-editor>-->
          </div>
        </div>
          <div class="ui-g-12 vt-row">
              <!-- Nội dung tóm tắt html -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'label.thorough-content.summary-content-html' | translate}}</label>
              <div class="ui-g-12 ui-md-12 ui-lg-8">
             <textarea formControlName="htmlSummaryContent" id="htmlSummaryContent" type="text-area" class="form form-control"
                       [attr.disabled]="(viewMode || editableThoroughed)? true: null"></textarea>
<!--                              <p-editor formControlName="htmlSummaryContent" id="htmlSummaryContent"-->
<!--                                [readonly]="viewMode || editableThoroughed"></p-editor>-->
              </div>
          </div>
        <!-- 11 -->
        <div class="ui-g-12 vt-row">
          <!-- Nội dung đầy đủ -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'label.thorough-content.detail-content' | translate}}</label>
          <div class="ui-g-12 ui-md-12 ui-lg-8">
              <textarea formControlName="detailContent" id="detailContent" type="text-area" class="form form-control"
                        [attr.disabled]="(viewMode || editableThoroughed)? true: null"></textarea>
<!--            <p-editor formControlName="detailContent" id="detailContent"-->
<!--              [readonly]="viewMode || editableThoroughed || parentThoroughDate"></p-editor>-->
          </div>
        </div>

          <div class="ui-g-12 vt-row">
              <!-- Nội dung đầy đủ html -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'label.thorough-content.detail-content-html' | translate}}</label>
              <div class="ui-g-12 ui-md-12 ui-lg-8">
              <textarea formControlName="htmlDetailContent" id="htmlDetailContent" type="text-area" class="form form-control"
                        [attr.disabled]="(viewMode || editableThoroughed)? true: null"></textarea>
<!--                              <p-editor formControlName="htmlDetailContent" id="htmlDetailContent"-->
<!--                                [readonly]="viewMode || editableThoroughed || parentThoroughDate"></p-editor>-->
              </div>
          </div>
        <!-- 12 -->
        <div class="ui-g-12 vt-row">
          <!-- Link video -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'label.thorough-content.video-link' | translate}}</label>
          <div class="ui-g-12 ui-md-12 ui-lg-8">
            <input type="url" [readonly]="viewMode || editableThoroughed" formControlName="videoLink" class="form-control">
            <app-control-messages [control]="f['videoLink']"></app-control-messages>
          </div>
        </div>
        <!-- 13 -->
        <div class="ui-g-12 vt-row">
          <!-- File văn bản -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.thorough-content.file-doc' | translate}}</label>
          <div *ngIf="f['fileList']" class="ui-g-12 ui-md-12 ui-lg-8">
            <multi-file-chooser-v2 #multiFileChooser fileName="fileList" class="attachment-file" [property]="f['fileList']"
                                validType="pdf" [validMaxSize]="20" [disabled]=" viewMode || (!viewMode && editableThoroughed && hasApproveEmployee) || (!viewMode && editableThoroughed && !(progressStatus == PROGRESS.WAITING)) || hasParentThoroughContent"
             >
            </multi-file-chooser-v2>
            <app-control-messages [control]="f['fileList']"></app-control-messages>
          </div>
        </div>
          <!-- File đính kèm -->
          <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'label.thorough-content.attachFile' | translate}}</label>
              <div *ngIf="f['fileAttachedList']" class="ui-g-12 ui-md-12 ui-lg-8">
                  <multi-file-chooser-v2 #multiFileAttachedChooser fileName="fileAttachedList" class="attachment-file-1" [property]="f['fileAttachedList']"
                                        validType="pdf" [validMaxSize]="20" [disabled]=" viewMode || (!viewMode && editableThoroughed && hasApproveEmployee) || (!viewMode && editableThoroughed && !(progressStatus == PROGRESS.WAITING)) || hasParentThoroughContent"
                                        >
                  </multi-file-chooser-v2>
                  <app-control-messages [control]="f['fileAttachedList']"></app-control-messages>
              </div>
          </div>
          <!-- File Infographic -->
          <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'label.thorough-content.fileInfographic' | translate}}</label>
              <div *ngIf="f['fileInfographicList']" class="ui-g-12 ui-md-12 ui-lg-8">
                  <multi-file-chooser-v2 #multiFileInfographicChooser fileName="fileInfographicList" class="attachment-file-1" [property]="f['fileInfographicList']"
                                      validType="pdf" [validMaxSize]="20" [disabled]=" viewMode || (!viewMode && editableThoroughed && hasApproveEmployee) || (!viewMode && editableThoroughed && !(progressStatus == PROGRESS.WAITING)) || hasParentThoroughContent"
                  >
                  </multi-file-chooser-v2>
                  <app-control-messages [control]="f['fileInfographicList']"></app-control-messages>
              </div>
          </div>
        <!-- 14 -->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Trạng thái &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.status' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-lg-3">-->
<!--            <p-dropdown [optionLabel]="'name'" [formControl]="f['status']" [disabled]="true" [options]="statusOptions">-->
<!--            </p-dropdown>-->
<!--            <app-control-messages [control]="f['status']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
          <div class="ui-g-12 vt-row">

              <!-- Chọn đề thi -->
              <label *ngIf="f['formOfConfirmation'].value != undefined && f['formOfConfirmation'].value == 2"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                  {{'label.thorough-content.select-exam-question-set' | translate}}</label>
              <div *ngIf="f['formOfConfirmation'].value != undefined && f['formOfConfirmation'].value == 2"
                   class="ui-g-12 ui-md-6 ui-lg-3">
                  <select-filter [optionLabel]="'title'" [optionValue]="'examQuestionSetId'" [property]="f['examQuestionSetId']"
                              [disabled]="viewMode || f['parentId'].value || editableThoroughed" [options]="examQuestionSetOptions"
                              [placeHolder]="'placeholder.choose'"  [filter]="true">
                  </select-filter>
                  <app-control-messages [control]="f['examQuestionSetId']"></app-control-messages>
              </div>
              <label *ngIf="f['formOfConfirmation'].value != undefined && f['formOfConfirmation'].value == 2" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                  {{'label.thorough-content.question-amount' | translate}}</label>
              <div *ngIf="f['formOfConfirmation'].value != undefined && f['formOfConfirmation'].value == 2" class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" [readonly]="viewMode || f['parentId'].value || editableThoroughed" formControlName="questionAmount"
                         class="form-control">
                  <app-control-messages [control]="f['questionAmount']"></app-control-messages>
              </div>
          </div>
          <!-- 9 -->
          <div class="ui-g-12 vt-row">
              <!-- Số câu hỏi -->
              <!-- Yêu cầu tối thiểu -->
              <label *ngIf="f['formOfConfirmation'].value != undefined && f['formOfConfirmation'].value == 2" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                  {{'label.thorough-content.pass-score' | translate}}</label>
              <div *ngIf="f['formOfConfirmation'].value != undefined && f['formOfConfirmation'].value == 2" class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" [readonly]="viewMode || f['parentId'].value || editableThoroughed" formControlName="passScore" class="form-control">
                  <app-control-messages [control]="f['passScore']"></app-control-messages>
              </div>
          </div>
      </div>
<!--      <div *ngIf="isMobileScreen" class="panel-body padding-xl ui-g border-info-common">-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Đơn vị triển khai quán triệt &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.org-tkqt' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <party-org-selector-->
<!--              #partyOrgSelector-->
<!--              [property]="f['thoroughContentOrgIds']"-->
<!--              operationKey="action.view"-->
<!--              adResourceKey="CTCT_THOROUGH_CONTENT"-->
<!--              [disabled]="viewMode || editableThoroughed"-->
<!--              isRequiredField="true">-->
<!--            </party-org-selector>-->
<!--            <app-control-messages [control]="f['thoroughContentOrgIds']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 1 &ndash;&gt;-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Quán triệt cấp trên &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">-->
<!--            {{'label.thorough-content.parent-add' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--              <party-org-selector-->
<!--                  #partyThoroughOrgSelector-->
<!--                  [property]="f['thoroughLevel']"-->
<!--                  operationKey="action.view"-->
<!--                  adResourceKey="CTCT_THOROUGH_CONTENT"-->
<!--                  [defaultValue]="true"-->
<!--                  [disabled]="viewMode || editableThoroughed"-->
<!--                  isRequiredField="true">-->
<!--              </party-org-selector>-->
<!--          </div>-->

<!--        </div>-->
<!--          <div class="ui-g-12 vt-row">-->
<!--              &lt;!&ndash; Người phê duyệt &ndash;&gt;-->
<!--              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">-->
<!--                  {{'label.thorough-content.approver_id' | translate}}</label>-->
<!--              <div class="ui-g-12 ui-md-6 ui-lg-3">-->
<!--                  <data-picker-->
<!--                          [property]="f['approveEmployeeId']"-->
<!--                          [disabled]="viewMode || f['parentId'].value || editableThoroughed"-->
<!--                          systemCode="political"-->
<!--                          operationKey="action.view"-->
<!--                          adResourceKey="CTCT_THOROUGH_CONTENT"-->
<!--                          objectBO="EmployeeBO"-->
<!--                          codeField="employeeCode"-->
<!--                          nameField="fullName"-->
<!--                          emailField="email"-->
<!--                          mobileNumberField="mobileNumber"-->
<!--                          selectField="employeeId"-->
<!--                          [isDisplayCode]="false"-->
<!--                          [filterCondition]=filterConditionApprover-->
<!--                  >-->
<!--                  </data-picker>-->
<!--                  <app-control-messages [control]="f['approveEmployeeId']"></app-control-messages>-->
<!--              </div>-->
<!--          </div>-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Tiêu đề &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.title' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <input type="text" [readonly]="viewMode || progressStatus == PROGRESS.ENDED" formControlName="title" class="form-control"-->
<!--              maxlength="250">-->
<!--            <app-control-messages [control]="f['title']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 2 &ndash;&gt;-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Lĩnh vực &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.branch' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <p-dropdown [formControl]="f['branch']" [disabled]="viewMode || f['parentId'].value || editableThoroughed"-->
<!--              [options]="branchOptions" [placeholder]="'placeholder.choose' | translate" [showClear]="true"-->
<!--              [filter]="true" [emptyFilterMessage]="emptyFilterMessage" [resetFilterOnHide]="true">-->
<!--            </p-dropdown>-->
<!--            <app-control-messages [control]="f['branch']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Cấp ban hành &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.issue-level-doc' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <p-dropdown [optionLabel]="'name'" [formControl]="f['issueLevel']" [disabled]="viewMode || f['parentId'].value || editableThoroughed"-->
<!--              [options]="issueLevelOptions" [placeholder]="'placeholder.choose' | translate" [showClear]="true"-->
<!--              [filter]="true" [emptyFilterMessage]="emptyFilterMessage" [resetFilterOnHide]="true">-->
<!--            </p-dropdown>-->
<!--            <app-control-messages [control]="f['issueLevel']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 3 &ndash;&gt;-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Đơn vị tạo quán triệt &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.org-tqt' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--              <multi-party-org-selector-->
<!--                      [property]="f['thoroughContentOrgIds']"-->
<!--                      operationKey="action.view"-->
<!--                      adResourceKey="CTCT_THOROUGH_CONTENT"-->
<!--                      [disabled]="viewMode || editableThoroughed"-->
<!--                      isRequiredField="true">-->
<!--              </multi-party-org-selector>-->
<!--              <app-control-messages [control]="f['thoroughContentOrgIds']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 4 &ndash;&gt;-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Hình thức xác nhận &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.form-of-confirmation' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <p-dropdown [optionLabel]="'name'" [formControl]="f['formOfConfirmation']" [disabled]="viewMode || f['parentId'].value || editableThoroughed"-->
<!--              [options]="formOfConfirmationOptions" [placeholder]="'placeholder.choose' | translate" [showClear]="true"-->
<!--              [filter]="true" [emptyFilterMessage]="emptyFilterMessage" [resetFilterOnHide]="true">-->
<!--            </p-dropdown>-->
<!--            <app-control-messages [control]="f['formOfConfirmation']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Đối tượng quán triệt &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.type-thorough' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <p-dropdown [optionLabel]="'name'" [formControl]="f['typeThorough']" [disabled]="viewMode || progressStatus == PROGRESS.INPROGRESS || progressStatus == PROGRESS.ENDED"-->
<!--              [options]="typeThoroughOptions" [placeholder]="'placeholder.choose' | translate" [showClear]="true"-->
<!--              [filter]="true" [emptyFilterMessage]="emptyFilterMessage" [resetFilterOnHide]="true">-->
<!--            </p-dropdown>-->
<!--            <app-control-messages [control]="f['typeThorough']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 5 &ndash;&gt;-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Ngày quán triệt &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.thorough-date' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <date-picker [disabled]="viewMode || progressStatus == PROGRESS.INPROGRESS || progressStatus == PROGRESS.ENDED" [property]="f['thoroughDate']"></date-picker>-->
<!--            <app-control-messages [control]="f['thoroughDate']"></app-control-messages>-->
<!--            <div *ngIf="customValidateThoroughDate()" class="errorMessageDiv show">-->
<!--              <small class="text-danger errorMessage ng-star-inserted">-->
<!--                {{'thorough-content.input.thorough-date' | translate}}-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Yêu cầu quán triệt cho đơn vị &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">-->
<!--            {{'label.thorough-content.required-thorough' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <p-checkbox [disabled]="viewMode || editableThoroughed" [formControl]="f['requiredThorough']" binary="true">-->
<!--            </p-checkbox>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 6 &ndash;&gt;-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Hạn quán triệt &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.end-date' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <date-picker [disabled]="viewMode" [property]="f['endDate']"></date-picker>-->
<!--            <app-control-messages [control]="f['endDate']"></app-control-messages>-->
<!--            <div *ngIf="customValidateDate()" class="errorMessageDiv show">-->
<!--              <small class="text-danger errorMessage ng-star-inserted">-->
<!--                {{'thorough-content.input.end-date' | translate}}-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Đối tượng quán triệt đích &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.target-type-thorough' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <p-dropdown [optionLabel]="'name'" [formControl]="f['targetTypeThorough']" [disabled]="viewMode || f['parentId'].value || progressStatus == PROGRESS.INPROGRESS || progressStatus == PROGRESS.ENDED"-->
<!--              [options]="typeThoroughOptions" [placeholder]="'placeholder.choose' | translate" [showClear]="true"-->
<!--              [filter]="true" [emptyFilterMessage]="emptyFilterMessage" [resetFilterOnHide]="true">-->
<!--            </p-dropdown>-->
<!--            <app-control-messages [control]="f['targetTypeThorough']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 7 &ndash;&gt;-->
<!--        <div *ngIf="f['formOfConfirmation'].value != undefined && f['formOfConfirmation'].value.id == 2" class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Chọn đề thi &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.select-exam-question-set' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <p-dropdown [optionLabel]="'title'" [formControl]="f['examQuestionSetId']" [disabled]="viewMode || f['parentId'].value || editableThoroughed"-->
<!--              [options]="examQuestionSetOptions" [placeholder]="'placeholder.choose' | translate" [showClear]="true"-->
<!--              [filter]="true" [emptyFilterMessage]="emptyFilterMessage" [resetFilterOnHide]="true">-->
<!--            </p-dropdown>-->
<!--            <app-control-messages [control]="f['examQuestionSetId']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 8 &ndash;&gt;-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Số câu hỏi &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.question-amount' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <input type="text" [readonly]="viewMode || f['parentId'].value || editableThoroughed" formControlName="questionAmount"-->
<!--              class="form-control">-->
<!--            <app-control-messages [control]="f['questionAmount']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Yêu cầu tối thiểu &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.pass-score' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <input type="text" [readonly]="viewMode || f['parentId'].value || editableThoroughed" formControlName="passScore" class="form-control">-->
<!--            <app-control-messages [control]="f['passScore']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 9 &ndash;&gt;-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Nội dung tóm tắt &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">-->
<!--            {{'label.thorough-content.summary-content' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--              <textarea formControlName="summaryContent" id="summaryContent" type="text-area" class="form form-control"-->
<!--                        [attr.disabled]="viewMode? true: null"></textarea>-->
<!--&lt;!&ndash;            <p-editor formControlName="summaryContent" id="summaryContent"&ndash;&gt;-->
<!--&lt;!&ndash;              [readonly]="viewMode || editableThoroughed"></p-editor>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Nội dung đầy đủ &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">-->
<!--            {{'label.thorough-content.detail-content' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--             <textarea formControlName="detailContent" id="detailContent" type="text-area" class="form form-control"-->
<!--                        [attr.disabled]="viewMode? true: null"></textarea>-->
<!--&lt;!&ndash;            <p-editor formControlName="detailContent" id="detailContent"&ndash;&gt;-->
<!--&lt;!&ndash;              [readonly]="viewMode || editableThoroughed || parentThoroughDate"></p-editor>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 10 &ndash;&gt;-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; Link video &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">-->
<!--            {{'label.thorough-content.video-link' | translate}}</label>-->
<!--          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <input type="url" [readonly]="viewMode || editableThoroughed || parentThoroughDate" formControlName="videoLink" class="form-control">-->
<!--            <app-control-messages [control]="f['videoLink']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="ui-g-12 vt-row">-->
<!--          &lt;!&ndash; File văn bản &ndash;&gt;-->
<!--          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">-->
<!--            {{'label.thorough-content.file-doc' | translate}}</label>-->
<!--          <div *ngIf="f['fileList']" class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">-->
<!--            <multi-file-chooser-v2 #multiFileChooser class="attachment-file" [property]="f['fileList']" htmlId="fileList"-->
<!--              validType="pdf" [validMaxSize]="10" [disabled]="viewMode || parentThoroughDate || progressStatus == PROGRESS.INPROGRESS || progressStatus == PROGRESS.ENDED"-->
<!--              [disabledDelete]="progressStatus == PROGRESS.WAITING">-->
<!--            </multi-file-chooser-v2>-->
<!--            <app-control-messages [control]="f['fileList']"></app-control-messages>-->
<!--          </div>-->
<!--        </div>-->
<!--&lt;!&ndash;          <div class="ui-g-12 vt-row">&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash; File đính kèm &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">&ndash;&gt;-->
<!--&lt;!&ndash;                  {{'label.thorough-content.attachFile' | translate}}</label>&ndash;&gt;-->
<!--&lt;!&ndash;              <div *ngIf="f['fileAttachedList']" class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">&ndash;&gt;-->
<!--&lt;!&ndash;                  <multi-file-chooser-v2 #multiFileAttachedChooser class="attachment-file-2" [property]="f['fileAttachedList']" htmlId="fileAttachedList"&ndash;&gt;-->
<!--&lt;!&ndash;                                         validType="pdf" [validMaxSize]="10" [disabled]="viewMode || parentThoroughDate || progressStatus == PROGRESS.INPROGRESS || progressStatus == PROGRESS.ENDED"&ndash;&gt;-->
<!--&lt;!&ndash;                                         [disabledDelete]="progressStatus == PROGRESS.WAITING">&ndash;&gt;-->
<!--&lt;!&ndash;                  </multi-file-chooser-v2>&ndash;&gt;-->
<!--&lt;!&ndash;                  <app-control-messages [control]="f['fileAttachedList']"></app-control-messages>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--          <div class="ui-g-12 vt-row">-->
<!--              &lt;!&ndash; Chọn đề thi &ndash;&gt;-->
<!--              <label *ngIf="f['formOfConfirmation'].value != undefined && f['formOfConfirmation'].value.id == 2"-->
<!--                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">-->
<!--                  {{'label.thorough-content.select-exam-question-set' | translate}}</label>-->
<!--              <div *ngIf="f['formOfConfirmation'].value != undefined && f['formOfConfirmation'].value.id == 2"-->
<!--                   class="ui-g-12 ui-md-6 ui-lg-3">-->
<!--                  <p-dropdown [optionLabel]="'title'" [formControl]="f['examQuestionSetId']"-->
<!--                              [disabled]="viewMode || f['parentId'].value || editableThoroughed" [options]="examQuestionSetOptions"-->
<!--                              [placeholder]="'placeholder.choose' | translate" [showClear]="true" [filter]="true"-->
<!--                              [emptyFilterMessage]="emptyFilterMessage" [resetFilterOnHide]="true">-->
<!--                  </p-dropdown>-->
<!--                  <app-control-messages [control]="f['examQuestionSetId']"></app-control-messages>-->
<!--              </div>-->
<!--              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">-->
<!--                  {{'label.thorough-content.question-amount' | translate}}</label>-->
<!--              <div class="ui-g-12 ui-md-6 ui-lg-3">-->
<!--                  <input type="text" [readonly]="viewMode || f['parentId'].value || editableThoroughed" formControlName="questionAmount"-->
<!--                         class="form-control">-->
<!--                  <app-control-messages [control]="f['questionAmount']"></app-control-messages>-->
<!--              </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; 9 &ndash;&gt;-->
<!--          <div class="ui-g-12 vt-row">-->
<!--              &lt;!&ndash; Số câu hỏi &ndash;&gt;-->
<!--              &lt;!&ndash; Yêu cầu tối thiểu &ndash;&gt;-->
<!--              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">-->
<!--                  {{'label.thorough-content.pass-score' | translate}}</label>-->
<!--              <div class="ui-g-12 ui-md-6 ui-lg-3">-->
<!--                  <input type="text" [readonly]="viewMode || f['parentId'].value || editableThoroughed" formControlName="passScore" class="form-control">-->
<!--                  <app-control-messages [control]="f['passScore']"></app-control-messages>-->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->

    </div>
  </form>
</div>
