<div id="searchPage" *ngIf="hasPermission('action.view')">
  <div id="searchArea">
    <div class="panel panel-default card-info">
      <div class="panel-heading" translate>
        <strong>
          common.label.search.info
        </strong>
      </div>
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
              {{'app.settings.account.accountInKind' | translate}}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <input type="text" class="form-control" formControlName="accountInKind" maxlength="100">
              <app-control-messages [control]="f['accountInKind']"></app-control-messages>
            </div>

            <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
              {{'app.settings.account.accountInCash' | translate}}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <input type="text" class="form-control" formControlName="accountInCash" maxlength="100">
              <app-control-messages [control]="f['accountInCash']"></app-control-messages>
            </div>
          </div>

          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
              {{'app.settings.account.accountDepenUnplan' | translate}}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <input type="text" class="form-control" formControlName="accountDepenUnplan" maxlength="100">
              <app-control-messages [control]="f['accountDepenUnplan']"></app-control-messages>
            </div>

            <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
              {{'app.settings.account.accountDepenPlan' | translate}}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <input type="text" class="form-control" formControlName="accountDepenPlan" maxlength="100">
              <app-control-messages [control]="f['accountDepenPlan']"></app-control-messages>
            </div>
          </div>

          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
              {{'app.settings.account.accountDepenActive' | translate}}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <input type="text" class="form-control" formControlName="accountDepenActive" maxlength="100">
              <app-control-messages [control]="f['accountDepenActive']"></app-control-messages>
            </div>

            <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
              {{'app.settings.account.accountIndepenUnplan' | translate}}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <input type="text" class="form-control" formControlName="accountIndepenUnplan" maxlength="100">
              <app-control-messages [control]="f['accountIndepenUnplan']"></app-control-messages>
            </div>
          </div>

          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
              {{'app.settings.account.accountIndepenPlan' | translate}}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <input type="text" class="form-control" formControlName="accountIndepenPlan" maxlength="100">
              <app-control-messages [control]="f['accountIndepenPlan']"></app-control-messages>
            </div>

            <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
              {{'app.settings.account.accountBod' | translate}}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <input type="text" class="form-control" formControlName="accountBod" maxlength="100">
              <app-control-messages [control]="f['accountBod']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button *ngIf="hasPermission('action.insert')" type="button" class="btn btn-sm vt-btn btn-submit" (click)="prepareSaveOrUpdate()"
            [innerHTML]="'common.button.icon.save' | translate"> </button>
        </div>
      </form>
    </div>
  </div>
</div>