<div id="listArea">
  <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="onSearch($event)" [lazy]="true"
    [rows]="changeRow" [totalRecords]="resultList.recordsTotal" [scrollable]="true" [lazyLoadOnInit]="false"
    tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" styleClass="controlOverflow" [resizableColumns]="true">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col style="width: 50px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th translate pResizableColumn>common.table.index</th>
        <th pResizableColumn>
          {{'fundActivity.label.activityName' | translate}}
        </th>
        <th pResizableColumn>
          {{'fundActivity.label.activityCategory' | translate}}
        </th>
        <th pResizableColumn>
          {{'fundActivity.label.activityDate' | translate}}
        </th>
        <th pResizableColumn>
          {{'fundActivity.label.acitivityMoney' | translate}}
        </th>
        <th pResizableColumn>
          {{'fundContribution.lable.file' | translate}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex+1">
      <tr>
        <td class="vt-align-center">{{index}}</td>
        <td class="vt-align-left">{{item.activityName}}</td>
        <td class="vt-align-left">{{item.activityCategoryName}}</td>
        <td class="vt-align-center">{{item.executedDate | displayDate}}</td>
        <td class="vt-align-right">{{item.activityMoney | number}}</td>
        <td class="vt-align-left">
          <a *ngFor="let data of item.fileAttachment.files"
            style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
            (click)="downloadFile(data)">
            -  {{data.fileName}}
          </a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="emptymessage">
        <td [attr.colspan]="12" [innerHTML]="'app.noRecords' | translate">
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <table-footer (changeRow)="onTablePageChange($event)" [resultList]="resultList"></table-footer>
    </ng-template>
  </p-table>
</div>