::ng-deep .dropdown-menu button {
    margin: 0 !important;
}
::ng-deep .color-write {
    color: #fff !important;
}

:host ::ng-deep .panel-default .panel-heading{
    overflow: unset;
}

/**
 chỉnh kích thước scroll
 */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
