<!--Button back-->
<div class="card-form">
  <div class="clearfix">
    <div class="left-nav-bar pull-left row-header">
      <div>
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png"
             (click)="goBack();">
        <span *ngIf="!isEdit" class="title" translate> plan.work.save.titleAdd</span>
        <span *ngIf="isEdit" class="title" translate> plan.work.save.titleEdit</span>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
      <ul class="header-right sys-ul space-line">
        <li>
          <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="goBack();"
                  [innerHTML]="'common.button.out' | translate">
          </button>
        </li>
        <li>
          <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button"
                  (click)="hello()" [innerHTML]="'common.button.icon.save' | translate">
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Info Add-->
<div class="info">
  <div >
    <div class="panel panel-default card-info">
      <div class="panel-heading">
        <strong>
          <span class="ml-2 title-info">Thông tin kỷ luật cá nhân</span>
        </strong>
      </div>
      <form id="formSearch" [formGroup]="formSave">
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
              {{ 'plan.work.save.plan.name' | translate }}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <input type="text" class="form form-control" name="planName" formControlName="planName"
                     maxlength="100">
              <app-control-messages [control]="f['planName']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right ">
              {{ 'plan.work.save.plan.type' | translate }}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <select-filter [placeHolder]="'common.label.cboMustSelect'" [property]="f['planType']"
                             [options]="" optionLabel="name" optionValue="sysCatId">
              </select-filter>
              <app-control-messages [control]="f['planType']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
              {{ 'plan.work.save.plan.employer' | translate }}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <data-picker #data [property]="f['employerId']" systemCode="political" operationKey="action.view"
                           adResourceKey="resource.punishment" objectBO="EmployeeBO" codeField="employeeCode"
                           nameField="fullName"
                           emailField="email" (onChange)="hello()" [isRequiredField]="true"
                           selectField="employerId"
                           [filterCondition]="' AND obj.status = 1'" [disabled]="isEdit"
                           mobileNumberField="mobileNumber">
              </data-picker>
              <app-control-messages [control]="f['employerId']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right ">
              {{ 'plan.work.save.plan.unit' | translate }}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <select-filter [placeHolder]="'common.label.cboMustSelect'" [property]="f['planType']"
                             [options]="" optionLabel="name" optionValue="sysCatId">
              </select-filter>
              <app-control-messages [control]="f['planType']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
              {{ 'plan.work.save.plan.startDate' | translate }}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <date-picker [property]="f['startDate']"></date-picker>
              <app-control-messages [control]="f['startDate']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
              {{ 'plan.work.save.plan.endDate' | translate }}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <date-picker [property]="f['endDate']"></date-picker>
              <app-control-messages [control]="f['endDate']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
              {{ 'plan.work.save.plan.creator' | translate }}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <org-selector [property]="f['creator']" operationKey="action.view"
                            adResourceKey="resource.punishment" [disabled]="true">
              </org-selector>
              <app-control-messages [control]="f['creator']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
              {{ 'plan.work.save.plan.file' | translate }}
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <file-chooser
                [property]="f['files']"
                validMaxSize="50"
                validType="png,jpg,gif,tiff,bmp,xls,xlsx,doc,docx,pdf,rar,zip,7z"
              >
              </file-chooser>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.update') || !hasPermission('action.insert')">
    {{ 'common.haveNoPermission' | translate }}
  </div>
</div>


<!--===============Chi tieu co ban va nhiem vu trong tam=======================-->
<div id="listArea" [ngClass]="isShowVertical?'display-list-vertical':''"
     [ngStyle]="{'width': isShowVertical && !isShowHideVertical ? '100%' : '','height': isShowVertical && !isShowHideVertical ? '85vh' : ''}">
  <div [ngClass]="isShowVertical?'panel panel-default display-max-vertical-height':'panel panel-default'">
    <div class="panel-heading vt-relative vt-panel-heading-table">
      <strong>
        <img *ngIf="isShowVertical && !isShowHideVertical" alt="next" class="img-fluid icon-show-hide-search"
             src="./../../../../../../assets/images/home/Mask_Group_24371.png" (click)="closeBasicSearch()">
        {{ 'plan.work.save.table1.title' | translate }}
      </strong>
      <div>
        <button type="button" class="btn btn-sm vt-btn btn-submit"
                *ngIf="hasPermission('action.insert')"
                (click)="hello()"
                [innerHTML]="'common.button.icon.addNew' | translate"></button>
        <button type="button" class="btn btn-sm vt-btn" *ngIf="hasPermission('action.import')"
                (click)="hello()"
                [innerHTML]="'personalPunishment.importButton' | translate"></button>
        <button type="button" class="btn btn-sm vt-btn" *ngIf="hasPermission('action.export')"
                (click)="hello()"
                [innerHTML]="'common.button.icon.exportFile' | translate"></button>
      </div>
    </div>
    <div class="panel-body panel-table table-container">
      <p-table #ptable [value]="basicTargetTaskBean" [paginator]="true" (onLazyLoad)="processSearch($event)"
               [lazy]="true"
               [rows]="changeRow" [totalRecords]="basicTargetTaskBean.length" [scrollable]="true"
               [lazyLoadOnInit]="false"
               tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
               [resizableColumns]="true">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width: 50px;">
            <col style="width: 50px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pResizableColumn></th>
            <th pResizableColumn>{{ 'plan.work.save.table1.col1' | translate }}</th>
            <th [pSortableColumn]="'orgCurrentName'" pResizableColumn>
              {{ 'plan.work.save.table1.col2' | translate }}
              <p-sortIcon [field]="'orgCurrentName'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'employeeCode'" pResizableColumn>
              {{ 'plan.work.save.table1.col3' | translate }}
              <p-sortIcon [field]="'employeeCode'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'employeeName'" pResizableColumn>
              {{ 'plan.work.save.table1.col4' | translate }}
              <p-sortIcon [field]="'employeeName'"></p-sortIcon>
            </th>
            <th pResizableColumn>
              {{ 'plan.work.save.table1.col5' | translate }}
            </th>
            <th [pSortableColumn]="'gender'" pResizableColumn>
              {{ 'plan.work.save.table1.col6' | translate }}
              <p-sortIcon [field]="'gender'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'birthYear'" pResizableColumn>
              {{ 'plan.work.save.table1.col7' | translate }}
              <p-sortIcon [field]="'birthYear'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'empTypeName'" pResizableColumn>
              {{ 'plan.work.save.table1.col8' | translate }}
              <p-sortIcon [field]="'empTypeName'"></p-sortIcon>
            </th>
            <th pResizableColumn>
              {{ 'plan.work.save.table1.col9' | translate }}
            </th>
            <th [pSortableColumn]="'positionName'" pResizableColumn>
              {{ 'plan.work.save.table1.col10' | translate }}
              <p-sortIcon [field]="'positionName'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'positionDate'" pResizableColumn>
              {{ 'plan.work.save.table1.col11' | translate }}
              <p-sortIcon [field]="'positionDate'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'enlistDate'" pResizableColumn>
              {{ 'plan.work.save.table1.col12' | translate }}
              <p-sortIcon [field]="'enlistDate'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'joinCompanyDate'" pResizableColumn>
              {{ 'plan.work.save.table1.col13' | translate }}
              <p-sortIcon [field]="'joinCompanyDate'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'joinPartyDate'" pResizableColumn>
              {{ 'plan.work.save.table1.col14' | translate }}
              <p-sortIcon [field]="'joinPartyDate'"></p-sortIcon>
            </th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
          <!--body-->
          <tr>
            <td class="vt-align-center" style="overflow: initial !important;">
              <div ngbDropdown class="d-inline-block">
                <div ngbDropdownToggle class="vt-action-hover">
                  <img class="menu-icon" src="./../../../assets/images/home/Icon.svg">
                </div>
                <div ngbDropdownMenu class="vt-border-radius">
                  <!-- Sửa -->
                  <button *ngIf="hasPermission('action.update') && hello()" class="dropdown-item"
                          (click)="hello()"
                          [innerHTML]="'common.button.table.acteditdropdown' | translate">
                  </button>
                  <!-- Xóa -->
                  <button *ngIf="hasPermission('action.delete') && hello()" class="dropdown-item"
                          (click)="processDelete(item)"
                          [innerHTML]="'common.button.icon.delete' | translate">
                  </button>
                </div>
              </div>
            </td>
            <td class="vt-align-center">{{ index }}</td>
            <td class="vt-align-left" [title]="item.targetGroup">
              {{ item.targetGroup }}
            </td>
            <td class="vt-align-left" [title]="item.targetName">
              {{ item.targetName }}
            </td>
            <td class="vt-align-center" [title]="item.kpiIndicator">
              {{ item.kpiIndicator }}
            </td>
            <td class="vt-align-center" [title]="item.kpiIndicator">
              {{ item.kpiIndicator }}
            </td>
            <td class="vt-align-center" [title]="item.measurementMethod">
              {{ item.measurementMethod }}
            </td>
            <td class="vt-align-center" [title]="item.measurementUnit">
              {{ item.measurementUnit }}
            </td>
            <td class="vt-align-center" [title]="item.weightPercent">
              {{ item.weightPercent }}
            </td>
            <td class="vt-align-left" [title]="item.minValue">
              {{ item.minValue }}
            </td>
            <td class="vt-align-center" [title]="item.expectedValue">
              {{ item.expectedValue | displayDate }}
            </td>
            <td class="vt-align-left" [title]="item.challengeValue">
              {{ item.challengeValue }}
            </td>
            <td class="vt-align-center" [title]="item.startDate">
              {{ item.startDate | displayDate }}
            </td>
            <td class="vt-align-center" [title]="item.endDate">
              {{ item.endDate | displayDate }}
            </td>
            <td class="vt-align-center" [title]="item.executionUnit">
              {{ item.executionUnit | displayDate }}
            </td>
            <td class="vt-align-center" [title]="item.executionFocalPoint">
              {{ item.executionFocalPoint | displayDate }}
            </td>

          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="10" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer (changeRow)="onTablePageChange($event)"
                        [resultList]="resultList"></table-footer>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


<!--===============Chuyen dich=======================-->
<div id="listArea" [ngClass]="isShowVertical?'display-list-vertical':''"
     [ngStyle]="{'width': isShowVertical && !isShowHideVertical ? '100%' : '','height': isShowVertical && !isShowHideVertical ? '85vh' : ''}">
  <div [ngClass]="isShowVertical?'panel panel-default display-max-vertical-height':'panel panel-default'">
    <div class="panel-heading vt-relative vt-panel-heading-table">
      <strong>
        <img *ngIf="isShowVertical && !isShowHideVertical" alt="next" class="img-fluid icon-show-hide-search"
             src="./../../../../../../assets/images/home/Mask_Group_24371.png" (click)="closeBasicSearch()">
        {{ 'plan.work.save.table2.title' | translate }}
      </strong>
      <div>
        <button type="button" class="btn btn-sm vt-btn btn-submit"
                *ngIf="hasPermission('action.insert')"
                (click)="hello()"
                [innerHTML]="'common.button.icon.addNew' | translate"></button>
        <button type="button" class="btn btn-sm vt-btn" *ngIf="hasPermission('action.import')"
                (click)="hello()"
                [innerHTML]="'personalPunishment.importButton' | translate"></button>
        <button type="button" class="btn btn-sm vt-btn" *ngIf="hasPermission('action.export')"
                (click)="hello()"
                [innerHTML]="'common.button.icon.exportFile' | translate"></button>
      </div>
    </div>
    <div class="panel-body panel-table table-container">
      <p-table #ptable [value]="transformationTaskBean" [paginator]="true" (onLazyLoad)="processSearch($event)"
               [lazy]="true"
               [rows]="changeRow" [totalRecords]="transformationTaskBean.length" [scrollable]="true"
               [lazyLoadOnInit]="false"
               tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
               [resizableColumns]="true">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width: 50px;">
            <col style="width: 50px;">
            <col style="width: 200px;">
            <col style="width: 200px;">
            <col style="width: 200px;">
            <col style="width: 200px;">
            <col style="width: 100px;">
            <col style="width: 100px;">
            <col style="width: 100px;">
            <col style="width: 100px;">
            <col style="width: 200px;">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th rowspan="2" pResizableColumn></th>
            <th rowspan="2" pResizableColumn>{{ 'plan.work.save.table2.col1' | translate }}</th>
            <th rowspan="2" [pSortableColumn]="'targetGroup'" pResizableColumn>
              {{ 'plan.work.save.table2.col2' | translate }}
              <p-sortIcon [field]="'targetGroup'"></p-sortIcon>
            </th>
            <th rowspan="2" [pSortableColumn]="'content'" pResizableColumn>
              {{ 'plan.work.save.table2.col3' | translate }}
              <p-sortIcon [field]="'content'"></p-sortIcon>
            </th>
            <th rowspan="2" [pSortableColumn]="'objective'" pResizableColumn>
              {{ 'plan.work.save.table2.col4' | translate }}
              <p-sortIcon [field]="'objective'"></p-sortIcon>
            </th>
            <th rowspan="2" [pSortableColumn]="'solutionAction'" pResizableColumn>
              {{ 'plan.work.save.table2.col5' | translate }}
              <p-sortIcon [field]="'solutionAction'"></p-sortIcon>
            </th>
            <th colspan="4" class="vt-align-center" pResizableColumn>
              {{ 'plan.work.save.table2.col6' | translate }}
            </th>
            <th rowspan="2" [pSortableColumn]="'units[0].name'" pResizableColumn>
              {{ 'plan.work.save.table2.col7' | translate }}
              <p-sortIcon [field]="'units[0].name'"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th rowspan="2" [pSortableColumn]="'executionTimeQ1'" pResizableColumn>
              {{ 'plan.work.save.table2.col61' | translate }}
              <p-sortIcon [field]="'executionTimeQ1'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'executionTimeQ2'" pResizableColumn>
              {{ 'plan.work.save.table2.col62' | translate }}
              <p-sortIcon [field]="'executionTimeQ2'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'executionTimeQ3'" pResizableColumn>
              {{ 'plan.work.save.table2.col63' | translate }}
              <p-sortIcon [field]="'executionTimeQ3'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'executionTimeQ4'" pResizableColumn>
              {{ 'plan.work.save.table2.col64' | translate }}
              <p-sortIcon [field]="'executionTimeQ4'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
          <!--body-->
          <tr>
            <td class="vt-align-center" style="overflow: initial !important;">
              <div ngbDropdown class="d-inline-block">
                <div ngbDropdownToggle class="vt-action-hover">
                  <img class="menu-icon" src="./../../../assets/images/home/Icon.svg">
                </div>
                <div ngbDropdownMenu class="vt-border-radius">
                  <!-- Sửa -->
                  <button *ngIf="hasPermission('action.update') && hello()" class="dropdown-item"
                          (click)="hello()"
                          [innerHTML]="'common.button.table.acteditdropdown' | translate">
                  </button>
                  <!-- Xóa -->
                  <button *ngIf="hasPermission('action.delete') && hello()" class="dropdown-item"
                          (click)="processDelete(item)"
                          [innerHTML]="'common.button.icon.delete' | translate">
                  </button>
                </div>
              </div>
            </td>
            <td class="vt-align-center">{{ index }}</td>
            <td class="vt-align-left" [title]="item.targetGroup">
              {{ item.targetGroup }}
            </td>
            <td class="vt-align-left" [title]="item.content">
              {{ item.content }}
            </td>
            <td class="vt-align-center" [title]="item.objective">
              {{ item.objective }}
            </td>
            <td [title]="item.solutionAction">
              {{ item.solutionAction }}
            </td>
            <td class="vt-align-center" [title]="item.executionTimeQ1">
              <i *ngIf="item.executionTimeQ1 === 1" class="fas fa-check table-icon color-info"></i>
            </td>
            <td class="vt-align-center" [title]="item.executionTimeQ2">
              <i *ngIf="item.executionTimeQ2 === 1" class="fas fa-check table-icon color-info"></i>
            </td>
            <td class="vt-align-center" [title]="item.executionTimeQ3">
              <i *ngIf="item.executionTimeQ3 === 1" class="fas fa-check table-icon color-info"></i>
            </td>
            <td class="vt-align-center" [title]="item.executionTimeQ4">
              <i *ngIf="item.executionTimeQ4 === 1" class="fas fa-check table-icon color-info"></i>
            </td>
            <td class="vt-align-center" [title]="item.units[0].name">
              {{ item.units[0].name  }}
            </td>

          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="10" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer (changeRow)="onTablePageChange($event)"
                        [resultList]="resultList"></table-footer>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!--===============Cac nhiem vu trong tam khac=======================-->
<div id="listArea" [ngClass]="isShowVertical?'display-list-vertical':''"
     [ngStyle]="{'width': isShowVertical && !isShowHideVertical ? '100%' : '','height': isShowVertical && !isShowHideVertical ? '85vh' : ''}">
  <div [ngClass]="isShowVertical?'panel panel-default display-max-vertical-height':'panel panel-default'">
    <div class="panel-heading vt-relative vt-panel-heading-table">
      <strong>
        <img *ngIf="isShowVertical && !isShowHideVertical" alt="next" class="img-fluid icon-show-hide-search"
             src="./../../../../../../assets/images/home/Mask_Group_24371.png" (click)="closeBasicSearch()">
        {{ 'plan.work.save.table3.title' | translate }}
      </strong>
      <div>
        <button type="button" class="btn btn-sm vt-btn btn-submit"
                *ngIf="hasPermission('action.insert')"
                (click)="hello()"
                [innerHTML]="'common.button.icon.addNew' | translate"></button>
        <button type="button" class="btn btn-sm vt-btn" *ngIf="hasPermission('action.import')"
                (click)="hello()"
                [innerHTML]="'personalPunishment.importButton' | translate"></button>
        <button type="button" class="btn btn-sm vt-btn" *ngIf="hasPermission('action.export')"
                (click)="hello()"
                [innerHTML]="'common.button.icon.exportFile' | translate"></button>
      </div>
    </div>
    <div class="panel-body panel-table table-container">
      <p-table #ptable [value]="additionalKeyTasksBean" [paginator]="true" (onLazyLoad)="processSearch($event)"
               [lazy]="true"
               [rows]="changeRow" [totalRecords]="additionalKeyTasksBean.length" [scrollable]="true"
               [lazyLoadOnInit]="false"
               tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
               [resizableColumns]="true">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width: 50px;">
            <col style="width: 50px;">
            <col style="width: 200px;">
            <col style="width: 200px;">
            <col style="width: 200px;">
            <col style="width: 100px;">
            <col style="width: 100px;">
            <col style="width: 100px;">
            <col style="width: 100px;">
            <col style="width: 200px;">
            <col style="width: 200px;">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th rowspan="2" pResizableColumn></th>
            <th rowspan="2" pResizableColumn>{{ 'plan.work.save.table3.col1' | translate }}</th>
            <th rowspan="2" [pSortableColumn]="'targetGroup'" pResizableColumn>
              {{ 'plan.work.save.table2.col2' | translate }}
              <p-sortIcon [field]="'targetGroup'"></p-sortIcon>
            </th>
            <th rowspan="2" [pSortableColumn]="'content'" pResizableColumn>
              {{ 'plan.work.save.table3.col3' | translate }}
              <p-sortIcon [field]="'content'"></p-sortIcon>
            </th>
            <th rowspan="2" [pSortableColumn]="'objective'" pResizableColumn>
              {{ 'plan.work.save.table3.col4' | translate }}
              <p-sortIcon [field]="'objective'"></p-sortIcon>
            </th>
            <th colspan="4" class="vt-align-center" pResizableColumn>
              {{ 'plan.work.save.table3.col5' | translate }}
            </th>
            <th rowspan="2" [pSortableColumn]="'responsibleLeader'" pResizableColumn>
              {{ 'plan.work.save.table3.col6' | translate }}
              <p-sortIcon [field]="'responsibleLeader'"></p-sortIcon>
            </th>
            <th rowspan="2" [pSortableColumn]="'employeeName'" pResizableColumn>
              {{ 'plan.work.save.table3.col7' | translate }}
              <p-sortIcon [field]="'employeeName'"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th rowspan="2" [pSortableColumn]="'executionTimeQ1'" pResizableColumn>
              {{ 'plan.work.save.table3.col51' | translate }}
              <p-sortIcon [field]="'executionTimeQ1'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'executionTimeQ2'" pResizableColumn>
              {{ 'plan.work.save.table3.col52' | translate }}
              <p-sortIcon [field]="'executionTimeQ2'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'executionTimeQ3'" pResizableColumn>
              {{ 'plan.work.save.table3.col53' | translate }}
              <p-sortIcon [field]="'executionTimeQ3'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'executionTimeQ4'" pResizableColumn>
              {{ 'plan.work.save.table3.col54' | translate }}
              <p-sortIcon [field]="'executionTimeQ4'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
          <!--body-->
          <tr>
            <td class="vt-align-center" style="overflow: initial !important;">
              <div ngbDropdown class="d-inline-block">
                <div ngbDropdownToggle class="vt-action-hover">
                  <img class="menu-icon" src="./../../../assets/images/home/Icon.svg">
                </div>
                <div ngbDropdownMenu class="vt-border-radius">
                  <!-- Sửa -->
                  <button *ngIf="hasPermission('action.update') && hello()" class="dropdown-item"
                          (click)="hello()"
                          [innerHTML]="'common.button.table.acteditdropdown' | translate">
                  </button>
                  <!-- Xóa -->
                  <button *ngIf="hasPermission('action.delete') && hello()" class="dropdown-item"
                          (click)="processDelete(item)"
                          [innerHTML]="'common.button.icon.delete' | translate">
                  </button>
                </div>
              </div>
            </td>
            <td class="vt-align-center">{{ index }}</td>
            <td class="vt-align-left" [title]="item.targetGroup">
              {{ item.targetGroup }}
            </td>
            <td class="vt-align-left" [title]="item.content">
              {{ item.content }}
            </td>
            <td class="vt-align-center" [title]="item.objective">
              {{ item.objective }}
            </td>

            <td class="vt-align-center" [title]="item.executionTimeQ1">
              <i *ngIf="item.executionTimeQ1 === 1" class="fas fa-check table-icon color-info"></i>
            </td>
            <td class="vt-align-center" [title]="item.executionTimeQ2">
              <i *ngIf="item.executionTimeQ2 === 1" class="fas fa-check table-icon color-info"></i>
            </td>
            <td class="vt-align-center" [title]="item.executionTimeQ3">
              <i *ngIf="item.executionTimeQ3 === 1" class="fas fa-check table-icon color-info"></i>
            </td>
            <td class="vt-align-center" [title]="item.executionTimeQ4">
              <i *ngIf="item.executionTimeQ4 === 1" class="fas fa-check table-icon color-info"></i>
            </td>
            <td class="vt-align-center" [title]="item.responsibleLeader">
              {{ item.responsibleLeader  }}
            </td>
            <td class="vt-align-center" [title]="item.units[0].name">
              {{ item.units[0].name  }}
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="10" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer (changeRow)="onTablePageChange($event)"
                        [resultList]="resultList"></table-footer>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
