<div class="modal-body" *ngIf="formUpdateStaffMappingAssessmentLevel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        <span> {{'assessment.setupAssessmentEmployeeMapping' | translate}}</span>
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <button style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info btn-close"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <form id="formAssessmentEmployeeMapping" [formGroup]="formUpdateStaffMappingAssessmentLevel">
      <div class="panel-body panel-table">
        <p-table 
          [scrollable]="true"
          [value]="formUpdateStaffMappingAssessmentLevel.controls"
          tableStyleClass="table controls-table table-wrapper b-t b-b" 
          styleClass="rewardGroupMinHeight">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup class="ng-star-inserted">
              <col class="size-1">
              <col class="size-14">
              <col class="size-14">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th>{{'assessmentPeriod.assessmentLevelList.name' | translate}}</th>
              <th>{{'evaluate.personnel.table.officersEvaluate' | translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1" >
            <tr [formGroup]="item">
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center">
                <input
                  type="text"
                  class="form form-control"
                  name="assessmentLevelName"
                  formControlName="assessmentLevelName"
                  [attr.disabled]="true"
                >
                <app-control-messages [control]="item.controls.assessmentLevelName"></app-control-messages>
              </td>
              <td>
                <data-picker
                  [property]="item.controls.employeeId"
                  systemCode="political"
                  operationKey="action.view"
                  adResourceKey="resource.assessmentPeriod"
                  objectBO="EmployeeBO"
                  codeField="employeeCode"
                  nameField="fullName"
                  emailField="email"
                  mobileNumberField="mobileNumber"
                  selectField="employeeId"
                  [disabled]="index === 1"
                  [filterCondition]="' AND obj.status = 1'"
                  isNotSearchByOrgDomainData="true"
                  >
                </data-picker>
                <app-control-messages [control]="item.controls.employeeId"></app-control-messages>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </form>
    <div class="panel-footer vt-area-button">
      <button type="submit" (click)="processUpdateAssessmentEmployeeMapping()" class="btn btn-sm btn-info" [innerHTML]="'common.button.icon.save' | translate"></button>
    </div>
  </div>
</div>
