<div class="content vt-nopadding">
  <div class="no-padding-left">
    <form id="frmSaveSysCat" [formGroup]="formSave">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>
            <span *ngIf="!formSave.get('id').value" translate> app.settings.mobileConfig.mobileConfigAdd</span>
            <span *ngIf="formSave.get('id').value" translate> app.settings.mobileConfig.mobileConfigEdit</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
                    class="btn btn-span btn-sm"><img class="info-icon" src="./../../../../../../assets/images/home/Mask_Group_19561.png"></button>
          </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'common.label.name' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="text" class="form-control" formControlName="name" maxlength="200">
              <app-control-messages [control]="f['name']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
              {{'adScheduler.AdSchedulerActive' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="checkbox" name="isActive" formControlName="isActive" style="width: 18px;height: 1.5rem;">
              <app-control-messages [control]="f['isActive']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'common.label.code' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="text" class="form-control" formControlName="code" maxlength="200">
              <app-control-messages [control]="f['code']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
              {{'employee360.ideaInno.type' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [property]="f['type']"
                             [options]="lstType"
                             optionLabel="name"
                             optionValue="id"
                             [placeHolder]="'common.label.cboMustSelect'">
              </select-filter>
              <app-control-messages [control]="f['type']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'label.welfare.policy.category.order' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="number" formControlName="configOrder" name="configOrder" class="form-control">
              <app-control-messages [control]="f['configOrder']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
              {{'app.empTypeProcess.attachmentFile' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <file-chooser
                      [property]="f['file']"
                      [validMaxSize]="50"
                      validType="jpg,png">
              </file-chooser>
              <app-control-messages [control]="f['file']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm vt-btn btn-submit" [innerHTML]="'common.button.icon.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm vt-btn" [innerHTML]="'common.button.out' | translate"></button>
        </div>
      </div>
    </form>
  </div>
</div>