.dropdown-item {
  display: block;
  width: auto;
  padding: 0.25rem 0.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

/**
 chỉnh kích thước scroll
 */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

:host ::ng-deep .ui-table-resizable .ui-table-tbody > tr > td.action-show {
  overflow: unset;
}