<div class="modal-body">
    <div id="searchArea"></div>
      <div class="panel panel-default">
          <form id="formSave" [formGroup] = "formSave"  >
            <div class="panel-heading">
              <strong class="text-u-c">
                <i class="fa fa-th"></i>&nbsp; Lý do từ chối
              </strong>
              <div class="vt-absolute vt-shotcut-button-in-heading">
                <button style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-sm btn-info btn-span btn-close"><i class="fa fa-times"></i></button>
            </div>
            </div>
            <div class="panel-body padding-xl ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-12">
                  <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                      Lý do
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-9">
                         <textarea maxlength="500" name="reason" formControlName="reason" id="reason" cols="200" rows="3" class="form-control"></textarea>
                          <app-control-messages [control]="f['reason']"></app-control-messages>
                    </div>
              </div>
              </div>
              <div class="panel-footer vt-area-button">
                  <button type="button" (click)="rejectResponse()"  class="btn btn-sm btn-info" [innerHTML]="'common.button.table.actUnapprovedWhite' | translate"> </button>
                  <button type="button" (click)="activeModal.close()"  class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
            </div>
          </form>
        </div>
    </div>
    
<style>
 .modal {
      text-align: center;
      padding: 0!important;
    }
    
    .modal::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    }
    
    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }
</style>
   
  
