<div *ngIf="hasPermission('action.view')">
  <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
          <div class="panel-heading">
              <strong>
                  <span translate> common.label.search.info</span>
              </strong>
          </div>
          <div class="panel-body padding-xl ui-g vt-border-side">
            <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.settings.category.code' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form-control" formControlName="code" maxlength="50" [autoFocus]="true">
                  <app-control-messages [control]="f['code']"></app-control-messages>
                </div>

                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.settings.category.name' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form-control" formControlName="name" maxlength="500">
                  <app-control-messages [control]="f['name']"></app-control-messages>
                </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
            <input type="hidden" name="categoryTypeId" />
            <button type="submit" *ngIf="hasPermission('action.view')" (click)="processSearch();" class="btn btn-sm btn-submit" [innerHTML]="'common.button.icon.search' | translate" id="searchCategory"></button>
          </div>
      </form>
  </div>

  <div class="panel panel-default" id="sysCatTable">
    <div class="panel-heading vt-relative">
      <strong>
        <span translate> app.settings.category.cat_list_title</span>
      </strong>
      <div class="show-btn-right-header">
        <button type="button"  (click)="prepareSaveOrUpdate()" *ngIf="hasPermission('action.insert')" class="btn btn-sm vt-btn btn-submit" [innerHTML]="'common.button.icon.addNew' | translate" id="addSysCat"></button>
      </div>
    </div>
    <div class="panel-body panel-table">
      <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
        [lazy]="true" [rows]="changeRow" [totalRecords]="resultList.recordsTotal" [responsive]="true" [lazyLoadOnInit]="false"
               [resizableColumns]="true" [scrollable]="true"
        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" styleClass="controlOverflow">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width: 50px;">
            <col style="width: 50px;">
            <col style="width: 100px;">
            <col style="width: 100px;">
            <col style="width: 100px;">
            <col style="width: 100px;">
            <col style="width: 100px;">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pResizableColumn></th>
            <th pResizableColumn translate>common.table.index</th>
            <th pResizableColumn pSortableColumn="code" translate>app.settings.category.code <p-sortIcon field="code"></p-sortIcon></th>
            <th pResizableColumn pSortableColumn="name" translate>app.settings.category.name <p-sortIcon [field]="'name'"></p-sortIcon></th>
            <th pResizableColumn translate>app.settings.category.is_default</th>
            <th pResizableColumn pSortableColumn="sortOrder" translate>app.settings.category.sort_order <p-sortIcon [field]="'sortOrder'"></p-sortIcon></th>
            <th pResizableColumn pSortableColumn="description" translate>app.settings.category.description <p-sortIcon [field]="'description'"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr>
            <td class="vt-align-center" style="overflow: initial;">
              <div ngbDropdown class="d-inline-block">
                <div ngbDropdownToggle class="vt-action-hover">
                  <img class="menu-icon" src="./../../../assets/images/home/Icon.svg" >
                </div>
                <div ngbDropdownMenu class="vt-border-radius">
                  <!-- sua -->
                  <div *ngIf="hasPermission('action.update')">
                    <button class="dropdown-item" (click)="prepareSaveOrUpdate(item)"
                            [innerHTML]="'common.button.table.acteditdropdown' | translate">
                    </button>
                  </div>
                  <!-- chấm dứt hoạt động -->
                  <div *ngIf="hasPermission('action.delete')">
                    <button class="dropdown-item" (click)="processDelete(item?.categoryId)"
                            [innerHTML]="'common.label.ban' | translate">
                    </button>
                  </div>
                </div>
              </div>
            </td>
            <td class="vt-align-center">{{index+1}}</td>
            <td class="vt-align-center">{{item.code}}</td>
            <td>{{item.name}}</td>
            <td class="vt-align-center">
              <i *ngIf="item.isDefault==1" class="fas fa-check table-icon color-info"></i>
            </td>
            <td class="vt-align-center">{{item.sortOrder}}</td>
            <td>{{item.description}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
