<div class="panel panel-default">
  <form id="formSave" [formGroup]="formSave" spellcheck="false">
    <div class="panel-heading">
      <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;{{'sendWarningEmpFile.sendWarningIfo' | translate}}
      </strong>
    </div>
    <div class="panel-body padding-xl ui-g">
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
          {{'common.label.unit' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <org-selector
            [property]="f['organizationId']"
            operationKey="action.view"
            adResourceKey="resource.employeeManager"
            [isRequiredField]="true"
            [defaultValue]="true"
            (onChange)="onChangeOrgToGetEmp($event)"
            >
          </org-selector>
          <app-control-messages [control]="f['organizationId']"></app-control-messages>
        </div>
      </div>
      <div class="ui-g-8" style="margin: 0 auto;">
        <p-pickList [source]="listEmployeeSelected" [target]="listEmployeeNotSelected" [responsive]="true"
        [sourceFilterPlaceholder]="'sendWarningEmpFile.searchByName' | translate" [targetFilterPlaceholder]="'sendWarningEmpFile.searchByName' | translate"
        [showSourceControls]="false" [showTargetControls]="false"
        [sourceHeader]="'sendWarningEmpFile.lstEmployeeSendWarning' | translate" [targetHeader]="'sendWarningEmpFile.lstEmployeeNotSendWarning' | translate"
        dragdrop="true" filterBy="employeeName" [sourceStyle]="{'height':'500px'}" [targetStyle]="{'height':'500px'}">
            <ng-template let-emp pTemplate="item">
              <div class="ui-helper-clearfix">
                <img [src]="API_URL + emp.avatar" style="display:inline-block;margin:2px 0 2px 2px" width="45" height="45">
                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{emp.employeeCode}} - {{emp.employeeName}}</div>
              </div>
            </ng-template>
        </p-pickList>
      </div>
    </div>
    <div class="panel-footer vt-area-button">
      <button type="submit" (click)="processSendWarning()" class="btn btn-sm btn-info" [innerHTML]="'sendWarningEmpFile.send' | translate"></button>
    </div>
  </form>
</div>
{{responds}}




