<div *ngIf="hasPermission('action.export')">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        <span translate> reportPunishment.title</span>
      </strong>
    </div>
    <form id="reportForm" [formGroup]="reportForm">
      <div class="panel-body ui-g" style="padding: 20px 12px 0px 12px;">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'reportPunishment.reportType' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelectAll'"
              [property]="fReportForm['reportType']"
              [options]="reportTypeList"
              (onChange)="onchangeReportType($event)"
              optionLabel="name"
              optionValue="id">
            </select-filter>
            <app-control-messages [control]="fReportForm['reportType']"></app-control-messages>
          </div>
        </div>
      </div>
    </form>
    <!--Báo cáo xu hướng tăng giảm theo năm-->
    <form id="reportFormYear" [formGroup]="reportFormYear" *ngIf="reportType == 1" >
      <div class="panel-body ui-g" style="padding: 0px 12px 20px 12px;">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'personalPunishment.org' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector
              [property]="fReportFormYear['organizationId']"
              operationKey="action.view"
              adResourceKey="resource.punishment"
              [defaultValue] = "true"
              [isRequiredField] = "true"
              >
            </org-selector>
            <app-control-messages [control]="fReportFormYear['organizationId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'reportPunishment.fromYear' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="fReportFormYear['fromYear']"
              [options]="yearList"
              optionLabel="year"
              optionValue="year">
            </select-filter>
            <app-control-messages [control]="fReportFormYear['fromYear']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'reportPunishment.toYear' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="fReportFormYear['toYear']"
              [options]="yearList"
              optionLabel="year"
              optionValue="year">
            </select-filter>
            <app-control-messages [control]="fReportFormYear['toYear']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'reportPunishment.isPartyMember' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="form-check-inline ">
              <label class="i-checks">
                <input type="radio"class="form-check-input control-label" id="isPartyMember_0" [value]="0" name="isPartyMember" formControlName="isPartyMember">
                <i></i>
                {{'personalPunishment.selectAll' | translate}}
              </label>
            </div>
            <div class="form-check-inline">
              <label class="i-checks">
                <input type="radio"class="form-check-input control-label" id="isPartyMember_1" [value]="1" name="isPartyMember" formControlName="isPartyMember">
                <i></i>
                {{'personalPunishment.isParty' | translate}}
              </label>
            </div>
            <div class="form-check-inline">
              <label class="i-checks">
                <input type="radio"class="form-check-input control-label" id="isPartyMember_2" [value]="2" name="isPartyMember" formControlName="isPartyMember">
                <i></i>
                {{'personalPunishment.isNotParty' | translate}}
              </label>
            </div>
            <app-control-messages [control]="fReportFormYear['isPartyMember']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'reportPunishment.decissionLevel' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportFormYear['decissionLevelId']"
              [options]="decissionLevelList"
              optionLabel="name"
              optionValue="sysCatId">
            </select-filter>
            <app-control-messages [control]="fReportFormYear['decissionLevelId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'reportPunishment.empType' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportFormYear['empTypeId']"
              [options]="empTypeList"
              optionLabel="name"
              optionValue="empTypeId"
            ></select-filter>
            <app-control-messages [control]="fReportFormYear['empTypeId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'reportPunishment.punishmentType' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportFormYear['punishmentTypeId']"
              [options]="punishmentTypeList"
              optionLabel="name"
              optionValue="sysCatId">
            </select-filter>
            <app-control-messages [control]="fReportFormYear['punishmentTypeId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'reportPunishment.punihsmentForm' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportFormYear['punishmentFormId']"
              [options]="punishmentFormList"
              optionLabel="name"
              optionValue="sysCatId"
            ></select-filter>
            <app-control-messages [control]="fReportFormYear['punishmentFormId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'reportPunishment.partyPunishmentForm' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportFormYear['partyPunishmentFormId']"
              [options]="partyPunishmentFormList"
              optionLabel="name"
              optionValue="sysCatId">
            </select-filter>
            <app-control-messages [control]="fReportFormYear['partyPunishmentFormId']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="button" class="btn btn-sm btn-info" (click)="processExportYear()" [innerHTML]="'reportPunishment.button' | translate"></button>
      </div>
    </form>
    <!--So sánh số liệu giữa 2 thời điểm-->
    <form id="reportCompareProcessForm" [formGroup]="reportCompareProcessForm" *ngIf="reportType === 2">
      <div class="panel-body ui-g" style="padding: 0px 12px 20px 12px;">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'reportPunishment.organization' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector
              [property]="fReportCompareProcessForm['organizationId']"
              operationKey="action.view"
              adResourceKey="resource.punishment"
              [defaultValue]="true"
            >
            </org-selector>
            <app-control-messages [control]="fReportCompareProcessForm['organizationId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'reportPunishment.previousTime' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]= "fReportCompareProcessForm['previousTimeFrom']"></date-picker>
            <app-control-messages [control]="fReportCompareProcessForm['previousTimeFrom']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'reportPunishment.periodDateTo' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]= "fReportCompareProcessForm['previousTimeTo']"></date-picker>
            <app-control-messages [control]="fReportCompareProcessForm['previousTimeTo']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'reportPunishment.dataDateFrom' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]= "fReportCompareProcessForm['dataDateFrom']"></date-picker>
            <app-control-messages [control]="fReportCompareProcessForm['dataDateFrom']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'reportPunishment.dataDateTo' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]= "fReportCompareProcessForm['dataDateTo']"></date-picker>
            <app-control-messages [control]="fReportCompareProcessForm['dataDateTo']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'reportPunishment.isPartyMember' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="form-check-inline ">
              <label class="i-checks">
                <input type="radio"class="form-check-input control-label" id="isPartyMember_0" [value]="0" name="isPartyMember" formControlName="isPartyMember">
                <i></i>
                {{'personalPunishment.selectAll' | translate}}
              </label>
            </div>
            <div class="form-check-inline">
              <label class="i-checks">
                <input type="radio"class="form-check-input control-label" id="isPartyMember_1" [value]="1" name="isPartyMember" formControlName="isPartyMember">
                <i></i>
                {{'personalPunishment.isParty' | translate}}
              </label>
            </div>
            <div class="form-check-inline">
              <label class="i-checks">
                <input type="radio"class="form-check-input control-label" id="isPartyMember_2" [value]="2" name="isPartyMember" formControlName="isPartyMember">
                <i></i>
                {{'personalPunishment.isNotParty' | translate}}
              </label>
            </div>
            <app-control-messages [control]="fReportCompareProcessForm['isPartyMember']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'reportPunishment.decissionLevel' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportCompareProcessForm['decissionLevelId']"
              [options]="decissionLevelList"
              optionLabel="name"
              optionValue="sysCatId">
            </select-filter>
            <app-control-messages [control]="fReportCompareProcessForm['decissionLevelId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'reportPunishment.empType' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportCompareProcessForm['empTypeId']"
              [options]="empTypeList"
              optionLabel="name"
              optionValue="empTypeId"
            ></select-filter>
            <app-control-messages [control]="fReportCompareProcessForm['empTypeId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'reportPunishment.punishmentType' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportCompareProcessForm['punishmentTypeId']"
              [options]="punishmentTypeList"
              optionLabel="name"
              optionValue="sysCatId">
            </select-filter>
            <app-control-messages [control]="fReportCompareProcessForm['punishmentTypeId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'reportPunishment.punihsmentForm' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportCompareProcessForm['punishmentFormId']"
              [options]="punishmentFormList"
              optionLabel="name"
              optionValue="sysCatId"
            ></select-filter>
            <app-control-messages [control]="fReportCompareProcessForm['punishmentFormId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'reportPunishment.partyPunishmentForm' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportCompareProcessForm['partyPunishmentFormId']"
              [options]="partyPunishmentFormList"
              optionLabel="name"
              optionValue="sysCatId">
            </select-filter>
            <app-control-messages [control]="fReportCompareProcessForm['partyPunishmentFormId']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" class="btn btn-sm btn-info" (click)="processExportCompareProcess()" [innerHTML]="'reportPunishment.button' | translate"></button>
      </div>
    </form>
    <!--So sánh số liệu cùng kỳ trước, cùng kỳ sau-->
    <form id="reportCompareForm" [formGroup]="reportCompareForm" *ngIf="reportType === 3">
      <div class="panel-body ui-g" style="padding: 0px 12px 20px 12px;">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'reportPunishment.organization' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector
              [property]="fReportCompareForm['organizationId']"
              operationKey="action.view"
              adResourceKey="resource.punishment"
              [defaultValue]="true"
            >
            </org-selector>
            <app-control-messages [control]="fReportCompareForm['organizationId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'reportPunishment.periodDateFrom' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]= "fReportCompareForm['periodDateFrom']"></date-picker>
            <app-control-messages [control]="fReportCompareForm['periodDateFrom']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'reportPunishment.periodDateTo' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]= "fReportCompareForm['periodDateTo']"></date-picker>
            <app-control-messages [control]="fReportCompareForm['periodDateTo']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'reportPunishment.nextPeriodDateFrom' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]= "fReportCompareForm['nextPeriodDateFrom']"></date-picker>
            <app-control-messages [control]="fReportCompareForm['nextPeriodDateFrom']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'reportPunishment.nextPeriodDateTo' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]= "fReportCompareForm['nextPeriodDateTo']"></date-picker>
            <app-control-messages [control]="fReportCompareForm['nextPeriodDateTo']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'reportPunishment.dataDateFrom' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]= "fReportCompareForm['dataDateFrom']"></date-picker>
            <app-control-messages [control]="fReportCompareForm['dataDateFrom']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'reportPunishment.dataDateTo' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]= "fReportCompareForm['dataDateTo']"></date-picker>
            <app-control-messages [control]="fReportCompareForm['dataDateTo']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'reportPunishment.isPartyMember' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="form-check-inline ">
              <label class="i-checks">
                <input type="radio"class="form-check-input control-label" id="isPartyMember_0" [value]="0" name="isPartyMember" formControlName="isPartyMember">
                <i></i>
                {{'personalPunishment.selectAll' | translate}}
              </label>
            </div>
            <div class="form-check-inline">
              <label class="i-checks">
                <input type="radio"class="form-check-input control-label" id="isPartyMember_1" [value]="1" name="isPartyMember" formControlName="isPartyMember">
                <i></i>
                {{'personalPunishment.isParty' | translate}}
              </label>
            </div>
            <div class="form-check-inline">
              <label class="i-checks">
                <input type="radio"class="form-check-input control-label" id="isPartyMember_2" [value]="2" name="isPartyMember" formControlName="isPartyMember">
                <i></i>
                {{'personalPunishment.isNotParty' | translate}}
              </label>
            </div>
            <app-control-messages [control]="fReportCompareForm['isPartyMember']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'reportPunishment.decissionLevel' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportCompareForm['decissionLevelId']"
              [options]="decissionLevelList"
              optionLabel="name"
              optionValue="sysCatId">
            </select-filter>
            <app-control-messages [control]="fReportCompareForm['decissionLevelId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'reportPunishment.empType' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportCompareForm['empTypeId']"
              [options]="empTypeList"
              optionLabel="name"
              optionValue="empTypeId"
            ></select-filter>
            <app-control-messages [control]="fReportCompareForm['empTypeId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'reportPunishment.punishmentType' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportCompareForm['punishmentTypeId']"
              [options]="punishmentTypeList"
              optionLabel="name"
              optionValue="sysCatId">
            </select-filter>
            <app-control-messages [control]="fReportCompareForm['punishmentTypeId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'reportPunishment.punihsmentForm' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportCompareForm['punishmentFormId']"
              [options]="punishmentFormList"
              optionLabel="name"
              optionValue="sysCatId"
            ></select-filter>
            <app-control-messages [control]="fReportCompareForm['punishmentFormId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'reportPunishment.partyPunishmentForm' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="'common.label.cboSelect'"
              [property]="fReportCompareForm['partyPunishmentFormId']"
              [options]="partyPunishmentFormList"
              optionLabel="name"
              optionValue="sysCatId">
            </select-filter>
            <app-control-messages [control]="fReportCompareForm['partyPunishmentFormId']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" class="btn btn-sm btn-info" (click)="processExportCompare()" [innerHTML]="'reportPunishment.button' | translate"></button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="!hasPermission('action.export')">
  {{'common.haveNoPermission' | translate}}
</div>