<div *ngIf="hasPermission('action.view')">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong title="{{'app.settings.category.standardGrouptitle' | translate}}">
        <span translate> app.settings.category.standardGrouptitle</span>
      </strong>
    </div>
    <div class="panel-body" style="border-left: 1px solid #D7E2E3; border-right: 1px solid #D7E2E3; border-bottom: 1px solid #D7E2E3; border-radius: 0 0 8px 8px;">
      <p-scrollPanel [style]="{width: '100%', height: '700px'}" style="overflow-x:hidden;"
              styleClass="custombar2 custombar3 clearfix nopadding-custombar">
        <div class="panel-body vt-nopadding">
          <div class="table-responsive" style="width: 100%; margin: 0px;">
            <table class="table table-wrapper table-hover">
              <thead class="ui-table-thead">
                <tr>
                  <th translate class="size-1 " >common.table.index</th>
                  <th translate>app.settings.category.nameGroupPostion</th>
                </tr>
                <tr>
                  <th colspan="2">
                    <input placeholder="{{'app.settings.category.searchBynameGroupPostion' | translate}}" class="input-sm form-control" type="search" [(ngModel)]="catTypeFillter" id="searchCategoryType" maxlength="200"/>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of resultList | filter : catTypeFillter; index as i" [ngClass]="{'bg-info' : item.categoryId === categoryId}" (click)="onSelectCategory(item)" id="categoryTypeTable">
                  <td class="vt-align-center">{{i + 1}}</td>
                  <td>{{item.code}} - {{item.name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </p-scrollPanel>
    </div>
  </div>
</div>
