<div class="modal-body">
  <div id="searchArea"></div>
  <div class="panel panel-default">
    <form id="formSave">
      <div class="panel-heading">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <!-- <span *ngIf="option == 1" translate> rewardPropose.importGroup</span>
          <span *ngIf="option == 2" translate> rewardPropose.importEmployee</span> -->
          <span translate>rewardPropose.importRewardPropose</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <button style="display: inline-block;" (click)="activeModal.close()"
            title="{{'common.button.close' | translate}}" class="btn btn-sm btn-info btn-span btn-close"><i
              class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g" style="justify-content: center;">
        <label class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-left required">
          {{'controls.choseFile' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <file-chooser [property]="f['fileImport']" validMaxSize="50" validType="xls">
          </file-chooser>
          <app-control-messages [control]="f['fileImport']"></app-control-messages>
          <br>
          <a class="text-link" (click)="processDownloadTemplate();">
            <span translate><i class="fa fa-download"></i> app.common.downloadTemplate</span>
          </a>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processImport()" class="btn btn-sm btn-info" [autoFocus]="true"
          [innerHTML]="'bonusType.import' | translate"></button>
        <button type="button" class="btn btn-sm btn-danger"
          [innerHTML]="'common.button.out' | translate" (click)="activeModal.close()"></button>
      </div>
    </form>
  </div>
  <div *ngIf="dataError">
    <import-error [data]="dataError"></import-error>
  </div>
</div>
