.li-par-type {
    /*background-color: var(--background-button) !important;*/
    /*border-color: var(--background-button);*/
    /*color: #fff;*/
    display: flex;
    align-items: center;
    min-height: 28px;
  }

.par-type {
    /*background-color: var(--background-button) !important;*/
    /*border-color: var(--background-button);*/
    /*color: #fff;*/
    background-color:rgba(246,183,109,0.4) !important;
    border-color: rgba(246,183,109,0.4) !important;
    color: rgba(170,11,5,1) !important;
}

.panel-heading > strong {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 9px 12px 9px 7px;
  font-size: 16px;
}
.panel-heading > strong::after,
.panel-heading > strong::before {
  position: absolute;
  content: "";
  background-color: unset;
  z-index: 2;
  width: 12px;
  height: 43px;
  right: -3px;
  top: -7px;
  transform: rotate(30deg);
}
.panel-heading > strong::after {
  background-color: unset;
  z-index: 1;
  right: -10px;
  top: -7px;
  height: 45px;
}
.panel-heading{
  padding-bottom: 10px;
}

.index {
    border: 1px solid rgba(246,183,109,1);
    border-left: 0;
}

.group-category {
    border: 1px solid rgba(246,183,109,1);
    border-left: 0;
    border-right: 0;
}

  
