<div id="listArea">
  <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong>
          <span class="title-info">Danh sách tổ chức Đảng phải thực hiện yêu cầu theo cấp</span>
        </strong>
      </div>
      <div class="panel-body panel-table" style="padding: 16px;">
        <div>
          <p-table
            #ptable
            [value]="resultList.data"
            [paginator]="true"
            (onLazyLoad)="processSearch($event)"
            [lazy]="true" [rows]="changeRow"
            [totalRecords]="resultList.recordsTotal"
            [scrollable]="true"
            [lazyLoadOnInit]="false"
            tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
            [resizableColumns]="true" 
            styleClass="controlOverflow"
          >
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col style="width: 50px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate pResizableColumn>common.table.index</th>
                <th [pSortableColumn]="'partyOrganizationName'" pResizableColumn>
                  Tên tổ chức
                  <p-sortIcon [field]="'partyOrganizationName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'partyParentName'" pResizableColumn>
                  Tổ chức Đảng cấp trên
                  <p-sortIcon [field]="'partyParentName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'massOrganizationEmployee'" pResizableColumn>
                  Đầu mối nghị quyết
                  <p-sortIcon [field]="'massOrganizationEmployee'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'partyType'" pResizableColumn>
                  Cấp tổ chức Đảng
                    <p-sortIcon [field]="'partyType'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'createdDate'" pResizableColumn>
                  Ngày tạo yêu cầu
                  <p-sortIcon [field]="'createdDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'createdBy'" pResizableColumn>
                  Người tạo
                  <p-sortIcon [field]="'createdBy'"></p-sortIcon>
                  </th>
                <th [pSortableColumn]="'status'" pResizableColumn>
                  Trạng thái
                  <p-sortIcon [field]="'status'" ></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">{{index}}</td>
                <td class="vt-align-left">{{item.partyOrganizationName}}</td>
                <td class="vt-align-left">{{item.partyParentName}}</td>
                <td class="vt-align-left">{{this.getFirstPartEmail(item)}}</td>
                <td class="vt-align-left">{{item.partyType}}</td>
                <td class="vt-align-center">{{item.createdDate | displayDate}}</td>
                <td class="vt-align-center">{{item.createdBy == 'ROBOT_SCHEDULE'? 'Tạo tự động': item.createdBy}}</td>
                <td class="vt-align-center">{{'requestSolutionMonth.response.status.' + item.status | translate}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                <td [attr.colspan]="14" [innerHTML]="'app.noRecords' | translate">
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
        </div>
      </div>
  </div>
</div>
