<div class="card-form">
    <div class="clearfix">
      <div class="left-nav-bar pull-left row-header">
        <div>
          <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png" (click)="goBack();">
          <span *ngIf="view" class="title">{{'relativeAbroad.view' | translate}}</span>
          <span *ngIf="update" class="title">{{'relativeAbroad.update' | translate}}</span>
          <span *ngIf="create" class="title">{{'relativeAbroad.create' | translate}}</span>
        </div>
      </div>
      <div class="right-nav-bar pull-right left-option">
          <ul class="header-right sys-ul space-line">
            <li>
              <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="goBack();" [innerHTML]="'common.button.out' | translate">
              </button>
            </li>
            <li *ngIf="!view">
              <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="processSaveOrUpdate()" [innerHTML]="'common.button.icon.save' | translate">
              </button>
            </li>
          </ul>
      </div>
    </div>
</div>
<div class="info">
    <div class="panel panel-default card-info">
        <form id="formSave" [formGroup]="formSave">
            <div class="panel-heading vt-relative">
                <strong>
                    <!-- <span *ngIf="view" >{{'relativeAbroad.view' | translate}}</span>
                    <span *ngIf="update" >{{'relativeAbroad.update' | translate}}</span>
                    <span *ngIf="create" >{{'relativeAbroad.create' | translate}}</span> -->
                    <span class="ml-2 title-info">Thông tin người thân của CBNV đang ở nước ngoài</span>
                </strong>
            </div>
            <div class="panel-body padding-xl ui-g">
                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right required">
                        {{'studyAbroad.employee' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <data-picker
                            #data
                            [property]="f['employeeId']"
                            systemCode="political"
                            operationKey="action.view"
                            adResourceKey="resource.securityProtection"
                            objectBO="EmployeeBO"
                            codeField="employeeCode"
                            nameField="fullName"
                            emailField="email"
                            mobileNumberField="mobileNumber"
                            selectField="employeeId"
                            isNotSearchByOrgDomainData="true"
                        >
                        </data-picker>
                        <app-control-messages [control]="f['employeeId']"></app-control-messages>
                    </div>
                    <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right required">
                        {{'relativeAbroad.relativeName' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <input type="text"
                               class="form form-control"
                               name="relativeName"
                               formControlName="relativeName"
                               maxlength="255"
                               [attr.disabled]="view? true : null"
                               [autoFocus]="update? true : null">
                        <app-control-messages [control]="f['relativeName']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right required">
                        {{'relativeAbroad.relationship' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <select-filter
                                [placeHolder]="'common.label.cboSelectAll'"
                                [property]="f['relationship']"
                                [options]="relationshipList"
                                [attr.disabled]="view? true : null"
                                optionLabel="name"
                                optionValue="sysCatId"
                        ></select-filter>
    <!--                    <input type="text"-->
    <!--                           class="form form-control"-->
    <!--                           name="relationship"-->
    <!--                           formControlName="relationship"-->
    <!--                           maxlength="255"-->
    <!--                           [attr.disabled]="view? true : null"-->
    <!--                           [autoFocus]="update? true : null">-->
                        <app-control-messages [control]="f['relationship']"></app-control-messages>
                    </div>
                    <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right required">
                        {{'relativeAbroad.nationality' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <select-filter
                                [placeHolder]="'common.label.cboSelect'"
                                [property]="f['nationality']"
                                [options]="nationList"
                                optionLabel="name"
                                optionValue="nationId"
                        ></select-filter>
    <!--                    <input type="text"-->
    <!--                           class="form form-control"-->
    <!--                           name="nationality"-->
    <!--                           formControlName="nationality"-->
    <!--                           maxlength="255"-->
    <!--                           [attr.disabled]="view? true : null"-->
    <!--                           [autoFocus]="update? true : null">-->
                        <app-control-messages [control]="f['nationality']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right required">
                        {{'relativeAbroad.reasonAbroad' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <input type="text"
                               class="form form-control"
                               name="reasonAbroad"
                               formControlName="reasonAbroad"
                               maxlength="255"
                               [attr.disabled]="view? true : null"
                               [autoFocus]="update? true : null">
                        <app-control-messages [control]="f['reasonAbroad']"></app-control-messages>
                    </div>
                    <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right required">
                        {{'relativeAbroad.address' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <input type="text"
                               class="form form-control"
                               name="address"
                               formControlName="address"
                               maxlength="255"
                               [attr.disabled]="view? true : null"
                               [autoFocus]="update? true : null">
                        <app-control-messages [control]="f['address']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                        {{'relativeAbroad.organizationName' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <input type="text"
                               class="form form-control"
                               name="organizationName"
                               formControlName="organizationName"
                               maxlength="255"
                               [attr.disabled]="view? true : null"
                               [autoFocus]="update? true : null">
                        <app-control-messages [control]="f['organizationName']"></app-control-messages>
                    </div>
                    <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right required">
                        {{'relativeAbroad.country' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <select-filter
                                [placeHolder]="'common.label.cboSelect'"
                                [property]="f['country']"
                                [options]="nationList"
                                optionLabel="name"
                                optionValue="nationId"
                        ></select-filter>
    <!--                    <input type="text"-->
    <!--                           class="form form-control"-->
    <!--                           name="country"-->
    <!--                           formControlName="country"-->
    <!--                           maxlength="255"-->
    <!--                           [attr.disabled]="view? true : null"-->
    <!--                           [autoFocus]="update? true : null">-->
                        <app-control-messages [control]="f['country']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right ">
                        {{'relativeAbroad.organizationAddress' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <input type="text"
                               class="form form-control"
                               name="organizationAddress"
                               formControlName="organizationAddress"
                               maxlength="255"
                               [attr.disabled]="view? true : null"
                               [autoFocus]="update? true : null">
                        <app-control-messages [control]="f['organizationAddress']"></app-control-messages>
                    </div>
                    <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right required">
                        {{'relativeAbroad.timeAbroad' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <date-picker
                                [property]="f['timeAbroad']"
                                [disabled]="view">
                        </date-picker>
                        <app-control-messages [control]="f['timeAbroad']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right required">
                        {{'relativeAbroad.expenseAbroad' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <input type="text"
                               class="form form-control"
                               name="expenseAbroad"
                               formControlName="expenseAbroad"
                               maxlength="255"
                               [attr.disabled]="view? true : null"
                               [autoFocus]="update? true : null">
                        <app-control-messages [control]="f['expenseAbroad']"></app-control-messages>
                    </div>
                    <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right required">
                        {{'relativeAbroad.passportNumber' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <input type="text"
                               class="form form-control"
                               name="passportNumber"
                               formControlName="passportNumber"
                               maxlength="255"
                               [attr.disabled]="view? true : null"
                               [autoFocus]="update? true : null">
                        <app-control-messages [control]="f['passportNumber']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right required">
                        {{'relativeAbroad.passportDate' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <date-picker
                                [property]="f['passportDate']"
                                [disabled]="view">
                        </date-picker>
                        <app-control-messages [control]="f['passportDate']"></app-control-messages>
                    </div>
                    <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right required">
                        {{'workedAbroad.passportPlace' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <input type="text"
                               class="form form-control"
                               name="passportPlace"
                               formControlName="passportPlace"
                               maxlength="255"
                               [attr.disabled]="view? true : null"
                               [autoFocus]="update? true : null">
                        <app-control-messages [control]="f['passportPlace']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                        {{'relativeAbroad.settlementTime' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <date-picker
                                [property]="f['settlementTime']"
                                [disabled]="view">
                        </date-picker>
                        <app-control-messages [control]="f['settlementTime']"></app-control-messages>
                    </div>
                    <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
                        {{'relativeAbroad.politicalAttitude' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-3 ui-lg-3">
                        <input type="text"
                               class="form form-control"
                               name="politicalAttitude"
                               formControlName="politicalAttitude"
                               maxlength="255"
                               [attr.disabled]="view? true : null"
                               [autoFocus]="update? true : null">
                        <app-control-messages [control]="f['politicalAttitude']"></app-control-messages>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
