<div class="modal-body">
  <form id="formSave" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('massGroupId').value" translate> massGroup.label.addNew</span>
          <span *ngIf="formSave.get('massGroupId').value" translate> massGroup.label.edit</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
            class="btn btn-span btn-sm btn-info btn-close"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <!-- row 1 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'massGroup.titleField.employee' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <data-picker
              [property]="f['employeeId']"
              systemCode="political"
              operationKey="action.view"
              adResourceKey="resource.massGroup"
              objectBO="EmployeeBO"
              codeField="employeeCode"
              nameField="fullName"
              emailField="email"
              mobileNumberField="mobileNumber"
              selectField="employeeId"
              filterCondition=" and obj.status = 1 "
              isRequiredField="true"
              [disabled]="isEdit ? true : false">
            </data-picker>
            <app-control-messages [control]="f['employeeId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'massGroup.titleField.category' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <multi-select-filter [property]="f['categoryIdList']"
              [options]="categoryList"
              optionLabel="name"
              optionValue="categoryId"
              [filterPlaceHolder]="'common.label.cboMustSelect'"
              (placeHolder)="'common.label.cboMustSelect'"
              maxSelectedLabels="100"
            >
            </multi-select-filter>
            <app-control-messages [control]="f['categoryIdList']"></app-control-messages>
          </div>
        </div>
        <!-- row 2-->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'massGroup.titleField.year' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['massGroupYear']" [options]="yearList" optionLabel="year" optionValue="year"
              [placeHolder]="'common.label.cboMustSelect'">
            </select-filter>
            <app-control-messages [control]="f['massGroupYear']"></app-control-messages>
          </div>
        </div>
        <!-- row 3 -->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'massGroup.titleField.note' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-10">
            <textarea type="text" rows="4" name="note" class="form-control" formControlName="note" maxlength="1000" autofocus="true"></textarea>
            <app-control-messages [control]="f['note']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
          [innerHTML]="'common.button.icon.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"
          [innerHTML]="'common.button.out' | translate"></button>
      </div>
    </div>
  </form>
</div>
