<div class="card-emp">
  <div id="educationProcess" class="card card-info">
    <div class="card-header">
      <div>
        <img class="header-icon" [ngClass]="{'transform-icon': hideEducationProcess === true}" src="./../../../../../../assets/images/home/Group_18932.png" (click)="hideEducationProcess = !hideEducationProcess">
        <span translate> partymanager.label.educationProcess</span>
      </div>
    </div>
    <div *ngIf="!hideEducationProcess" class="card-body">
      <div class="panel-body panel-table">
        <p-table
          #pTable
          [value]="listEducationProcess.data"
          [paginator]="true"
          (onLazyLoad)="processSearch($event)"
          [lazy]="true" [rows]="changeRow"
          [totalRecords]="listEducationProcess.recordsTotal"
          [scrollable]="true"
          [responsive]="true"
          [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
          [resizableColumns]="true"
          styleClass="controlOverflow"
          class="table-view"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 50px;">
              <col style="width: 200px;">
              <col style="width: 200px;">
              <col style="width: 100px;">
              <col style="width: 200px;">
              <col style="width: 200px;">
              <col style="width: 200px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 200px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate pResizableColumn>common.table.index</th>
              <th translate pResizableColumn>partymanager.label.educationProcess.degreeDecissionNumber</th>
              <th translate pResizableColumn>partymanager.label.educationProcess.degreeName</th>
              <th translate pResizableColumn>partymanager.label.educationProcess.issuedDate</th>
              <th translate pResizableColumn>partymanager.label.educationProcess.unit</th>
              <th translate pResizableColumn>partymanager.label.educationProcess.levelOfEducation</th>
              <th translate pResizableColumn>partymanager.label.educationProcess.specializeTraining</th>
              <th translate pResizableColumn>partymanager.label.educationProcess.mark</th>
              <th translate pResizableColumn>partymanager.label.educationProcess.graduationGrade</th>
              <th translate pResizableColumn>partymanager.label.educationProcess.from</th>
              <th translate pResizableColumn>partymanager.label.educationProcess.to</th>
              <th translate pResizableColumn>partymanager.label.educationProcess.isMainProcess</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-left">{{item.degreeDecissionNumber}}</td>
              <td class="vt-align-left">{{item.degreeName}}</td>
              <td class="vt-align-left">{{item.dateOfIssue | displayDate}}</td>
              <td class="vt-align-left">{{item.placeOfIssue}}</td>
              <td class="vt-align-left">{{item.educationGrade}}</td>
              <td class="vt-align-left">{{item.educationSubject}}</td>
              <td class="vt-align-left">{{item.graduationPoint}}</td>
              <td class="vt-align-left">{{item.graduatedRank}}</td>
              <td class="vt-align-left">{{item.studyStartDate | displayDate}}</td>
              <td class="vt-align-left">{{item.studyEndDate | displayDate}}</td>
              <td class="vt-align-center">
                <i class="fa fa-check color-info" *ngIf="item.isMainEduForm === 1"></i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="13" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="listEducationProcess"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
