<div class="panel-body panel-table">
  <p-table
    #pTable
    [value]="resultList.data"
    [paginator]="true"
    (onLazyLoad)="processSearch($event)"
    [lazy]="true" [rows]="changeRow"
    [totalRecords]="resultList.recordsTotal"
    [scrollable]="true"
    [lazyLoadOnInit]="false"
    tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
    [resizableColumns]="true"
  >
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col style="width: 50px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th translate pResizableColumn>common.table.index</th>
        <th translate pResizableColumn>employee360.insuranceProcess.status</th>
        <th translate pResizableColumn>employee360.insuranceProcess.inOut</th>
        <th translate pResizableColumn>employee360.insuranceProcess.insuranceFormName</th>
        <th translate pResizableColumn>employee360.insuranceProcess.numberInsurrance</th>
        <th translate pResizableColumn>employee360.insuranceProcess.signDate</th>
        <th translate pResizableColumn>employee360.insuranceProcess.formMonth</th>
        <th translate pResizableColumn>employee360.insuranceProcess.toMonth</th>
        <th translate pResizableColumn>employee360.insuranceProcess.isInterrupt</th>
        <th translate pResizableColumn>employee360.insuranceProcess.isDeduct</th>
        <th translate pResizableColumn>employee360.insuranceProcess.isInsurance</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex+1">
      <tr>
        <td class="vt-align-center">{{index}}</td>
        <td class="vt-align-center">
          <span *ngIf="item.status === 1">{{'employee360.missionRegister.noneApprove' | translate}}</span>
          <span *ngIf="item.status === 0">{{'employee360.missionRegister.approved' | translate}}</span>
        </td>
        <td class="vt-align-center">
          <span *ngIf="item.inOut === 1">{{'employee360.insuranceProcess.out' | translate}}</span>
          <span *ngIf="item.inOut === 0">{{'employee360.insuranceProcess.in' | translate}}</span>
        </td>
        <td class="vt-align-center">{{item.insuranceFormName}}</td>
        <td class="vt-align-center">{{item.numberInsurrance}}</td>
        <td class="vt-align-center">{{item.signDate | displayDate}}</td>
        <td class="vt-align-center">{{item.fromMonth | displayDate}}</td>
        <td class="vt-align-center">{{item.toMonth | displayDate}}</td>
        <td class="vt-align-center">
          <span *ngIf="item.isInterrupt === 1">{{'employee360.insuranceProcess.interrupt' | translate}}</span>
          <span *ngIf="item.isInterrupt === 2">{{'employee360.insuranceProcess.notInterrupt' | translate}}</span>
        </td>
        <td class="vt-align-center">
          <span *ngIf="item.isDeduct === 1">{{'employee360.insuranceProcess.deduct' | translate}}</span>
          <span *ngIf="item.isDeduct === 2">{{'employee360.insuranceProcess.notDeduct' | translate}}</span>
        <td class="vt-align-center">{{item.isInsurance}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="emptymessage">
        <td [attr.colspan]="10" [innerHTML]="'app.noRecords' | translate">
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
    </ng-template>
  </p-table>
</div>
