<div class="card-form">
    <div class="clearfix">
      <div class="left-nav-bar pull-left row-header">
        <div>
          <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png" (click)="goBack();">
          <span *ngIf="isInsert" class="title" translate> tab.rewardCategory.label.fundingInsert</span>
          <span *ngIf="isEdit" class="title" translate> tab.rewardCategory.label.fundingUpdate</span>
          <span *ngIf="isView" class="title" translate> tab.rewardCategory.label.fundingView</span>
        </div>
      </div>
      <div class="right-nav-bar pull-right left-option">
          <ul class="header-right sys-ul space-line">
            <li>
              <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="goBack();" [innerHTML]="'common.button.out' | translate">
              </button>
            </li>
            <li *ngIf="!isView">
              <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="processSaveOrUpdate()" [innerHTML]="'common.button.icon.save' | translate">
              </button>
            </li>
            <li *ngIf="isView">
                <button class="btn btn-sm vt-btn btn-submit mt-btn btn-header-right ng-star-inserted" type="button" (click)="navigate()" [innerHTML]="'common.button.icon.edit' | translate">
                </button>
            </li>
          </ul>
      </div>
    </div>
</div>
<div class="info">
    <div *ngIf="(hasPermission('action.update') && isEdit) || (hasPermission('action.insert') && isInsert || isView) ">
        <div class="panel panel-default card-info">
            <form id="formSave" [formGroup]="formSave">
                <div class="panel-heading">
                    <strong>
                        <!-- <span *ngIf="isInsert" translate> tab.rewardCategory.label.fundingInsert</span>
                        <span *ngIf="isEdit" translate> tab.rewardCategory.label.fundingUpdate</span>
                        <span *ngIf="isView" translate> tab.rewardCategory.label.fundingView</span> -->
                        <span class="ml-2 title-info">Thông tin danh mục nguồn kinh phí</span>
                    </strong>
                </div>
                <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right required">
                            {{'rewardCategoryFunding.funding' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form form-control" name="funding" formControlName="funding"
                                   [attr.disabled]="isView? true: null"
                                   maxlength="250">
                            <app-control-messages [control]="f['funding']"></app-control-messages>
                        </div>
                        <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right required">
                            {{'rewardCategoryFunding.fundingCode' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form form-control" name="fundingCode" formControlName="fundingCode"
                                   [attr.disabled]="isView? true: null"
                                   (input)="onCheckFundingCode()"
                                   maxlength="50">
                            <app-control-messages [control]="f['fundingCode']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                            {{'rewardCategoryFunding.expriedDate' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <date-picker [property]="f['expriedDate']" [disabled]="isView? true: null"></date-picker>
                            <app-control-messages [control]="f['expriedDate']"></app-control-messages>
                        </div>

                       
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div *ngIf="(hasPermission('action.update') && isEdit) || (hasPermission('action.insert') && isInsert || isView) ">
        <div class="panel panel-default card-info">
            <form id="formSave" [formGroup]="formSave">
                <div class="panel-heading">
                    <strong>
                        <span class="ml-2 title-info" translate>tab.rewardCategory.label.account</span>
                    </strong>
                </div>
                <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                            {{'app.settings.account.accountInKind' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form-control" formControlName="accountInKind"
                                   [attr.disabled]="isView || isDefaultF03? true: null"
                                   maxlength="100">
                            <app-control-messages [control]="f['accountInKind']"></app-control-messages>
                        </div>
    
                        <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
                            {{'app.settings.account.accountInCash' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form-control" formControlName="accountInCash"
                                   [attr.disabled]="isView || isDefaultF03? true: null"
                                   maxlength="100">
                            <app-control-messages [control]="f['accountInCash']"></app-control-messages>
                        </div>
                    </div>
    
                    <div class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                            {{'app.settings.account.accountDepenUnplan' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form-control" formControlName="accountDepenUnplan"
                                   [attr.disabled]="isView || isDefaultF03? true: null"
                                   maxlength="100">
                            <app-control-messages [control]="f['accountDepenUnplan']"></app-control-messages>
                        </div>
    
                        <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
                            {{'app.settings.account.accountDepenPlan' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form-control" formControlName="accountDepenPlan"
                                   [attr.disabled]="isView || isDefaultF03? true: null"
                                   maxlength="100">
                            <app-control-messages [control]="f['accountDepenPlan']"></app-control-messages>
                        </div>
                    </div>
    
                    <div class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                            {{'app.settings.account.accountDepenActive' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form-control" formControlName="accountDepenActive"
                                   [attr.disabled]="isView || isDefaultF03? true: null"
                                   maxlength="100">
                            <app-control-messages [control]="f['accountDepenActive']"></app-control-messages>
                        </div>
    
                        <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
                            {{'app.settings.account.accountIndepenUnplan' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form-control" formControlName="accountIndepenUnplan"
                                   [attr.disabled]="isView || isDefaultF03? true: null"
                                   maxlength="100">
                            <app-control-messages [control]="f['accountIndepenUnplan']"></app-control-messages>
                        </div>
                    </div>
    
                    <div class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                            {{'app.settings.account.accountIndepenPlan' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form-control" formControlName="accountIndepenPlan"
                                   [attr.disabled]="isView || isDefaultF03? true: null"
                                   maxlength="100">
                            <app-control-messages [control]="f['accountIndepenPlan']"></app-control-messages>
                        </div>
    
                        <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
                            {{'app.settings.account.accountBod' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form-control" formControlName="accountBod"
                                   [attr.disabled]="isView || isDefaultF03? true: null"
                                   maxlength="100">
                            <app-control-messages [control]="f['accountBod']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                            {{'app.settings.account.accountWelfare' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form-control" formControlName="accountWelfare"
                                   [attr.disabled]="isView || isDefaultF03? true: null"
                                   maxlength="100">
                            <app-control-messages [control]="f['accountWelfare']"></app-control-messages>
                        </div>

                        <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
                            {{'app.settings.account.accountUnionHeadquarter' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form-control" formControlName="accountUnionHeadquarter"
                                   [attr.disabled]="isView || isDefaultF03? true: null"
                                   maxlength="100">
                            <app-control-messages [control]="f['accountUnionHeadquarter']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                            {{'app.settings.account.accountUnionLocal' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form-control" formControlName="accountUnionLocal"
                                   [attr.disabled]="isView || isDefaultF03? true: null"
                                   maxlength="100">
                            <app-control-messages [control]="f['accountUnionLocal']"></app-control-messages>
                        </div>

                        <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
                            {{'app.settings.account.accountUnionProvince' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form-control" formControlName="accountUnionProvince"
                                   [attr.disabled]="isView || isDefaultF03? true: null"
                                   maxlength="100">
                            <app-control-messages [control]="f['accountUnionProvince']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                            Trợ cấp khó khắn KĐL
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form form-control" name="accountAllowanceIndepenent" formControlName="accountAllowanceIndepenent"
                                   [attr.disabled]="isView? true: null"                                   
                                   maxlength="50">
                            <!-- <app-control-messages [control]="f['fundingCode']"></app-control-messages> -->
                        </div>
                        <div  *ngIf="formSave.get('fundingCode').value && (formSave.get('fundingCode').value ==='f72'||formSave.get('fundingCode').value ==='F72' ) ">

                        </div>
                        <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
                            Đảng phí được sử dụng
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form form-control" name="accountPartyFees" formControlName="accountPartyFees"
                                   [attr.disabled]="isView? true: null"                                   
                                   maxlength="50">
                            
                        </div>
                    </div>
                    <div class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                            Phải trả khác
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <input type="text" class="form form-control" name="accountAllowanceOther" formControlName="accountAllowanceOther"
                                   [attr.disabled]="isView? true: null"
                                   maxlength="50">
                            <!-- <app-control-messages [control]="f['fundingCode']"></app-control-messages> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div
            *ngIf="(!hasPermission('action.update') && isEdit) || (!hasPermission('action.insert') && isInsert || !hasPermission('action.update'))">
        {{'common.haveNoPermission' | translate}}
    </div>
</div>
