<div *ngIf="hasPermission('action.view')">
    <div class="row">
      <div class="col-md-3">
        <mass-org-tree
        #orgTree
        operationKey="action.view"
        adResourceKey="resource.massOrganization"
        (treeSelectNode)="treeSelectNode($event)"
        height="840"
        showAll ="true"
        isGetAll = "false"
        [branch] = "branch">
        </mass-org-tree>
      </div>
      <div class="col-md-9 no-padding-left">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
  