<div class="modal-body">
  <form id="frmSaveSysCat" [formGroup]="formSave">
      <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span *ngIf="!formSave.get('settingIconId').value" translate> app.settings.settingIcon.settingIconAdd</span>
              <span *ngIf="formSave.get('settingIconId').value" translate> app.settings.settingIcon.settingIconEdit</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info btn-close"><i class="fa fa-times"></i></span>
            </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'app.settings.settingIcon.iconType' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [placeHolder]="'common.label.cboMustSelect'"
                [property]="f['iconType']" 
                [options]="iconTypeList" 
                optionLabel="name"
                optionValue="categoryId">
              </select-filter>
              <app-control-messages [control]="f['iconType']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
              {{'app.settings.settingIcon.iconName' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="text" class="form-control" formControlName="iconName" maxlength="100">
              <app-control-messages [control]="f['iconName']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                {{'app.empTypeProcess.attachmentFile' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <file-chooser
                [property]="f['file']"
                [validMaxSize]="50"
                validType="jpg,png">
              </file-chooser>
              <app-control-messages [control]="f['file']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.icon.save' | translate"></button>
            <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
        </div>
      </div>
  </form>
</div>
