<div class="panel panel-default" *ngIf="(hasPermission('action.update') && vicinityPositionPlanId) || (hasPermission('action.insert') && !vicinityPositionPlanId)">
  <form id="formSave" [formGroup]="formSave">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>&nbsp;
        <span *ngIf="!vicinityPositionPlanId" translate>vicinityPlan.vicinityPositionPlan.add</span>
        <span *ngIf="vicinityPositionPlanId" translate>vicinityPlan.vicinityPositionPlan.update</span>
      </strong>
    </div>
    <div class="panel-body padding-xl ui-g">
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
          {{'document.label.organization' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <org-selector
            [property]="f['organizationId']" 
            operationKey="action.view" 
            adResourceKey="resource.employeeManager"
            [defaultValue]="true"
            [isRequiredField]="true"
            [autoFocus]="true"
            (onChange)="onChangeOrganization($event)"
          >
          </org-selector>
          <app-control-messages [control]="f['organizationId']"></app-control-messages>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required" >
          {{'vicinityPlan.vicinityPositionPlan.document' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <data-picker
            [property]="f['documentId']"
            systemCode="political"
            operationKey="action.view"
            adResourceKey="resource.employeeManager"
            objectBO="DocumentBO"
            nameField="documentName"
            codeField="documentNumber"
            selectField="documentId"
            isRequiredField="true"
            filterCondition=" AND curdate()
              BETWEEN obj.effective_date and
              IFNULL(obj.exprited_date, curdate())
              AND branch = 2
              AND is_deleted = 0 
              AND EXISTS (
                SELECT 1 FROM document_type dt
                WHERE dt.branch = 2
                AND dt.name = 'Quy hoạch cán bộ'
                AND dt.document_type_id = obj.document_type_id
              ) "
          >
          </data-picker>
          <app-control-messages [control]="f['documentId']"></app-control-messages>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
          {{'common.label.title' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <select-filter 
            [placeHolder]="'common.label.cboMustSelect'"
            [property]="f['positionId']" 
            [options]="lstPosition" 
            optionLabel="positionName" 
            optionValue="positionId"
          >
          </select-filter>
          <app-control-messages [control]="f['positionId']"></app-control-messages>
        </div>
      </div>

      <!-- Nhân sự kế cận -->
      <div class="border-tabpanel" style="margin-top: 20px; margin-bottom: 0px;">
        <div class="panel-heading" >
          <strong class="text-u-c" style="padding: 5px 20px 5px 15px;" translate>
            <span class="glyphicon glyphicon-th" style="font-weight: normal; font-size: 11px !important">
              <i class="fa fa-th"></i>&nbsp;
              vicinityPlan.vicinityPositionPlan.vicinityEmployee
            </span>
          </strong>
        </div>
        <form id="lstVicinityEmployeeForm" [formGroup]="lstVicinityEmployeeForm">
          <div class="panel-body panel-table">
            <p-table [scrollable]="false" [value]="lstVicinityEmployeeForm.controls"
              tableStyleClass="table controls-table table-wrapper b-t b-b">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-3">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th translate><span [ngClass]="'required'">vicinityPlan.vicinityPositionPlan.employee</span></th>
                  <th translate><span>vicinityPlan.vicinityPositionPlan.position</span></th>
                  <th translate>common.label.action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr [formGroup]="item">
                  <td class="vt-align-center">
                    {{index+1}}
                  </td>
                  <td>
                    <data-picker 
                      [property]="item.controls.employeeId" 
                      systemCode="political" 
                      operationKey="action.view"
                      adResourceKey="resource.employeeManager" 
                      objectBO="EmployeeBO" 
                      codeField="employeeCode"
                      nameField="fullName"
                      emailField="email"
                      mobileNumberField="mobileNumber"
                      selectField="employeeId" 
                      [isRequiredField]="true"
                      (onChange)="loadUserInfo($event, item)"
                      [filterCondition]="' AND obj.status = 1'"
                    >
                    </data-picker>
                    <app-control-messages [control]="item.controls.employeeId"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" [attr.disabled]="true" formControlName="mainPositionName" name="mainPositionName"
                    class="form-control" maxlength="200">
                    <app-control-messages [control]="item.controls.mainPositionName"></app-control-messages>
                  </td>
                  <td class="vt-align-center">
                    <button class="btn-icon plus" type="button" [title]="'titleAdd' | translate"
                      (click)="addVicinityEmployeeRow(index, item)" [innerHTML]="'common.icon.plus' | translate">
                    </button>
                    <button class="btn-icon minus" type="button" [title]="'titleDelete' | translate"
                      (click)="removeVicinityEmployeeRow(index, item)" [innerHTML]="'common.icon.minus' | translate">
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </form>
      </div>

      <!-- Nhân sự kế tiếp -->
      <div class="border-tabpanel" style="margin-top: 20px; margin-bottom: 0px;">
        <div class="panel-heading">
          <strong class="text-u-c" style="padding: 5px 20px 5px 15px;" translate>
            <span class="glyphicon glyphicon-th" style="font-weight: normal; font-size: 11px !important">
              <i class="fa fa-th"></i>&nbsp;
              vicinityPlan.vicinityPositionPlan.nextEmployee
            </span>
          </strong>
        </div>
        <form id="lstNextEmployeeForm" [formGroup]="lstNextEmployeeForm">
          <div class="panel-body panel-table">
            <p-table [scrollable]="false" [value]="lstNextEmployeeForm.controls"
              tableStyleClass="table controls-table table-wrapper b-t b-b">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-3">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th translate><span>vicinityPlan.vicinityPositionPlan.employee</span></th>
                  <th translate><span>vicinityPlan.vicinityPositionPlan.position</span></th>
                  <th translate>common.label.action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr [formGroup]="item">
                  <td class="vt-align-center">
                    {{index+1}}
                  </td>
                  <td>
                    <data-picker 
                      [property]="item.controls.employeeId" 
                      systemCode="political" 
                      operationKey="action.view"
                      adResourceKey="resource.employeeManager" 
                      objectBO="EmployeeBO" 
                      codeField="employeeCode"
                      nameField="fullName"
                      emailField="email"
                      mobileNumberField="mobileNumber"
                      selectField="employeeId"
                      (onChange)="loadUserInfo($event, item)"
                      [filterCondition]="' AND obj.status = 1'"
                    >
                    </data-picker>
                    <app-control-messages [control]="item.controls.employeeId"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" [attr.disabled]="true" formControlName="mainPositionName" name="mainPositionName"
                    class="form-control" maxlength="200">
                    <app-control-messages [control]="item.controls.mainPositionName"></app-control-messages>
                  </td>
                  <td class="vt-align-center">
                    <button class="btn-icon plus" type="button" [title]="'titleAdd' | translate"
                      (click)="addNextEmployeeRow(index, item)" [innerHTML]="'common.icon.plus' | translate">
                    </button>
                    <button class="btn-icon minus" type="button" [title]="'titleDelete' | translate"
                      (click)="removeNextEmployeeRow(index, item)" [innerHTML]="'common.icon.minus' | translate">
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </form>
      </div>
    </div>
    <div class="panel-footer vt-area-button">
      <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.icon.save' | translate"></button>
      <button type="button" (click)="goBack()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
    </div>
  </form>
</div>
<div *ngIf="(!hasPermission('action.update') && vicinityPositionPlanId) || (!hasPermission('action.insert') && !vicinityPositionPlanId)">
  {{'common.haveNoPermission' | translate}}
</div>