<form [formGroup]="formGroup">
  <div class="modal-body">
    <div class="panel panel-default">
      <div class="panel-heading p-1 mx-3">
        <div class="title">{{'assessmentResult.evaluationApprovalTitle' | translate}}</div>
        <div class="btn-close">
          <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
            class="btn btn-span btn-sm"><i class="fa fa-times"></i></button>
        </div>
      </div>
        <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12 " [ngClass]="isToggleStyle ? 'grid-scroll' : ''">
          <div>
            <i class="ui-g-12 control-title" style="color: red; font-size: 14px !important; text-align: center;">
              {{'assessment.assessmentResult.noteSignImage' | translate}}
            </i>
          </div>
          <div class="mb-3">
            <p class="ui-g-12 control-title required" *ngIf="signatureImages.length !== 0">
              {{'vofficeSigning.imageSign.chose' | translate}}
            </p>
            <p class="ui-g-12 control-title" style="color: red; font-size: 14px !important; text-align: center;" *ngIf="signatureImages.length === 0">
              {{'assessment.assessmentResult.validateSignImage' | translate}}
            </p>
          </div>
          <div class="list-signature__image">
            <div *ngFor="let signatureImage of signatureImages; index as i" [ngClass]="{'sign-active': activeSignature == signatureImage.staffImageSignId}" class="item-signature__image">
              <label class="rdo-item" (click)="handleSelectSign(signatureImage)">
                <div class="i-checks">
                  <input type="radio" class="form-check-input control-label"
                    id="{{'signImageId_' + i}}" [checked]="signatureImage.staffImageSignId == activeSignature"
                    formControlName="signImageId" />
                  <i></i>
                  <span class="rdo-prefix">Ảnh ký {{ i + 1 }}</span>
                </div>
                <!-- </div> -->
                <img [src]="signatureImage.attachBytes">
              </label>
            </div>
          </div>
          <app-control-messages [control]="f['signImageId']"></app-control-messages>
        </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="button" (click)="activeModal.close();" class="btn btn-sm btn-default">
            <span class="fa fa-times"></span>
            &nbsp;<span [innerHTML]="'common.button.cancelLabel' | translate"></span>
          </button>
          <button type="button" (click)="preview()" class="btn btn-sm btn-default"
            [innerHTML]="'common.button.table.preview' | translate"></button>
          <button *ngIf="signatureImages.length !== 0" type="submit" (click)="choseSignImage();" class="btn btn-sm btn-primary">
            <span class="glyphicons glyphicons-direction"></span>
            &nbsp;<span [innerHTML]="'common.button.submitAssessment' | translate"></span>
          </button>
        </div>
    </div>
  </div>
</form>
