<div class="content vt-nopadding">
  <div class="no-padding-left">
    <div class="panel panel-default no-margin-bottom">
      <div class="panel-heading vt-relative">
        <strong>
          {{'qualityAnalysisPartyMember.listDetail.title' | translate}}
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
            class="btn btn-span btn-sm"><img class="info-icon" src="./../../../../../../assets/images/home/Mask_Group_19561.png"></button>
        </div>
      </div>
      <div class="panel-body panel-table" style="padding: 16px;">
        <p-table
          #ptable
          [value]="data"
          [paginator]="true"
          (onLazyLoad)="processSearchListQualityPartyMember($event)"
          [lazy]="true" [rows]="changeRow"
          [totalRecords]="recordsTotal"
          [scrollable]="true"
          [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
          [resizableColumns]="true"
          styleClass="controlOverflow"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 50px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 200px;">
              <col style="width: 200px;">
              <col style="width: 100px;">
              <col cstyle="width: 200px;">
              <!-- <col class="size-8"> -->
              <col style="width: 200px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate pResizableColumn>common.table.index</th>
              <th [pSortableColumn]="'employeeCode'"pResizableColumn >
                {{'PartyMemberBO.memberCode' | translate}}
                <p-sortIcon [field]="'employeeCode'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'fullName'" pResizableColumn>
                {{'PartyMemberBO.memberName' | translate}}
                <p-sortIcon [field]="'fullName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'organizationName'" pResizableColumn>
                {{'document.label.organization' | translate}}
                <p-sortIcon [field]="'organizationName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'positionName'" pResizableColumn>
                {{'common.label.title' | translate}}
                <p-sortIcon [field]="'positionName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'year'" pResizableColumn>
                {{'lable.workprocess.year' | translate}}
                <p-sortIcon [field]="'year'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'qualityRatingName'" pResizableColumn>
                {{'qualityAnalysis.qualityRating' | translate}}
                <p-sortIcon [field]="'qualityRatingName'"></p-sortIcon>
              </th>
              <!-- <th [pSortableColumn]="'status'">
                {{'propaganda.rewardDecideStatus' | translate}}
                <p-sortIcon [field]="'status'"></p-sortIcon>
              </th> -->
              <th [pSortableColumn]="'note'" pResizableColumn>
                {{'qualityAnalysis.note' | translate}}
                <p-sortIcon [field]="'note'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center">{{item.employeeCode}}</td>
              <td class="vt-align-left">{{item.fullName}}</td>
              <td class="vt-align-left">{{item.organizationName}}</td>
              <td class="vt-align-left">{{item.positionName}}</td>
              <td class="vt-align-center">{{item.year}}</td>
              <td class="vt-align-left">{{item.qualityRatingName}}</td>
              <!-- <td class="vt-align-left">
                <div class="label-status notYet" *ngIf="item.status==0"></div>
                <div class="label-status info" *ngIf="item.status==1"></div>
                <div class="label-status danger" *ngIf="item.status==2"></div>
                <div class="label-status info" *ngIf="item.status==3"></div>
                {{ 'rewardProposal.status.' + item.status | translate }}
              </td> -->
              <td class="vt-align-left">{{item.note}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="10" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)" [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
      <div class="panel-footer vt-area-button" style="margin: 0 auto;">
        <button type="button" class="btn btn-sm vt-btn" *ngIf="hasPermission('action.export')" (click)="processExport()" [innerHTML]="'common.button.icon.exportFile' | translate" ></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
      </div>
    </div>
  </div>
</div>
