<div id="header-search" style="margin-right: 0.75rem; display: flex; justify-content: flex-end;">
  <div class="vt-relative">
    <form [formGroup]="formSearchNguoiHuong">
      <div class="display-table" style="border: 1px solid rgba(246,183,109,0.6); border-radius: 8px; overflow: hidden;">
        <div class="table-cell">
          <button type="submit" class="icon-search input-search" (click)="filterFormSubsidizedSuggest()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
        <div class="table-cell">
          <input type="text" class="form-control input-search no-between-border" name="keyword"
            formControlName="keyword" placeholder="{{'home.search.placeHolder' | translate}}"
            appendTo="body">
        </div>
      </div>
    </form>
  </div>
</div>
<form id="formRewardIndividualOut" [formGroup]="formRewardIndividualOut" class="mt-3">
  <div class="panel-body panel-table" style="padding: 12px;">
    <p-table #ptable [scrollable]="true" [value]="formRewardIndividualOut.controls"
      tableStyleClass="table controls-table table-wrapper b-t b-b" styleClass="rewardGroupMinHeight" ư
      scrollHeight="400px" [paginator]="true" [first]="firstRowIndex" [rows]="pageSize"
      [totalRecords]="formRewardIndividualOut.controls.length">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col *ngIf="!isView" class="size-4">
          <col class="size-12">
          <col class="size-12">
          <col class="size-12">
          <col class="size-10">
          <col class="size-12">
          <col class="size-12">
          <col class="size-8">
          <col class="size-8">
          <col class="size-8">
          <col class="size-8">
          <col class="size-8">
          <col class="size-8">
          <col class="size-8">
          <col class="size-8">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate>common.table.index</th>
          <th translate *ngIf="!isView"><span>common.label.action</span></th>
          <th translate><span [ngClass]="'required'">rewardPropose.fullName</span></th>
          <!-- Loai danh hieu khen thuong -->
          <th translate><span>label.commendations.type</span></th>
          <th translate><span [ngClass]="'required'">rewardPropose.rewardTitleId</span></th>
          <th translate><span>rewardPropose.money</span></th>
          <th translate><span>rewardPropose.rewardDescription</span></th>
          <th translate><span [ngClass]="'required'">rewardPropose.accountNumber</span></th>
          <th translate><span [ngClass]="'required'">rewardPropose.bankName</span></th>
          <th translate><span>rewardPropose.cardNumber</span></th>
          <th translate><span>rewardPropose.cardNumberDate</span></th>
          <th translate><span>rewardPropose.cardNumberPlace</span></th>
          <th translate><span>rewardPropose.nationality</span></th>
          <th translate><span>rewardPropose.statusOfResidence</span></th>
          <th translate><span>rewardPropose.addressPhoneNumber</span></th>
          <th translate><span>rewardPropose.taxId</span></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr [formGroup]="item" [ngClass]="{'d-none': item.controls.isHidden.value}">
          <td class="vt-align-center">
            {{index+1}}
          </td>
          <!-- thao tac -->
          <td *ngIf="!isView " class="vt-align-center">
            <button class="btn-icon minus" type="button" (click)="remove(index, item)"
              [innerHTML]="'common.icon.minus' | translate">
              <span class="glyphicons glyphicons-minus icon-table delete" title="Xóa"></span>
            </button>
          </td>
          <!-- ho va ten -->
          <td class="vt-align-left">
            <input type="text" class="form form-control" name="objectNameGuest" maxlength="255" [title]="item.controls.objectNameGuest.value || ''"
              formControlName="objectNameGuest" [attr.disabled]="isView ? true: null">
            <app-control-messages [control]="item.controls.objectNameGuest"></app-control-messages>
          </td>
          <!-- Loại danh hiệu khen thưởng -->
          <td>
            <div class="text-center">
              <div class="form-check-inline">
                <label class="i-checks">
                  <input [attr.disabled]="isView ? true: null" type="radio" class="form-check-input control-label" id="rewardCategory{{index}}_1" value="1" formControlName="rewardCategory">
                  <i></i>
                  {{'rewardCategory.titleReward' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input [attr.disabled]="isView ? true: null" type="radio" class="form-check-input control-label" id="rewardCategory{{index}}_2" value="2" formControlName="rewardCategory">
                  <i></i>
                  {{'rewardCategory.formReward' | translate}}
                </label>
              </div>
            </div>
          </td>
          <!-- danh hieu/ hinh thuc khen thuong -->
          <td>
            <select-icon-filter [property]="item.controls.rewardTitleId" [options]="mapRewardTitleIdList[rewardType][item.controls.rewardCategory.value]" optionLabel="name"
              optionValue="rewardCategoryId" [placeHolder]="'common.label.cboMustSelect'" appendTo="body"
              [disabled]="isView"
              [rewardGroupType]="rewardTitleIdList"
              (onChange)="getAmountOfMoney(item)"
              [title]="item.controls.rewardTitleId.value ? item.controls.rewardTitleName.value : ''"
              >
            </select-icon-filter>
            <app-control-messages [control]="item.controls.rewardTitleId"></app-control-messages>
          </td>
          <!-- Số tiền khen thưởng -->
          <td class="vt-align-left">
            <input type="text" style="text-align:right;" class="form form-control" name="amountOfMoney" min="0"
              formControlName="amountOfMoney" maxlength="15" [attr.disabled]="isView ? true: null">
            <app-control-messages [control]="item.controls.amountOfMoney"></app-control-messages>
          </td>
          <!-- Nội dung khen thưởng -->
          <td class="vvt-align-right">
            <textarea type="text" rows="2" name="description" class="form-control" [title]="item.controls.description.value || ''"
            formControlName="description" maxlength="2000" [attr.disabled]="isView ? true: null">
            </textarea>
          </td>
          <!-- so tai khoan -->
          <td class="vt-align-left">
            <input type="text" class="form form-control" name="accountNumber" min="0" formControlName="accountNumber"
              maxlength="20" [attr.disabled]="isView ? true: null">
            <app-control-messages [control]="item.controls.accountNumber"></app-control-messages>
          </td>
          <!-- ten ngan hang -->
          <td class="vt-align-center">
            <input type="text" class="form form-control" name="bank" min="0" formControlName="bank" maxlength="255"
              [attr.disabled]="isView ? true: null" [title]="item.controls.bank.value || ''">
            <app-control-messages [control]="item.controls.bank"></app-control-messages>
          </td>
          <!-- so cmnd -->
          <td>
            <input type="text" class="form form-control" name="personalIdNumber" maxlength="50"
              formControlName="personalIdNumber" [attr.disabled]="isView ? true: null">
            <app-control-messages [control]="item.controls.personalIdNumber"></app-control-messages>
          </td>
          <!-- ngay cap -->
          <td>
            <date-picker [property]="item.controls.personalIdIssuedDate" appendTo="body"
              [disabled]="isView ">
            </date-picker>
            <app-control-messages [control]="item.controls.personalIdIssuedDate"></app-control-messages>
          </td>
          <!-- noi cap -->
          <td>
            <input type="text" class="form form-control" name="personalIdIssuedPlace" maxlength="200"
              formControlName="personalIdIssuedPlace" [attr.disabled]="isView ? true: null" [title]="item.controls.personalIdIssuedPlace.value || ''">
            <app-control-messages [control]="item.controls.personalIdIssuedPlace"></app-control-messages>
          </td>
          <!-- quoc tich -->
          <td>
            <select-filter [placeHolder]="'common.label.cboSelect'" [property]="item.controls.nationId"
              [options]="nationList" optionLabel="name" optionValue="nationId" appendTo="body"
              [disabled]="isView" (onChange)="getNationality(item)" [title]="item.controls.nationId.value ? item.controls.nationName.value : '' ">
            </select-filter>
            <app-control-messages [control]="item.controls.nationId"></app-control-messages>
          </td>
          <!-- tinh trang cu tru -->
          <td>
            <select-filter [placeHolder]="'common.label.cboMustSelect'" [property]="item.controls.residencyStatus"
              [options]="residentStatusList" optionLabel="label" optionValue="value" appendTo="body"
              [disabled]="isView">
            </select-filter>
            <app-control-messages [control]="item.controls.residencyStatus"></app-control-messages>
          </td>
          <!-- dia chi, sdt -->
          <td>
            <input type="text" formControlName="addressOrPhone" name="addressOrPhone" class="form-control"
              maxlength="255" [attr.disabled]="isView ? true: null" [title]="item.controls.addressOrPhone.value || ''">
            <app-control-messages [control]="item.controls.addressOrPhone"></app-control-messages>
          </td>
          <!-- Ma so thue -->
          <td>
            <input type="text" formControlName="taxId" name="taxId" class="form-control"
              maxlength="50" [attr.disabled]="isView ? true: null">
            <app-control-messages [control]="item.controls.taxId"></app-control-messages>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</form>
<button *ngIf="!isView" type="button" (click)="add()" [innerHTML]="'common.button.icon.addColumn' | translate">
</button>
