<div class="modal-body orgSelectorModal">
    <form [formGroup]="form">
        <div class="panel panel-default">
            <div class="panel-heading vt-relative">
                <strong class="text-u-c">
                    <i class="fa fa-th"></i>&nbsp;
                    <span *ngIf="branch == 1">{{'massMember.womenTitle' | translate}}</span>
                    <span *ngIf="branch == 2">{{'massMember.youthTitle' | translate}}</span>
                    <span *ngIf="branch == 3">{{'massMember.unionTitle' | translate}}</span>
                </strong>
                <div class="vt-absolute vt-shotcut-button-in-heading">
                    <label class="control-label" style="padding-top: 0">
                        {{'organization.viewUnitExpried' | translate}}
                    </label>
                    &nbsp;
                    <label class="i-switch bg-warning m-t-xs m-r">
                        <input type="checkbox" name="status" [value]="1" formControlName="showOrgExpried"
                               (ngModelChange)="onShowOrgExpried($event)"/>
                        <i></i>
                    </label>
                    <button  class="btn btn-span btn-sm btn-info btn-close"
                            title="{{'common.button.close' | translate}}" type="button" (click)="activeModal.close()">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="panel-body modal-content-body">
                <div class="grid-structure org-selector-content">
                    <div class="content-left">
                        <div class="header-box">
                            <label class="label-header">Danh sách đơn vị </label>
                        </div>
                        <p-scrollPanel [style]="{width: '100%', height: '525px'}" styleClass="custombar2 clearfix">
                            <div>
                                <p-tree
                                        [value]="nodes"
                                        selectionMode="single"
                                        [(selection)]="selectedNode"
                                        (onNodeSelect)="nodeSelect($event)"
                                        (onNodeExpand)="actionLazyRead($event)"
                                        [ngClass]="{'show-org-expried' : showOrgExpried}"
                                ></p-tree>
                            </div>
                        </p-scrollPanel>
                    </div>
                    <div class="content-right form-group">
                        <div class="panel-background">
                            <div>
                                <label class="label-header"> Tìm kiếm theo </label>
                            </div>
                            <div style="display: flex; align-items: center">
                                <div class="row" style="margin-top: 0px;">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control org-selector-input"
                                               placeholder="{{placeholdercode | translate}}" formControlName="code"
                                               #inputCodeSearch
                                               (keydown.arrowdown)="changeIndex(1)"
                                               (keydown.arrowup)="changeIndex(-1)"
                                               (keyup.enter)="onSelectEnter()"
                                               autocomplete="off"
                                               (focus)="checkFocus = 0"/>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 0px;">
                                        <div class="input-group orgSelector">
                                            <input type="text" class="form-control org-selector-input"
                                                   placeholder="{{placeholdername | translate}}" formControlName="name"
                                                   #inputNameSearch
                                                   (keydown.arrowdown)="changeIndex(1)"
                                                   (keydown.arrowup)="changeIndex(-1)"
                                                   (keyup.enter)="onSelectEnter()"
                                                   autocomplete="off"
                                                   (focus)="checkFocus = 1"/>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn-submit" type="submit" class="btn btn-sm vt-btn btn-submit"
                                            (click)="processSearch(null)"
                                            [innerHTML]="'common.button.icon.search' | translate"></button>
                                </div>

                            </div>
                        </div>
                        <div class="table-wrapper table-responsive" style="margin-top: 4px;">
                            <p-table [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)"
                                     [lazyLoadOnInit]="false"
                                     [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
                                     [responsive]="true" [ngClass]="{'show-org-expried' : showOrgExpried}"
                                     tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>{{'common.button.table.hChose' | translate}}</th>
                                        <th class="size-6" pSortableColumn="code">
                                            {{'massOrganization.code' | translate}}
                                            <p-sortIcon field="code"></p-sortIcon>
                                        </th>
                                        <th class="size-00" pSortableColumn="name">
                                            {{'massOrganization.name' | translate}}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th class="size-6" pSortableColumn="effectiveDate">
                                            {{'app.organization.effectiveDate' | translate}}
                                            <p-sortIcon field="effectiveDate"></p-sortIcon>
                                        </th>
                                        <th class="size-6" pSortableColumn="expiredDate">
                                            {{'app.organization.expiredDate' | translate}}
                                            <p-sortIcon field="expiredDate"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                                    <!-- isExpried -->
                                    <tr #row [ngClass]="{'org-has-selected': item.isExpried != 0}">
                                        <td class="vt-align-center">
                                            <a class="btn-table-chose" (click)="chose(item)"
                                               title="{{'common.button.table.hChose' | translate}}">
                                                <i class="fas fa-check table-icon color-info"></i>
                                            </a>
                                        </td>
                                        <td class="vt-align-center">{{item.code}}</td>
                                        <td>{{item.name}}</td>
                                        <td class="vt-align-center">
                                            {{item.effectiveDate | displayDate}}
                                        </td>
                                        <td class="vt-align-center">
                                            {{item.expiredDate | displayDate}}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr class="emptymessage">
                                        <td [attr.colspan]="3" [innerHTML]="'app.noRecords' | translate">
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="paginatorleft">
                                    <table-footer  [resultList]="resultList"></table-footer>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
