<div class="panel panel-default">
    <div class="panel-heading" translate>
        <strong class="text-u-c">
            <i class="fa fa-th"></i> common.label.search.info
        </strong>
    </div>
    <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{ 'inspectionPlan.label.inspectionPlanCode' | translate }}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <input type="text" class="form form-control" formControlName="inspectionPlanCode" maxlength="50"
                        [autoFocus]="true">
                    <app-control-messages [control]="f['inspectionPlanCode']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                    {{ 'inspectionPlan.label.inspectionPlanName' | translate }}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <input type="text" class="form form-control" formControlName="inspectionPlanName" maxlength="200">
                    <app-control-messages [control]="f['inspectionPlanName']"></app-control-messages>
                </div>
            </div>
            <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{ 'label.inspect.party.organization' | translate }}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <party-org-selector [property]="f['partyOrganizationId']" operationKey="action.view"
                        adResourceKey="resource.inspectionPlan">
                    </party-org-selector>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                    {{ 'inspectionPlan.label.promulgateName' | translate }}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <input type="text" class="form form-control" formControlName="promulgateName" maxlength="200">
                    <app-control-messages [control]="f['promulgateName']"></app-control-messages>
                </div>
            </div>
            <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{ 'inspectionPlan.label.promulgateDateFrom' | translate }}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <date-picker [property]="f['promulgateDateFrom']">
                    </date-picker>
                    <app-control-messages [control]="f['promulgateDateFrom']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                    {{ 'common.label.toDate' | translate }}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <date-picker [property]="f['promulgateDateTo']">
                    </date-picker>
                    <app-control-messages [control]="f['promulgateDateTo']"></app-control-messages>
                </div>
            </div>
        </div>
        <div class="panel-footer vt-area-button">
            <button type="submit" class="btn btn-sm btn-info" (click)="processSearch()"
                [innerHTML]="'common.button.icon.search' | translate"></button>
            <button type="button" class="btn btn-sm btn-info" *ngIf="hasPermission('action.export')"
                (click)="processExportList()" [innerHTML]="'common.button.icon.exportFile' | translate"></button>
            <button type="button" class="btn btn-sm btn-info" (click)="prepareSaveOrUpdate()"
                *ngIf="hasPermission('action.insert')" [innerHTML]="'common.button.icon.addNew' | translate">
            </button>
        </div>
    </form>
</div>
<div class="panel panel-default">
    <div class="panel-heading vt-relative">
        <strong class="text-u-c">
            <i class="fa fa-th"></i>
            {{ 'inspectionPlan.title.listInspectionPlan' | translate }}
        </strong>
    </div>
    <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)" [lazy]="true"
            [rows]="changeRow" [totalRecords]="resultList.recordsTotal" [scrollable]="true" [lazyLoadOnInit]="false"
            tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" styleClass="controlOverflow">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col class="size-1">
                    <col class="size-4">
                    <col class="size-6">
                    <col class="size-12">
                    <col class="size-12">
                    <col class="size-9">
                    <col class="size-5">
                    <col class="size-10">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th translate>common.table.index</th>
                    <th translate>common.label.action</th>
                    <th [pSortableColumn]="'inspectionPlanCode'">
                        {{ 'inspectionPlan.label.inspectionPlanCode' | translate }}
                        <p-sortIcon [field]="'inspectionPlanCode'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'inspectionPlanName'">
                        {{ 'inspectionPlan.label.inspectionPlanName' | translate }}
                        <p-sortIcon [field]="'inspectionPlanName'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'partyOrganizationName'">
                        {{ 'label.inspect.party.organization' | translate }}
                        <p-sortIcon [field]="'partyOrganizationName'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'documentNumber'">
                        {{ 'inspectionPlan.label.documentNumber' | translate }}
                        <p-sortIcon [field]="'documentNumber'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'promulgateDate'">
                        {{ 'inspectionPlan.label.promulgateDate' | translate }}
                        <p-sortIcon [field]="'promulgateDate'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'promulgateName'">
                        {{ 'inspectionPlan.label.promulgateName' | translate }}
                        <p-sortIcon [field]="'promulgateName'"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                <tr>
                    <td class="vt-align-center">{{index}}</td>
                    <td class="vt-align-center">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-sm btn-info" ngbDropdownToggle translate>common.label.action</button>
                            <div ngbDropdownMenu>
                                <!-- Xem chi tiết -->
                                <button class="dropdown-item" (click)="prepareView(item.inspectionPlanId)"
                                    [innerHTML]="'common.button.table.viewdropdown' | translate">
                                </button>
                                <!-- Sửa -->
                                <div *ngIf="hasPermission('action.update')">
                                    <button class="dropdown-item" (click)="prepareSaveOrUpdate(item.inspectionPlanId)"
                                        [innerHTML]="'common.button.table.acteditdropdown' | translate">
                                    </button>
                                </div>
                                <!-- Xóa -->
                                <div *ngIf="hasPermission('action.delete')">
                                    <button class="dropdown-item" (click)="processDelete(item.inspectionPlanId)"
                                        [innerHTML]="'common.button.removedropdown' | translate">
                                    </button>
                                </div>
                                <!-- Báo cáo -->
                                <div *ngIf="hasPermission('action.export')">
                                    <button class="dropdown-item" (click)="processExportReport(item.inspectionPlanId)"
                                        [innerHTML]="'common.button.table.export' | translate">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="vt-align-center">{{item.inspectionPlanCode}}</td>
                    <td class="vt-align-left">{{item.inspectionPlanName}}</td>
                    <td class="vt-align-left">{{item.partyOrganizationName}}</td>
                    <td class="vt-align-center">{{item.documentNumber}}</td>
                    <td class="vt-align-center">{{item.promulgateDate | displayDate}}</td>
                    <td class="vt-align-left">{{item.promulgateName}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr class="emptymessage">
                    <td [attr.colspan]="8" [innerHTML]="'app.noRecords' | translate">
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
            </ng-template>
        </p-table>
    </div>
</div>