<div class="panel panel-default">
  <form id="formSave" [formGroup]="formSave">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>&nbsp;
        <span *ngIf="!formSave.get('keyProjectId').value" >{{'protectsecurity.mainproject.save.label.title' | translate}}</span>
        <span *ngIf="formSave.get('keyProjectId').value && !view" >{{'protectsecurity.mainproject.update.label.title' | translate}}</span>
        <span *ngIf="view" >{{'protectsecurity.mainproject.view.label.title' | translate}}</span>
      </strong>
    </div>
    <div class="panel-body padding-xl ui-g">
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
          {{'protectsecurity.mainproject.label.mda' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <input  type="text" 
                  class="form form-control" 
                  name="code" 
                  formControlName="code" 
                  maxlength="20"
                  autoFocus="true"
                  [attr.disabled]="view? true : null || update? true : null"
                  [autoFocus]="update? false : true">
          <app-control-messages [control]="f['code']"></app-control-messages>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
          {{'protectsecurity.mainproject.label.tda' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <input  type="text" 
                  class="form form-control"
                  name="name"
                  formControlName="name"
                  maxlength="255"
                  [attr.disabled]="view? true : null"
                  [autoFocus]="update? true : null">
          <app-control-messages [control]="f['name']"></app-control-messages>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
          {{'protectsecurity.mainproject.label.dvct' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector
            [property]="f['organizationId']"
            operationKey="action.view"
            adResourceKey="resource.keyProject"
            [defaultValue]="true"
            [disabled]="view">
          </org-selector>
          <app-control-messages [control]="f['organizationId']"></app-control-messages>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
          {{'protectsecurity.mainproject.label.plda' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <select-filter
            [property]="f['type']"
            [options]="listKeyProjectType"
            optionLabel="label"
            optionValue="value"
            [placeHolder]="'common.label.cboMustSelect'"
            [autoFocus]="false"
            [disabled]="view">
          </select-filter>
          <app-control-messages [control]="f['type']"></app-control-messages>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
          {{'protectsecurity.mainproject.label.nbd' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <date-picker
            [property]="f['startDate']"
            [disabled]="view">
          </date-picker>
          <app-control-messages [control]="f['startDate']"></app-control-messages>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
          {{'protectsecurity.mainproject.label.nkt' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <date-picker
            [property]="f['endDate']"
            [disabled]="view">
          </date-picker>
          <app-control-messages [control]="f['endDate']"></app-control-messages>
        </div>
      </div>
    </div>
    <div class="panel-footer vt-area-button">
      <button type="submit"  *ngIf="!view" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.icon.save' | translate"></button>
      <button type="button" (click)="goBack()"  class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
    </div>
  </form>
</div>