.fakeInput {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
}

.fakeInput:focus-within {
    border-color: #23b7e5;
}

.hiddenInput{
    border: none;
    outline: none;
}



panel-heading1 {
    position: relative;
    margin: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: #edf1f2;
    overflow: hidden;
    padding: 0px;
    border-radius: 0px;
}

.panel-default>.panel-heading1{
    border-color: #edf1f2;
}

.panel-heading1 {
    padding: 9px 15px;
    border-radius: 0px;
}

