.assessment-body .modal-assessment-history {
    width: 800px;
    min-width: 800px;
}

@media (min-width: 1366px) and (max-width: 1919px) {
    .assessment-body .modal-assessment-history {
        width: 644px !important;
        min-width: 644px !important;
    }
}

@media (min-width: 768px) and (max-width: 1365px) {
    .assessment-body .modal-assessment-history {
        width: 644px !important;
        min-width: 644px !important;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .assessment-body .modal-assessment-history {
        width: 335px !important;
        min-width: 335px !important;
    }
}
.btn-primary:not(.is-active) {
    color: #7D7D7D !important;
    background-color: transparent;
    border: 1px solid #DEDEDE;
}
