<div *ngIf="hasPermission('action.view')">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <!-- nav menu -->
      <party-org-tree
        operationKey="action.view"
        adResourceKey="resource.partyOrganization"
        (treeSelectNode)="treeSelectNode($event)"
        height="840"
        #orgTree
        showAll ="true"
        isGetAll = "false"
        filterCondition=" o.exprited_date is null "
      >
      </party-org-tree>
    </div>
    <div class="col-md-9 col-sm-12 no-padding-left">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
