.card-emp {
    position: relative;
    background-color: #fff;
    margin-left: -14px;
    margin-top: -14px;
    margin-right: -14px;
    height: 52px;
    border-bottom: solid 1px rgba(208,212,223,1);
}

.card-info {
    border-top: 1px solid #D7E2E3;
    border-bottom: 1px solid #D7E2E3;
    border-left: 1px solid #D7E2E3;
    border-right: 1px solid #D7E2E3;
}

.panel-heading {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

::-webkit-scrollbar {
    width: 6px;
    margin-left: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.card-item {
    border-radius: 8px;
}

/* mobile*/
@media (min-width: 374px) and (max-width: 576px){
    .title {
        font-size: 14px !important;
    }

    .align-bottom-right {
        right: 30px !important;
        bottom: auto !important;
    }
}