<div *ngIf="hasPermission('action.view')">
  <div class="panel-body panel-table">
    <p-table
      #pTable 
      [value]="resultList.data"
      (onLazyLoad)="processSearch($event)" 
      [lazy]="true"
      [rows]="resultList.recordsTotal" 
      [totalRecords]="resultList.recordsTotal"
      [scrollable]="true" 
      [lazyLoadOnInit]="false"
      tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
      [resizableColumns]="true"
    >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width: 50px;">
          <col style="width: 200px;">
          <col style="width: 200px;">
          <col style="width: 200px;">
          <col style="width: 100px;">
          <col style="width: 100px;">
          <col style="width: 200px;">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate pResizableColumn>common.table.index</th>
          <th pSortableColumn="fileId" translate pResizableColumn>
            profile.table.lhs
            <p-sortIcon field="fileId"></p-sortIcon>
          </th>
          <th pSortableColumn="organizationId" translate pResizableColumn>profile.table.dvqlhs
            <p-sortIcon field="organizationId"></p-sortIcon>
          </th>
          <th translate pResizableColumn>
            profile.table.filedk
          </th>
          <th pSortableColumn="fixedEmpFile" translate pResizableColumn>profile.table.hsbc
            <p-sortIcon field="fixedEmpFile"></p-sortIcon>
          </th>
          <th pSortableColumn="status" translate pResizableColumn>profile.table.tt
            <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="description" translate pResizableColumn>profile.table.note
            <p-sortIcon field="description"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex+1">
        <tr>
          <td class="vt-align-center">{{index}}</td>
          <td class="vt-align-left">{{item.fileTypeName}}</td>
          <td class="vt-align-left">{{item.organizationIdName}}</td>
          <td class="vt-align-left">
            <a *ngFor="let data of item.fileAttachment.file"
              style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
              (click)="downloadFile(data, item)">
                {{data.fileName}}
            </a>
          </td>
          <td class="vt-align-left"  translate>
            <div *ngIf="item.fixedEmpFile === 1">app.empFile.saved </div>
            <div *ngIf="item.fixedEmpFile === 2">app.empFile.notSaved </div>
          </td>
          <td class="vt-align-left" translate>
            <div *ngIf="item.status === 4">app.empFile.acceptHardCopy </div>
            <div *ngIf="item.status === 5">app.empFile.hasBeenStored</div>
            <div *ngIf="item.status === 6">app.empFile.individualHandover </div>
          </td>
          <td class="vt-align-left">{{item.description}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="emptymessage">
          <td [attr.colspan]="7" [innerHTML]="'app.noRecords' | translate">
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
