.settings .i-checkreward span b {
    display: inline-block;
    float: left;
    width: 50%;
    height: 20px;
}

.settings .i-checkreward span b.header {
    height: 10px;
}


.i-checkreward input:checked+i:before {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #7b8f9c;
}

.i-checkreward {
    margin-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    cursor: pointer;
}

.i-checkreward input {
    position: absolute;
    margin-left: -20px;
    opacity: 0;
}

.i-checkreward input:checked+i {
    border-color: #7b8f9c;
}

.i-checkreward input:checked+span .active {
    display: inherit;
}

.i-checkreward input[type="radio"]+i,
.i-checkreward input[type="radio"]+i:before {
    border-radius: 50%;
}

.i-checkreward>i {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 4px;
    margin-left: -20px;
    line-height: 1;
    vertical-align: middle;
    background-color: #e9ecef;
    border: 1px solid #cfdadd;
}

.i-checkreward>i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: transparent;
    content: "";
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.i-checkreward>span {
    margin-left: -20px;
}

.i-checkreward>span .active {
    display: none;
}

.i-checkreward-sm input:checked+i:before {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
}

.i-checkreward-sm>i {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-left: -18px;
}

.i-checkreward-lg input:checked+i:before {
    top: 8px;
    left: 8px;
    width: 12px;
    height: 12px;
}

.i-checkreward-lg>i {
    width: 30px;
    height: 30px;
}

.scollTable {
    overflow: auto;
}

/*Start Page Demo*/
.card-form {
    position: relative;
    background-color: transparent;
    margin-left: -14px;
    margin-top: 0px;
    margin-right: -5px;
    height: 52px;
    margin-bottom: 16px;
}

.left-nav-bar {
  font-size: 15px;
}

.left-nav-bar .header-title {
  font-size: 15px;
  font-family: 'PFBeauSansPro',Arial, "Lato", "Helvetica Neue", sans-serif !important;
  color: var(--color-nav) !important;
}

.img-fluid {
    position: absolute;
    top: 18px;
    left: 10px;
    cursor: pointer;
}

.title {
    white-space: nowrap;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(198,31,27,1);
    letter-spacing: 0.12px;
    margin-left: 32px;
}

::-webkit-scrollbar {
    width: 6px;
    margin-left: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn-close {
  overflow: visible;
  width: 88px;
  height: 32px;
  border-color: #D0D4DF;
  background-color: #EAEEF5;
  border-radius: 8px;
  margin-top: 8px;
  margin-right: 10px;
}

.close-icon {
  width: 16px;
  height: 16px;
  overflow: visible;
  margin-right: 10px;
  margin-top: -3px;
}

.close-label {
  white-space: nowrap;
  text-align: left;
  font-family: "PFBeauSansPro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(49,57,73,1);
}

.btn-save {
  overflow: visible;
  width: 81px;
  height: 32px;
  background: linear-gradient(#00A3F3, #0279FF);
  border-radius: 8px;
  margin-top: 8px;
  margin-right: 16px;
}

.save-icon {
  width: 16px;
  height: 16px;
  overflow: visible;
  margin-right: 10px;
  margin-top: -3px;
}

.save-label {
  white-space: nowrap;
  text-align: left;
  font-family: "PFBeauSansPro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(255,255,255,1);
}

.panel-heading {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    justify-content: flex-start !important;
}

/* mobile*/
@media (min-width: 374px) and (max-width: 576px){

  }
  @media (min-width: 577px) and (max-width: 767px){
    .title {
        font-size: 12px !important;
    }

    .title-info {
        font-size: 12px !important;
    }

    .btn-close {
        width: 74px !important;
        height: 26px !important;
        margin-top: 12px !important;
    }
      
    .close-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }
      
    .close-label {
        font-size: 12px !important;
    }
      
    .btn-save {
        width: 65px !important;
        height: 26px !important;
        margin-top: 12px !important;
    }
      
    .save-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }
      
    .save-label {
        font-size: 12px !important;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px){
    .title {
        font-size: 12px !important;
    }

    .title-info {
        font-size: 12px !important;
    }

    .btn-close {
        width: 74px !important;
        height: 26px !important;
        margin-top: 12px !important;
    }
      
    .close-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }
      
    .close-label {
        font-size: 12px !important;
    }
      
    .btn-save {
        width: 65px !important;
        height: 26px !important;
        margin-top: 12px !important;
    }
      
    .save-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }
      
    .save-label {
        font-size: 12px !important;
    }
  }
  @media (min-width: 992px) {

  }
  @media (min-width: 1200px) {

  }
  @media (min-width: 1400px) {

  }
  @media (min-width: 1920px) {

  }
