.panel-heading {
    border-top: none;
    border-left: none;
    border-right: none;
}

.btn-plus {
    overflow: visible;
    width: 136px;
    height: 34px;
    background: linear-gradient(#00A3F3, #0279FF);
    border-radius: 8px;
    margin-top: 4px;
    margin-left: 10px;
  }
  
  .plus-icon {
    width: 16px;
    height: 16px;
    overflow: visible;
    margin-right: 10px;
    margin-top: -3px;
  }
  
  .plus-label {
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
  }

/* mobile*/
@media (min-width: 374px) and (max-width: 576px){

}
@media (min-width: 577px) and (max-width: 767px){
  .btn-plus {
    width: 108px !important;
    height: 26px !important;
  }
    
  .plus-icon {
      width: 12px !important;
      height: 12px !important;
      margin-right: 5px !important;
  }
    
  .plus-label {
      font-size: 12px !important;
      line-height: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .btn-plus {
      width: 108px !important;
      height: 26px !important;
  }
    
  .plus-icon {
      width: 12px !important;
      height: 12px !important;
      margin-right: 5px !important;
  }
    
  .plus-label {
      font-size: 12px !important;
      line-height: 0 !important;
  }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
@media (min-width: 1920px) {

}