<div class="scollTable panel panel-default" >
    <div class="panel-heading vt-relative">
      <strong>
        <span class="title">{{ 'rewardPropose.label.rewardDecide' | translate }}</span>
      </strong>
    </div>
    <div class="p-3">
      <div id="formSaveRewardDecide">
        <div class="panel-body panel-table" style="padding: 12px;">
          <p-table [scrollable]="true" [value]="formRewardDecide" [paginator]="true" [resizableColumns]="true"
          [first]="firstRowIndex" [rows]="pageSize" [totalRecords]="formRewardDecide ? formRewardDecide.length : 0"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
            <div class="tbl-panel">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col style="width: 50px;">
                  <col *ngIf="!isView && !isViewSelection && !isEditSelection && !isViewSign" style="width: 100px;">
                  <col style="width: 100px;">
                  <col style="width: 100px;">
                  <col style="width: 100px;">
                  <col style="width: 100px;">
                  <col style="width: 100px;">
                  <col style="width: 100px;">
                  <col style="width: 100px;">
                  <col style="width: 100px;">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pResizableColumn translate>common.table.index</th>
                  <th pResizableColumn *ngIf="!isView && !isViewSelection && !isEditSelection && !isViewSign" translate><span>common.label.action</span></th>
                  <!-- Ten de xuat -->
                  <th pResizableColumn translate><span>decide.rewardPropose.label.name</span></th>
                  <!-- Don vi de xuat -->
                  <th pResizableColumn translate><span>decide.rewardPropose.label.org</span></th>
                  <!-- Cap ra quyet dinh -->
                  <th pResizableColumn translate><span>decide.rewardPropose.label.level</span></th>
                  <!-- Linh vuc -->
                  <th pResizableColumn translate>decide.rewardPropose.label.type</th>
<!--                  Loại đề xuất -->
                  <th pResizableColumn translate>rewardPropose.proposalType</th>
                  <!-- Ky khen thuong -->
                  <th pResizableColumn translate>decide.rewardPropose.label.periodType</th>
                  <!-- Nam -->
                  <th pResizableColumn translate>decide.rewardPropose.label.year</th>
                  <!-- Trang thai -->
                  <th pResizableColumn translate>decide.rewardPropose.label.status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr >
                  <td class="vt-align-center">
                    {{index+1}}
                  </td>
                  <td class="vt-align-center" *ngIf="!isView && !isViewSelection && !isEditSelection && !isViewSign">
                    <button class="btn-icon minus" type="button" (click)="remove(index, item)"
                      [innerHTML]="'common.icon.minus' | translate">
                    </button>
                  </td>
                  <td class="vt-align-left">
                    {{item.name}}
                  </td>
                  <!-- Đơn vị đề xuất -->
                  <td class="vt-align-left">
                    {{item.proposeOrgName}}
                  </td>
                  <!-- Cấp ra quyết định -->
                  <td class="vt-align-left">
                    {{item.approvalOrgName}}
                  </td>
                  <!-- Lĩnh vực -->
                  <td class="vt-align-left">
                    <div *ngIf="item.rewardType === 1" translate>rewardType.party
                    </div>
                    <div *ngIf="item.rewardType === 2" translate>rewardType.group
                    </div>
                    <div *ngIf="item.rewardType === 3" translate>rewardType.women
                    </div>
                    <div *ngIf="item.rewardType === 4" translate>rewardType.youth
                    </div>
                    <div *ngIf="item.rewardType === 5" translate>rewardType.government
                    </div>
                  </td>
                  <td class="vt-align-left">
                    <div *ngIf="item.proposalType === 1" translate>rewardPropose.proposalType1
                    </div>
                    <div *ngIf="item.proposalType === 2" translate>rewardPropose.proposalType2
                    </div>
                    <div *ngIf="item.proposalType === 3" translate>rewardPropose.proposalType3
                    </div>
                  </td>
                  <!-- Kỳ khen thưởng -->
                  <td class="vt-align-left">
                    <div *ngIf="item.periodType === 1" translate>periodType.periodic
                    </div>
                    <div *ngIf="item.periodType === 2" translate>periodType.unexpected
                    </div>
                  </td>
                  <!-- Năm -->
                  <td class="vt-align-left">
                    {{item.proposeYear}}
                  </td>
                  <!-- Trạng thái -->
                  <td class="vt-align-left">
                    <span class="vt-align-center" *ngIf="item.status === 1" translate>rewardPropose.status.1</span>
                    <span class="vt-align-center" *ngIf="item.status === 2" translate>rewardPropose.status.2</span>
                    <span class="vt-align-center" *ngIf="item.status === 3" translate>rewardPropose.status.3</span>
                    <span class="vt-align-center" *ngIf="item.status === 4" translate>rewardPropose.status.4</span>
                    <span class="vt-align-center" *ngIf="item.status === 5" translate>rewardPropose.status.5</span>
                    <span class="vt-align-center" *ngIf="item.status === 6" translate>rewardPropose.status.6</span>
                  </td>
                </tr>
              </ng-template>
            </div>
          </p-table>
        </div>
      </div>
      <button *ngIf="!isView && !isViewSelection && !isEditSelection && !isViewSign" class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="add()" [innerHTML]="'common.button.icon.addColumn' | translate">
      </button>
    </div>
</div>
