
<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <div class="panel-heading" translate>
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          common.label.search.info
        </strong>
      </div>
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'organization.label.name' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <party-org-selector
                [property]="f['partyOrganizationId']"
                operationKey="action.view"
                adResourceKey="resource.partyCriticize"
                [defaultValue]="true"
                [autoFocus]="true"
                filterCondition="(parent_id IS NULL OR parent_id = 1)"
              >
              </party-org-selector>
              <app-control-messages [control]="f['partyOrganizationId']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'lable.workprocess.year' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="f['year']"
                [options]="listYear"
                optionLabel="year"
                optionValue="year"
                [placeHolder]="'common.label.cboSelectAll'">
              </select-filter>
              <app-control-messages [control]="f['year']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partyCriticize.label.criticizeType' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="f['criticizeType']"
                [options]="listCriticizeType"
                optionLabel="label"
                optionValue="value"
                [placeHolder]="'common.label.cboSelectAll'">
              </select-filter>
              <app-control-messages [control]="f['criticizeType']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.icon.search' | translate" ></button>
          <button *ngIf="hasPermission('action.insert')" type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.icon.addNew' | translate"></button>
          <button *ngIf="hasPermission('action.export')" type="button" (click)="processExportListPartyCriticize()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.icon.exportFile' | translate" ></button>
          <button *ngIf="hasPermission('action.import')" type="button" (click)="import()" class="btn btn-sm btn-info"
            [innerHTML]="'qualityAnalysis.button.importPartyOrg' | translate" ></button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          {{'partyCriticize.list' | translate}}
        </strong>
      </div>
      <div class="panel-body panel-table">
        <p-table
          #ptable
          [value]="resultList.data"
          [paginator]="true"
          (onLazyLoad)="processSearch($event)"
          [lazy]="true" [rows]="changeRow"
          [totalRecords]="resultList.recordsTotal"
          [scrollable]="true"
          [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
          styleClass="controlOverflow"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-1" *ngIf="hasPermission('action.update')">
              <col class="size-1" *ngIf="hasPermission('action.delete')">
              <col class="size-12">
              <col class="size-4">
              <col class="size-10">
              <col class="size-4">
              <col class="size-4">
              <col class="size-12">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th translate *ngIf="hasPermission('action.update')">common.label.edit</th>
              <th *ngIf="hasPermission('action.delete')" translate >common.label.delete</th>
              <th [pSortableColumn]="'partyOrganizationName'" >
                {{'organization.label.name' | translate}}
                <p-sortIcon [field]="'partyOrganizationName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'year'">
                {{'lable.workprocess.year' | translate}}
                <p-sortIcon [field]="'year'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'criticizeType'">
                {{'partyCriticize.label.criticizeType' | translate}}
                <p-sortIcon [field]="'criticizeType'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'groupNumber'">
                {{'partyCriticize.label.groupNumber' | translate}}
                <p-sortIcon [field]="'groupNumber'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'personalNumber'">
                  {{'partyCriticize.label.personalNumber' | translate}}
                <p-sortIcon [field]="'personalNumber'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'note'">
                {{'partyCriticize.label.note' | translate}}
                <p-sortIcon [field]="'note'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center" *ngIf="hasPermission('action.update')">
                <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" [title]="'common.label.edit' | translate">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
              <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                <a class="btn-table delete" (click)="processDelete(item.partyCriticizeId)" [title]="'common.label.delete' | translate" >
                  <i class="fa fa-trash-alt"></i>
                </a>
              </td>
              <td class="vt-align-left">{{item.partyOrganizationName}}</td>
              <td class="vt-align-center">{{item.year}}</td>
              <td class="vt-align-left">
                {{ 'partyCriticize.criticizeType.' + item.criticizeType | translate }}
              </td>
              <td class="vt-align-right">{{item.groupNumber}}</td>
              <td class="vt-align-right">{{item.personalNumber}}</td>
              <td class="vt-align-left">{{item.note}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="10" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
</div>
