<div class="renew-body">
<p-tabView class="tab-view">
    <p-tabPanel [header]="'Báo cáo'" [selected]="activeTab == 1" headerStyleClass="text-u-c header-report">
        <ng-template pTemplate="content">
            <div class="renew-content">
                <!-- 4 hạng mục số lượng -->
                <div class="col-md-12 e-styles-textboxdiv" style="padding-left: 4px; padding-right: 4px">
                    <div class="row">
                            <div class="col-sm-3 col-md-3 col-xs-2 warning-block">
                                <party-member-total #partyMemberTotal></party-member-total>
                            </div>
                            <div class="col-sm-3 col-md-3 col-xs-2 warning-block">
                                <party-member-new #partyMemberNew></party-member-new>
                            </div>
                            <div class="col-sm-3 col-md-3 col-xs-2 warning-block">
                                <party-member-increase #partyMemberIncrease></party-member-increase>
                            </div>
                            <div class="col-sm-3 col-md-3 col-xs-2 warning-block">
                                <party-member-decrease #partyMemberDecrease></party-member-decrease>
                            </div>
                    </div>
                </div>
                <!-- 2 hạng mục biểu đồ đầu -->
                <div class="col-md-12 col-lg-12 col-sm-12 e-styles-textboxdiv">
                    <div class="row">
                        <!-- Biến động Đảng viên -->
                        <div class="col-md-6 col-lg-6 col-sm-12 padding-chart" style="background-image: none">
                            <party-member-volatility></party-member-volatility>
                        </div>
                        <!-- Số lượng Đảng Viên -->
                        <div class="col-md-6 col-lg-6 col-sm-12 padding-chart" style="background-image: none">
                            <party-member-amount></party-member-amount>
                        </div>
                    </div>
                </div>
                <!-- 2 hạng mục biểu đồ cuối -->
                <div class="col-md-12 col-lg-12 col-sm-12 e-styles-textboxdiv">
                    <div class="row">
                        <!-- Cơ cấu nhân sự-->
                        <div class="col-md-6 col-lg-6 col-sm-12 padding-chart" style="background-image: none">
                            <party-member-structure></party-member-structure>
                        </div>
                        <!-- Thống kê hợp đồng -->
                        <div class="col-md-6 col-lg-6 col-sm-12 padding-chart" style="background-image: none">
                            <party-member-contract></party-member-contract>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-tabPanel>
    <!-- danh sách nghị quyết lãnh đạo -->
    <p-tabPanel [header]="'Nhắc việc'" [selected]="activeTab == 2" headerStyleClass="text-u-c">
        <ng-template pTemplate="content">
            <div class="col-md-12 e-styles-textboxdiv">
                <party-home-resulotion-employee></party-home-resulotion-employee>
            </div>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel headerStyleClass="tab-header-right" [headerStyle]="{'opacity': '1'}" [disabled] = "true">
        <ng-template pTemplate="header">
                <party-org-selector
                [property]="partyOrganizationId"
                operationKey="action.view"
                adResourceKey="resource.partyOrganizationHome"
                [defaultValue]="false"
                (onChange) = onChangePartyOrganization($event);
                >
              </party-org-selector>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel headerStyleClass="tab-header-left" [headerStyle]="{'opacity': '1'}" [disabled] = "true">
        <ng-template pTemplate="header">
                <span class="party-title-index"> Tổng quan </span>
        </ng-template>
    </p-tabPanel>
</p-tabView>
</div>
