<div id="header-search" style="margin-right: 0.75rem; display: flex; justify-content: flex-end;">
  <div class="vt-relative">
  
  </div>
</div>

  <div class="panel-body panel-table" style="padding: 12px;" >
    <p-table [scrollable]="true" [value]="tableAdSchedulerLog" [paginator]="true" [resizableColumns]="true"
      [first]="firstRowIndex" [rows]="pageSize" [totalRecords]="tableAdSchedulerLog ? tableAdSchedulerLog.length : 0"
      tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col class="size-4">
          <col class="size-4">
          <col class="size-4">
          <col class="size-8">
          <col class="size-8">
          <col class="size-4">
          <col class="size-15">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate>common.table.index</th>
          <th translate><span>common.label.action</span></th>
          <th>Ngày tạo</th>
          <th><span>Mô tả</span></th>
          <th><span>Thời gian bắt đầu</span></th>
          <th><span>Thời gian kết thúc</span></th>
          <th><span>Trạng thái</span></th>
          <th><span>Đường dẫn file log</span></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr >
          <td class="vt-align-center">
            {{index+1}}
          </td>
          <!-- thao tac -->
          <td *ngIf="!isView " class="vt-align-center">
            <button  type="button" (click)="downloadLogFile(index, item)"
              [innerHTML]="'common.button.table.label.downloadfile' | translate">
            </button>
          </td>
          <!-- Ngày tạo -->
          <td class="vt-align-left">
            {{item.created | displayDateTime}}
          </td>
          <!-- Mô tả -->
          <td>
            {{item.description}}
          </td>
          <!-- Thời gian bắt đầu -->
          <td>
            {{item.startdate | displayDateTime}}
          </td>
          <!-- Thời gian kêt thúc -->
          <td class="vt-align-left">
            {{item.enddate | displayDateTime}}
          </td>
          <!-- Trạng thái -->
          <td class="vvt-align-right">
            <div *ngIf="item.schedulerstatus === 'D'">Hoàn thành
            </div>
            <div *ngIf="item.schedulerstatus !== 'D'">Chưa hoàn thành
            </div>
          </td>
          <!-- Đường dẫn file log -->
          <td class="vt-align-left">
            {{item.logpath}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
