<div class="panel-body panel-table">
  <p-table
    #pTable
    [value]="resultList.data"
    [paginator]="true"
    (onLazyLoad)="processSearch($event)"
    [lazy]="true" [rows]="changeRow"
    [totalRecords]="resultList.recordsTotal"
    [scrollable]="true"
    [lazyLoadOnInit]="false"
    tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
    [resizableColumns]="true"
  >
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col style="width: 50px;">
        <col style="width: 200px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th translate pResizableColumn>common.table.index</th>
        <th translate pResizableColumn>employee360.ideaInno.name</th>
        <th translate pResizableColumn>employee360.ideaInno.createDate</th>
        <th translate pResizableColumn>employee360.ideaInno.certificateDate</th>
        <th translate pResizableColumn>employee360.ideaInno.status</th>
        <th translate pResizableColumn>employee360.ideaInno.type</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex+1">
      <tr>
        <td class="vt-align-center">{{index}}</td>
        <td class="vt-align-center">{{item.name}}</td>
        <td class="vt-align-center">{{item.createDate | displayDate}}</td>
        <td class="vt-align-center">{{item.certificateDate | displayDate}}</td>
        <td class="vt-align-center">{{item.status}}</td>
        <td class="vt-align-center">{{item.type}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="emptymessage">
        <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
    </ng-template>
  </p-table>
</div>
