<div id="searchArea">
    <div class="panel panel-default">
        <form id="formSearch" [formGroup]="formSearch">
            <div class="panel-heading">
                <strong>
                    {{'common.label.search.info' | translate}}
                </strong>
            </div>
            <div *ngIf="!isMobileScreen" class="panel-body padding-xl ui-g">
                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'partyOrganization.document' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <data-picker
                                [property]="f['documentId']"
                                systemCode="political"
                                operationKey="action.view"
                                adResourceKey="resource.partyOrganization"
                                objectBO="DocumentBO"
                                nameField="documentName"
                                codeField="documentNumber"
                                selectField="documentId"
                                [isDisplayCode]="true"
                                filterCondition=" and curdate()
                             BETWEEN obj.effective_date and
                             IFNULL(obj.exprited_date, curdate())
                             and branch = 1
                             and is_deleted = 0  "
                                autofocus="false"
                        >
                        </data-picker>
                        <app-control-messages [control]="f['documentId']"></app-control-messages>
                    </div>

                    <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                        {{'partyOrganization.name' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <input type="text" class="form form-control" name="partyName" formControlName="partyName"
                               [autoFocus]="true">
                        <app-control-messages [control]="f['partyName']"></app-control-messages>
                    </div>
                </div>

                <div class="ui-g-12 vt-row ">
                    <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'partyOrganizationTerminate.decisionParty' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <party-org-selector
                                [property]="f['partyDecisionId']"
                                operationKey="action.view"
                                adResourceKey="resource.partyOrganization"
                                [defaultValue]="true"
                        >
                        </party-org-selector>
                        <app-control-messages [control]="f['partyDecisionId']"></app-control-messages>
                    </div>
                    <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                        {{'partyOrganizationTerminate.reason' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <select-filter
                                [property]="f['reason']"
                                [options]="lstReason"
                                optionLabel="name"
                                optionValue="categoryId"
                                [placeHolder]="'common.label.cboSelectAll'"
                        >
                        </select-filter>
                        <app-control-messages [control]="f['reason']"></app-control-messages>
                    </div>
                </div>

                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'partyOrganizationTerminate.expiredDateFrom' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <date-picker [property]="f['effectiveDateFrom']">
                        </date-picker>
                        <app-control-messages [control]="f['effectiveDateFrom']"></app-control-messages>
                    </div>
                    <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                        {{'partyOrganizationTerminate.expiredDateTo' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <date-picker [property]="f['effectiveDateTo']">
                        </date-picker>
                        <app-control-messages [control]="f['effectiveDateTo']"></app-control-messages>
                    </div>
                </div>
            </div>
            <div *ngIf="isMobileScreen" class="panel-body padding-xl ui-g">
                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                        {{'partyOrganization.document' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                        <data-picker
                                [property]="f['documentId']"
                                systemCode="political"
                                operationKey="action.view"
                                adResourceKey="resource.partyOrganization"
                                objectBO="DocumentBO"
                                nameField="documentName"
                                codeField="documentNumber"
                                selectField="documentId"
                                [isDisplayCode]="true"
                                filterCondition=" and curdate()
                             BETWEEN obj.effective_date and
                             IFNULL(obj.exprited_date, curdate())
                             and branch = 1
                             and is_deleted = 0  "
                                autofocus="false"
                        >
                        </data-picker>
                        <app-control-messages [control]="f['documentId']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                        {{'partyOrganization.name' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                        <input type="text" class="form form-control" name="partyName" formControlName="partyName"
                               [autoFocus]="true">
                        <app-control-messages [control]="f['partyName']"></app-control-messages>
                    </div>
                </div>

                <div class="ui-g-12 vt-row ">
                    <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                        {{'partyOrganizationTerminate.decisionParty' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                        <party-org-selector
                                [property]="f['partyDecisionId']"
                                operationKey="action.view"
                                adResourceKey="resource.partyOrganization"
                                [defaultValue]="true"
                        >
                        </party-org-selector>
                        <app-control-messages [control]="f['partyDecisionId']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                        {{'partyOrganizationTerminate.reason' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                        <select-filter
                                [property]="f['reason']"
                                [options]="lstReason"
                                optionLabel="name"
                                optionValue="categoryId"
                                [placeHolder]="'common.label.cboSelectAll'"
                        >
                        </select-filter>
                        <app-control-messages [control]="f['reason']"></app-control-messages>
                    </div>
                </div>

                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                        {{'partyOrganizationTerminate.expiredDateFrom' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                        <date-picker [property]="f['effectiveDateFrom']">
                        </date-picker>
                        <app-control-messages [control]="f['effectiveDateFrom']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12 vt-row">
                    <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                        {{'partyOrganizationTerminate.expiredDateTo' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-sm- ui-lg-3">
                        <date-picker [property]="f['effectiveDateTo']">
                        </date-picker>
                        <app-control-messages [control]="f['effectiveDateTo']"></app-control-messages>
                    </div>
                </div>
            </div>
            <div class="panel-footer vt-area-button">
                <button type="submit" class="btn btn-sm vt-btn btn-submit" (click)="processSearch()"
                        [innerHTML]="'common.button.icon.search' | translate"></button>
            </div>
        </form>
    </div>

    <div id="listArea">
        <div class="panel panel-default">
            <div class="panel-heading vt-relative">
                <strong>
                    {{'partyOrganizationTerminate.list' | translate}}
                </strong>
                <div class="show-btn-right-header">
                    <button type="button" *ngIf="hasPermission('action.export')" class="btn btn-sm vt-btn"
                            (click)="processExport()" [innerHTML]="'common.button.icon.exportFile' | translate"></button>
                </div>
            </div>
            <div class="panel-body panel-table">
                <p-table
                    #ptable
                    [value]="resultList.data"
                    [paginator]="true"
                    (onLazyLoad)="processSearch($event)"
                    [lazy]="true" [rows]="changeRow"
                    [totalRecords]="resultList.recordsTotal"
                    [scrollable]="true"
                    [lazyLoadOnInit]="false"
                    tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
                    [resizableColumns]="true"
                >
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col style="width: 50px;">
                            <col style="width: 200px;">
                            <col style="width: 200px;">
                            <col style="width: 100px;">
                            <col style="width: 100px;">
                            <col style="width: 100px;">
                            <col style="width: 100px;">
                            <col style="width: 100px;">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th translate pResizableColumn>common.table.index</th>
                            <th [pSortableColumn]="'partyOrganizationName'" pResizableColumn>
                                {{'partyOrganization.name' | translate}}
                                <p-sortIcon [field]="'partyOrganizationName'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'partyDecisionName'" pResizableColumn>
                                {{'partyOrganizationTerminate.decisionParty' | translate}}
                                <p-sortIcon [field]="'partyDecisionName'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'documentNumber'" pResizableColumn>
                                {{'partyOrganization.document' | translate}}
                                <p-sortIcon [field]="'documentNumber'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'effectiveDate'" pResizableColumn>
                                {{'partyOrganization.effectiveDate' | translate}}
                                <p-sortIcon [field]="'effectiveDate'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'expiredDate'" pResizableColumn>
                                {{'partyOrganization.expiredDate' | translate}}
                                <p-sortIcon [field]="'expiredDate'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'reasonName'" pResizableColumn>
                                {{'partyOrganizationTerminate.reason' | translate}}
                                <p-sortIcon [field]="'reasonName'"></p-sortIcon>
                            </th>
                            <th pResizableColumn>{{'partyOrganizationTerminate.description' | translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                        <tr>
                            <td class="vt-align-center">{{index}}</td>
                            <td class="vt-align-left" [title]="item.partyOrganizationName">{{item.partyOrganizationName}}</td>
                            <td class="vt-align-left" [title]="item.partyDecisionName">{{item.partyDecisionName}}</td>
                            <td class="vt-align-left" [title]="item.documentNumber">{{item.documentNumber}}</td>
                            <td class="vt-align-center" [title]="item.effectiveDate">{{item.effectiveDate | displayDate}}</td>
                            <td class="vt-align-center" [title]="item.expiredDate">{{item.expiredDate | displayDate}}</td>
                            <td class="vt-align-left" [title]="item.reasonName">{{item.reasonName}}</td>
                            <td class="vt-align-left" [title]="item.description">{{item.description}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr class="emptymessage">
                            <td [attr.colspan]="14" [innerHTML]="'app.noRecords' | translate">
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                        <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
