<div style="width: 100%;height: 600px;display: block;
    overflow: auto;padding: 10px;background-color: #EFF3F6;" >

  <div class="panel panel-default" id="sysCatTable" >
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        <span translate> app.settings.emailSmsDynamic.listSpam</span>
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
      </div>
    </div>
    <div class="panel-body panel-table">
      <p-table #ptable [value]="resultList" [paginator]="resultList && resultList.length"
               [lazy]="true" [rows]="changeRow" [totalRecords]="resultList.recordsTotal" [responsive]="true" [lazyLoadOnInit]="false"
               tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" >
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col class="size-1">
            <col class="size-3">
            <col class="size-3">
            <col class="size-2">
<!--            <col class="size-7">-->
<!--            <col class="size-4">-->
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th> {{'common.table.index' | translate}} </th>
            <th> {{'EmployeeBO.employeeCode' | translate}}</th>
            <th> {{'rewardPropose.appendix.FULL_NAME' | translate}}</th>
            <th> {{'recieveNotificationGroup.email' | translate}}</th>
            <th> {{'recieveNotificationGroup.mobileNumber' | translate}}</th>
<!--            <th> {{'app.settings.emailSmsDynamic.emailContent' | translate}}</th>-->
<!--            <th> {{'app.settings.emailSmsDynamic.smsContent' | translate}}</th>-->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr>
            <td class="vt-align-center">{{index+1}}</td>
            <td class="vt-align-center" [title]="item.employeeCode" >{{item.employeeCode}}</td>
            <td class="vt-align-center" [title]="item.employeeName" >{{item.fullName}}</td>
            <td class="vt-align-left" [title]="item.email" >{{item.email}}</td>
            <td class="vt-align-right" [title]="item.mobileNumber" >{{item.mobileNumber}}</td>
<!--            <td class="vt-align-left" >-->
<!--              <span class="title-truncate" style="-webkit-box-orient: vertical;" [innerHTML]="item.emailContent">-->
<!--              </span>-->
<!--              <a class="text-link" (click)="viewMore(item.emailContent)" > Xem thêm </a>-->
<!--            </td>-->
<!--            <td class="vt-align-left" [title]="item.smsContent" ><span class="title-truncate" style="-webkit-box-orient: vertical;">{{item.smsContent}}</span></td>-->
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

