<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <div class="panel-heading" translate>
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          common.label.search.info
        </strong>
      </div>
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'massGroup.titleField.employeeName' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input [autoFocus]="true" type="text" class="form form-control" name="employeeName" formControlName="employeeName" maxlength="200">
              <app-control-messages [control]="f['employeeName']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'massGroup.titleField.category' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <multi-select-filter [property]="f['categoryIdListStr']"
                [options]="categoryList"
                optionLabel="name"
                optionValue="categoryId"
                [filterPlaceHolder]="'common.label.cboMustSelect'"
                (placeHolder)="'common.label.cboMustSelect'"
                maxSelectedLabels="100"
              >
              </multi-select-filter>
              <app-control-messages [control]="f['categoryIdListStr']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'massGroup.titleField.fromYear' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [property]="f['fromYear']" [options]="yearList" optionLabel="year" optionValue="year"
                [placeHolder]="'common.label.cboSelect'">
              </select-filter>
              <app-control-messages [control]="f['fromYear']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'massGroup.titleField.toYear' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [property]="f['toYear']" [options]="yearList" optionLabel="year" optionValue="year"
                [placeHolder]="'common.label.cboSelect'">
              </select-filter>
              <app-control-messages [control]="f['toYear']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'massGroup.titleField.org' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector [property]="f['orgId']" operationKey="action.view"
                adResourceKey="resource.massGroup" [defaultValue]="true">
              </org-selector>
              <app-control-messages [control]="f['orgId']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" class="btn btn-sm btn-info" (click)="processSearch()" [innerHTML]="'common.button.icon.search' | translate" ></button>
          <button *ngIf="hasPermission('action.insert')" type="button" class="btn btn-sm btn-info" (click)="prepareCreateOrUpdate()"
            [innerHTML]="'common.button.icon.addNew' | translate" ></button>
          <button *ngIf="hasPermission('action.export')" type="button" class="btn btn-sm btn-info" (click)="processExport()"
            [innerHTML]="'common.button.icon.export' | translate" ></button>
          <button *ngIf="hasPermission('action.import')" type="button" class="btn btn-sm btn-info" (click)="prepareImport()"
            [innerHTML]="'massGroup.button.icon.import' | translate" ></button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          {{'massGroup.titleGrid' | translate}}
        </strong>
      </div>
      <div class="panel-body panel-table">
        <p-table
          #ptable
          [value]="resultList.data"
          [paginator]="true"
          (onLazyLoad)="processSearch($event)"
          [lazy]="true" [rows]="changeRow"
          [totalRecords]="resultList.recordsTotal"
          [scrollable]="true"
          [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
          styleClass="controlOverflow">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-3">
              <col class="size-8">
              <col class="size-8">
              <col class="size-1">
              <col class="size-8">
              <col class="size-12">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th translate>common.label.action</th>
              <th [pSortableColumn]="'employeeCode'">
                {{'massGroup.titleField.employeeCode' | translate}}
                <p-sortIcon [field]="'employeeCode'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'employeeName'">
                {{'massGroup.titleField.employeeName' | translate}}
                <p-sortIcon [field]="'employeeName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'massGroupYear'">
                {{'massGroup.titleField.year' | translate}}
                <p-sortIcon [field]="'massGroupYear'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'categoryNameFull'">
                {{'massGroup.titleField.category' | translate}}
                <p-sortIcon [field]="'categoryNameFull'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'note'">
                {{'massGroup.titleField.note' | translate}}
                <p-sortIcon [field]="'note'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-sm btn-info" ngbDropdownToggle translate>common.label.action</button>
                  <div ngbDropdownMenu>
                    <!-- Sửa -->
                    <div *ngIf="hasPermission('action.update')">
                      <button class="dropdown-item" (click)="prepareCreateOrUpdate(item)"
                        [innerHTML]="'common.button.table.acteditdropdown' | translate">
                      </button>
                    </div>
                    <!-- Xóa -->
                    <div *ngIf="hasPermission('action.delete')">
                      <button class="dropdown-item" (click)="processDeleteMassGroup(item.massGroupId)"
                        [innerHTML]="'common.button.table.actdelete' | translate">
                      </button>
                    </div>
                  </div>
                </div>
              </td>
              <td class="vt-align-center">
                {{item.employeeCode}}
              </td>
              <td class="vt-align-left">
                {{item.employeeName}}
              </td>
              <td class="vt-align-center">
                {{item.massGroupYear}}
              </td>
              <td class="vt-align-left">
                <div *ngFor="let name of item.categoryNameList">
                  {{name}}
                </div>
              </td>
              <td class="vt-align-left">
                {{item.note}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="10" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<div class="bodyToast">
  <p-toast position="bottom-center"
  ></p-toast>
</div>