<div id="header-search" style="margin-right: 0.75rem; display: flex; justify-content: flex-end;">
  <div class="vt-relative">
    <form [formGroup]="formSearchNguoiHuong">
      <div class="display-table" style="border: 1px solid rgba(246,183,109,0.6); border-radius: 8px; overflow: hidden;">
        <div class="table-cell">
          <button type="submit" class="icon-search input-search" (click)="filterFormSubsidizedSuggest()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
        <div class="table-cell">
          <input type="text" class="form-control input-search no-between-border" name="keyword"
            formControlName="keyword" placeholder="{{'home.search.placeHolder' | translate}}"
            appendTo="body">
        </div>
      </div>
    </form>
  </div>
</div>
<form id="formSave" [formGroup]="formRewardGroup">
  <div class="panel-body panel-table" style="padding: 12px 0 12px 0; border: none">
    <p-table [scrollable]="true" [value]="formRewardGroup.controls" [paginator]="true"
    [(first)]="firstRowIndex" [rows]="pageSize" [totalRecords]="formRewardGroup.controls.length"
      tableStyleClass="table controls-table table-wrapper b-t b-b" class="table-2" (onPage)="updateChooseAll(formRewardGroup.controls)">
      <div class="tbl-panel">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col *ngIf="!isView " class="size-4">
            <col *ngIf="isViewFile" class="size-2">
            <col class="size-8">
            <col class="size-8">
            <col class="size-8">
            <col class="size-6">
            <col class="size-6">
            <col class="size-6">
            <col class="size-6">
            <col class="size-8">
            <col class="size-8">
            <col class="size-6">
            <col class="size-6">
            <col class="size-6">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th translate>common.table.index</th>
            <th translate *ngIf="!isView "><span>common.label.action</span></th>
            <!-- check all -->
            <th translate *ngIf="isViewFile">
              <span>common.button.chose</span>
              <div class="check">
                <input type="checkbox" (change)="chooseAll($event, formRewardGroup.controls)" #elePreviewAll style="width: 18px; height: 1.5rem;">
              </div>
            </th>
            <!-- to chuc duoc khen thuong -->
            <th translate><span [ngClass]="'required'">tabRewardGroup.rewardProposal.rewardGroupName</span></th>
            <!-- Loai danh hieu khen thuong -->
            <th translate><span>label.commendations.type</span></th>
            <!-- danh hieu/hinh thuc -->
            <th translate><span [ngClass]="'required'">rewardGeneral.rewardTitle</span></th>
            <!-- tien thuong -->
            <th translate>rewardGeneral.money</th>
            <!-- noi dung khen thuong -->
            <th translate>rewardGeneral.content</th>
            <!--Đại diện nhận tiền thưởng-->
            <th translate >label.rewardPropose.representative</th>
            
            <!--Họ tên-->
            <th translate >label.rewardPropose.representativeName</th>
            <!-- Đơn vị tiếp nhận tiền thưởng-->
            <th translate><span>rewardGeneral.receiveBonusOrgName</span></th>
            <th pResizableColumn translate >label.rewardPropose.accountNumber</th>
            <th pResizableColumn translate >label.rewardPropose.bank</th>
            <th pResizableColumn translate >label.rewardPropose.accountName</th>
            <!-- Đơn vị nhận tiền --->
            <th pResizableColumn translate><span>label.rewardPropose.group.partnerDrCode</span></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr [formGroup]="item"[ngClass]="{'d-none': item.controls.isHidden.value}">
            <td class="vt-align-center">
              {{index+1}}
            </td>
            <td class="vt-align-center" *ngIf="!isView ">
              <button class="btn-icon minus" type="button" (click)="remove(index, item)"
                >
                  <span class="glyphicons glyphicons-minus icon-table delete" title="Xóa"></span>
              </button>

            </td>
            <td class="vt-align-center" *ngIf="isViewFile">
              <input type="checkbox" class="ui-chkbox ui-chkbox-box" style="height: 1.5rem;" name="isPreview" [value]="0"
                formControlName="isPreview" (change)="onChangeChooseOrSuggest(item, formRewardGroup.controls)" />
            </td>
            <td>
              <!-- Phụ nữ, thanh niên, đoàn -->
              <mass-org-selector *ngIf="isMasO && !isView" [property]="item.controls.massOrganizationId" operationKey="action.view"
                adResourceKey="resource.rewardPropose" [defaultValue]="false" [branch]="branch"
                [disabled]="isView ? true: null" [autoFocus]="true" [isRequiredField]="true"
                (onChange)="onChangeMassOrg($event, massOrgSelector)" [title]="item.value.massOrgName || ''" #massOrgSelector>
              </mass-org-selector>
              <input *ngIf="isMasO && isView"
                type="text" class="form form-control" name="massOrgName" disabled="true" formControlName="massOrgName"
                [title]="item.controls.massOrgName.value  || ('')" />
              <mass-org-selector *ngIf="isSelectedRewardType && !isView" [property]="item.controls.massOrganizationId"
                operationKey="action.view" adResourceKey="resource.rewardPropose" [defaultValue]="false" [branch]="branch"
                [disabled]="true" [autoFocus]="true" [isRequiredField]="true"
                (onChange)="onChangeMassOrg($event, massOrgSelector)" #massOrgSelector>
              </mass-org-selector>
              <input *ngIf="isSelectedRewardType && isView"
                type="text" class="form form-control" name="massOrgName" disabled="true" formControlName="massOrgName"
                [title]="item.controls.massOrgName.value  || ('')" />
              <app-control-messages *ngIf="isMasO" [control]="item.controls.massOrganizationId"></app-control-messages>

              <!-- Đảng -->
              <party-org-selector [property]="item.controls.partyOrganizationId" *ngIf="isOgr && !isView"
                operationKey="action.view" adResourceKey="resource.rewardPropose" [isRequiredField]="true" [title]="item.value.partyOrgName || ''"
                [defaultValue]="false" [disabled]="isView ? true: null" (onChange)="onChangeMassOrg($event)" #partyOrgSelector>
              </party-org-selector>
              <input *ngIf="isOgr && isView" type="text" class="form form-control" name="partyOrgName" disabled="true" formControlName="partyOrgName"
                [title]="item.controls.partyOrgName.value  || ('')" />
              <app-control-messages *ngIf="isOgr" [control]="item.controls.partyOrganizationId"></app-control-messages>

              <!-- Chính quyền -->
              <org-selector *ngIf="isGOV && !isView" [property]="item.controls.organizationId" operationKey="action.view"
                adResourceKey="resource.rewardPropose" [defaultValue]="false" [title]="item.value.orgName || ''"
                [disabled]="isView ? true: null" isRequiredField=true; (onChange)="onChangeMassOrg($event)">
              </org-selector>
              <input *ngIf="isGOV && isView"
                type="text" class="form form-control" name="orgName" disabled="true" formControlName="orgName"
                [title]="item.controls.orgName.value  || ('')" />
              <app-control-messages *ngIf="isGOV" [control]="item.controls.organizationId"></app-control-messages>
            </td>

            <!-- Loại danh hiệu khen thưởng -->
            <td>
              <div class="text-center">
                <div class="form-check-inline">
                  <label class="i-checks">
                    <input [attr.disabled]="isView ? true: null"
                           type="radio" class="form-check-input control-label" id="rewardCategory{{index}}_1" value="1"
                           (change)="isEnableReceiveBonusOrgCheck(item)"
                           formControlName="rewardCategory">
                    <i></i>
                    {{'rewardCategory.titleReward' | translate}}
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="i-checks">
                    <input [attr.disabled]="isView ? true: null"
                           type="radio" class="form-check-input control-label" id="rewardCategory{{index}}_2" value="2"
                           (change)="isEnableReceiveBonusOrgCheck(item)"
                           formControlName="rewardCategory">
                    <i></i>
                    {{'rewardCategory.formReward' | translate}}
                  </label>
                </div>
              </div>
            </td>
            <!-- Danh hiệu, hình thức khen thưởng -->
            <td>
              <select-icon-filter [property]="item.controls.rewardTitleId" [options]="mapRewardTitleIdList[rewardType][item.controls.rewardCategory.value]" optionLabel="name"
                optionValue="rewardCategoryId" [placeHolder]="'common.label.cboMustSelect'" appendTo="body"
                [disabled]="isView"
                [rewardGroupType]="rewardTitleIdList"
                (onChange)="getAmountOfMoney(item)"
                [title]="item.controls.rewardTitleId.value ? item.controls.rewardTitleName.value : ''">
              </select-icon-filter>
              <app-control-messages [control]="item.controls.rewardTitleId"></app-control-messages>
            </td>
            <!-- Số tiền khen thưởng -->
            <td class="vt-align-right">
              <input type="text" style="text-align:right;" class="form form-control" name="amountOfMoney" min="0"
                formControlName="amountOfMoney" maxlength="15"
                [attr.disabled]="isView ? true: null">
              <app-control-messages [control]="item.controls.amountOfMoney"></app-control-messages>
            </td>
            <!-- Nội dung khen thưởng -->
            <td class="vt-align-center">
              <textarea type="text" rows="2" name="description" class="form-control" formControlName="description"
                maxlength="2000" [attr.disabled]="isView ? true: null" [title]="item.controls.description.value || ''">
            </textarea>            
              <app-control-messages [control]="item.controls.description"></app-control-messages>
            </td>

            <!-- Đại diện nhận tiền thưởng / họ tên-->
            <td>
              <data-picker  [property]="item.controls.representativeId" systemCode="political" operationKey="action.view"
                            adResourceKey="resource.rewardPropose" objectBO="EmployeeBO" codeField="employeeCode" nameField="fullName"
                            emailField="email" mobileNumberField="mobileNumber" selectField="employeeId"
                            isDisplayCode="true" (onChange)="onChangeEmployee($event)"
                            [disabled]="isView || !item.controls.isEnableReceiveBonusOrg ? true: null">
              </data-picker>
              <app-control-messages [control]="item.controls.representativeId"></app-control-messages>
            </td>
            <td class="vt-align-left">
              <input type="text" class="form form-control" name="employeeName" disabled formControlName="representativeName" [title]="item.controls.representativeName.value  || ''">
              <app-control-messages [control]="item.controls.representativeName"></app-control-messages>
            </td>

            <!-- Đơn vị tiếp nhận tiền thưởng-->
            <td class="vt-align-center">
              <org-selector [property]="item.controls.receiveBonusOrgId" operationKey="action.view"
                            adResourceKey="resource.rewardPropose" [defaultValue]="false" (onChange)="onProposeOrgChange($event)" [title]="item.value.orgName || ''"
                            [disabled]="isView || item.controls.isEnableReceiveBonusOrg? true: null" [isRequiredField]="true">
              </org-selector>
              <app-control-messages [control]="item.controls.receiveBonusOrgId"></app-control-messages>
            </td>

            <td class="vt-align-center"  [title]="item.controls.accountNumber.value || ''">
              <textarea [autoFocus]="true" type="text" rows="2" name="accountNumber" class="form-control" formControlName="accountNumber"
                        maxlength="2000" [attr.disabled]="true">
              </textarea>

            </td>
            <td class="vt-align-center"  [title]="item.controls.accountNumber.bank || ''">
              <textarea [autoFocus]="true" type="text" rows="2" name="bank" class="form-control" formControlName="bank"
                        maxlength="2000" [attr.disabled]="true">
              </textarea>

            </td>
            <td class="vt-align-center">
              <textarea [autoFocus]="true" type="text" rows="2" name="accountName" class="form-control" formControlName="accountName"
                        maxlength="2000" [attr.disabled]="true">
              </textarea>
            </td>
            <td class="vt-align-left">
              <input type="text" class="form form-control" name="partnerDrCode" disabled formControlName="partnerDrCode" [title]="item.controls.partnerDrCode.value  || ''">
              <app-control-messages [control]="item.controls.partnerDrCode"></app-control-messages>
            </td>
          </tr>
        </ng-template>
      </div>
    </p-table>
  </div>
</form>
<button class="btn-add-column" *ngIf="!isView" type="button" (click)="add()" [innerHTML]="'common.button.icon.addColumn' | translate">
</button>
