<div class="card-emp">
  <div id="infoHeader" class="card card-info">
    <div class="card-header">
      <div>
        <img class="header-icon" [ngClass]="{'transform-icon': hideInfoHeader === true}" src="./../../../../../../assets/images/home/Group_18932.png" (click)="hideInfoHeader = !hideInfoHeader">
        {{'partyCongressEmployee.infoHeader' | translate}}
      </div>
    </div>
    <div *ngIf="!hideInfoHeader" class="card-body">
      <div class="panel-body panel-table">
        <p-table
          #ptable
          [value]="resultList.data"
          [paginator]="true"
          (onLazyLoad)="processSearch($event)"
          [lazy]="true" [rows]="changeRow"
          [totalRecords]="resultList.recordsTotal"
          [scrollable]="true"
          [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
          [resizableColumns]="true"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 50px;">
              <col style="width: 200px;">
              <col style="width: 200px;">
              <col style="width: 200px;">
              <col style="width: 200px;">
              <col style="width: 200px;">
              <col style="width: 200px;">
              <col style="width: 200px;">
              <col style="width: 200px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate pResizableColumn>common.table.index</th>
              <th [pSortableColumn]="'partyPositionName'" pResizableColumn>
                {{'partyCongressEmployee.newPartyPosition' | translate}}
                <p-sortIcon [field]="'partyPositionName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'rewardForm'" pResizableColumn>
                {{'partyCongressEmployee.rewardForm' | translate}}
                <p-sortIcon [field]="'rewardForm'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'rewardDate'" pResizableColumn>
                {{'partyCongressEmployee.rewardDate' | translate}}
                <p-sortIcon [field]="'rewardDate'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'rewardReason'" pResizableColumn>
                {{'partyCongressEmployee.rewardReason' | translate}}
                <p-sortIcon [field]="'rewardReason'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'disciplineForm'" pResizableColumn>
                {{'partyCongressEmployee.disciplineForm' | translate}}
                <p-sortIcon [field]="'disciplineForm'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'disciplineDate'" pResizableColumn>
                {{'partyCongressEmployee.disciplineDate' | translate}}
                <p-sortIcon [field]="'disciplineDate'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'disciplineReason'" pResizableColumn>
                {{'partyCongressEmployee.disciplineReason' | translate}}
                <p-sortIcon [field]="'disciplineReason'"></p-sortIcon>
              </th>
              <th pResizableColumn>
                {{'partyCongressEmployee.profile' | translate}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-left">{{item.partyPositionName}}</td>
              <td class="vt-align-left">{{item.rewardForm}}</td>
              <td class="vt-align-left">{{item.rewardDate}}</td>
              <td class="vt-align-left">{{item.rewardReason}}</td>
              <td class="vt-align-left">{{item.disciplineForm}}</td>
              <td class="vt-align-left">{{item.disciplineDate}}</td>
              <td class="vt-align-left">{{item.disciplineReason}}</td>
              <td class="vt-align-left">
                <a *ngFor="let data of item.fileAttachment.file"
                  style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                  (click)="downloadFile(data)" 
                  >
                    {{data.fileName}}
                </a>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="9" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>