<p-tabView class="tab-view">
    <p-tabPanel [selected]="activeTab == 1">
        <ng-template pTemplate="header">
            Chuyển cá nhân ({{ numberOfIndividual }})
        </ng-template>
        <ng-template pTemplate="content">
            <div>
                <individual-tab #individualTab [lstData] = "lstPromulgate"></individual-tab>
            </div>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel [selected]="activeTab == 2">
        <ng-template pTemplate="header">
            Chuyển đơn vị ({{ numberOfOrg }})
        </ng-template>
        <ng-template pTemplate="content">
            <div>
                <organization-tab #orgTab [lstData] = "lstPromulgate"></organization-tab>
            </div>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel [selected]="activeTab == 3">
        <ng-template pTemplate="header">
            Chuyển nhóm cá nhân ({{ numberOfGroup }})
        </ng-template>
        <ng-template pTemplate="content">
            <div>
                <group-tab #groupTab [lstData] = "lstPromulgate" [disabled]="disabled"></group-tab>
            </div>
        </ng-template>
    </p-tabPanel>
</p-tabView>
