.card-info {
    border-top: 1px solid #D7E2E3;
    border-bottom: 1px solid #D7E2E3;
    border-left: 1px solid #D7E2E3;
    border-right: 1px solid #D7E2E3;
}

.panel-heading {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}