<div id="header-search" style="margin-right: 0.75rem; display: flex; justify-content: flex-end;">
  <div class="vt-relative">
    <form [formGroup]="formSearchNguoiHuong">
      <div class="display-table" style="border: 1px solid rgba(246,183,109,0.6); border-radius: 8px; overflow: hidden;">
        <div class="table-cell">
          <button type="submit" class="icon-search input-search" (click)="filterFormSubsidizedSuggest()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
        <div class="table-cell">
          <input type="text" class="form-control input-search no-between-border" name="keyword"
            formControlName="keyword" placeholder="{{'home.search.placeHolder' | translate}}"
            appendTo="body">
        </div>
      </div>
    </form>
  </div>
</div>
<form id="formRewardIndividualOut" [formGroup]="formRewardIndividualOut">
  <div class="panel-body panel-table" style="padding: 12px;">
    <p-table [scrollable]="true" [value]="formRewardIndividualOut.controls" [resizableColumns]="true"
      tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" [paginator]="true" [(first)]="firstRowIndex" [rows]="pageSize"
      [totalRecords]="formRewardIndividualOut.controls.length" (onPage)="updateChooseAll(formRewardIndividualOut.controls)">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width: 50px;">
          <col *ngIf="!isView && !isEditSelection && !isViewSelection && isSynthetic != 1 && !isDisable" style="width: 100px;">
          <col style="width: 150px;">
          <col style="width: 150px;">
          <col style="width: 200px;">
          <col style="width: 150px;">
          <col style="width: 200px;">
          <col *ngIf="isEditSelection || isViewSelection" style="width: 100px;">
          <col *ngIf="isEditSelection || isViewSelection" style="width: 100px;">
          <col *ngIf="isEditSelection || isViewSelection" style="width: 150px;">
          <col style="width: 200px;">
          <col style="width: 150px;">
          <col style="width: 150px;">
          <col style="width: 150px;">
          <col style="width: 150px;">
          <col style="width: 150px;">
          <col style="width: 150px;">
          <col style="width: 150px;">
          <col style="width: 150px;">
          <col style="width: 100px;">
          <col style="width: 150px;">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn translate>common.table.index</th>
          <th pResizableColumn translate *ngIf="!isView && !isEditSelection && !isViewSelection && isSynthetic != 1 && !isDisable"><span>common.label.action</span></th>
          <th pResizableColumn translate><span [ngClass]="'required'">rewardPropose.fullName</span></th>
          <!-- Loai danh hieu khen thuong -->
          <th pResizableColumn translate><span>label.commendations.type</span></th>
          <th pResizableColumn translate><span [ngClass]="'required'">rewardPropose.rewardTitleId</span></th>
          <th pResizableColumn translate><span>rewardPropose.money</span></th>
          <th pResizableColumn translate><span>rewardPropose.rewardDescription</span></th>
          <!-- Xét chọn -->
          <th pResizableColumn translate *ngIf="isEditSelection || isViewSelection">
            <span>label.rewardPropose.isChoose</span>
            <div class="check">
              <input type="checkbox" (change)="chooseAll($event, formRewardIndividualOut.controls, 1)" #eleChooseAll [attr.disabled]="isViewSelection ? true: null" style="width: 18px; height: 1.5rem;">
            </div>
          </th>
          <!-- Đề xuất lên -->
          <th pResizableColumn translate *ngIf="isEditSelection || isViewSelection">
            <span>label.rewardPropose.isSuggest</span>
            <div class="check">
              <input type="checkbox" (change)="chooseAll($event, formRewardIndividualOut.controls, 2)" #eleSuggestAll [attr.disabled]="isViewSelection ? true: null" style="width: 18px; height: 1.5rem;">
            </div>
          </th>
          <!-- lý do -->
          <th pResizableColumn translate *ngIf="isEditSelection || isViewSelection"><span>label.rewardPropose.note</span></th>
          <th pResizableColumn translate><span [ngClass]="'required'">rewardPropose.accountNumber</span></th>
          <th pResizableColumn translate><span [ngClass]="'required'">rewardPropose.bankName</span></th>
          <th pResizableColumn translate><span>rewardPropose.cardNumber</span></th>
          <th pResizableColumn translate><span>rewardPropose.cardNumberDate</span></th>
          <th pResizableColumn translate><span>rewardPropose.cardNumberPlace</span></th>
          <th pResizableColumn translate><span>rewardPropose.nationality</span></th>
          <th pResizableColumn translate><span>rewardPropose.statusOfResidence</span></th>
          <th pResizableColumn translate><span>rewardPropose.addressPhoneNumber</span></th>
          <th pResizableColumn translate><span>rewardPropose.taxId</span></th>
          <th pResizableColumn translate><span>rewardGeneral.incomeType</span></th>
          <th pResizableColumn translate><span>rewardGeneral.reimbursementOrgName</span></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr [formGroup]="item" [ngClass]="{'d-none': item.controls.isHidden.value}">
          <td class="vt-align-center">
            {{index+1}}
          </td>
          <!-- thao tac -->
          <td *ngIf="!isView && !isEditSelection && !isViewSelection && isSynthetic != 1 && !isDisable" class="vt-align-center">
            <button class="btn-icon minus" type="button" (click)="remove(index, item)"
              [innerHTML]="'common.icon.minus' | translate">
              <span class="glyphicons glyphicons-minus icon-table delete" title="Xóa"></span>
            </button>
          </td>
          <!-- ho va ten -->
          <td class="vt-align-left">
            <input type="text" class="form form-control" name="objectNameGuest" maxlength="255" [title]="item.controls.objectNameGuest.value || ''"
              formControlName="objectNameGuest" [attr.disabled]="isView || isEditSelection || isViewSelection || isAddSign || isEditSign || isViewSign || isDisable ? true: null">
            <app-control-messages [control]="item.controls.objectNameGuest"></app-control-messages>
          </td>
          <!-- Loại danh hiệu khen thưởng -->
          <td>
            <div class="text-left">
              <div class="form-check-inline">
                <label class="i-checks">
                  <input [attr.disabled]="isView || isViewSelection || isAddSign || isEditSign || isViewSign? true: null" type="radio" class="form-check-input control-label" id="rewardCategory{{index}}_1" value="1" formControlName="rewardCategory">
                  <i></i>
                  {{'rewardCategory.titleReward' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input [attr.disabled]="isView || isViewSelection || isAddSign || isEditSign || isViewSign? true: null" type="radio" class="form-check-input control-label" id="rewardCategory{{index}}_2" value="2" formControlName="rewardCategory">
                  <i></i>
                  {{'rewardCategory.formReward' | translate}}
                </label>
              </div>
<!--              <div class="form-check-inline">-->
<!--                <label class="i-checks">-->
<!--                  <input [attr.disabled]="isView || isViewSelection || isAddSign || isEditSign || isViewSign? true: null" type="radio" class="form-check-input control-label" id="rewardCategory{{index}}_3" value="3" formControlName="rewardCategory">-->
<!--                  <i></i>-->
<!--                  {{'rewardCategory.otherReward' | translate}}-->
<!--                </label>-->
<!--              </div>-->
            </div>
          </td>
          <!-- danh hieu/ hinh thuc khen thuong -->
          <td>
            <select-icon-filter [property]="item.controls.rewardTitleId" [options]="mapRewardTitleIdList[rewardType][item.controls.rewardCategory.value]" optionLabel="name"
              optionValue="rewardCategoryId" [placeHolder]="'common.label.cboMustSelect'" appendTo="body"
              [disabled]="isView || isViewSelection || isAddSign || isEditSign || isViewSign"
              [rewardGroupType]="rewardTitleIdList" (onChange)="getAmountOfMoney(item)" [title]="item.controls.rewardTitleId.value ? item.controls.rewardTitleName.value : ''">
            </select-icon-filter>
            <app-control-messages [control]="item.controls.rewardTitleId"></app-control-messages>
          </td>
          <!-- Số tiền khen thưởng -->
          <td class="vt-align-left">
            <input *ngIf="isView || isViewSelection || isAddSign || isEditSign || isViewSign? true: null" type="text" style="text-align:right;" class="form form-control" name="amountOfMoney" min="0"
                   formControlName="amountOfMoney" maxlength="15" [attr.disabled]="isView || isViewSelection || isAddSign || isEditSign || isViewSign? true: null"
                   [value]="item.value.amountOfMoney | currency: 'VND'">
            <input *ngIf="isView || isViewSelection || isAddSign || isEditSign || isViewSign? null: true" type="text" style="text-align:right;" class="form form-control" name="amountOfMoney" min="0"
              formControlName="amountOfMoney" maxlength="15" [attr.disabled]="isView || isViewSelection || isAddSign || isEditSign || isViewSign? true: null">
            <app-control-messages [control]="item.controls.amountOfMoney"></app-control-messages>
          </td>
          <!-- Nội dung khen thưởng -->
          <td class="vvt-align-right">
            <textarea type="text" rows="2" name="description" class="form-control" [title]="item.controls.description.value || ''"
            formControlName="description" maxlength="2000" [attr.disabled]="isView || isViewSelection || isAddSign || isEditSign || isViewSign? true: null">
            </textarea>
          </td>
          <!-- Xét chọn-->
          <td class="vt-align-left" *ngIf="isEditSelection || isViewSelection">
            <input type="checkbox" class="ui-chkbox ui-chkbox-box" style="height: 1.5rem;" name="isChoose" [value]="0"
            formControlName="isChoose" [attr.disabled]="isViewSelection ? true: null" (change)="onChangeChooseOrSuggest(item, formRewardIndividualOut.controls)" />
          </td>
          <!-- Từ chối -->
          <td class="vt-align-left" *ngIf="isEditSelection || isViewSelection">
            <input type="checkbox" class="ui-chkbox ui-chkbox-box" style="height: 1.5rem;" name="isSuggest" [value]="0"
            formControlName="isSuggest" [attr.disabled]="isViewSelection ? true: null" (change)="onChangeChooseOrSuggest(item, formRewardIndividualOut.controls)" />
          </td>
          <!-- lý do từ chối -->
          <td class="vt-align-center" *ngIf="isEditSelection || isViewSelection">
            <textarea [autoFocus]="true" type="text" rows="2" name="reason" class="form-control" [title]="item.controls.reason.value || ''"
              formControlName="reason" maxlength="2000" [attr.disabled]="isViewSelection ? true: null">
            </textarea>
            <app-control-messages [control]="item.controls.reason"></app-control-messages>
          </td>
          <!-- so tai khoan -->
          <td class="vt-align-left">
            <input type="text" class="form form-control" name="accountNumber" min="0" formControlName="accountNumber"
              maxlength="20" [attr.disabled]="isView || isViewSelection || isEditSelection || isAddSign || isEditSign || isViewSign? true: null">
            <app-control-messages [control]="item.controls.accountNumber"></app-control-messages>
          </td>
          <!-- ten ngan hang -->
          <td class="vt-align-center">
            <input type="text" class="form form-control" name="bank" min="0" formControlName="bank" maxlength="255" [title]="item.controls.bank.value || ''"
              [attr.disabled]="isView || isViewSelection || isAddSign || isEditSelection || isEditSign || isViewSign? true: null">
            <app-control-messages [control]="item.controls.bank"></app-control-messages>
          </td>
          <!-- so cmnd -->
          <td>
            <input type="text" class="form form-control" name="personalIdNumber" maxlength="50"
              formControlName="personalIdNumber" [attr.disabled]="isView || isViewSelection || isEditSelection || isAddSign || isEditSign || isViewSign? true: null">
            <app-control-messages [control]="item.controls.personalIdNumber"></app-control-messages>
          </td>
          <!-- ngay cap -->
          <td>
            <date-picker [property]="item.controls.personalIdIssuedDate" appendTo="body"
              [disabled]="isView || isViewSelection || isAddSign || isEditSelection || isEditSign || isViewSign">
            </date-picker>
            <app-control-messages [control]="item.controls.personalIdIssuedDate"></app-control-messages>
          </td>
          <!-- noi cap -->
          <td>
            <input type="text" class="form form-control" name="personalIdIssuedPlace" maxlength="200" [title]="item.controls.personalIdIssuedPlace.value || ''"
              formControlName="personalIdIssuedPlace" [attr.disabled]="isView || isViewSelection || isEditSelection || isAddSign || isEditSign || isViewSign? true: null">
            <app-control-messages [control]="item.controls.personalIdIssuedPlace"></app-control-messages>
          </td>
          <!-- quoc tich -->
          <td>
            <select-filter [placeHolder]="'common.label.cboSelect'" [property]="item.controls.nationId"
              [options]="nationList" optionLabel="name" optionValue="nationId" appendTo="body" (onChange)="getNationality(item)" [title]="item.controls.nationId.value ? item.controls.nationName.value : '' "
              [disabled]="isView || isViewSelection || isAddSign || isEditSelection || isEditSign || isViewSign">
            </select-filter>
            <app-control-messages [control]="item.controls.nationId"></app-control-messages>
          </td>
          <!-- tinh trang cu tru -->
          <td>
            <select-filter [placeHolder]="'common.label.cboMustSelect'" [property]="item.controls.residencyStatus"
              [options]="residentStatusList" optionLabel="label" optionValue="value" appendTo="body"
              [disabled]="isView || isViewSelection || isAddSign || isEditSelection || isEditSign || isViewSign">
            </select-filter>
            <app-control-messages [control]="item.controls.residencyStatus"></app-control-messages>
          </td>
          <!-- dia chi, sdt -->
          <td>
            <input type="text" formControlName="addressOrPhone" name="addressOrPhone" class="form-control" [title]="item.controls.addressOrPhone.value || ''"
              maxlength="255" [attr.disabled]="isView || isViewSelection || isEditSelection || isAddSign || isEditSelection || isEditSign || isViewSign? true: null">
            <app-control-messages [control]="item.controls.addressOrPhone"></app-control-messages>
          </td>
          <!-- Ma so thue -->
          <td>
            <input type="text" formControlName="taxId" name="taxId" class="form-control"
              maxlength="50" [attr.disabled]="isView || isViewSelection || isEditSelection || isAddSign || isEditSign || isViewSign? true: null">
            <app-control-messages [control]="item.controls.taxId"></app-control-messages>
          </td>
          <td class="vt-align-center">
            <textarea type="text" rows="2" name="incomeType" class="form-control" [title]="item.controls.incomeType.value || ''"
                      formControlName="incomeType" maxlength="2000" [attr.disabled]="true">
            </textarea>
            <app-control-messages [control]="item.controls.incomeType"></app-control-messages>
          </td>
          <td class="vt-align-center">
            <textarea type="text" rows="2" name="reimbursementOrgName" class="form-control" [title]="item.controls.reimbursementOrgName.value || ''"
                      formControlName="reimbursementOrgName" maxlength="2000" [attr.disabled]="true">
            </textarea>
            <app-control-messages [control]="item.controls.reimbursementOrgName"></app-control-messages>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</form>
<button *ngIf="!isView && !isEditSelection && !isViewSelection && isSynthetic != 1 && !isAddSign && !isEditSign && !isViewSign && !isDisable" class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="add()" [innerHTML]="'common.button.icon.addColumn' | translate">
</button>
