<!-- <div class="warning-item display-table w100">
    <span class="table-cell warning-icon">
      <span class="font-icon bg-danger">
        <i class="glyphicons glyphicons-user"></i>
      </span>
    </span>
    <span class="table-cell warning-info">
      <span>Tổng Số Đảng Viên</span>
    </span>
</div> -->
<div class="panel panel-default homeWarning">
  <div class="panel-body padding-top-0 padding-bot-0">
      <div class="ui-g">
          <label class="ui-g-12 ui-md-8 ui-lg-7 control-label vt-align-left">
            Tổng số Đảng viên
          </label>
          <div class="ui-g-12 ui-md-8 ui-lg-5 vt-align-left">
            <select-filter
              [placeHolder]="'common.label.cboSelectAll'"
              [property]="partyMemberType" 
              [options]="partyMemberTypeList" 
              optionLabel="name"
              optionValue="id"
              [isDisplayClear] = "false"
              (onChange) = "changePartyType()"
              >
            </select-filter>
          </div>
      </div>
      <div class="display-table party-statical">
        <div class="table-cell">
          <span class="table-cell party-home-icon">
            <span class="font-icon bg-danger">
              <i class="glyphicons glyphicons-user"></i>
            </span>
          </span>
        </div>
        <div class="table-cell">
          <span class="show-number">{{partyMemberTotal}}</span>
        </div>
      </div>
  </div>
</div>