<div id="searchArea">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading" translate>
        <strong class="text-u-c" *ngIf="!isEdit">
          <i class="fa fa-th"></i>
          <span *ngIf="!isView">&nbsp;tab.rewardProposal.rewardInfoInsertDecide</span>
          <span *ngIf="isView">&nbsp;tab.rewardProposal.rewardInfoViewDecide</span>
        </strong>
        <strong class="text-u-c" *ngIf="isEdit">
          <i class="fa fa-th"></i>
          <span>&nbsp;tab.rewardProposal.rewardInfoDecideEdit</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'propaganda.rewardDecideOrg' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector #orgSelector [property]="f['organizationId']" operationKey="action.view"
              adResourceKey="resource.propaganda" [defaultValue]="true" isRequiredField="true"
              [disabled]="isView || isEdit" (onChange)="onChangeGetRewardProposalList($event);">
            </org-selector>
            <app-control-messages [control]="f['organizationId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'propaganda.rewardDecideEmp' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <data-picker #data [property]="f['employeeId']" systemCode="political" operationKey="action.view"
              adResourceKey="resource.propaganda" objectBO="EmployeeBO" codeField="employeeCode" nameField="fullName"
              emailField="email" selectField="employeeId" [isRequiredField]="true" filterCondition="AND obj.status = 1"
              [disabled]="isView" mobileNumberField="mobileNumber">
            </data-picker>
            <app-control-messages [control]="f['employeeId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'propaganda.rewardDecideCode' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" class="form form-control" name="rewardDecideCode" formControlName="rewardDecideCode"
              [attr.disabled]="isView ? true: null" maxlength="100" [autoFocus]="true">
            <app-control-messages [control]="f['rewardDecideCode']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'propaganda.rewardDecideDecideDate' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['decideDate']" [disabled]="isView">
            </date-picker>
            <app-control-messages [control]="f['decideDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'propaganda.formRewardDecideReport' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <multi-select-filter [property]="f['lstPropagandaRewardProposalId']" [options]="rewardProposalList"
              optionLabel="rewardProposalCode" optionValue="propagandaRewardProposalId"
              [filterPlaceHolder]="'common.label.cboMustSelect'" (placeHolder)="'common.label.cboMustSelect'"
              maxSelectedLabels="100" [disabled]="isView ? true : null" (onChange)="processAutoFindRecord($event)">
            </multi-select-filter>
            <app-control-messages [control]="f['lstPropagandaRewardProposalId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'propaganda.rewardDecideTotalAmountReward' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" class="form form-control vt-align-right" name="totalAmountReward" [attr.disabled]="true"
              formControlName="totalAmountReward" maxlength="255">
            <app-control-messages [control]="f['totalAmountReward']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required" translate>
            rewardDecide.paymentMode
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['paymentMode']" [options]="paymentModeList" optionLabel="label"
              optionValue="value" [placeHolder]="'common.label.cboMustSelect'" [disabled]="isView ? true : null">
            </select-filter>
            <app-control-messages [control]="f['paymentMode']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required" translate>
            label.propaganda.email.accountant
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" class="form form-control" [attr.disabled]="isView ? true : null" name="emailAccountant"
              formControlName="emailAccountant" maxlength="100">
            <app-control-messages [control]="f['emailAccountant']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'propaganda.rewardDecidContent' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-9">
            <textarea type="text" rows="3" name="content" class="form-control" formControlName="content"
              maxlength="1000" [attr.disabled]="isView ? '' : null">
          </textarea>
            <app-control-messages [control]="f['content']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" *ngIf="!isView" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
          [innerHTML]="'common.button.icon.save' | translate"></button>
        <button type="button" (click)="goBack();" class="btn btn-sm btn-danger"
          [innerHTML]="'common.button.out' | translate"></button>
      </div>
    </form>
  </div>
</div>
<div id="listArea">
  <div class="panel panel-default">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        &nbsp;{{ 'title.rewardProposal.rewardDetailList' | translate }}
      </strong>
    </div>
    <!-- tabView -->
    <br />
    <p-tabView>
      <!-- Khen thuong tap the -->
      <p-tabPanel header="{{'tab.rewardProposal.rewardGroup' | translate}}">
        <form id="formSave" [formGroup]="formRewardGroup">
          <!-- BCH công đoàn cơ sở -->
          <div class="panel-body panel-table">
            <p-table [scrollable]="true" [value]="formRewardGroup.controls"
              tableStyleClass="table controls-table table-wrapper b-t b-b" styleClass="rewardGroupMinHeight">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col class="size-6">
                  <col class="size-6">
                  <!--ma to trinh-->
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6"><!-- ky thanh toan -->
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th translate><span>propaganda.rewardDecidReportCode</span></th>
                  <th translate><span>tabRewardGroup.rewardProposal.organization</span></th>
                  <th translate><span>tabRewardGroup.rewardProposal.rewardGroupName</span></th>
                  <th translate><span>tabRewardGroup.rewardProposal.organizationName</span></th>
                  <th translate><span>tabRewardGroup.rewardProposal.achievementsCommended</span></th>
                  <th translate><span>tabRewardGroup.rewardProposal.rewardType</span></th>
                  <th translate><span>tabRewardGroup.rewardProposal.totalAmountReward</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.paymentPeriod</span></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr [formGroup]="item">
                  <td class="vt-align-center">
                    {{index+1}}
                  </td>
                  <td>
                    <input type="text" formControlName="rewardProposalCode" name="rewardProposalCode"
                      class="form-control" [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.rewardProposalCode"></app-control-messages>
                  </td>
                  <td>
                    <org-selector [property]="item.controls.organizationId" operationKey="action.view"
                      adResourceKey="resource.partyOrganization" [defaultValue]="true" [isRequiredField]="true"
                      [disabled]="true">
                    </org-selector>
                  </td>
                  <td>
                    <input type="text" formControlName="rewardGroup" name="rewardGroup" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.rewardGroup"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="organizationName" name="organizationName" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.organizationName"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="achievementsCommended" name="achievementsCommended"
                      class="form-control" [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.achievementsCommended"></app-control-messages>
                  </td>
                  <td>
                    <select-filter [placeHolder]="'common.label.cboMustSelect'" [property]="item.controls.rewardFormId"
                      [options]="rewardFormList" optionLabel="name" optionValue="propagandaRewardFormId" appendTo="body"
                      [disabled]="true">
                    </select-filter>
                    <app-control-messages [control]="item.controls.rewardFormId"></app-control-messages>
                  </td>
                  <td>
                    <input type="number" formControlName="totalAmountReward" name="totalAmountReward"
                      class="form-control vt-align-left" [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.totalAmountReward"></app-control-messages>
                  </td>
                  <td>
                    <date-picker [property]="item.controls.paymentPeriod" appendTo="body" [view]="'month'"
                      [disabled]="true">
                    </date-picker>
                    <app-control-messages [control]="item.controls.paymentPeriod"></app-control-messages>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </form>
      </p-tabPanel>
      <!-- Khen thuong CBCNV -->
      <p-tabPanel header="{{'tab.rewardProposal.rewardEmployee' | translate}}">
        <form id="formSave" [formGroup]="formRewardEmployee">
          <div class="panel-body panel-table">
            <p-table [scrollable]="true" [value]="formRewardEmployee.controls"
              tableStyleClass="table controls-table table-wrapper b-t b-b" styleClass="rewardGroupMinHeight">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col class="size-6">
                  <!--ma to trinh-->
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-10">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th translate><span>propaganda.rewardDecidReportCode</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.employeeId</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.memberName</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.rewardFormId</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.rewardReason</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.residentStatus</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.taxCode</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.idNumber</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.idNumberDate</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.idNumberPlace</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.accountNumber</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.bankName</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.addressPhone</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.totalAmountPayment</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.paymentPeriod</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.note</span></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr [formGroup]="item">
                  <td class="vt-align-center">
                    {{index+1}}
                  </td>
                  <td>
                    <input type="text" formControlName="rewardProposalCode" name="rewardProposalCode"
                      class="form-control" [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.rewardProposalCode"></app-control-messages>
                  </td>
                  <td class="vt-align-center">
                    <data-picker [property]="item.controls.employeeId" systemCode="political" operationKey="action.view"
                      adResourceKey="resource.propaganda" objectBO="EmployeeBO" codeField="fullName"
                      nameField="employeeCode" emailField="email" selectField="employeeId" [isRequiredField]="true"
                      [filterCondition]="' AND obj.status = 1'" [disabled]="true" mobileNumberField="mobileNumber">
                    </data-picker>
                    <app-control-messages [control]="item.controls.employeeId"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="memberName" name="memberName" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.memberName"></app-control-messages>
                  </td>
                  <td>
                    <select-filter [placeHolder]="'common.label.cboMustSelect'" [property]="item.controls.rewardFormId"
                      [options]="rewardFormList" optionLabel="name" optionValue="propagandaRewardFormId"
                      [disabled]="true" appendTo="body">
                    </select-filter>
                    <app-control-messages [control]="item.controls.rewardFormId"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="rewardReason" name="rewardReason" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.rewardReason"></app-control-messages>
                  </td>
                  <td>
                    <select-filter [placeHolder]="'common.label.cboMustSelect'"
                      [property]="item.controls.residentStatus" [options]="residentStatusList" optionLabel="label"
                      optionValue="value" [disabled]="true" appendTo="body">
                    </select-filter>
                    <app-control-messages [control]="item.controls.residentStatus"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="taxCode" name="taxCode" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.taxCode"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="idNumber" name="idNumber" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.idNumber"></app-control-messages>
                  </td>
                  <td>
                    <date-picker [property]="item.controls.idNumberDate" appendTo="body" [disabled]="true">
                    </date-picker>
                    <app-control-messages [control]="item.controls.idNumberDate" [attr.disabled]="true">
                    </app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="idNumberPlace" name="idNumberPlace" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.idNumberPlace"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="accountNumber" name="accountNumber" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.accountNumber"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="bankName" name="bankName" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.bankName"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="addressPhone" name="addressPhone" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.addressPhone"></app-control-messages>
                  </td>
                  <td>
                    <input type="number" formControlName="totalAmountPayment" name="totalAmountPayment"
                      class="form-control vt-align-left" [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.totalAmountPayment"></app-control-messages>
                  </td>
                  <td>
                    <date-picker [property]="item.controls.paymentPeriod" appendTo="body" [view]="'month'"
                      [disabled]="true">
                    </date-picker>
                    <app-control-messages [control]="item.controls.paymentPeriod"></app-control-messages>
                  </td>
                  <td>
                    <textarea formControlName="note" name="note" class="form-control" [attr.disabled]="true"></textarea>
                    <app-control-messages [control]="item.controls.note"></app-control-messages>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </form>
      </p-tabPanel>
      <!-- Khen thuong Vang Lai -->
      <p-tabPanel header="{{'tab.rewardProposal.rewardHaunt' | translate}}">
        <form id="formSave" [formGroup]="formRewardHaunt">
          <div class="panel-body panel-table">
            <p-table [scrollable]="true" [value]="formRewardHaunt.controls"
              tableStyleClass="table controls-table table-wrapper b-t b-b" styleClass="rewardGroupMinHeight">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-10">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th translate><span>propaganda.rewardDecidReportCode</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.memberName</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.rewardFormId</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.rewardReason</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.national</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.residentStatus</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.taxCode</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.idNumber</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.idNumberDate</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.idNumberPlace</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.accountNumber</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.bankName</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.addressPhone</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.totalAmountPayment</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.paymentPeriod</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.note</span></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr [formGroup]="item">
                  <td class="vt-align-center">
                    {{index+1}}
                  </td>
                  <td>
                    <input type="text" formControlName="rewardProposalCode" name="rewardProposalCode"
                      class="form-control" [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.rewardProposalCode"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="memberName" name="memberName" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.memberName"></app-control-messages>
                  </td>
                  <td>
                    <select-filter [placeHolder]="'common.label.cboMustSelect'" [property]="item.controls.rewardFormId"
                      [options]="rewardFormList" optionLabel="name" optionValue="propagandaRewardFormId"
                      [disabled]="true" appendTo="body">
                    </select-filter>
                    <app-control-messages [control]="item.controls.rewardFormId"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="rewardReason" name="rewardReason" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.rewardReason"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="national" name="national" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.national"></app-control-messages>
                  </td>
                  <td>
                    <select-filter [placeHolder]="'common.label.cboMustSelect'"
                      [property]="item.controls.residentStatus" [options]="residentStatusList" optionLabel="label"
                      optionValue="value" [disabled]="true" appendTo="body">
                    </select-filter>
                    <app-control-messages [control]="item.controls.residentStatus"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="taxCode" name="taxCode" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.taxCode"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="idNumber" name="idNumber" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.idNumber"></app-control-messages>
                  </td>
                  <td>
                    <date-picker [property]="item.controls.idNumberDate" appendTo="body" [disabled]="true">
                    </date-picker>
                    <app-control-messages [control]="item.controls.idNumberDate"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="idNumberPlace" name="idNumberPlace" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.idNumberPlace"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="accountNumber" name="accountNumber" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.accountNumber"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="bankName" name="bankName" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.bankName"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="addressPhone" name="addressPhone" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.addressPhone"></app-control-messages>
                  </td>
                  <td>
                    <input type="number" formControlName="totalAmountPayment" name="totalAmountPayment"
                      class="form-control vt-align-left" [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.totalAmountPayment"></app-control-messages>
                  </td>
                  <td>
                    <date-picker [property]="item.controls.paymentPeriod" appendTo="body" [view]="'month'"
                      [disabled]="true">
                    </date-picker>
                    <app-control-messages [control]="item.controls.paymentPeriod"></app-control-messages>
                  </td>
                  <td>
                    <textarea formControlName="note" name="note" class="form-control" [attr.disabled]="true"></textarea>
                    <app-control-messages [control]="item.controls.note"></app-control-messages>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </form>
      </p-tabPanel>
      <!-- Khen thuong khong cu tru -->
      <p-tabPanel header="{{'tab.rewardProposal.rewardHomeless' | translate}}">
        <form id="formSave" [formGroup]="formRewardHomeLess">
          <div class="panel-body panel-table">
            <p-table [scrollable]="true" [value]="formRewardHomeLess.controls"
              tableStyleClass="table controls-table table-wrapper b-t b-b" styleClass="rewardGroupMinHeight">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-10">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th translate><span>propaganda.rewardDecidReportCode</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.memberName</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.rewardFormId</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.rewardReason</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.national</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.residentStatus</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.taxCode</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.idNumber</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.idNumberDate</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.idNumberPlace</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.accountNumber</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.bankName</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.addressPhone</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.totalAmountPayment</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.paymentPeriod</span></th>
                  <th translate><span>tabRewardEmployee.rewardProposal.note</span></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr [formGroup]="item">
                  <td class="vt-align-center">
                    {{index+1}}
                  </td>
                  <td>
                    <input type="text" formControlName="rewardProposalCode" name="rewardProposalCode"
                      class="form-control" [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.rewardProposalCode"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="memberName" name="memberName" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.memberName"></app-control-messages>
                  </td>
                  <td>
                    <select-filter [placeHolder]="'common.label.cboMustSelect'" [property]="item.controls.rewardFormId"
                      [options]="rewardFormList" optionLabel="name" optionValue="propagandaRewardFormId" appendTo="body"
                      [disabled]="true">
                    </select-filter>
                    <app-control-messages [control]="item.controls.rewardFormId"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="rewardReason" name="rewardReason" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.rewardReason"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="national" name="national" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.national"></app-control-messages>
                  </td>
                  <td>
                    <select-filter [placeHolder]="'common.label.cboMustSelect'"
                      [property]="item.controls.residentStatus" [options]="residentStatusList" optionLabel="label"
                      optionValue="value" [disabled]="true" appendTo="body">
                    </select-filter>
                    <app-control-messages [control]="item.controls.residentStatus"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="taxCode" name="taxCode" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.taxCode"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="idNumber" name="idNumber" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.idNumber"></app-control-messages>
                  </td>
                  <td>
                    <date-picker [property]="item.controls.idNumberDate" appendTo="body" [disabled]="true">
                    </date-picker>
                    <app-control-messages [control]="item.controls.idNumberDate"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="idNumberPlace" name="idNumberPlace" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.idNumberPlace"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="accountNumber" name="accountNumber" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.accountNumber"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="bankName" name="bankName" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.bankName"></app-control-messages>
                  </td>
                  <td>
                    <input type="text" formControlName="addressPhone" name="addressPhone" class="form-control"
                      [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.addressPhone"></app-control-messages>
                  </td>
                  <td>
                    <input type="number" formControlName="totalAmountPayment" name="totalAmountPayment"
                      class="form-control vt-align-left" [attr.disabled]="true">
                    <app-control-messages [control]="item.controls.totalAmountPayment"></app-control-messages>
                  </td>
                  <td>
                    <date-picker [property]="item.controls.paymentPeriod" appendTo="body" [view]="'month'"
                      [disabled]="true">
                    </date-picker>
                    <app-control-messages [control]="item.controls.paymentPeriod"></app-control-messages>
                  </td>
                  <td>
                    <textarea formControlName="note" name="note" class="form-control" [attr.disabled]="true"></textarea>
                    <app-control-messages [control]="item.controls.note"></app-control-messages>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </form>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>