<div class="card-form">
  <div class="clearfix">
    <div class="left-nav-bar pull-left row-header">
      <div>
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png"
          (click)="goBack();">
        <span *ngIf="this.create" class="title">{{'label.welfare.policy.proposal.header' | translate}}</span>
        <span *ngIf="this.view" class="title">{{'label.welfare.policy.proposal.headerView' | translate}}</span>
        <span *ngIf="this.update" class="title">{{'label.welfare.policy.proposal.headerEdit' | translate}}</span>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
      <ul class="header-right sys-ul space-line">
        <li>
          <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="goBack();"
            [innerHTML]="'common.button.out' | translate">
          </button>
        </li>
        <li>
          <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button"
            *ngIf="this.create || this.update || (this.view && status == 0)" (click)="processSaveOrUpdate()"
            [innerHTML]="'common.button.icon.save' | translate">
          </button>
        </li>
        <li>
          <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button"
            *ngIf="this.create || this.update || (this.view && status == 0)" (click)="processSaveOrUpdateAndActSign()"
            [innerHTML]="'common.button.icon.saveAndActSign' | translate">
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="info">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong>
          <span *ngIf="this.create" class="ml-2 title-info">{{'label.welfare.policy.proposal.header' |translate}}</span>
          <span *ngIf="this.view" class="ml-2 title-info">{{'label.welfare.policy.proposal.headerView'
            |translate}}</span>
          <span *ngIf="this.update" class="ml-2 title-info">{{'label.welfare.policy.proposal.headerEdit'
            |translate}}</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.proposal.name' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <!--            <input type="text" class="form-control k-display-none" >-->
            <input type="text" formControlName="title" class="form-control" [attr.disabled]="this.view? true : null">
            <app-control-messages [control]="f['title']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.allowance.proposal.search.proposeOrg' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <mass-org-selector [property]="f['proposalOrgId']" operationKey="action.view"
              adResourceKey="resource.welfarePolicyProposal" [defaultValue]="true" [branch]="3" [autoFocus]="true"
              [isRequiredField]="true" (onChange)="callDataForTable()" [disabled]="this.view || this.update">
            </mass-org-selector>
            <app-control-messages [control]="f['proposalOrgId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'label.welfare.policy.proposal.periodName' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['periodName']" [disabled]="true" placeholder='MM/yyyy' dateFormat="mm/yy">
            </date-picker>
            <app-control-messages [control]="f['periodName']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.welfare.policy.proposal.spendingOrg1' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['spendingOrgId']" [options]="orgOptions" optionLabel="name"
              optionValue="organizationId" [placeHolder]="'common.label.cboMustSelect'"
              (onChange)="changeSpendingOrgId()" [disabled]="this.view">
            </select-filter>
            <!--            <org-selector-->
            <!--                    [property]="f['spendingOrgId']"-->
            <!--                    operationKey="action.view"-->
            <!--                    adResourceKey="resource.employeeManager"-->
            <!--                    [defaultValue]="false"-->
            <!--                    isRequiredField = true-->
            <!--                    [disabled]="this.view">-->
            <!--            </org-selector>-->
            <app-control-messages [control]="f['spendingOrgId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'app.settings.emailSmsDynamic.recipients' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['receiverType']" [options]="receiverTypeOptions" optionLabel="name"
              optionValue="id" [placeHolder]="'common.label.cboMustSelect'" [disabled]="this.view"
              (onChange)="fillEmployeeToListByIndividuals()">
            </select-filter>
            <app-control-messages [control]="f['receiverType']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required"
            *ngIf="formSave.get('receiverType').value === 1">
            {{'label.welfare.policy.proposal.proposalEmployee' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3" *ngIf="formSave.get('receiverType').value === 1">
            <data-picker [property]="f['receiverEmployeeId']" systemCode="political" operationKey="action.view"
              adResourceKey="resource.welfarePolicyProposal" objectBO="EmployeeBO" codeField="employeeCode"
              nameField="fullName" emailField="email" mobileNumberField="mobileNumber" selectField="employeeId"
              isPartyMember="'true'" type="employee" [filterCondition]="employeeFilterCondition" [disabled]="this.view"
              (onChange)="fillEmployeeToList()">
            </data-picker>
            <small *ngIf="checkReceiverType" class="text-danger errorMessage">* Trường bắt buộc</small>
            <app-control-messages [control]="f['receiverEmployeeId']"></app-control-messages>
          </div>
        </div>
          <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                  Số tờ trình SAP
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" formControlName="sapStatementNo" class="form-control" [attr.disabled]="true">
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
                  Trạng thái tờ trình SAP
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" formControlName="sapStatementStatus" class="form-control" [attr.disabled]="true">
              </div>

          </div>
        <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                Số quyết định ban hành Voffice
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="text" formControlName="documentCode" class="form-control" [attr.disabled]="true">
            </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
            Số BTHTTPL
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" formControlName="sumInvNo" class="form-control" [attr.disabled]="true">
          </div>


        </div>

        <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                Trạng thái BTHTT
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="text" formControlName="sapVOSStatusDes" class="form-control" [attr.disabled]="true">
            </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
            Số bảng THTT SAP
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" formControlName="sapSumInvNo" class="form-control" [attr.disabled]="true">
          </div>

        </div>

        <div class="ui-g-12 vt-row">

          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
            Mô tả lỗi
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-9">
            <textarea type="text-area" formControlName="sapErrorMessage" class="form-control"
              [attr.disabled]="true"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="listArea" [ngClass]="isShowVertical?'display-list-vertical':''"
  [ngStyle]="{'width': isShowVertical && !isShowHideVertical ? '100%' : '','height': isShowVertical && !isShowHideVertical ? '85vh' : ''}">
  <div [ngClass]="isShowVertical?'panel panel-default display-max-vertical-height':'panel panel-default'">
    <div class="panel-heading vt-relative vt-panel-heading-table">
      <strong>
        <img *ngIf="isShowVertical && !isShowHideVertical" alt="next" class="img-fluid icon-show-hide-search"
          src="./../../../../../../assets/images/home/Mask_Group_24371.png" (click)="closeBasicSearch()">
        {{'label.welfare.policy.proposal.listDataForm' | translate}}
      </strong>
      <div class="show-btn-right-header">
        <button type="button" class="btn btn-sm vt-btn " [innerHTML]="'titleSelectAdd' | translate"
          *ngIf="this.create || (this.update && showBtn)" (click)="showPopupAdd()"></button>
        <button type="submit" class="btn btn-sm vt-btn" *ngIf=" this.update && showBtn" (click)="importData()"
          [innerHTML]="'label.welfare.policy.proposal.import' | translate"></button>
      </div>
    </div>
    <div class="panel-body panel-table table-container">
      <p-table #ptable [value]="list.controls" [paginator]="true" [(first)]="firstRowIndex" [rows]="pageSize"
        [totalRecords]="list.length" [scrollable]="true" [resizableColumns]="true" class="custom-table"
        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" styleClass="controlOverflow">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width: 50px;">
            <col style="width: 50px;" *ngIf="this.create || this.update">
            <col style="width: 50px;" style="display:none;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 300px;">
         
            <col style="width: 300px;">
            <col style="width: 300px;">
            <col style="width: 300px;">
            <col style="width: 300px;">
            <col style="width: 300px;">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pResizableColumn translate>common.table.index</th>
            <th pResizableColumn translate *ngIf="this.create || this.update"></th>
            <th pResizableColumn style="display:none;">
            <th pResizableColumn>
              {{'label.welfare.policy.request.employee' | translate}}
            </th>
            <th pResizableColumn>
              {{'label.welfare.policy.request.welfarePolicyCategory' | translate}}
            </th>
            <th pResizableColumn>
              {{'label.welfare.policy.category.objectType' | translate}}
            </th>
            <th pResizableColumn>
              {{'label.welfare.policy.category.relationship' | translate}}
            </th>
            <th pResizableColumn>
              {{'label.welfare.policy.request.objectName' | translate}}
            </th>
            <th pResizableColumn>
              {{'common.label.content' | translate}}
            </th>
            <th pResizableColumn>
              {{'label.welfare.policy.request.requestDate' | translate}}
            </th>
            <th pResizableColumn>
              {{'label.welfare.policy.request.status' | translate}}
            </th>
            <th pResizableColumn>
              {{'label.welfare.policy.request.chairmanType' | translate}}
            </th>
            <th pResizableColumn>
              {{'rewardPropose.reimbursement.totalAmount' | translate}}
            </th>
            <th pResizableColumn>
              {{'label.welfare.policy.proposal.proposalEmployee' | translate}}
            </th>

            <th pResizableColumn>
              Số hóa đơn
            </th>
            <!-- <th pResizableColumn>
              Trạng thái tạo hóa đơn SAPn
            </th>
            <th pResizableColumn>
              Chi tiết tạo hóa đơn SAP
            </th> -->
            <th pResizableColumn>
              Phương thức thanh toán
            </th>
            <th pResizableColumn>
               Mô tả lỗi chi tiết
            </th>
            <th pResizableColumn>
              {{'label.welfare.policy.proposal.partnerCode' | translate}}
            </th>
            <th pResizableColumn>
              {{'label.welfare.policy.proposal.account' | translate}}
            </th>
            <th pResizableColumn>
              {{'label.welfare.policy.proposal.fundReservationLine' | translate}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr [formGroup]="item">
            <td class="vt-align-center">{{index+1}}</td>
            <td class="vt-align-center" style="text-overflow: unset;" *ngIf="this.create || this.update">
              <button type="button" class="btn-icon minus" [title]="'titleDelete' | translate"
                (click)="removeRow(index, item)" [innerHTML]="'common.icon.minus' | translate">
              </button>
            </td>
            <td class="vt-align-center" style="display:none;">{{item.value.welfarePolicyRequestId}}</td>
            <td class="vt-align-left" [title]="item.value.employeeName"><span
                [innerHTML]="item.value.employeeName"></span></td>
            <td class="vt-align-left" [title]="item.value.welfarePolicyCategoryName">
              {{item.value.welfarePolicyCategoryName}}</td>
            <td class="vt-align-left" [title]="item.value.objectType">{{item.value.objectType}}</td>
            <td class="vt-align-left" [title]="item.value.relationshipName">{{item.value.relationshipName}}</td>
            <td class="vt-align-left" [title]="item.value.objectName">{{item.value.objectName}}</td>
            <td class="vt-align-left" [title]="item.value.reason">{{item.value.reason}}</td>
            <td class="vt-align-left " [title]="item.value.requestDate">{{item.value.requestDate | date: 'dd/MM/yyyy'}}
            </td>
            <td class="vt-align-left " [title]="item.value.status">{{item.value.status}}</td>
            <td class="vt-align-left " [title]="item.value.chairmanTypeName">{{item.value.chairmanTypeName}}</td>
            <td class="vt-align-left " [title]="item.value.amountTotal">{{item.value.amountTotal | number}}</td>
            <td class="vt-align-left ">
              <data-picker [property]="item.controls.receiverId" systemCode="political" operationKey="action.view"
                adResourceKey="resource.welfarePolicyProposal" objectBO="EmployeeBO" codeField="employeeCode"
                nameField="fullName" emailField="email" mobileNumberField="mobileNumber" selectField="employeeId"
                isPartyMember="'true'" [filterCondition]="employeeFilterCondition" type="employee"
                [disabled]="this.view">
              </data-picker>
            </td>
            <td class="vt-align-left " [title]="item.value.invNo">{{item.value.invNo}}</td>
            <!-- <td class="vt-align-left " [title]="item.value.sapInvNoStatus">{{item.value.sapInvNoStatus}}</td>
            <td class="vt-align-left " [title]="item.value.sapInvNoMsg">{{item.value.sapInvNoMsg}}</td> -->
            <td class="vt-align-left " [title]="item.value.paymentMethod">
              <span *ngIf="item.value.paymentMethod === 'W'">sangnnpay</span>
              <span *ngIf="item.value.paymentMethod === 'T'|| !item.value.paymentMethod">Chuyển khoản</span>
            </td>
            <td class="vt-align-left ">
              <div title="{{item.value.messageLog}}" [innerHTML]="item.value.messageLog"></div>
            </td>
            <td class="vt-align-left ">
              <div title="{{item.value.sapPartner}}" [innerHTML]="item.value.sapPartner"></div>
            </td>
            <td class="vt-align-left ">
              <div title="{{item.value.accountDrCode}}" [innerHTML]="item.value.accountDrCode"></div>
            </td>
            <td class="vt-align-left ">
              <div title="{{item.value.fundReservationLine}}" [innerHTML]="item.value.fundReservationLine"></div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="12" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <div class="table-footer-sumary">
            <span *ngIf="list.length < pageSize && list.length > 0">
              {{'common.tableSumary.find' | translate}} {{list.length}}, {{'common.tableSumary.showAll' | translate}}
            </span>
            <span *ngIf="list.length >= pageSize && firstRowIndex+pageSize <= list.length">
              {{'common.tableSumary.find' | translate}} {{list.length}}, {{'common.tableSumary.showFrom' | translate}}
              {{firstRowIndex + 1}} {{'common.tableSumary.showTo' | translate}}
              {{firstRowIndex + pageSize}}
            </span>
            <span *ngIf="list.length >= pageSize && firstRowIndex+pageSize > list.length">
              {{'common.tableSumary.find' | translate}} {{list.length}}, {{'common.tableSumary.showFrom' | translate}}
              {{firstRowIndex + 1}} {{'common.tableSumary.showTo' | translate}}
              {{list.length}}
            </span>
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
