<form id="formRewardCost" [formGroup] = "formRewardCost" style="padding: 12px;">
  <div class="panel-body panel-table">
    <p-table [scrollable]="true" [value]="formRewardCost.controls"
             tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" [paginator]="true"
             [(first)]="firstRowIndex" [rows]="pageSize" [resizableColumns]="true"
             [totalRecords]="formRewardCost.controls.length">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width: 50px;">
          <col style="width: 100px;">
          <col style="width: 200px;">
          <col style="width: 200px;">
          <col style="width: 200px;">
          <col style="width: 200px;">
          <col style="width: 200px;">
          <col style="width: 200px;">

        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn translate>common.table.index</th>
          <th pResizableColumn translate><span>common.label.action</span></th>
          <th pResizableColumn translate><span [ngClass]="'required'">rewardPropose.org</span></th>
          <th pResizableColumn translate><span [ngClass]="'required'"> rewardPropose.content.payment </span></th>
          <th pResizableColumn translate><span [ngClass]="'required'"> rewardCategoryFunding.funding </span></th>
          <th pResizableColumn translate><span [ngClass]="'required'">rewardPropose.amountOfMoney</span></th>
          <th pResizableColumn translate><span>rewardPropose.content</span></th>
          <th pResizableColumn translate><span>rewardGeneral.representReceiveBonusOrgName</span></th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr [formGroup]="item" [ngClass]="{'d-none': item.controls.isHidden.value}">
          <td class="vt-align-center">
            {{index+1}}
          </td>

          <!-- thao tac -->
          <td class="vt-align-center">
            <button class="btn-icon minus" type="button" (click)="remove(index, item)"
                    [innerHTML]="'common.icon.minus' | translate"
                    [disabled]="isView || isViewSelection || isAddSign || isEditSelection || isEditSign || isViewSign ? true: null">
            </button>
          </td>

          <!-- Đơn vị -->
          <td class="vt-align-center">
              <org-selector  [property]="item.controls.objectIdsangnnMember" operationKey="action.view" [autoFocus]="true"
                            adResourceKey="resource.rewardPropose" [defaultValue]="false" (onChange)="onProposeOrgChange($event)" [title]="item.value.orgName || ''"
                            [disabled]="isView || isViewSelection || isAddSign || isEditSelection || isEditSign || isViewSign ? true: null" [isRequiredField]="true">
            </org-selector>
            <!--<mass-org-selector *ngIf="rewardType == 2 || rewardType == 3 || rewardType == 4" [property]="item.controls.objectIdsangnnMember" operationKey="action.view"
                               adResourceKey="resource.rewardPropose" [defaultValue]="false" [branch]="branch"
                               [disabled]="isView || isViewSelection || isAddSign || isEditSelection || isEditSign || isViewSign ? true: null"
                               [autoFocus]="true" [isRequiredField]="true">
            </mass-org-selector>
            <party-org-selector
                    *ngIf="rewardType == 1"
                    [property]="item.controls.objectIdsangnnMember"
                    operationKey="action.view"
                    adResourceKey="resource.rewardPropose"
                    [defaultValue]="false"
                    [isRequiredField]="true" [autoFocus]="true"
                    [disabled]="isView || isViewSelection || isAddSign || isEditSelection || isEditSign || isViewSign ? true: null">
            </party-org-selector>-->
            <app-control-messages [control]="item.controls.objectIdsangnnMember"></app-control-messages>
          </td>

          <!-- Nội dung chi -->
          <td>
            <select-filter [placeHolder]="'common.label.cboSelect'" [property]="item.controls.rewardTitleId "
                           [options]="rewardTitleList" optionLabel="name" optionValue="rewardCategoryId" appendTo="body"
                           [disabled]="isView || isViewSelection || isViewSign || isAddSign || isEditSign">
            </select-filter>
            <app-control-messages [control]="item.controls.rewardTitleId "></app-control-messages>
          </td>
          <!-- Nguồn kinh phí -->
          <td>
            <select-filter [placeHolder]="'common.label.cboSelect'" [property]="item.controls.fundingCategoryId "
                           [options]="fundingCategoryList" optionLabel="funding" optionValue="fundingCategoryId" appendTo="body"
                           [disabled]="isView || isViewSelection || isViewSign || isAddSign || isEditSign">
            </select-filter>
            <app-control-messages [control]="item.controls.fundingCategoryId "></app-control-messages>
          </td>
          <!-- Số tiền -->
          <td class="vt-align-right">
            <input *ngIf="isView || isViewSelection|| isAddSign || isEditSign || isViewSign? true: null" type="text" class="form form-control"
                   [attr.disabled]="isView || isViewSelection || isViewSign || isAddSign || isEditSign? true: null"
                   formControlName="amountOfMoney" [value]="item.value.amountOfMoney | currency: 'VND'">
            <input *ngIf="isView || isViewSelection || isAddSign || isEditSign || isViewSign? null: true"
                   type="text" class="form form-control"
                   [attr.disabled]="isView || isViewSelection|| isViewSign || isAddSign || isEditSign? true: null"
                   formControlName="amountOfMoney">
            <app-control-messages [control]="item.controls.amountOfMoney"></app-control-messages>
          </td>

          <!-- Nội dung -->
          <td class="vt-align-left">
          <textarea type="text" rows="2" name="description" class="form-control"
                    [attr.disabled]="isView || isViewSelection || isViewSign ? true: null"
                    formControlName="description" maxlength="2000" >
            </textarea>
            <app-control-messages [control]="item.controls.description"></app-control-messages>
          </td>

          <td class="vt-align-center">
            <org-selector [property]="item.controls.representReceiveBonusOrgId" operationKey="action.view"
                          adResourceKey="resource.rewardPropose" [defaultValue]="false" (onChange)="onProposeOrgChange($event)" [title]="item.value.orgName || ''"
                          [disabled]="isView || isViewSelection || isAddSign || isEditSelection || isEditSign || isViewSign ? true: null" isRequiredField=true;>
            </org-selector>
            <app-control-messages [control]="item.controls.representReceiveBonusOrgId"></app-control-messages>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </div>
</form>
<button *ngIf="!isView && !isEditSelection && !isViewSelection && isSynthetic != 1 && !isAddSign && !isEditSign && !isViewSign && !isDisable" class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="add()" [innerHTML]="'common.button.icon.addColumn' | translate">
</button>
