  <div class="panel panel-default homeWarning" style="height: 312px; overflow: auto;">
    <div class="panel-heading">
        <strong class="text-u-c">
           Số lượng đảng viên
        </strong>
    </div>
    <div class="panel-body padding-top-0">
        <div class="display-table w-100">
            <label class="table-cell text-mute">
                {{partyName}}
            </label>
            <div class="table-cell vt-align-right">
                <div class="ui-report-action">
                    <a (click)="onReport()" class="icon-home2"><i class="fa fa-download text-mute"></i></a> 
                    <a (click)="actionOpenFormSearch()" class="icon-home2"><i class="fa fa-cog text-mute"></i></a>
                </div>
            </div>
        </div>
        <p-chart type="bar" height="240px" [data]="data" [options]="basicOptions"></p-chart>
    </div>
  </div>

