<div class="modal-body orgSelectorModal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="text-u-c"><i class="fa fa-th"></i>&nbsp;
                <span translate>label.thorough-content.preview</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
                <button *ngIf=" formGroup && formGroup.value.status != null && formGroup.value.status == 0 && hasApproveEmployee" class="btn btn-sm vt-btn btn-submit mr-btn ng-star-inserted" type="button" (click)="submitToApprove()"
                        [innerHTML]="'label.thorough-content.submit' | translate">
                </button>
                <button *ngIf="formGroup && formGroup.value.status != null && formGroup.value.status == 0   && !hasApproveEmployee" class="btn btn-sm vt-btn btn-submit mr-btn ng-star-inserted" type="button" (click)="submitToThorough()"
                        [innerHTML]="'label.thorough-content.thorough' | translate">
                </button>
                <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
                    class="btn btn-span btn-sm btn-info btn-close"><i class="fa fa-times"></i></span>
            </div>
        </div>
        <form id="formSave" [formGroup]="formGroup" *ngIf="formGroup" style="height: 100%">
            <div class="panel-body">
                <div class="row clearfix">
                    <div class="list-file-signing" style="width: 100%">
                      <div class="panel panel-default" style="border: 2px solid rgba(246,183,109,1)!important">
                        <div class="panel-heading vt-relative">
                            <strong class=" f-14">
                                <span>{{files?.thoroughLevelName}}</span>
                            </strong>
                            <div class=" title f-14" >
                                <span class="ui-button-icon-left ui-clickable pi pi-calendar"></span>&nbsp;
                                <span>{{files?.endDate | date: 'dd/MM/yyyy'}}</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div>
                                <b class="title-thorough-content">{{files?.title}}</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-file-signing" style="width: 100%; padding: 0px 15px 15px 15px">
                    <div class="panel panel-default" style="height: 100%; border: unset !important;box-shadow: unset !important;">
                        <div class="panel-heading vt-relative">
                            <strong class="text-u-c">
                                <span >Nội dung quán triệt</span>
                            </strong>
                        </div>
                        <div class="panel-body">
                            <p-tabView (onChange)="switchHeaders($event);" class="tab-view no-border">
                                <p-tabPanel header="Tóm tắt">
                                    <div>

                                        <audio #audioSumPlayer hidden *ngIf="audioSumURL" [src]="audioSumURL" >
                                            Trình duyệt của bạn không hỗ trợ audio.
                                        </audio>
                                        <div class="custom-audio" *ngIf="audioSumURL">
                                            <button class="play-btn" (click)="togglePlay(1)" [class.playing] = "isPlaying[1]">
                                                <span *ngIf="!isPlaying[1]">&#9658;</span>
                                                <span *ngIf="isPlaying[1]">❚❚</span>
                                            </button>
                                            <span class="current-time"><strong>{{ currentTime[1] }} /</strong> {{duration[1]}}</span>
                                            <div class="seek-bar" (click)="seek($event,1)">
                                                <div class="seek-filled" [style.width.%]="progress[1]"></div>
                                                <div class="seek-thumb" [style.left.%]="progress[1]"></div>
                                            </div>
                                            <div class="speed-dropdown">
                                                <button class="speed-toggle" (click)="toggleSpeedOptions(1)">{{playbackRate[1]}}x</button>
                                                <ul class="speed-options" [class.show] = showSpeedOptions[1]>
                                                    <li *ngFor="let speed of speedOptions" (click)="setSpeed(speed,1)">
                                                        {{speed}}x
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div  *ngIf="(files.htmlSummaryContent || files.summaryContent ) && files.fileAttachment.fileInfographicList && files.fileAttachment.fileInfographicList.length == 0" class="panel panel-default " style="height: 100%; box-shadow:unset !important;border: 2px solid rgba(246,183,109,1)!important">
                                            <div class="panel-body" style="background-color: white;">
                                                <p>{{files.htmlSummaryContent ? files.htmlSummaryContent : files.summaryContent}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </p-tabPanel>
                                <p-tabPanel header="Toàn văn">
                                    <div>
                                        <audio #audioFullPlayer hidden *ngIf="audioFullURL" [src]="audioFullURL">
                                            Trình duyệt của bạn không hỗ trợ audio.
                                        </audio>
                                        <div class="custom-audio" *ngIf="audioFullURL">
                                            <button class="play-btn" (click)="togglePlay(0)" [class.playing] = "isPlaying[0]">
                                                <span *ngIf="!isPlaying[0]">&#9658;</span>
                                                <span *ngIf="isPlaying[0]">❚❚</span>
                                            </button>
                                            <span class="current-time"><strong>{{ currentTime[0] }} /</strong> {{duration[0]}}</span>
                                            <div class="seek-bar" (click)="seek($event,0)">
                                                <div class="seek-filled" [style.width.%]="progress[0]"></div>
                                                <div class="seek-thumb" [style.left.%]="progress[0]"></div>
                                            </div>
                                            <div class="speed-dropdown">
                                                <button class="speed-toggle" (click)="toggleSpeedOptions(0)">{{playbackRate[0]}}x</button>
                                                <ul class="speed-options" [class.show] = showSpeedOptions[0]>
                                                    <li *ngFor="let speed of speedOptions" (click)="setSpeed(speed,0)">
                                                        {{speed}}x
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div *ngIf="(files.htmlDetailContent || files.detailContent) &&  files.fileAttachment.fileInfographicList && files.fileAttachment.fileInfographicList.length == 0"  class="panel panel-default " style="height: 100%; box-shadow:unset !important; border: 2px solid rgba(246,183,109,1)!important">
                                            <div class="panel-body" style="background-color: white;">
                                                <p>{{files.htmlDetailContent ? files.htmlDetailContent : files.detailContent}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </p-tabPanel>
                            </p-tabView>


                            <div class="panel panel-default no-border" style="height: 100%; box-shadow:unset !important;">
                                <div class="panel panel-default">
                                    <div class="panel-heading vt-relative">
                                        <strong class="text-u-c">
                                            <i class="fa fa-th"></i>&nbsp;
                                            <span translate>common.title.fileContent</span>
                                        </strong>
<!--                                        <button type="button" (click)="downloadFile()" class="btn btn-sm btn-success btn-dowload"-->
<!--                                                [innerHTML]="'common.button.icon.loadfile' | translate"></button>-->
                                    </div>
                                    <div class="panel-body">
                                        <pdf-viewer [autoresize]="true"
                                                    [original-size]='false'
                                                    [show-all] = 'true'
                                                    [fit-to-page]='true'
                                                    [render-text]='true'
                                                    style="display: block;height: 40vh; overflow-y: auto;"
                                                    [src]="url"></pdf-viewer>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="files.fileAttachment.fileList && files.fileAttachment.fileList.length >0" class="panel panel-default no-border" style="height: 100%; box-shadow:unset !important;">
                                <div class="panel-heading vt-relative no-bg">
                                    <strong class="text-u-c" style=" padding: 12px 0;">
                                        <span>Tài liệu gốc</span>
                                    </strong>
                                </div>
                                <div class="panel panel-default" style="display: flex; align-items: flex-start; padding: 0">
                                    <div class="panel-body" *ngIf="files.fileAttachment.fileList && files.fileAttachment.fileList.length >0">
                                            <div class="m-2" *ngFor="let file of files.fileAttachment.fileList, let i = index;">
                                                <a style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 340px; display: block; overflow: hidden"
                                                   (click)="preview(file , i)">
                                                    {{i+1}}. {{file.fileName}}
                                                </a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div  *ngIf="files.fileAttachment.attachmentFileList && files.fileAttachment.attachmentFileList.length >0" class="panel panel-default no-border" style="height: 100%; box-shadow:unset !important;">
                                <div class="panel-heading vt-relative no-bg">
                                    <strong class="text-u-c" style=" padding: 12px 0;">
                                        <span>Tài liệu đính kèm</span>
                                    </strong>
                                </div>
                                <div class="panel panel-default" style="display: flex; align-items: flex-start; padding: 0">
                                    <div class="panel-body" *ngIf="files.fileAttachment.attachmentFileList && files.fileAttachment.attachmentFileList.length >0">
                                        <div class="m-2" *ngFor="let file of files.fileAttachment.attachmentFileList, let i = index;">
                                            <a style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 340px; display: block; overflow: hidden"
                                               (click)="preview(file , i)">
                                                {{i+1}}. {{file.fileName}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="files.fileAttachment.fileInfographicList && files.fileAttachment.fileInfographicList.length >0" class="panel panel-default no-border" style="height: 100%; box-shadow:unset !important;">
                                <div class="panel-heading vt-relative no-bg">
                                    <strong class="text-u-c" style=" padding: 12px 0;">
                                        <span>Infographic</span>
                                    </strong>
                                </div>
                                <div class="panel panel-default" style="display: flex; align-items: flex-start; padding: 0">
                                    <div class="panel-body" *ngIf="files.fileAttachment.fileInfographicList && files.fileAttachment.fileInfographicList.length >0">
                                        <div class="m-2" *ngFor="let file of files.fileAttachment.fileInfographicList, let i = index;">
                                            <a style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 340px; display: block; overflow: hidden"
                                               (click)="preview(file , i)">
                                                {{i+1}}. {{file.fileName}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="questions.length > 0" class="panel panel-default no-border" style="height: 100%; box-shadow:unset !important;">
                                <div class="panel-heading vt-relative no-bg">
                                    <strong class="text-u-c "style=" padding: 12px 0;">
                                        <span>Kiểm tra</span>
                                    </strong>
                                </div>
                                <div class="panel-body" >
                                    <div class="ui-g-24" *ngFor="let q of questions, let j = index" style="margin-bottom: 10px">
                                        <p><strong>{{j + 1}}. {{q.question}}</strong></p>
<!--                                        <div class="ui-g-12 vt-row" style="flex-wrap: wrap">-->
                                            <div  *ngFor="let opt of q.examQuestionAnswerBeanList; let i=index" style="padding: 0px 8px 8px 8px;" class="vt-align-left i-checks ui-g-24 vt-row">
                                                <p-checkbox *ngIf="q.type == 2" [disabled]="true" >
                                                </p-checkbox>
                                                <p-radioButton *ngIf="q.type == 1" [disabled]="true"></p-radioButton>
                                                {{opt.answer}}
                                            </div>
<!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>