.title {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 12px 16px;
    color: rgba(170,11,5,1);
    transition: all .15s linear;
    font-weight: 600;
    font-size: 16px;
}

.title-thorough-content {
    /*text-transform: uppercase;*/
    font-size: 18px;
    color: rgba(170,11,5,1);
}

.mr-btn {
    margin-right: 14px;
}

.f-14 {
    font-size:14px !important;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav {
    background: border-box !important;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-default {
    width: fit-content;
    height: 32px;
    background: transparent 0% 0% no-repeat padding-box !important;
    border: 1px solid rgba(198,31,27,1) !important;
    border-radius: 8px;
    opacity: 1;
    padding-right: 0 !important;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-right: 10px;
}

:host ::ng-deep .ui-tabview-panel .ui-tabview .ui-tabview-nav .ui-state-default {
    width: fit-content;
    height: 32px;
    background: transparent 0% 0% no-repeat padding-box !important;
    border: 1px solid rgba(246,183,109,0.5) !important;
    border-radius: 8px;
    opacity: 1;
    padding-right: 0 !important;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-right: 10px;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-default a {
    padding: 4px 15px 9px 15px !important;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-default a .ui-tabview-title {
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    color: rgba(198,31,27,1) !important;
    text-transform: none;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-active {
    width: fit-content;
    height: 32px;
    background: rgba(198,31,27,1) 0% 0% no-repeat padding-box !important;
    border: 1px solid rgba(198,31,27,1) !important;
    border-radius: 8px;
    opacity: 1;
    padding-right: 0 !important;
}

:host ::ng-deep .ui-tabview-panel .ui-tabview .ui-tabview-nav .ui-state-active {
    width: fit-content;
    height: 32px;
    background: rgba(198,31,27,1) 0% 0% no-repeat padding-box !important;
    border: 1px solid rgba(255,182,0,1) !important;
    border-radius: 8px;
    opacity: 1;
    padding-right: 0 !important;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-active:hover {
    border: 1px solid rgba(255,182,0,1) !important;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-active a {
    padding: 4px 15px 9px 15px !important;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-active a .ui-tabview-title {
    color: white !important;
}

:host ::ng-deep .ui-tabview-panel .ui-tabview .ui-tabview-nav .ui-state-default a .ui-tabview-title {
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    color: rgba(78,3,0,1) !important;
}

:host ::ng-deep .tab-item .ui-tabview .ui-tabview-nav .ui-state-default {
    background: border-box !important;
    border-top: hidden !important;
    border-left: hidden !important;
    border-right: hidden !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-width: 3px !important;
}

:host ::ng-deep .tab-item .ui-tabview .ui-tabview-nav .ui-state-active {
    background: border-box !important;
    border-top: hidden !important;
    border-left: hidden !important;
    border-right: hidden !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-width: 3px !important;
}

:host ::ng-deep .tab-item .ui-tabview .ui-tabview-nav .ui-state-active:hover {
    background: border-box !important;
    border-top: hidden !important;
    border-left: hidden !important;
    border-right: hidden !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-width: 3px !important;
}

:host ::ng-deep .tab-item .ui-tabview .ui-tabview-panels {
    border-top: hidden !important;
    border-bottom: hidden !important;
    border-left: hidden !important;
    border-right: hidden !important;
}

.custom-audio {
   display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(246,183,109,0.1)!important;
    border: 1px solid rgba(246,183,109,0.3);
    padding: 10px 10px;
    border-radius: 40px;
   box-shadow: 0 0 4px rgba(0,0,0,0.1);
    font-family: "PFBeauSansPro";
    width: 100%;
    /*max-width: 40%;*/
    height: 40px;
    margin-bottom: 20px;
}

.play-btn {
    background-color: #c62828;
    border: none;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.current-time {
    font-size: 14px;
    min-width: 45px;
    text-align: center;
    color: rgba(78,3,0,0.6);
}

.seek-bar {
    flex: 1;
    height: 6px;
    background-color:  rgba(246,183,109,0.2);
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.seek-filled {
    height: 100%;
    background-color: rgba(78,3,0,0.5);
    border-radius:3px;
    width: 0;
    /*transition: width 0.1s ease-out;*/
}

.seek-thumb {
    position: absolute;
    top: -4px;
    width: 12px;
    height: 12px;
    border:1px solid rgba(78,3,0,0.5);
    background-color: rgba(246,183,109,1);
    border-radius: 50%;
    /*transition: left 0.1s ease-out;*/
    transform: translateX(-50%);
}

.speed-dropdown {
    position: relative;
    display: inline-block;
    color:#fff;
    padding: 3px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}


.speed-toggle {
    font-size: 14px;
    color:#8d6e63;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 5px;
    transition: color 0.2s ease;
}


.speed-options {
    position: absolute;
    left: 0;
    bottom: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px 0;
    list-style: none;
    margin:6px 0 0 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    display: none;
    min-width: 80px;
    width: 100%;
    z-index: 100;
}

.speed-options.show {
    display: block;
}

.speed-options li {
    padding: 8px 12px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    transition: background-color 0.2s ease;
    color: #58666e;
}

.speed-options li:hover {
    background-color: #f0f0f0;
}

.speed-options li.active {
    background-color: #f0f0f0;
    font-weight: bold;
}


.no-border {
    border: none !important;
}

.no-bg {
    background-color: transparent !important;
}





