<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <div class="panel-heading" translate>
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          common.label.search.info
        </strong>
      </div>
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'vicinityPlan.vicinityPositionPlan.unit' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector [property]="f['organizationId']" operationKey="action.view"
                adResourceKey="resource.employeeManager" [defaultValue]="true" autoFocus="true">
              </org-selector>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'vicinityPlan.vicinityPositionPlan.planningTitle' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <data-picker [property]="f['positionId']" systemCode="political" operationKey="action.view"
                adResourceKey="resource.employeeManager" objectBO="PositionBO" codeField="code" nameField="name"
                selectField="positionId" orderField="obj.position_code" isNotSearchByOrgDomainData="true"
                filterCondition="AND obj.position_code LIKE '%.%' AND LEFT(SUBSTR(obj.position_code,3),1) = 1">
              </data-picker>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'vicinityPlan.vicinityPositionPlan.documents' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <data-picker [property]="f['documentId']" systemCode="political" operationKey="action.view"
                adResourceKey="resource.employeeManager" objectBO="DocumentBO" nameField="documentName"
                codeField="documentNumber" selectField="documentId" isNotSearchByOrgDomainData="true" filterCondition="
                AND document_type_id = 39
                AND branch = 2
                AND is_deleted = 0 ">
              </data-picker>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" *ngIf="hasPermission('action.view')" class="btn btn-sm btn-info"
            (click)="processSearch()" [innerHTML]="'common.button.icon.search' | translate"></button>
          <button type="button" *ngIf="hasPermission('action.insert')" class="btn btn-sm btn-info"
            (click)="prepareSaveOrUpdate()" [innerHTML]="'common.button.icon.addNew' | translate"> </button>
          <button type="button" *ngIf="hasPermission('action.export')" class="btn btn-sm btn-info"
            (click)="processExport()" [innerHTML]="'common.button.icon.exportFile' | translate"></button>
          <button type="button" class="btn btn-sm btn-info" *ngIf="hasPermission('action.import')"
            (click)="prepareImport()" [innerHTML]="'qualityAnalysis.button.importPartyOrg' | translate"></button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea" *ngIf="hasPermission('action.view')">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          {{'vicinityPlan.vicinityPositionPlan.resultTitle' | translate}}
        </strong>
      </div>
      <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)" [lazy]="true"
          [rows]="changeRow" [totalRecords]="resultList.recordsTotal" [scrollable]="true" [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" styleClass="controlOverflow">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-6">
              <!-- <col class="size-1" *ngIf="hasPermission('action.update')">
              <col class="size-1" *ngIf="hasPermission('action.delete')"> -->
              <col class="size-8">
              <col class="size-6">
              <col class="size-3">
              <col class="size-3">
              <col class="size-3">
              <col class="size-3">
              <col class="size-3">
              <col class="size-4">
              <col class="size-6">
              <col class="size-12">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <!-- <th translate *ngIf="hasPermission('action.update')">common.label.edit</th>
              <th translate *ngIf="hasPermission('action.delete')">common.button.delete</th> -->
              <th translate>common.label.action</th>
              <th [pSortableColumn]="'organizationName'">
                {{'vicinityPlan.vicinityPositionPlan.unit' | translate}}
                <p-sortIcon [field]="'organizationName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'positionName'">
                {{'vicinityPlan.vicinityPositionPlan.planningTitle' | translate}}
                <p-sortIcon [field]="'positionName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'currentEmployee'">
                {{'vicinityPlan.vicinityPositionPlan.currentNumberNow' | translate}}
                <p-sortIcon [field]="'currentEmployee'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'vicinityEmployee'">
                {{'vicinityPlan.vicinityPositionPlan.currentNumberNear' | translate}}
                <p-sortIcon [field]="'vicinityEmployee'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'nextEmpoyee'">
                {{'vicinityPlan.vicinityPositionPlan.currentNumberNextTo' | translate}}
                <p-sortIcon [field]="'nextEmpoyee'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'outEmployee'">
                {{'vicinityPlan.vicinityPositionPlan.currentNumberGiven' | translate}}
                <p-sortIcon [field]="'outEmployee'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'vicinityEmployeeNames'">
                {{'vicinityPlan.vicinityPositionPlan.zoningStatus' | translate}}
                <p-sortIcon [field]="'vicinityEmployeeNames'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'documentNumber'">
                {{'vicinityPlan.vicinityPositionPlan.documentNumber' | translate}}
                <p-sortIcon [field]="'documentNumber'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'documentName'">
                {{'vicinityPlan.vicinityPositionPlan.documentName' | translate}}
                <p-sortIcon [field]="'documentName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'nextEmployeeNames'">
                {{'common.label.description' | translate}}
                <p-sortIcon [field]="'nextEmployeeNames'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center">
                <div ngbDropdown class="d-inline-block" style="position: inherit !important">
                  <button class="btn btn-sm btn-info" ngbDropdownToggle translate>common.label.action</button>
                  <div ngbDropdownMenu>
                    <!-- xem -->
                    <div>
                      <button class="dropdown-item" (click)="getDetaiLById(item)"
                        [innerHTML]="'common.button.table.viewdropdown' | translate">
                      </button>
                    </div>
                    <!--Trình ký-->
                    <!-- <div>
                      <button class="dropdown-item"
                        [innerHTML]="'common.button.table.actSign' | translate">
                      </button>
                    </div> -->
                    <!--Trình ký lại-->
                    <!-- <div>
                      <button class="dropdown-item"
                        [innerHTML]="'common.button.table.kylai' | translate">
                      </button>
                    </div> -->
                    <!-- Xóa -->
                    <div *ngIf="hasPermission('action.delete')">
                      <button class="dropdown-item" (click)="processDelete(item.vicinityPositionPlanId)"
                        [innerHTML]="'common.button.removedropdown' | translate">
                      </button>
                    </div>
                    <!--Lịch sử phê duyệt-->
                    <!-- <div>
                      <button class="dropdown-item"
                        [innerHTML]="'common.button.table.actHistory' | translate">
                      </button>
                    </div> -->
                  </div>
                </div>
              </td>
              <td class="vt-align-left">{{item.organizationName}}</td>
              <td class="vt-align-left">{{item.positionName}}</td>
              <td class="vt-align-right">{{item.currentEmployee}}</td>
              <td class="vt-align-right">{{item.vicinityEmployee}}</td>
              <td class="vt-align-right">{{item.nextEmpoyee}}</td>
              <td class="vt-align-right">{{item.outEmployee}}</td>
              <td class="vt-align-left">{{item.status }}</td>
              <td class="vt-align-left">{{item.documentNumber}}</td>
              <td class="vt-align-left">{{item.documentName}}</td>
              <td class="vt-align-left">{{item.description}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="14" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>