<div *ngIf="hasPermission('action.view')">
    <div id="searchPage">
        <div id="searchArea">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        {{'massOrganizationSearch' | translate}}
                    </strong>
                </div>
                <form [formGroup]="formSearch" id="formSearch">
                    <div class="panel-body padding-xl ui-g set-border-body-search" >
                        <div class="ui-g-12 vt-row">
                            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                                {{'massOrganizationParent' | translate}}
                            </label>
                            <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <mass-org-selector
                                        [property]="f['parentId']"
                                        operationKey="action.view"
                                        adResourceKey="resource.massOrganization"
                                        [defaultValue]="true"
                                        [isRequiredField]="false"
                                        [branch]="branch">
                                </mass-org-selector>
                                <app-control-messages [control]="f['parentId']"></app-control-messages>
                            </div>
                        </div>
                        <div class="ui-g-12 vt-row">
                            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                                {{'massOrganizationCode' | translate}}
                            </label>
                            <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <input type="text" class="form form-control" name="code" formControlName="code"
                                       maxlength="255" [autoFocus]="true">
                                <app-control-messages [control]="f['code']"></app-control-messages>
                            </div>
                            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                                {{'massOrganizationName' | translate}}
                            </label>
                            <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <input type="text" class="form form-control" name="name" formControlName="name"
                                       maxlength="255">
                                <app-control-messages [control]="f['name']"></app-control-messages>
                            </div>
                        </div>
                        <div class="ui-g-12 vt-row">
                            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                                {{'massOrganizationType' | translate}}
                            </label>
                            <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <select-filter
                                        [property]="f['type']"
                                        [options]="typeList"
                                        optionLabel="cateName"
                                        optionValue="type"
                                        [placeHolder]="'common.label.cboSelectAll'">
                                </select-filter>
                                <app-control-messages [control]="f['type']"></app-control-messages>
                            </div>
                            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                                {{'massOrganizationEmployee' | translate}}
                            </label>
                            <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <input type="text" class="form form-control" name="fullName" formControlName="fullName"
                                       maxlength="255">
                                <app-control-messages [control]="f['fullName']"></app-control-messages>
                            </div>
                        </div>
                        <div class="ui-g-12 vt-row">
                            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                                {{'massOrganizationPhone' | translate}}
                            </label>
                            <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <input type="text" class="form form-control" name="phoneNumber"
                                       formControlName="phoneNumber" maxlength="50">
                                <app-control-messages [control]="f['phoneNumber']"></app-control-messages>
                            </div>
                            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                                {{'massOrganizationEmail' | translate}}
                            </label>
                            <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <input type="text" class="form form-control" name="email" formControlName="email"
                                       maxlength="100">
                                <app-control-messages [control]="f['email']"></app-control-messages>
                            </div>
                        </div>
                        <div class="ui-g-12 vt-row">
                            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                                {{'position.label.startEffectiveDate' | translate}}
                            </label>
                            <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <date-picker
                                        [property]="f['effectiveDate']">
                                </date-picker>
                                <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
                            </div>
                            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                                {{'massOrganizationToDate' | translate}}
                            </label>
                            <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <date-picker
                                        [property]="f['toEffectiveDate']">
                                </date-picker>
                                <app-control-messages [control]="f['toEffectiveDate']"></app-control-messages>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer vt-area-button">
                        <button type="submit" class="btn btn-sm vt-btn btn-submit" (click)="processSearch()"
                                [innerHTML]="'common.button.icon.search' | translate"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="listArea">
        <div class="panel panel-default">
            <div class="panel-heading vt-relative">
                <strong *ngIf="branch == 1">
                    {{'mass.organizationWomen' | translate}}
                </strong>
                <strong *ngIf="branch == 2">
                    {{'mass.organizationYoung' | translate}}
                </strong>
                <strong *ngIf="branch == 3">
                    {{'mass.organizationUnion' | translate}}
                </strong>
                <div class="show-btn-right-header">
                    <button type="button" class="btn btn-sm vt-btn btn-submit" *ngIf="hasPermission('action.insert')"
                            (click)="prepareSaveOrUpdate()"
                            [innerHTML]="'common.button.icon.addNew' | translate"></button>
                    <button type="button" class="btn btn-sm vt-btn" *ngIf="hasPermission('action.export')"
                            (click)="processExport()"
                            [innerHTML]="'common.button.icon.exportFile' | translate"></button>
                    <button type="button" class="btn btn-sm vt-btn" *ngIf="hasPermission('action.import')"
                            (click)="import()" [innerHTML]="'massOrganizaton.import' | translate"></button>
                </div>
            </div>
            <div class="panel-body panel-table">
                <p-table
                    #ptable
                    [value]="resultList.data"
                    [paginator]="true"
                    (onLazyLoad)="processSearch($event)"
                    [lazy]="true" [rows]="changeRow"
                    [totalRecords]="resultList.recordsTotal"
                    [scrollable]="true"
                    [lazyLoadOnInit]="false"
                    styleClass="controlOverflow"
                    tableStyleClass=" table table-wrapper table-hover table-striped b-t b-b"
                    [resizableColumns]="true">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col style="width: 50px;">
                            <col style="width: 50px;">
                            <col style="width: 200px;">
                            <col style="width: 200px;">
                            <col style="width: 200px;">
                            <col style="width: 100px;">
                            <col style="width: 200px;">
                            <col style="width: 100px;">
                            <col style="width: 200px;">
                            <col style="width: 100px;">
                            <col style="width: 100px;">
                            <col style="width: 200px;">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pResizableColumn></th>
                            <th pResizableColumn>{{'common.table.index' | translate}}</th>
                            <th [pSortableColumn]="'code'" pResizableColumn>
                                {{'massOrganizationCode' | translate}}
                                <p-sortIcon [field]="'code'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'name'" pResizableColumn>
                                {{'massOrganizationName' | translate}}
                                <p-sortIcon [field]="'name'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'parentName'" pResizableColumn>
                                {{'massOrganizationParent' | translate}}
                                <p-sortIcon [field]="'parentName'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'type'" pResizableColumn>
                                {{'massOrganizationType' | translate}}
                                <p-sortIcon [field]="'type'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'employeeId'" pResizableColumn>
                                {{'massOrganizationEmployee' | translate}}
                                <p-sortIcon [field]="'employeeId'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'phoneNumber'" pResizableColumn>
                                {{'massOrganizationPhone' | translate}}
                                <p-sortIcon [field]="'phoneNumber'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'email'" pResizableColumn>
                                {{'massOrganizationEmail' | translate}}
                                <p-sortIcon [field]="'email'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'effectiveDate'" pResizableColumn>
                                <!-- {{'massOrganizationEffectiveDate' | translate}} -->
                                {{'massOrganizationStart' | translate}}
                                <p-sortIcon [field]="'effectiveDate'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'expiredDate'" pResizableColumn>
                                <!-- {{'massOrganizationEffectiveDate' | translate}} -->
                                {{'massOrganizationEnd' | translate}}
                                <p-sortIcon [field]="'expiredDate'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'description'" pResizableColumn>
                                {{'massOrganizationDescription' | translate}}
                                <p-sortIcon [field]="'description'"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                        <!--body-->
                        <tr tr #row [ngClass]="{'org-has-selected': item.isExpried != 0}">
                            <td class="vt-align-center" style="overflow: initial !important;">
                                <div ngbDropdown class="d-inline-block">
                                    <div ngbDropdownToggle class="vt-action-hover">
                                        <img class="menu-icon" src="./../../../assets/images/home/Icon.svg">
                                    </div>
                                    <div ngbDropdownMenu class="vt-border-radius">

                                      <!-- Xem chi tiết -->
                                      <button class="dropdown-item"
                                              (click)="processView(item)"
                                              [innerHTML]="'common.button.table.viewdropdown' | translate">
                                      </button>
                                      <!-- Sửa -->
                                      <button *ngIf="hasPermission('action.update') && (item.isExpried == 0 || item.isExpried == 2)" class="dropdown-item"
                                              (click)="prepareSaveOrUpdate(item)"
                                              [innerHTML]="'common.button.table.acteditdropdown' | translate">
                                      </button>
                                      <!-- Xóa -->
                                      <button *ngIf="hasPermission('action.delete')" class="dropdown-item"
                                              (click)="processDelete(item)"
                                              [innerHTML]="'common.button.icon.delete' | translate">
                                      </button>
                                    </div>
                                </div>
                            </td>
                            <td class="vt-align-center">{{index}}</td>
                            <td class="vt-align-center" title="{{item.code}}">
                                {{item.code}}
                            </td>
                            <td class="vt-align-left" title="{{item.name}}">
                                {{item.name}}
                            </td>
                            <td class="vt-align-left" title="{{item.parentName}}">
                                {{item.parentName}}
                            </td>
                            <td title="{{item.cateName}}">
                                {{item.cateName}}
                            </td>
                            <td class="vt-align-left" title="{{item.fullName}}">
                                {{item.fullName}}
                            </td>
                            <td class="vt-align-left" title="{{item.phoneNumber}}">
                                {{item.phoneNumber}}
                            </td>
                            <td class="vt-align-left" title="{{item.email}}">
                                {{item.email}}
                            </td>
                            <td class="vt-align-center" title="{{item.effectiveDate}}">
                                {{item.effectiveDate | displayDate}}
                            </td>
                            <td class="vt-align-center" title="{{item.expiredDate}}">
                                {{item.expiredDate | displayDate}}
                            </td>
                            <td class="vt-align-left justify-format" title="{{item.description}}">
                                {{item.description}}
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                        <tr class="emptymessage">
                            <td [attr.colspan]="10" [innerHTML]="'app.noRecords' | translate">
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                        <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

</div>
