<div class="card-form">
  <div class="clearfix">
    <div class="left-nav-bar pull-left row-header">
      <div>
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png" (click)="goBack();">
        <span *ngIf="!formPartyMemberProcess.get('partyMemberId').value" class="title" translate>partyMembers.addMembers</span>
        <span *ngIf="formPartyMemberProcess.get('partyMemberId').value" class="title" translate>partyMembers.editMembers</span>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
        <ul class="header-right sys-ul space-line">
          <li>
            <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="goBack();" [innerHTML]="'common.button.out' | translate">
            </button>
          </li>
          <li>
            <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="processSaveOrUpdate()" [innerHTML]="'common.button.icon.save' | translate">
            </button>
          </li>
        </ul>
    </div>
  </div>
</div>
<div class="info">
  <div *ngIf="hasPermission('action.insert')">
    <div class="panel panel-default card-info">
        <form id="formPartyMemberProcess" [formGroup]="formPartyMemberProcess">
            <div class="panel-heading vt-relative">
                <strong>
                    <!-- <span *ngIf="!formPartyMemberProcess.get('partyMemberId').value" translate>partyMembers.addMembers</span>
                    <span *ngIf="formPartyMemberProcess.get('partyMemberId').value" translate>partyMembers.editMembers</span> -->
                    <span class="ml-2 title-info">Thông tin Đảng viên</span>
                </strong>
            </div>
            <div *ngIf="!isMobileScreen" class="panel-body padding-xl ui-g">
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                  {{'organization.label.name' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <party-org-selector
                    [property]="fProcess['partyOrganizationId']"
                    operationKey="action.view"
                    adResourceKey="resource.partyMember"
                    isRequiredField="true"
                    [autoFocus]="true"
                    (onChange)="onChangePartyOrg($event, partyOrgSelector)"
                    #partyOrgSelector>
                  </party-org-selector>
                  <app-control-messages [control]="fProcess['partyOrganizationId']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
                  {{'partymanager.label.partyTitle' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <data-picker
                    [property]="fProcess['partyPositionId']"
                    systemCode="political"
                    operationKey="action.view"
                    adResourceKey="resource.partyMember"
                    objectBO="PartyPositionBO"
                    codeField="code"
                    nameField="name"
                    selectField="partyPositionId"
                    isRequiredField="true"
                    filterCondition="AND (obj.exprited_date IS NULL OR DATE(obj.exprited_date) >= CURRENT_DATE)
                                     AND obj.IS_ACTIVE = 1
                                     ORDER BY obj.sort_order ASC">
                  </data-picker>
                  <app-control-messages [control]="fProcess['partyPositionId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                  {{'label.employee.code' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <data-picker
                  #data
                    [property]="fProcess['employeeId']"
                    systemCode="political"
                    operationKey="action.view"
                    adResourceKey="resource.partyMember"
                    objectBO="EmployeeBO"
                    codeField="employeeCode"
                    nameField="fullName"
                    emailField="email"
                    mobileNumberField="mobileNumber"
                    selectField="employeeId"
                    isRequiredField = "true"
                    isDisplayCode="true"
                    filterCondition="AND NOT EXISTS
                                    ( SELECT pm.employee_id FROM party_member pm
                                    INNER JOIN party_member_process pmp ON pm.party_member_id = pmp.party_member_id
                                    WHERE pm.employee_id = obj.employee_id )"
                    [disabled]="formPartyMemberProcess.get('partyMemberId').value ? true : false"
                    (onChange)="onChangEmployeeCode($event)">
                  </data-picker>
                  <app-control-messages [control]="fProcess['employeeId']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'label.employee.Fullname' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form form-control" name="fullName" formControlName="fullName" disabled>
                </div>
              </div>
              <div class="ui-g-12 vt-row" >
                <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                  {{'app.emp.tabMenu.partyMemberConcurrentProcess.tenure' | translate}}
                </label>
                <div class="ui-g-12 ui-md-3 ui-lg-3">
                  <select-filter 
                    [property]="fProcess['tenureId']"
                    [options]="tenureList"
                    optionLabel="name"
                    optionValue="categoryId"
                    [placeHolder]="'common.label.cboMustSelect'"
                    >
                  </select-filter>
                  <app-control-messages [control]="fProcess['tenureId']"></app-control-messages>
                </div>
              </div>
            </div>
            <div *ngIf="isMobileScreen" class="panel-body padding-xl ui-g">
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">
                  {{'organization.label.name' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <party-org-selector
                    [property]="fProcess['partyOrganizationId']"
                    operationKey="action.view"
                    adResourceKey="resource.partyMember"
                    isRequiredField="true"
                    [autoFocus]="true"
                    (onChange)="onChangePartyOrg($event, partyOrgSelector)"
                    #partyOrgSelector>
                  </party-org-selector>
                  <app-control-messages [control]="fProcess['partyOrganizationId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right required">
                  {{'partymanager.label.partyTitle' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <data-picker
                    [property]="fProcess['partyPositionId']"
                    systemCode="political"
                    operationKey="action.view"
                    adResourceKey="resource.partyMember"
                    objectBO="PartyPositionBO"
                    codeField="code"
                    nameField="name"
                    selectField="partyPositionId"
                    isRequiredField="true"
                    filterCondition="AND (obj.exprited_date IS NULL OR DATE(obj.exprited_date) >= CURRENT_DATE)
                                     AND obj.IS_ACTIVE = 1
                                     ORDER BY obj.sort_order ASC">
                  </data-picker>
                  <app-control-messages [control]="fProcess['partyPositionId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right required">
                  {{'label.employee.code' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <data-picker
                  #data
                    [property]="fProcess['employeeId']"
                    systemCode="political"
                    operationKey="action.view"
                    adResourceKey="resource.partyMember"
                    objectBO="EmployeeBO"
                    codeField="employeeCode"
                    nameField="fullName"
                    emailField="email"
                    mobileNumberField="mobileNumber"
                    selectField="employeeId"
                    isRequiredField = "true"
                    isDisplayCode="true"
                    filterCondition="AND NOT EXISTS
                                    ( SELECT pm.employee_id FROM party_member pm
                                    INNER JOIN party_member_process pmp ON pm.party_member_id = pmp.party_member_id
                                    WHERE pm.employee_id = obj.employee_id )"
                    [disabled]="formPartyMemberProcess.get('partyMemberId').value ? true : false"
                    (onChange)="onChangEmployeeCode($event)">
                  </data-picker>
                  <app-control-messages [control]="fProcess['employeeId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                  {{'label.employee.Fullname' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <input type="text" class="form form-control" name="fullName" formControlName="fullName" disabled>
                </div>
              </div>
              <div class="ui-g-12 vt-row" >
                <label class="ui-g-12 ui-md-3 ui-sm-3 ui-lg-2 control-label vt-align-right">
                  {{'app.emp.tabMenu.partyMemberConcurrentProcess.tenure' | translate}}
                </label>
                <div class="ui-g-12 ui-md-3 ui-sm-9 ui-lg-3">
                  <select-filter 
                    [property]="fProcess['tenureId']"
                    [options]="tenureList"
                    optionLabel="name"
                    optionValue="categoryId"
                    [placeHolder]="'common.label.cboMustSelect'"
                    >
                  </select-filter>
                  <app-control-messages [control]="fProcess['tenureId']"></app-control-messages>
                </div>
              </div>
            </div>
        </form>
        <form id="formPartyMember" [formGroup]="formPartyMember">
            <div *ngIf="!isMobileScreen" class="panel-body padding-xl ui-g">
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.partyAdmision' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form form-control" name="partyAdmissionPlace" formControlName="partyAdmissionPlace"  maxlength="500" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['partyAdmissionPlace']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'partymanager.label.partyAdmisionDate' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker
                          [property]="f['partyAdmissionDate']"
                          [disabled]="!employeeChosen ? true : null">
                  </date-picker>
                  <app-control-messages [control]="f['partyAdmissionDate']"></app-control-messages>
                </div>
              </div>
  
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'generalInformation.label.partyCardNumber' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form form-control" name="partyNumber" formControlName="partyNumber" maxlength="50" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['partyNumber']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'generalInformation.label.partyDateJoinSuccess' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker
                    [property]="f['partyOfficialAdmissionDate']"
                    [disabled]="!employeeChosen ? true : null">
                  </date-picker>
                  <app-control-messages [control]="f['partyOfficialAdmissionDate']"></app-control-messages>
                </div>
              </div>            
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">                
                  {{"partymanager.label.freePartyActivity" | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <party-org-selector
                    [property]="f['exceptPartyOrganizationId']"
                    operationKey="action.view"
                    adResourceKey="resource.partyMember"
                    [defaultValue]="false"
                    (onChange)="onChangePartyOrg($event, partyOrgSelectorExpect)"
                    [disabled]="!employeeChosen ? true : null"
                    #partyOrgSelectorExpect>
                  </party-org-selector>
                  <app-control-messages [control]="f['exceptPartyOrganizationId']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'party.member.official.party.day' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker
                    [property]="f['exceptPartyDate']"
                    [disabled]="!employeeChosen ? true : null">
                  </date-picker>
                  <app-control-messages [control]="f['exceptPartyDate']"></app-control-messages>
                </div>
              </div>            
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.firstDayIntroduce' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="display-table w100">
                      <div class="table-cell" style="width: 60px;">
                        <label class="i-switch bg-info m-t-xs m-r" title="{{'partymember.title.isEmployeesangnn' | translate}}">
                          <input type="checkbox" [checked]="isFirstIntroduceIn" name="isFirstIntroduce" [value]="1" (change)="onChangeFirstIntroduceInOut($event)" [attr.disabled]="!employeeChosen ? true : null"/>
                          <i></i>
                        </label>
                      </div>
                      <div class="table-cell">
                          <data-picker
                          [property]="f['firstIntroduceEmployeeId']"
                          systemCode="political"
                          operationKey="action.view"
                          adResourceKey="resource.partyMember"
                          objectBO="EmployeeBO"
                          codeField="employeeCode"
                          nameField="fullName"
                          emailField="email"
                          mobileNumberField="mobileNumber"
                          selectField="employeeId"
                          (onChange)="onChangeIntroduce($event, f['firstPositionUnit'])"
                          [hidden]="!isFirstIntroduceIn"
                          #firstIntroduceDataPicker>
                          </data-picker>
                          <input type="text" [hidden]="isFirstIntroduceIn" class="form form-control" name="firstIntroducePerson" formControlName="firstIntroducePerson"  maxlength="200" [attr.disabled]="!employeeChosen ? true : null">
                        </div>
                      </div>
                  <app-control-messages [hidden]="!isFirstIntroduceIn" [control]="f['firstIntroducePerson']"></app-control-messages>
                  <app-control-messages [control]="f['firstIntroduceEmployeeId']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                    {{'partymanager.label.position' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form form-control" name="firstPositionUnit" formControlName="firstPositionUnit" maxlength="500" [attr.disabled]="isFirstIntroduceIn || !employeeChosen ? true : null">
                  <app-control-messages [control]="f['firstPositionUnit']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.secondDayIntroduce' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="display-table w100">
                        <div class="table-cell" style="width: 60px;">
                          <label class="i-switch bg-info m-t-xs m-r" title="{{'partymember.title.isEmployeesangnn' | translate}}">
                            <input type="checkbox" [checked]="isSecondIntroduceIn" name="isSecondIntroduce" [value]="1" (change)="onChangeSecondIntroduceInOut($event)" [attr.disabled]="!employeeChosen ? true : null"/>
                            <i></i>
                          </label>
                        </div>
                        <div class="table-cell">
                            <data-picker
                              [property]="f['secondIntroduceEmployeeId']"
                              systemCode="political"
                              operationKey="action.view"
                              adResourceKey="resource.partyMember"
                              objectBO="EmployeeBO"
                              codeField="employeeCode"
                              nameField="fullName"
                              emailField="email"
                              mobileNumberField="mobileNumber"
                              selectField="employeeId"
                              (onChange)="onChangeIntroduce($event, f['secondPositionUnit'])"
                              [hidden]="!isSecondIntroduceIn"
                              #secondIntroduceDataPicker>
                            </data-picker>
                            <input type="text" [hidden]="isSecondIntroduceIn" class="form form-control" name="secondIntroducePerson" formControlName="secondIntroducePerson"  maxlength="200" [attr.disabled]="!employeeChosen ? true : null">
                          </div>
                        </div>
                        
                  <app-control-messages [hidden]="!isSecondIntroduceIn" [control]="f['secondIntroducePerson']"></app-control-messages>
                  <app-control-messages [control]="f['secondIntroduceEmployeeId']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'partymanager.label.position' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form form-control" name="secondPositionUnit" formControlName="secondPositionUnit" maxlength="500" [attr.disabled]="isSecondIntroduceIn || !employeeChosen ? true : null">
                  <app-control-messages [control]="f['secondPositionUnit']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.politicalFosteringClassForReservePartyMembers' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form form-control" name="trainingUnit" formControlName="trainingUnit"  maxlength="1000" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['trainingUnit']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'common.label.result' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <select-filter
                    [property]="f['trainingResultId']"
                    [options]="trainingResultList"
                    optionLabel="name"
                    optionValue="resultId"
                    [placeHolder]="'common.label.cboSelect'"
                    [disabled]="!employeeChosen ? true : null">
                  </select-filter>
                  <app-control-messages [control]="f['trainingResultId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.occupationBeforeEnteringTheParty' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form form-control" name="jobBefore" formControlName="jobBefore"  maxlength="500" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['jobBefore']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'partymanager.label.mainWork' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form form-control" name="mainJob" formControlName="mainJob"  maxlength="500" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['mainJob']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.highestRank' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <select-filter
                    [property]="f['highestRankId']"
                    [options]="highestRankList"
                    optionLabel="name"
                    optionValue="sysCatId"
                    [placeHolder]="'common.label.cboSelect'"
                    [disabled]="!employeeChosen ? true : null">
                  </select-filter>
                  <app-control-messages [control]="f['highestRankId']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'partymanager.label.partyProfileNumber' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form form-control" name="profileNumber" formControlName="profileNumber"  maxlength="200" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['profileNumber']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.typeOfOfficer' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <select-filter
                    [property]="f['officerTypeId']"
                    [options]="officerTypeList"
                    optionLabel="name"
                    optionValue="sysCatId"
                    [placeHolder]="'common.label.cboSelect'"
                    [disabled]="!employeeChosen ? true : null">
                  </select-filter>
                  <app-control-messages [control]="f['officerTypeId']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'partymanager.label.numberUnionCard' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form form-control" name="unionNumber" formControlName="unionNumber"  maxlength="50" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['unionNumber']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.dateOfDelegation' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <date-picker
                    [property]="f['unionDate']"
                    [disabled]="!employeeChosen ? true : null">
                  </date-picker>
                  <app-control-messages [control]="f['unionDate']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'partymanager.label.groupAdmissionPlace' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form form-control" name="unionPlace" formControlName="unionPlace"  maxlength="200" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['unionPlace']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row"></div>
            </div>
            <div *ngIf="isMobileScreen" class="panel-body padding-xl ui-g">
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.partyAdmision' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <input type="text" class="form form-control" name="partyAdmissionPlace" formControlName="partyAdmissionPlace"  maxlength="500" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['partyAdmissionPlace']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                  {{'partymanager.label.partyAdmisionDate' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <date-picker
                          [property]="f['partyAdmissionDate']"
                          [disabled]="!employeeChosen ? true : null">
                  </date-picker>
                  <app-control-messages [control]="f['partyAdmissionDate']"></app-control-messages>
                </div>
              </div>
  
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                  {{'generalInformation.label.partyCardNumber' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <input type="text" class="form form-control" name="partyNumber" formControlName="partyNumber" maxlength="50" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['partyNumber']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                  {{'generalInformation.label.partyDateJoinSuccess' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <date-picker
                    [property]="f['partyOfficialAdmissionDate']"
                    [disabled]="!employeeChosen ? true : null">
                  </date-picker>
                  <app-control-messages [control]="f['partyOfficialAdmissionDate']"></app-control-messages>
                </div>
              </div>            
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">                
                  {{"partymanager.label.freePartyActivity" | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <party-org-selector
                    [property]="f['exceptPartyOrganizationId']"
                    operationKey="action.view"
                    adResourceKey="resource.partyMember"
                    [defaultValue]="false"
                    (onChange)="onChangePartyOrg($event, partyOrgSelectorExpect)"
                    [disabled]="!employeeChosen ? true : null"
                    #partyOrgSelectorExpect>
                  </party-org-selector>
                  <app-control-messages [control]="f['exceptPartyOrganizationId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                  {{'party.member.official.party.day' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <date-picker
                    [property]="f['exceptPartyDate']"
                    [disabled]="!employeeChosen ? true : null">
                  </date-picker>
                  <app-control-messages [control]="f['exceptPartyDate']"></app-control-messages>
                </div>
              </div>            
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.firstDayIntroduce' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                    <div class="display-table w100">
                      <div class="table-cell" style="width: 50px;">
                        <label class="i-switch bg-info m-t-xs m-r" title="{{'partymember.title.isEmployeesangnn' | translate}}">
                          <input type="checkbox" [checked]="isFirstIntroduceIn" name="isFirstIntroduce" [value]="1" (change)="onChangeFirstIntroduceInOut($event)" [attr.disabled]="!employeeChosen ? true : null"/>
                          <i></i>
                        </label>
                      </div>
                      <div class="table-cell">
                          <data-picker
                          [property]="f['firstIntroduceEmployeeId']"
                          systemCode="political"
                          operationKey="action.view"
                          adResourceKey="resource.partyMember"
                          objectBO="EmployeeBO"
                          codeField="employeeCode"
                          nameField="fullName"
                          emailField="email"
                          mobileNumberField="mobileNumber"
                          selectField="employeeId"
                          (onChange)="onChangeIntroduce($event, f['firstPositionUnit'])"
                          [hidden]="!isFirstIntroduceIn"
                          #firstIntroduceDataPicker>
                          </data-picker>
                          <input type="text" [hidden]="isFirstIntroduceIn" class="form form-control" name="firstIntroducePerson" formControlName="firstIntroducePerson"  maxlength="200" [attr.disabled]="!employeeChosen ? true : null">
                        </div>
                      </div>
                  <app-control-messages [hidden]="!isFirstIntroduceIn" [control]="f['firstIntroducePerson']"></app-control-messages>
                  <app-control-messages [control]="f['firstIntroduceEmployeeId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                    {{'partymanager.label.position' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <input type="text" class="form form-control" name="firstPositionUnit" formControlName="firstPositionUnit" maxlength="500" [attr.disabled]="isFirstIntroduceIn || !employeeChosen ? true : null">
                  <app-control-messages [control]="f['firstPositionUnit']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.secondDayIntroduce' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                    <div class="display-table w100">
                        <div class="table-cell" style="width: 50px;">
                          <label class="i-switch bg-info m-t-xs m-r" title="{{'partymember.title.isEmployeesangnn' | translate}}">
                            <input type="checkbox" [checked]="isSecondIntroduceIn" name="isSecondIntroduce" [value]="1" (change)="onChangeSecondIntroduceInOut($event)" [attr.disabled]="!employeeChosen ? true : null"/>
                            <i></i>
                          </label>
                        </div>
                        <div class="table-cell">
                            <data-picker
                              [property]="f['secondIntroduceEmployeeId']"
                              systemCode="political"
                              operationKey="action.view"
                              adResourceKey="resource.partyMember"
                              objectBO="EmployeeBO"
                              codeField="employeeCode"
                              nameField="fullName"
                              emailField="email"
                              mobileNumberField="mobileNumber"
                              selectField="employeeId"
                              (onChange)="onChangeIntroduce($event, f['secondPositionUnit'])"
                              [hidden]="!isSecondIntroduceIn"
                              #secondIntroduceDataPicker>
                            </data-picker>
                            <input type="text" [hidden]="isSecondIntroduceIn" class="form form-control" name="secondIntroducePerson" formControlName="secondIntroducePerson"  maxlength="200" [attr.disabled]="!employeeChosen ? true : null">
                          </div>
                        </div>
                        
                  <app-control-messages [hidden]="!isSecondIntroduceIn" [control]="f['secondIntroducePerson']"></app-control-messages>
                  <app-control-messages [control]="f['secondIntroduceEmployeeId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                  {{'partymanager.label.position' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <input type="text" class="form form-control" name="secondPositionUnit" formControlName="secondPositionUnit" maxlength="500" [attr.disabled]="isSecondIntroduceIn || !employeeChosen ? true : null">
                  <app-control-messages [control]="f['secondPositionUnit']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.politicalFosteringClassForReservePartyMembers' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <input type="text" class="form form-control" name="trainingUnit" formControlName="trainingUnit"  maxlength="1000" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['trainingUnit']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                  {{'common.label.result' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                    <select-filter
                    [property]="f['trainingResultId']"
                    [options]="trainingResultList"
                    optionLabel="name"
                    optionValue="resultId"
                    [placeHolder]="'common.label.cboSelect'"
                    [disabled]="!employeeChosen ? true : null">
                  </select-filter>
                  <app-control-messages [control]="f['trainingResultId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.occupationBeforeEnteringTheParty' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <input type="text" class="form form-control" name="jobBefore" formControlName="jobBefore"  maxlength="500" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['jobBefore']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                  {{'partymanager.label.mainWork' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <input type="text" class="form form-control" name="mainJob" formControlName="mainJob"  maxlength="500" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['mainJob']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.highestRank' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                    <select-filter
                    [property]="f['highestRankId']"
                    [options]="highestRankList"
                    optionLabel="name"
                    optionValue="sysCatId"
                    [placeHolder]="'common.label.cboSelect'"
                    [disabled]="!employeeChosen ? true : null">
                  </select-filter>
                  <app-control-messages [control]="f['highestRankId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                  {{'partymanager.label.partyProfileNumber' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <input type="text" class="form form-control" name="profileNumber" formControlName="profileNumber"  maxlength="200" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['profileNumber']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.typeOfOfficer' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                    <select-filter
                    [property]="f['officerTypeId']"
                    [options]="officerTypeList"
                    optionLabel="name"
                    optionValue="sysCatId"
                    [placeHolder]="'common.label.cboSelect'"
                    [disabled]="!employeeChosen ? true : null">
                  </select-filter>
                  <app-control-messages [control]="f['officerTypeId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                  {{'partymanager.label.numberUnionCard' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <input type="text" class="form form-control" name="unionNumber" formControlName="unionNumber"  maxlength="50" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['unionNumber']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                  {{'partymanager.label.dateOfDelegation' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                    <date-picker
                    [property]="f['unionDate']"
                    [disabled]="!employeeChosen ? true : null">
                  </date-picker>
                  <app-control-messages [control]="f['unionDate']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                  {{'partymanager.label.groupAdmissionPlace' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <input type="text" class="form form-control" name="unionPlace" formControlName="unionPlace"  maxlength="200" [attr.disabled]="!employeeChosen ? true : null">
                  <app-control-messages [control]="f['unionPlace']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12 vt-row"></div>
            </div>
        </form>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.insert')">
    {{'common.haveNoPermission' | translate}}
  </div>
</div>
