<div class="card-form">
  <div class="clearfix">
    <div class="left-nav-bar pull-left row-header">
      <div>
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png" (click)="cancel()">
        <span class="title" translate>assessmentPartyOrg.detail.title</span>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
        <ul class="header-right sys-ul space-line">
          <li>
            <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="cancel()" [innerHTML]="'common.button.out' | translate">
            </button>
          </li>
        </ul>
    </div>
  </div>
</div>
<div class="info">
  <div id="searchPage">
    <div id="searchArea">
      <div class="panel panel-default card-info">
        <div class="panel-heading" translate>
          <strong>
            <span class="ml-2 title-info">Thông tin tổng hợp đánh giá, NXCB</span>
          </strong>
        </div>
        <form id="formSearch" [formGroup]="formSearch">
          <div class="panel-body padding-xl ui-g">
            <!-- row 1 -->
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                {{'assessmentPartyOrganization.titleField.partyOrg' | translate}}
              </label>
              <label class="ui-g-12 ui-md-3 ui-lg-3 control-label" style="font-weight: normal !important;">
                {{f['partyOrganizationName'].value}}
              </label>
              <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
                {{'assessmentPartyOrganization.titleField.periodName' | translate}}
              </label>
              <label class="ui-g-12 ui-md-3 ui-lg-3 control-label" style="font-weight: normal !important;">
                {{f['assessmentPeriodName'].value}}
              </label>
            </div>
            <!-- row 2 -->
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                {{'assessmentPartyOrganization.titleField.levelOrder' | translate}}
              </label>
              <label class="ui-g-12 ui-md-3 ui-lg-3 control-label" style="font-weight: normal !important;">
                {{f['assessmentLevelName'].value}}
              </label>
              <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
                {{'assessmentPartyOrg.detail.percent' | translate}}
              </label>
              <label class="ui-g-12 ui-md-3 ui-lg-3 control-label" style="font-weight: normal !important;">
                {{f['percent'].value}}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- grid detail -->
    <div id="listArea">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            {{'assessmentSumUp.grid.gradeTitle' | translate}} ({{dataDetail.recordsTotal}})
          </strong>
        </div>
        <div class="panel-body panel-table">
          <p-table
            #ptable
            [value]="dataDetail.data"
            [paginator]="true"
            (onLazyLoad)="processSearchDetail($event)"
            [lazy]="true" [rows]="changeRow"
            [totalRecords]="dataDetail.recordsTotal"
            [scrollable]="true"
            [lazyLoadOnInit]="false"
            tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
            styleClass="controlOverflow"
          >
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-1">
                <col class="size-4">
                <col class="size-8">
                <col class="size-8">
                <col class="size-8">
                <col class="size-8">
                <col class="size-12">
                <col class="size-4">
                <col class="size-4">
                <col *ngFor="let col of criteriaKeys" class="size-12">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate>common.table.index</th>
                <th translate [pSortableColumn]="'employeeCode'">
                  assessmentSumUp.gridMember.empCode
                  <p-sortIcon [field]="'employeeCode'"></p-sortIcon>
                </th>
                <th translate [pSortableColumn]="'employeeName'">
                  assessmentSumUp.gridMember.empName
                  <p-sortIcon [field]="'employeeName'"></p-sortIcon>
                </th>
                <th translate>
                  assessmentSumUp.gridMember.organizationName
                </th>
                <th translate [pSortableColumn]="'positionName'">
                  assessmentSumUp.gridMember.position
                  <p-sortIcon [field]="'positionName'"></p-sortIcon>
                </th>
                <th translate [pSortableColumn]="'partyPositionName'">
                  assessmentSumUp.detail.partyPosition
                  <p-sortIcon [field]="'partyPositionName'"></p-sortIcon>
                </th>
                <th translate [pSortableColumn]="'massPositionName'">
                  assessmentSumUp.detail.massPosition
                  <p-sortIcon [field]="'massPositionName'"></p-sortIcon>
                </th>
                <th translate [pSortableColumn]="'individualSignStatus'">
                  assessmentSumUp.gridMember.individualSignStatus
                  <p-sortIcon [field]="'individualSignStatus'"></p-sortIcon>
                </th>
                <th translate>
                  assessmentSumUp.gridMember.levelAssessment
                </th>
                <th *ngFor="let criteria of criteriaKeys">{{criteria.assessmentCriteriaName}}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">{{index}}</td>
                <td class="vt-align-center">{{item.employeeCode}}</td>
                <td class="vt-align-left">{{item.employeeName}}</td>
                <td class="vt-align-left">{{item.organizationFullName}}</td>
                <td class="vt-align-left">{{item.positionName}}</td>
                <td class="vt-align-left">{{item.partyPositionName}}</td>
                <td class="vt-align-left">{{item.massPositionName}}</td>
                <td class="vt-align-left">
                  <div *ngIf="item.individualSignStatus == null">{{'assessmentResult.individualStatus.notYet' | translate}}</div>
                  <div *ngIf="item.individualSignStatus == 1">{{'assessmentResult.individualStatus.draft' | translate}}</div>
                  <div *ngIf="item.individualSignStatus == 2">{{'assessmentResult.individualStatus.approved' | translate}}</div>
                  <div *ngIf="item.individualSignStatus == 3">{{'assessmentResult.individualStatus.decline' | translate}}</div>
                </td>
                <td class="vt-align-left">
                  <div *ngIf="item.evaluatingLevel == null">{{'assessmentResult.evaluatingLevel.notYet' | translate}}</div>
                  <div *ngIf="item.evaluatingLevel == 1">{{'assessmentResult.evaluatingLevel.1' | translate}}</div>
                  <div *ngIf="item.evaluatingLevel == 2">{{'assessmentResult.evaluatingLevel.2' | translate}}</div>
                  <div *ngIf="item.evaluatingLevel == 3">{{'assessmentResult.evaluatingLevel.3' | translate}}</div>
                  <div *ngIf="item.evaluatingLevel == 4">{{'assessmentResult.evaluatingLevel.4' | translate}}</div>
                  <div *ngIf="item.evaluatingLevel == 5">{{'assessmentResult.evaluatingLevel.5' | translate}}</div>
                </td>
                <td *ngFor="let criteria of criteriaKeys" class="vt-align-left">{{processShowCriteria(criteria, item.assessmentCriteria)}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                <td [attr.colspan]="10" [innerHTML]="'app.noRecords' | translate"></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer (changeRow)="onTablePageChange($event)" [resultList]="dataDetail"></table-footer>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>