<div class="panel-body padding-xl ui-g" style="padding-bottom: 0;">
    <div class="ui-g-10 ui-g-offset-1">
        <label class="ui-g-12 ui-md-4  control-label vt-align-left required">
            {{'common.label.name' | translate}}</label>
        <div class="ui-g-12 ui-md-8">
            <p-dropdown [formControl]="form.controls.catAllowance" optionLabel="name" [options]="catAllowanceOptions"
                [placeholder]="'placeholder.choose' | translate"></p-dropdown>
            <app-control-messages [control]="form.controls.catAllowance"></app-control-messages>
        </div>
    </div>

    <div class="ui-g-10 ui-g-offset-1">
        <label class="ui-g-12 ui-md-4  control-label vt-align-left required">
            {{'assessmentPartyOrg.import.titleFile' | translate}}</label>
        <div class="ui-g-12 ui-md-8">
            <file-chooser [property]="form.controls.file" validType="xls,xlsx,doc,docx,pdf,rptdesign"></file-chooser>
            <app-control-messages [control]="form.controls.catAllowance"></app-control-messages>
        </div>
    </div>



    <div class="panel-footer vt-area-button ui-g-12">
        <button type="submit" class="btn btn-sm btn-info" (click)="save()"
            [innerHTML]="'common.button.icon.save' | translate"></button>
        <button type="submit" class="btn btn-sm btn-success" (click)="downloadTemplate()"
                [innerHTML]="'partymember.download.file.teamplate' | translate"></button>
    </div>

</div>
