<div class="panel panel-default" >
  <div class=" panel-heading col-sm-12 col-md-12 col-xs-12 warning-block">
    <strong class="text-u-c">
      <span class="glyphicons glyphicons-bell glyphicon glyphicon-th">
      </span>
      <span translate>&nbsp;app.home.notification</span>
    </strong>
  </div>
  <div class="panel-body" style="padding: 0px; height: 453px;">
  <p-scrollPanel styleClass="custombar2 default clearfix" >
    <div class="notifition" style="height: 410px; width: calc(100% + 18px);">
      <div class="warning-content">
        <div class="col-sm-12 col-md-12 col-xs-12 warning-block" *ngFor="let item of resultList">
          <a class="warning-item display-table w100" *ngIf="item.link" target="_blank" href="{{item.link}}">
            <span class="table-cell warning-icon">
              <span *ngIf="item.notifyBranch == 1" class="font-icon bg-danger">
                <i class="glyphicons glyphicons-bell" title="{{ 'organization.label.organization' | translate}}"></i>
              </span>
              <span *ngIf="item.notifyBranch == 2" class="font-icon bg-danger">
                <i class="glyphicons glyphicons-bell" title="{{ 'evaluatestaffprocess' | translate}}"></i>
              </span>
            </span>
            <span class="table-cell warning-info">
              <p class="justify-format">
                <span *ngIf="onChangeTime(item.displayStartDate) == true">
                  <i  class="flicker">(New) </i>
                </span>
                <span style="color: rgba(38,1,0,1)">{{item.notifyContent}}
                </span>
              </p>
              <span><strong>Ngày hiển thị: {{item.displayStartDate | displayDate}}</strong></span>
            </span>
          </a>
          <div *ngIf="!item.link" class="warning-item display-table w100">
              <span class="table-cell warning-icon">
                <span *ngIf="item.notifyBranch == 1" class="font-icon bg-danger">
                  <i class="glyphicons glyphicons-bell" title="{{ 'organization.label.organization' | translate}}"></i>
                </span>
                <span *ngIf="item.notifyBranch == 2" class="font-icon bg-danger">
                  <i class="glyphicons glyphicons-bell" title="{{ 'evaluatestaffprocess' | translate}}"></i>
                </span>
              </span>
              <span class="table-cell warning-info">
                <p class="justify-format">
                  <span *ngIf="onChangeTime(item.displayStartDate) == true">
                    <i  class="flicker">(New) </i>
                  </span>
                  <span style="color: rgba(38,1,0,1)">{{item.notifyContent}}
                  </span>
                </p>
                <span style="color: #007ad9"><strong>Ngày hiển thị: {{item.displayStartDate | displayDate}}</strong></span>
              </span>
            </div>
        </div>
      </div>
    </div>
  </p-scrollPanel>
  </div>
</div>
