  <div class="card-emp">
    <emp-info [EmployeeInfo]="employeeBean"></emp-info>
  </div>
  <div class="row emp_information clearfix">
    <div *ngIf="isCollapse" class="emp_information_left card-menu">
      <div class="row">
        <div class="col-12 col-xxl-12 col-xl-12 col-lg-12 col-md-12">
          <div class="row list-label" (click)="collapse()">
            <div class="col-1 col-xxl-1 col-xl-1 col-lg-1 col-md-1">
              <img class="left-icon" alt="back" src="./../../../../../assets/images/home/Mask_Group_24370.png">
            </div>
            <div class="col-10 col-xxl-10 col-xl-10 col-lg-10 col-md-10">
              <span>Danh sách liên quan</span>
            </div>
          </div>
          <div class="row">
            <div class="col-1 col-xxl-1 col-xl-1 col-lg-1 col-md-1">

            </div>
            <div class="col-10 col-xxl-10 col-xl-10 col-lg-10 col-md-10">
              <div *ngFor="let item of menuItem; index as i">
                <div class="item-label" (click)="selectItem(item?.id)">{{item?.name}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div [ngClass]="isCollapse ? 'no-padding-left emp_information_right card-info' : 'collapse-right'">
      <div class="employeeTabs">
        <p-scrollPanel [ngClass]="!isCollapse ? 'collapse-menu' : ''" [style]="{width: '100%', height: '48px'}" styleClass="custombar2 custombar3 emp-tab-scroll clearfix">
          <img *ngIf="!isCollapse" alt="back" class="right-icon" src="./../../../../../assets/images/home/Mask_Group_24371.png" (click)="collapse()">
          <p-tabMenu [model]="items" (click)="activeItemChange($event)"></p-tabMenu>
        </p-scrollPanel>
        <div class="content-emp">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
