<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          {{'title.importResponsePolicyProgram.request' | translate}}
        </strong>
      </div>
      <form id="formInfo" [formGroup]="formInfo">
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'label.requestPolicyProgram.code' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="text" [attr.disabled]="true" class="form form-control" name="code" formControlName="code" [autoFocus]="true"
                maxlength="50">
              <app-control-messages [control]="f['code']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'label.requestPolicyProgram.name' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="text" [attr.disabled]="true" class="form form-control" name="name" formControlName="name" maxlength="200">
              <app-control-messages [control]="f['name']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'label.requestPolicyProgram.requestedDate' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['requestDate']"
              [disabled]="true"
              >
              </date-picker>
              <app-control-messages [control]="f['requestDate']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'label.requestPolicyProgram.finishDate' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['finishDate']"
              [disabled]="true"
              >
              </date-picker>
              <app-control-messages [control]="f['finishDate']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'requestPolicyProgram.policyProgramType' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter 
                [property]="f['policyProgramType']" 
                [options]="policyProgramTypeList" 
                optionLabel="name"
                optionValue="categoryId" 
                [placeHolder]="'common.label.cboSelectAll'"
                [disabled]="true"
                >
              </select-filter>
              <app-control-messages [control]="f['policyProgramType']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
              {{'app.responseResolutionMonth.instructionFile' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <file-chooser 
                [property]="f['attachFile']" 
                htmlId="attachFile" 
                validType="xls,xlsx,doc,docx,pdf"
                [validMaxSize]="50"
                [disabled]="true"
                >
              </file-chooser>
              <app-control-messages [control]="f['attachFile']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'label.requestPolicyProgram.organizationRequest' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector 
              [property]="f['organizationId']" 
              operationKey="action.view" 
              adResourceKey="resource.requestDemocraticMeeting"
              [defaultValue]="false"
              [isRequiredField]="true"
              #orgSelectorNotLeafOrg
              [disabled]="true"
              >
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
              {{'label.requestPolicyProgram.note' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <textarea maxlength="1000" [attr.disabled]="true" formControlName="description" id="description" cols="200" rows="3"
                class="form-control"></textarea>
              <app-control-messages [control]="f['description']"></app-control-messages>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Danh sach chinh sach-->
<div class="panel panel-default">
  <div class="panel-heading vt-relative">
    <strong class="text-u-c">
      <i class="fa fa-th"></i>
      {{'title.importResponsePolicyProgram.empListRequest' | translate}}
    </strong>
    <div class="vt-absolute vt-shotcut-button-in-heading">
        <button *ngIf="hasPermission('action.update') && responsePolicyStatus != 2 && responsePolicyStatus != 4" type="button" (click)="activeImportModal()" class="btn btn-sm btn-info"
        [innerHTML]="'common.button.icon.importResponsePolicy' | translate"></button>
        &nbsp;
        <button *ngIf="hasPermission('action.update') && responsePolicyStatus != 2 && responsePolicyStatus != 4" type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info"
          [innerHTML]="'common.button.icon.addNew' | translate"></button>
    </div>
  </div>
  <div class="panel-body panel-table">
    <p-table
      #ptable
      [value]="resultList.data"
      [paginator]="true"
      (onLazyLoad)="searchById($event)"
      [lazy]="true" [rows]="changeRow"
      [totalRecords]="resultList.recordsTotal"
      [scrollable]="true"
      [lazyLoadOnInit]="false"
      tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
    >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col *ngIf="hasPermission('action.update')" class="size-1">
          <col *ngIf="hasPermission('action.delete')" class="size-1">
          <col class="size-12">
          <col class="size-12">
          <col class="size-00">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate>common.table.index</th>
          <th *ngIf="hasPermission('action.update')">{{'common.label.edit' | translate}}</th>
          <th *ngIf="hasPermission('action.delete')">{{'common.label.delete' | translate}}</th>
          <th [pSortableColumn]="'employeeCode'" >
            {{'EmployeeBO.employeeCode' | translate}}
            <p-sortIcon [field]="'employeeCode'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'employeeName'">
            {{'EmployeeBO.fullName' | translate}}
            <p-sortIcon [field]="'employeeName'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'description'">
            {{'transferEmployee.description' | translate}}
          <p-sortIcon [field]="'description'"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex+1">
        <tr>
          <td class="vt-align-center">{{index}}</td>
          <td class="vt-align-center" *ngIf="hasPermission('action.update')">
            <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)"
              title="{{'common.label.edit' | translate}}"><i class="fa fa-edit"></i></a>
          </td>
          <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
            <a class="btn-table delete" (click)="processDelete(item)"
              title="{{'common.button.delete' | translate}}"><i class="fa fa-trash-alt"></i></a>
          </td>
          <td class="vt-align-center">{{item.employeeCode}}</td>
          <td class="vt-align-left">{{item.employeeName}}</td>
          <td class="vt-align-left">{{item.description}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="emptymessage">
          <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <table-footer (changeRow)="onTablePageChange($event)" [resultList]="resultList"></table-footer>
      </ng-template>
    </p-table>
  </div>
  <div class="panel-footer vt-area-button">
    <button type="button" (click)="goBack()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
  </div>
</div>