/**
 chỉnh kích thước scroll
 */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

.icon-show-hide-search {
    margin-bottom: 4px;
}
