<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <div class="panel-heading" >
        <strong class="text-u-c">
          <i class="fa fa-th"></i> 
              {{'common.label.search.info' | translate}}
        </strong>        
      </div>
      <form [formGroup]="formSearch" id="formSearch">
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'personnelInvolved.org' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
              [property]="f['organizationId']"
              operationKey="action.view"
              adResourceKey="resource.securityProtection"
              [rootId]="rootId">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'personnelInvolved.employee' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <data-picker
              #data 
              [property]="f['employeeId']" 
              systemCode="political" 
              operationKey="action.view"
              adResourceKey="resource.securityProtection" 
              objectBO="EmployeeBO" 
              codeField="employeeCode" 
              nameField="fullName"
              emailField="email"
              mobileNumberField="mobileNumber"
              selectField="employeeId"
              isNotSearchByOrgDomainData="true"
              >
              </data-picker>
              <app-control-messages [control]="f['employeeId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <!-- <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'personnelInvolved.projects' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter 
              [placeHolder]="'common.label.cboSelectAll'"
              [property]="f['projectsCode']" 
              [options]="listProjects" 
              optionLabel="name" 
              optionValue="id"
              >
              </select-filter>
              <app-control-messages [control]="f['projectsCode']"></app-control-messages>
            </div> -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'personnelInvolved.projects' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="text" class="form form-control" name="projectsName" formControlName="projectsName" maxlength="255" [autoFocus]="true">
              <app-control-messages [control]="f['projectsName']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'personnelInvolved.classify' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter 
              [placeHolder]="'common.label.cboSelectAll'"
              [property]="f['classify']" 
              [options]="listClassify" 
              optionLabel="name" 
              optionValue="id"
              >
              </select-filter>
              <app-control-messages [control]="f['classify']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'personnelInvolved.start.date.from' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
              [property]="f['startDateFrom']">
              </date-picker>
              <app-control-messages [control]="f['startDateFrom']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'personnelInvolved.start.date.to' | translate}}
            </label>
            <div  class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
              [property]="f['startDateTo']">
              </date-picker>
              <app-control-messages [control]="f['startDateTo']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'personnelInvolved.end.date.from' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
              [property]="f['endDateFrom']">
              </date-picker>
              <app-control-messages [control]="f['endDateFrom']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'personnelInvolved.end.date.to' | translate}}
            </label>
            <div  class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
              [property]="f['endDateTo']">
              </date-picker>
              <app-control-messages [control]="f['endDateTo']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" class="btn btn-sm btn-info"  (click)="processSearch()"  [innerHTML]="'common.button.icon.search' | translate" ></button>
          <button type="button" class="btn btn-sm btn-info"  *ngIf="hasPermission('action.import')"  (click)="import()" [innerHTML]="'personnelInvolved.import' | translate" ></button>
          <button type="button" class="btn btn-sm btn-info"  *ngIf="hasPermission('action.export')"  (click)="processExport()"  [innerHTML]="'common.button.icon.exportFile' | translate" ></button>
          <button type="button" class="btn btn-sm btn-info"  *ngIf="hasPermission('action.delete')"  (click)="processDelete()"  [innerHTML]="'common.button.icon.delete' | translate"></button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="listArea">
  <div class="panel panel-default">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i> {{'personnelInvolved.personnelInvolvedList' | translate}}
      </strong>
    </div>
    <div class="panel-body panel-table">
      <p-table
        #ptable
        [value]="resultList.data"
        [paginator]="true"
        (onLazyLoad)="processSearch($event)"
        [lazy]="true" [rows]="changeRow"
        [totalRecords]="resultList.recordsTotal"
        [scrollable]="true"
        [lazyLoadOnInit]="false"
        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
        styleClass="controlOverflow"
        [(selection)]="listChangeAdd"
        >
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col class="size-1">
            <col class="size-3">
            <col class="size-8">
            <col class="size-3">
            <col class="size-3">
            <col class="size-4">
            <col class="size-6">
            <col class="size-2">
            <col class="size-2">
            <col class="size-4">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>{{'common.table.index' | translate}}</th> 
            <!-- <th class="vt-align-center"><input type="checkbox" [checked]="item.isKeyPosition === 1" name="isKeyPosition" 
              [value]="1" (change)="chooseKeyPosition(item)" />
            </th> -->
            <th style="width: 2.25em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
           </th>
            <th [pSortableColumn]="'projectsCode'">
              {{'personnelInvolved.projectsCode' | translate}}
              <p-sortIcon [field]="'projectsCode'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'projectsName'">
              {{'personnelInvolved.projectsName' | translate}}
              <p-sortIcon [field]="'projectsName'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'classifyCode'">
              {{'personnelInvolved.classify' | translate}}
              <p-sortIcon [field]="'classifyCode'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'employeeCode'">
              {{'personnelInvolved.employeeCode' | translate}}
              <p-sortIcon [field]="'employeeCode'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'employeeName'">
              {{'personnelInvolved.employeeName' | translate}}
              <p-sortIcon [field]="'employeeName'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'organizationName'">
              {{'personnelInvolved.org' | translate}}
              <p-sortIcon [field]="'organizationName'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'startDate'">
              {{'personnelInvolved.startDate' | translate}}
              <p-sortIcon [field]="'startDate'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'endDate'">
              {{'personnelInvolved.endDate' | translate}}
              <p-sortIcon [field]="'endDate'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'role'">
              {{'personnelInvolved.role' | translate}}
              <p-sortIcon [field]="'role'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
          <tr>
            <td class="vt-align-center">{{index}}</td>
            <!-- <td class="vt-align-center"><input type="checkbox" [checked]="item.isKeyPosition === 1" name="isKeyPosition" 
              [value]="1" (change)="chooseKeyPosition(item)" />
            </td> -->
            <td class="vt-align-center">
              <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>
            <td class="vt-align-center">
              {{item.projectsCode}}
            </td>
            <td class="vt-align-left">
              {{item.projectsName}}
            </td>
            <td class="vt-align-left">
              {{item.classifyName}}
            </td>
            <td class="vt-align-center">
              {{item.employeeCode}}
            </td>
            <td class="vt-align-left">
              {{item.employeeName}}
            </td>
            <td class="vt-align-left">
              {{item.organizationName}}
            </td>
            <td class="vt-align-center">
              {{item.startDate|displayDate}}
            </td>
            <td class="vt-align-center">
              {{item.endDate|displayDate}}
            </td>
            <td class="vt-align-left">
              {{item.role}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="10" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
        </ng-template>
        </p-table>
    </div>
  </div>
</div>