<div class="card-emp">
  <div id="curriculumvitaesecurity" class="card card-info">
    <div class="card-header">
      <div>
        <img class="header-icon" [ngClass]="{'transform-icon': hideCurriculumvitaesecurity === true}" src="./../../../../../../assets/images/home/Group_18932.png" (click)="hideCurriculumvitaesecurity = !hideCurriculumvitaesecurity">
        {{'protectsecurity.curriculumvitaesecurity.table.title' | translate}}
      </div>
    </div>
    <div *ngIf="!hideCurriculumvitaesecurity" class="card-body">
      <div class="panel-body panel-table">
        <p-table
          #pTable
          [value]="resultList.data"
          [paginator]="false"
          (onLazyLoad)="processSearchSynchronized($event)"
          [lazy]="true" [rows]="changeRow"
          [totalRecords]="resultList.recordsTotal"
          [scrollable]="true"
          [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
          [resizableColumns]="true"
          styleClass="controlOverflow"
          [(selection)]="selectedGop"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 50px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 200px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 200px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate pResizableColumn>
                common.table.index
              </th>
              <th translate pResizableColumn>common.label.action</th>
              <th [pSortableColumn]="'type'" translate pResizableColumn>
                partyMember.workProcess.type
                <p-sortIcon [field]="'type'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'effectiveStartDate'" translate pResizableColumn>
                employeeInfo.workProcess.effectiveDate
                <p-sortIcon [field]="'effectiveStartDate'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'effectiveEndDate'" translate pResizableColumn>
                employeeInfo.workProcess.expiredDate
                <p-sortIcon [field]="'effectiveEndDate'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'positionName'" translate pResizableColumn>
                common.label.title
                <p-sortIcon [field]="'positionName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'orgName'" translate pResizableColumn>
                employeeInfo.workProcess.org
                <p-sortIcon [field]="'orgName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'documentNumber'" translate pResizableColumn>
                partyMember.workProcess.documentNumberTitle
                <p-sortIcon [field]="'documentNumber'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'signDate'" translate pResizableColumn>
                partyMember.workProcess.signDate
                <p-sortIcon [field]="'signDate'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'documentTypeName'" translate pResizableColumn>
                partyMember.workProcess.documentType
                <p-sortIcon [field]="'documentTypeName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'documentReasonName'" translate pResizableColumn>
                partyMember.workProcess.documentReasonName
                <p-sortIcon [field]="'documentReasonName '"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'workingPlaceName'" translate pResizableColumn>
                partyMember.workProcess.workPlace
                <p-sortIcon [field]="'workingPlaceName'"></p-sortIcon>
              </th>
              <th translate pResizableColumn>employeeInfo.workProcess.fileAttachments</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{ index }}</td>
              <td class="vt-align-center">
                <div *ngIf="(hasPermission('action.export') && item.isPartyMemberDead) || item.isKeyPosition == 1"
                  ngbDropdown
                  class="d-inline-block"
                >
                  <button class="btn btn-sm btn-info" ngbDropdownToggle translate>common.label.action</button>
                  <div ngbDropdownMenu>
                    <!-- Xuất phiếu báo tử Đảng viên -->
                    <div *ngIf="hasPermission('action.export') && item.isPartyMemberDead">
                      <button
                        class="dropdown-item"
                        (click)="processExportDeadPartyMember(item)"
                        [innerHTML]="'partyMember.workProcess.exportDead' | translate">
                      </button>
                    </div>
                    <!-- Cập nhật vị trí trọng yếu -->
                    <div *ngIf="item.isKeyPosition == 1">
                      <button class="dropdown-item" (click)="processSaveKeyPosition(item.workProcessId)"
                        [innerHTML]="'partyMember.workProcess.updateKeyPosition' | translate">
                      </button>
                    </div>
                  </div>
                </div>
              </td>
              <td class="vt-align-center">{{ item.type == 1 ? "Quá trình trong" : "Quá trình ngoài" }}</td>
              <td class="vt-align-center">{{ item.effectiveStartDate | displayDate }}</td>
              <td class="vt-align-center">{{ item.effectiveEndDate | displayDate }}</td>
              <td class="vt-align-left">{{ item.positionName }}</td>
              <td class="vt-align-left">{{ item.orgName }}</td>
              <td class="vt-align-left">{{ item.documentNumber }}</td>
              <td class="vt-align-center">{{ item.signDate | displayDate }}</td>
              <td class="vt-align-left">{{ item.documentTypeName }}</td>
              <td class="vt-align-left">{{ item.documentReasonName }}</td>
              <td class="vt-align-left">{{ item.workingPlaceName }}</td>
              <td class="vt-align-left">
                <!-- <a *ngFor="let data of item.fileAttachment.file"
                  style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                  (click)="downloadFile(data, item)">
                    {{data.fileName}}
                </a> -->
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="13" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)" [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
