<div class="modal-body">
  <div class="panel panel-default customFont">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text">
          <span *ngIf="mode == 'insert'"> Thêm mới bộ câu hỏi </span>
          <span *ngIf="mode == 'update'"> Chỉnh sửa bộ câu hỏi </span>
          <span *ngIf="mode == 'view'"> Xem chi tiết bộ câu hỏi</span>
        </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
               <span class="btn btn-span btn-sm btn-info btn-close" title="{{'common.button.close' | translate}}" (click)="onCloseAddModal();">
                    <i class="fa fa-times"></i>
               </span>
          </div>
      </div>

      <div class="panel-body padding-xl ui-g">
        
        <div class=" ui-g-12">
          <div class="ui-g-10 ui-md-12">
            <label class="ui-g-12 ui-md-2 control-label vt-align-right required" style="margin-top: 10px;" translate>
              label.exam.question.question
            </label>
            <div class="ui-g-12 ui-md-9">
              <textarea formControlName="question" maxlength="5000" type="text" pInputText class="form-control" [readonly]="isView" placeholder="Nhập"></textarea>
              <app-control-messages [control]="f['question']"></app-control-messages>
            </div>
          </div>
        </div>

        <div class=" ui-g-12">
          <div class="ui-g-12 ui-md-6">
            <label class="ui-g-12 ui-md-4 control-label vt-align-right" style="margin-top: 10px;" translate>
              label.exam.question.type
            </label>
            <div class="ui-g-12 ui-md-6">
              <p-dropdown [options]="questionTypeList" formControlName="type" optionLabel="name"
                [placeholder]="'common.label.cboSelect' | translate" [disabled]="isView">
              </p-dropdown>
            </div>
          </div>

          <div class="ui-g-12 ui-md-6">
            <label class="ui-g-12 ui-md-4 control-label vt-align-right" style="margin-top: 10px;" translate>
              label.exam.question.status
            </label>
            <div class="ui-g-12 ui-md-6">
              <p-dropdown [options]="statusList" formControlName="status" optionLabel="name" [showClear]="true"
                filter="true" filterBy="label" [placeholder]="'common.label.cboSelect' | translate" [disabled]="isView">
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class=" ui-g-12">
            <label class="ui-g-12 ui-md-2 control-label vt-align-right required" style="margin-top: 10px;" translate>
              label.exam.question.answer
            </label>
            <div class="ui-g-12 ui-md-9">
              <button type="button" (click)="addAnswer()" [attr.disabled]="isView?true:null" class="btn btn-sm btn-info btn-add-answ">Thêm đáp án</button>
              <div class="answer-row"  formArrayName="answers">
                <div *ngFor="let answer of answers.controls; let i = index" [formGroupName]="i" class="answer">
                  <div class="ui-g-12" style="padding-left: 0px">
                    <div class="d-flex" style="align-items: center">
                      <textarea formControlName="answer" type="text" maxlength="5000" style="margin-top: 5px; margin-bottom: 5px;" pInputText class="form-control ui-g-10" [readonly]="isView" placeholder="Nhập"></textarea>
                      <app-control-messages [control]="answer.get('answer')"></app-control-messages>
<!--                        <span type="button" (click)="removeAnswer(i)" [attr.disabled]="isView?true:null" *ngIf="!isView" style="text-decoration: underline; color: blue;">Xóa</span>-->
                        <button class="btn-icon minus ui-g-2" type="button" (click)="removeAnswer(i)" [attr.disabled]="isView?true:null" *ngIf="!isView" style="margin-left: 12px"
                                [innerHTML]="'common.icon.minus' | translate">
                            <span class="glyphicons glyphicons-minus icon-table delete" title="Xóa"></span>
                        </button>
                    </div>
                    <div class="d-flex">

                      <div class="d-flex mr-2">
                        <input  type="checkbox"  formControlName="isTrue" style="margin-right: 5px;" [attr.disabled]="isView?true:null" [id]="'checkCorrect'+i"/>
                        <label [for]="'checkCorrect'+i">Đáp án đúng</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        </div>

      </div>

      <div class="panel-footer vt-area-button">
        <button type="button" (click)="onCloseAddModal();" class="btn btn-sm vt-btn mt-btn ng-star-inserted"
          [innerHTML]="'common.button.close' | translate"><i class="fa fa-times"></i></button>
        <!-- <button *ngIf="isView && !parrentView" type="button" (click)="updateModal()" class="btn btn-sm btn-info"
          [innerHTML]="'app.cds.evaluate.btn.update' | translate"><i class="fa fa-save"></i></button> -->
        <button *ngIf="!isView" type="submit" (click)="saveInfor()" class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted"
          [innerHTML]="'common.button.icon.save' | translate"><i class="fa fa-save"></i></button>
      </div>
    </form>
  </div>
</div>
