<div class="card-reward">
    <div class="clearfix">
      <div class="left-nav-bar pull-left row-header">
        <div>
          <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png" (click)="goBack();">
          <span *ngIf="isInsert" class="title" translate>tab.rewardProposal.rewardInfoInsertDecide</span>
          <span *ngIf="isUpdate" class="title" translate>tab.rewardProposal.rewardInfoDecideEdit</span>
          <span *ngIf="isView" class="title" translate>tab.rewardProposeSign.label.rewardSignInfoView</span>
        </div>
      </div>
      <div class="right-nav-bar pull-right left-option">
          <ul class="header-right sys-ul space-line">
              <li>
                <button class="btn btn-sm vt-btn ng-star-inserted" type="button" (click)="goBack();" [innerHTML]="'common.button.out' | translate">
                </button>
              </li>
              <li *ngIf="!isView || status == 3 || status == 5">
                <button class="btn btn-sm vt-btn btn-submit ng-star-inserted" type="button" (click)="processSaveOrUpdate()" [innerHTML]="'common.button.icon.save' | translate">
                </button>
              </li>
              <li *ngIf="isSign">
                <button class="btn btn-sm vt-btn btn-submit ng-star-inserted" type="button" (click)="onSign()" [innerHTML]="'common.button.icon.register' | translate">
                </button>
              </li>
              <li *ngIf="canTransferPayment">
                <button class="btn btn-sm vt-btn btn-submit ng-star-inserted" type="button" (click)="transferPayment(formSave.value)" [innerHTML]="'common.button.icon.transferPayment' | translate">
                </button>
              </li>
              <li *ngIf="canTransferBTHTT">
                <button class="btn btn-sm vt-btn btn-submit ng-star-inserted" type="button" (click)="transferBTHTT(formSave.value)" [innerHTML]="'common.button.icon.transferBTHTT' | translate">
                </button>
              </li>
              <li *ngIf="canGenerateFile">
                  <button class="btn btn-sm vt-btn btn-submit ng-star-inserted" type="button" (click)="generateFileReward(formSave.value)" [innerHTML]="'common.button.icon.generateFle' | translate">
                  </button>
              </li>
              <li *ngIf="completeStatement">
                <button class="btn btn-sm vt-btn btn-submit ng-star-inserted" type="button" (click)="docompleteStatement(formSave.value)" [innerHTML]="'common.button.icon.completeStatement' | translate">
                </button>
              </li>
              <li>
                <button class="btn btn-sm vt-btn btn-submit ng-star-inserted" type="button" (click)="onPreviewFile(true)" [innerHTML]="'common.button.icon.previewAllFile' | translate">
                </button>
              </li>
          </ul>
      </div>
    </div>
</div>
<div class="info">
    <form id="formSave" [formGroup]="formSave">
        <div *ngIf="(hasPermission('action.update') && isUpdate) || (hasPermission('action.insert') && isInsert || isView)">
            <div class="panel panel-default card-info">
                <div class="panel-heading vt-relative">
                    <strong>
                        <!-- <span *ngIf="isInsert" translate>tab.rewardProposal.rewardInfoInsertDecide</span>
                        <span *ngIf="isUpdate" translate>tab.rewardProposal.rewardInfoDecideEdit</span>
                        <span *ngIf="isView" translate>tab.rewardProposeSign.label.rewardSignInfoView</span> -->
                        <span class="ml-2 title-info">Thông tin quyết định khen thưởng</span>
                    </strong>
                </div>
                <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12 vt-row">
                        <!-- Lĩnh vực khen thưởng -->
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
                            {{'rewardPropose.rewardType' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <select-filter [placeHolder]="'common.label.cboMustSelect'" [property]="f['rewardType']"
                                            [options]="rewardTypeListByUserToInsert" optionLabel="name" optionValue="id"
                                            (onChange)="onRewardTypeChange()"
                                            [disabled]="isView">
                            </select-filter>
                            <app-control-messages [control]="f['rewardType']"></app-control-messages>
                        </div>
    
                        <!-- đơn vị trình ký -->
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                            {{'rewardPropose.signOrganization' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <org-selector [property]="f['signOrgId']" operationKey="action.view"
                                            adResourceKey="resource.rewardPropose" [defaultValue]="true" [disabled]="isView"
                                            (onChange)="onOrganizationChange()">
                            </org-selector>
                            <app-control-messages [control]="f['signOrgId']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g-12 vt-row">
                        <!-- tên quyết đinh -->
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
                            {{'rewardProposeSign.rewardProposeSignName' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <input type="text" class="form form-control" name="name" formControlName="name" maxlength="200"
                                    [attr.disabled]="isView ? true : null">
                            <app-control-messages [control]="f['name']"></app-control-messages>
                        </div>
                        <!-- cấp ra quyết định-->
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                            {{'rewardPropose.reviewOrganization' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <org-selector [property]="f['approvalOrgId']" operationKey="action.view" [rootId]="rootOrgId"
                                            adResourceKey="resource.rewardPropose"  [disabled]="isView"
                                            (onChange)="checkRenderForm()">
                            </org-selector>
                            <app-control-messages [control]="f['approvalOrgId']"></app-control-messages>
    
                        </div>
                    </div>
                    <div class="ui-g-12 vt-row">
                        <!-- kỳ khen thưởng -->
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
                            {{'rewardPropose.periodType' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <select-filter [property]="f['periodType']" [options]="lstPeriodType" optionLabel="name"
                                            optionValue="id"
                                            [placeHolder]="'common.label.cboMustSelect'"
                                            [disabled]="isView"
                                            (onChange)="checkRenderForm()">
                            </select-filter>
                            <app-control-messages [control]="f['periodType']"></app-control-messages>
                        </div>
                        <!-- năm -->
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                            {{'rewardPropose.year' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <select-filter [property]="f['proposeYear']" [options]="listYear" optionLabel="year"
                                            optionValue="year"
                                            [placeHolder]="'common.label.cboMustSelect'"
                                            [disabled]="isView"
                                            (onChange)="checkRenderForm()">
                            </select-filter>
                            <app-control-messages [control]="f['proposeYear']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g-12 vt-row">
                        <!-- File đính kèm -->
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                            {{'common.label.attachmentFile' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <multi-file-chooser [property]="f['attachedFiles']" fileName="attachedFiles" [validMaxSize]="50"
                                                validType="png,jpg,gif,tiff,bmp,xls,xlsx,doc,docx,pdf,rar,zip,7z"
                                                [disabled]="isView  ? true : null">
                            </multi-file-chooser>
                            <app-control-messages [control]="f['attachedFiles']"></app-control-messages>
                        </div>
                        <!-- Đề xuất ủy quyền-->
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                            {{'rewardPropose.isAuthority' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <input type="checkbox" name="isAuthority" formControlName="isAuthority" style="width: 18px;
                    height: 1.5rem;" [attr.disabled]="isView ? true : null" [value]="0">
                        </div>
                    </div>
                    <div class="ui-g-12 vt-row">
                        <!-- Ngày ngày ngân sách-->
                        <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right required" >
                            Ngày thanh toán
                        </label>
                        <div class="ui-g-12 ui-md-3 ui-lg-3">
                            <date-picker [property]="f['budgetDate']" [disabled]='isView'>
                            </date-picker>
                            <app-control-messages [control]="f['budgetDate']"></app-control-messages>
                        </div>

                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                            Nguồn ngân sách
                          </label>
                          <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <select-filter [property]="f['funCategory']" [options]="lstfunCategory" optionLabel="name" optionValue="id"
                              [placeHolder]="'common.label.cboMustSelect'" [disabled]="isView ">
                            </select-filter>
                            <app-control-messages [control]="f['funCategory']"></app-control-messages>
                          </div>
                    </div>
                    <div class="ui-g-12 vt-row">
                        <label *ngIf="!isInsert"
                                class="ui-g-12 ui-md-3 control-label vt-align-right">
                            {{'rewardProposeSign.vfsStatementNo' | translate}}
                        </label>
                        <div *ngIf="!isInsert" class="ui-g-12 ui-md-6 ui-lg-3">
                            <input type="text" class="form form-control" name="vfsStatementNo" formControlName="vfsStatementNo"
                                    maxlength="50" autocomplete="off"
                                    disabled>
                        </div>
                    </div>
                    <div class="ui-g-12 vt-row" *ngIf="isView">
                        <!-- Trạng thái tờ trình SAP-->
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                            Trạng thái tờ trình SAP
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <select-filter [placeHolder]="'common.label.cboSelectAll'" [property]="f['sapStatementStatus']" [options]="listSAPStatementStatus"
                                            optionLabel="name" optionValue="id" [disabled]="isView ? true: null">
                            </select-filter>
                            <app-control-messages [control]="f['sapStatementStatus']"></app-control-messages>
                        </div>
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                            Tổng tiền
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-2">
                            <input type="text" class="form form-control" name="totalAmountOfMoney"
                                    formControlName="totalAmountOfMoney" maxlength="200" [attr.disabled]="true">
                        </div>
                    </div>
                </div>
                <reward-decide-table
                        [dataFormRewardDecide]="formRewardDecideTable.asObservable()"
                        (eventAddDecide)="addRewardDecide()"
                        (renderDataDecide)="renderDataDecide($event)"
                >
                </reward-decide-table>
            </div>
        </div>
        <div *ngIf="(hasPermission('action.update') && isUpdate) || (hasPermission('action.insert') && isInsert || isView)">
            <div style="width: 100%;">
                <p-tabView class="tab-view">
                    <p-tabPanel header="{{'rewardPropose.label.rewardProposeDetail' | translate}}">
                        <p-tabView class="tab-item">
                            <!-- Khen thuong tap the -->
                            <p-tabPanel
                                    header="{{'tab.rewardPropose.group' | translate}} ({{formRewardGroupInside ? formRewardGroupInside.value.length : 0}})">
                                <reward-group-position [resetFormArray]="resetFormArray.asObservable()" [isDisable]="true"
                                                        [setData]="setData.asObservable()" [isHideProposeSign]="true" [processingData]="processingData"
                                                        [setData]="setData.asObservable()" [isViewFile]="true"
                                                        (formRewardGroupOutput)=" getFormRewardGroupInside($event)">
                                </reward-group-position>
                            </p-tabPanel>
                            <!-- Khen thuong CBCNV -->
                            <p-tabPanel header="{{'tab.rewardPropose.rewardEmployee' | translate}} ({{formRewardPersonInside ? formRewardPersonInside.value.length : 0}})">
                                <reward-employee-position [resetFormArray]="resetFormArray.asObservable()" [isDisable]="true"
                                                            [setData]="setData.asObservable()" [processingData]="processingData"
                                                            (formRewarPersonalOutput)="getFormRewardPersonalInside($event)"
                                                            [isHideProposeSign]="true" [isViewFile]="true">
                                </reward-employee-position>
                            </p-tabPanel>
                            <!-- Tap the ngoai sangnn -->
                            <p-tabPanel header="{{'tab.rewardPropose.organizationOut' | translate}} ({{formRewardGroupOutside ? formRewardGroupOutside.value.length: 0}})">
                                <reward-organization-out [resetFormArray]="resetFormArray.asObservable()" [isDisable]="true"
                                                            [setData]="setData.asObservable()" [processingData]="processingData"
                                                            (formRewardOrgOutside)="getFormRewardGroupOutSide($event)">
                                </reward-organization-out>
                            </p-tabPanel>
                            <!-- Ca nhan ngoai sangnn -->
                            <p-tabPanel header="{{'tab.rewardPropose.individualsOut' | translate}} ({{formRewardPersonOutside ? formRewardPersonOutside.value.length: 0}})">
                                <reward-individuals-out [resetFormArray]="resetFormArray.asObservable()" [isDisable]="true"
                                                        [setData]="setData.asObservable()" [processingData]="processingData"
                                                        (formRewardIndividualOutside)="getFormRewardPersonalOutSide($event)">
                                </reward-individuals-out>
                            </p-tabPanel>
                        </p-tabView>
                    </p-tabPanel>
                    <!-- Chi phí -->
                    <p-tabPanel header="{{'tab.rewardPropose.cost' | translate}}">
                        <reward-cost [resetFormArray]="resetFormArray.asObservable()" [isDisable]="true"
                                        [setData]="setData.asObservable()"
                                        [processingData]="processingData"
                                        (formRewardOrgCost) = "getFormRewardOrgCost($event)">
                        </reward-cost>
                    </p-tabPanel>
                </p-tabView>
                <div *ngIf="formSave.controls['paymentStatus'].value != 0" class="scollTable panel panel-default card-info reward-reimbursement">
                    <div class="panel-heading vt-relative">
                        <strong>
                            <span class="ml-2 title-info">{{ 'rewardPropose.label.rewardReimbursement' | translate }}</span>
                        </strong>
                    </div>
                    <div class="p-3">
                        <div class="panel-body panel-table" style="padding: 12px;">
                            <p-table #ptable [scrollable]="true" [value]="listReimbursement" [paginator]="true"
                                        [first]="firstRowIndex" [rows]="pageSize" selectionMode="single"
                                        [(selection)]="selectedRows" (onRowSelect)="onSelectChange($event)"
                                        [totalRecords]="listReimbursement ? listReimbursement.length : 0"
                                        tableStyleClass="table controls-table table-wrapper b-t b-b">
                                <div class="tbl-panel">
                                    <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                            <col class="size-1">
                                            <col class="size-5">
                                            <col class="size-4">
                                            <col class="size-10">
                                            <col class="size-10">
                                            <col class="size-15">
                                            <col class="size-8">
                                            <col class="size-8">
                                            <col class="size-8">
                                            <col class="size-8">
                                            <col class="size-15">
                                            <col class="size-6">
                                        </colgroup>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th translate>common.table.index</th>
                                            <th>{{'fundContribution.lable.action' | translate}}</th>
                                            <!-- to chuc  -->
                                            <th translate><span>rewardPropose.reimbursement.organization</span>
                                            </th>
                                            <!-- so bang THTT -->
                                            <th translate>
                                                <span>rewardPropose.reimbursement.reimbursementID</span></th>
                                            <!-- So to trinh -->
                                            <th translate><span>rewardPropose.reimbursement.statementNo</span>
                                            </th>
                                            <!--mo ta loi-->
                                            <th translate>rewardPropose.reimbursement.response</th>
    
    
                                            <!--trang thai ky de nghi chuyen tien-->
                                            <th translate>rewardPropose.reimbursement.signerStatus</th>
    
                                            <!--trang thai chi-->
                                            <th translate>rewardPropose.reimbursement.apCashStatus</th>
                                            <th translate>rewardPropose.reimbursement.sapSumInvNo</th>
                                            <th translate>rewardPropose.reimbursement.sapvoSStatusDes</th>
                                            <th translate>rewardPropose.reimbursement.logSyncSap</th>
                                            <th translate>rewardPropose.reimbursement.autoPayOrder</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-item let-index="rowIndex">
                                        <tr>
                                            <td class="vt-align-center">
                                                {{index + 1}}
                                            </td>
                                            <td class="vt-align-center">
                                                <a target="_blank" href="{{URL}}/reward/reward-payment-reporting/{{item.vfsReimbursementId}}"
                                                    title="{{'common.button.table.viewinvoice' | translate}}"><i
                                                        class="fa fa-eye color-info"></i></a>
                                            </td>
                                            <td class="vt-align-center">
                                                {{item.organizationName}}
                                            </td>
                                            <td class="vt-align-center">
                                                {{item.documentNo}}
                                            </td>
                                            <td class="vt-align-center">
                                                {{item.vfsStatementNo}}
                                            </td>
                                            <td class="vt-align-center" (click)="openModal(item?.response)">
                                                {{item.response}}
                                            </td>
    
                                            <td class="vt-align-center">
                                                <span *ngIf="item.signerStatus == '0'">Chưa ký</span>
                                                <span *ngIf="item.signerStatus == '1'">Văn thư từ chối</span>
                                                <span *ngIf="item.signerStatus == '2'">Lãnh đạo từ chối</span>
                                                <span *ngIf="item.signerStatus == '3'">Đã phê duyệt</span>
                                                <span *ngIf="item.signerStatus == '4'">Hủy luồng</span>
                                                <span *ngIf="item.signerStatus == '5'">Đã ban hành</span>
                                                <span *ngIf="item.signerStatus == '10'">Chờ ký</span>
                                            </td>
                                            <td class="vt-align-center">
                                                <span *ngIf="item.apcashStatus == 'Y'">Đã chi</span>
                                                <span *ngIf="item.apcashStatus == 'N'">Chưa chi</span>
                                            </td>
                                            <td class="vt-align-center">
                                                {{item.sapSumInvNo}}
                                            </td>
                                            <td class="vt-align-center" >
                                                {{item.sapvoSStatusDes}}
                                            </td>
                                            <td class="vt-align-center" (click)="openModal(item?.sapErrorMessage)">
                                                {{ item.sapErrorMessage}}
                                            </td>
                                            <td class="vt-align-center">
                                                <input type="checkbox" class="ui-chkbox ui-chkbox-box" style="height: 1.5rem;" name="autoPayOrder"  [checked]="item.autoPayOrder == 'Y' ? 1 :0"
                                                        disabled/>
                                            </td>
<!--                                            <td class="vt-align-center">-->
<!--                                                {{item.bankId}}-->
<!--                                            </td>-->
<!--                                            <td class="vt-align-center">-->
<!--                                                {{item.paymentOrderType}}-->
<!--                                            </td>-->
                                    </ng-template>
                                </div>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div *ngIf="(!hasPermission('action.update') && isUpdate) || (!hasPermission('action.insert') && isInsert)">
        {{'common.haveNoPermission' | translate}}
    </div>
</div>
