<div class="panel panel-default">
    <p-scrollPanel [style]="{width: '100%', height: 400 + 'px'}" styleClass="custombar2 clearfix">
      <div *ngIf="!showOrgByLineOrg" id="orgTree">
        <p-treeTable [value]="nodes">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-10">
              <col class="size-3">
              <col class="size-4">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="vt-align-center">{{'resolutionQuarterYear.resolutionAndCriteriaName' | translate}}</th>
              <th class="vt-align-center">{{'resolutionQuarterYear.status' | translate}}</th>
              <th class="vt-align-center">{{'common.label.fileDocument' | translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr >
              <td>
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                {{rowData.name}}
              </td>
              <td>
                  <div class="label-status notYet" *ngIf="rowData.organizationId !== 0 && rowData.status==0">{{'resolutionQuarterYear.status.criteriaNotDone' | translate}}</div>
                  <div class="label-status info" *ngIf="rowData.organizationId !== 0 && rowData.status==1" >{{'resolutionQuarterYear.status.criteriaDone' | translate}}</div>
              </td>
              <td class="vt-align-left">
                <div *ngIf="rowData.fileAttachment != null">
                  <a *ngFor="let data of (rowData.fileAttachment.file)"
                    style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                    (click)="downloadFile(data)">
                    - {{data.fileName}}
                  </a>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
        <p-contextMenu #cm [model]="items" appendTo="body"></p-contextMenu>
      </div>
    </p-scrollPanel>
  </div>