<div *ngIf="(hasPermission('action.update') && isUpdate || isAnswer) || (hasPermission('action.insert') && isInsert)
            || (hasPermission('action.view') && isView)">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span *ngIf="isInsert" translate>questionAndAnswer.add</span>
          <span *ngIf="isUpdate" translate>questionAndAnswer.update</span>
          <span *ngIf="isAnswer" translate>questionAndAnswer.answer</span>
          <span *ngIf="isView" translate>questionAndAnswer.view</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12 vt-row">
          <label *ngIf="isView || isAnswer" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'questionAndAnswer.emailAnswer' | translate}}
            </label>
          <div *ngIf="isView || isAnswer" class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" class="form form-control"  formControlName="email" maxlength="200"
            [attr.disabled]="true"
            >
          </div>
          <label *ngIf="isView || isAnswer" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'questionAndAnswer.mobileNumberAnswer' | translate}}
          </label>
          <div *ngIf="isView || isAnswer" class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" class="form form-control" formControlName="mobileNumber" maxlength="200"
            [attr.disabled]="true"
            >
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" [ngClass]="isView?'':isAnswer?'':'required'">
            {{'questionAndAnswer.label.title' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-9">
            <input type="text" class="form form-control" name="title" formControlName="title" maxlength="200" [autoFocus]="true"
            [attr.disabled]="isView?true:isAnswer?true:null"
            >
            <app-control-messages [control]="f['title']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" [ngClass]="isView?'':isAnswer?'':'required'">
            {{'questionAndAnswer.question' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-9">
            <textarea type="text-area" rows="8" class="form-control" [attr.disabled]="isView?true:null || isAnswer?true:null" formControlName="question" maxlength="10000"></textarea>
            <app-control-messages [control]="f['question']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label *ngIf="isAnswer || isView" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" [ngClass]="isView?'':'required'">
            {{'questionAndAnswer.answer' | translate}}
          </label>
          <div *ngIf="isAnswer || isView" class="ui-g-12 ui-md-6 ui-lg-9">
            <textarea (foCus) = "isAnswer" type="text-area" rows="8" class="form-control" [attr.disabled]="isView?true:null" formControlName="answer" maxlength="10000"></textarea>
            <app-control-messages [control]="f['answer']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" *ngIf="!isView" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.icon.save' | translate"></button>
        <button type="button" (click)="goBack()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="(!hasPermission('action.update') && isUpdate) || (!hasPermission('action.insert') && isInsert)">
  {{'common.haveNoPermission' | translate}}
</div>