    <strong class="text-u-c">
        <i class="fa fa-th"></i>&nbsp;
        DANH SÁCH NHÓM CÁ NHÂN NHẬN VĂN BẢN
        <i
          style="color: #66b3ff;"
          [pTooltip]="'vofficeSign.warningLogin' | translate"
          tooltipPosition="top"
          class="fas fa-info-circle"
        ></i>
    </strong>
    <div class="padding-xl ui-g">
      <p-table [scrollable]="false" [value]="lstFormConfig.controls"  styleClass="controlOverflow" tableStyleClass="table controls-table table-wrapper b-t b-b">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col class="size-6">
            <col class="size-6">
            <col class="size-6">
            <col class="size-3">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th translate>common.table.index</th>
            <th [ngClass]="{'required': true}"> Nhóm cá nhân</th>
            <th >Phương thức gửi</th>
            <th >Ghi chú</th>
            <th >Thao tác</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr [formGroup]="item">
            <td class="vt-align-center">
              {{index+1}}
            </td>
            <td>
              <group-picker
                [property]="item.controls.groupId"
                [nameInput]="item.controls.groupName.value"
                [disabled]="disabled"
                (onChange)="onSelectValue($event, item)"
              >
              </group-picker>
              <app-control-messages [control]="item.controls.groupId"></app-control-messages>
            </td>
            <td class="vt-align-left">
                <select-filter
                    [placeHolder]="'common.label.cboSelectAll'"
                    [property]="item.controls.sendMethod" 
                    [options]="SEND_METHOD" 
                    optionLabel="name"
                    optionValue="id"
                    [isDisplayClear]="false"
                    [disabled]="disabled"
                >
              </select-filter>
            </td>
            <td class="vt-align-left">
                {{item.controls.groupNote.value}}
            </td>
            <td class="vt-align-center">
              <button 
                type="button" 
                class="btn-icon plus" 
                [title]="'titleAdd' | translate" 
                [innerHTML]="'common.icon.plus' | translate"
                [disabled]="disabled? true: false"
                (click)="addRow(index, item)"
              >
              </button>
              <button 
                type="button" 
                class="btn-icon minus" 
                [title]="'titleDelete' | translate"
                [innerHTML]="'common.icon.minus' | translate"
                [disabled]="disabled? true: false"
                (click)="removeRow(index, item)" 
                >
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>