<div [ngClass]="isShowVertical?'show-title':''">
    <div id="searchPage" [ngStyle]="{'width': isShowVertical && !isShowHideVertical ? '0%' : '', 'min-width': isShowVertical && !isShowHideVertical ? '0%' : '', 'position': 'relative',
    'z-index': '1'}"
         [ngClass]="isShowVertical?'display-search-vertical':'display-search-not-vertical'">
        <div id="searchArea" [ngClass]="isShowVertical?'display-max-vertical-height':''">
            <div [ngClass]="isShowVertical?'panel panel-default unset-margin-bottom-vertical display-max-vertical':'panel panel-default'">
                <form [formGroup]="formSearch" id="formSearch">
                    
                    <div class="panel-body padding-xl ui-g">
        
                        <div class=" ui-g-12 vt-row">
                          <div class="ui-g-12 ui-md-6">
                            <label class="ui-g-12 ui-md-4 control-label vt-align-right" style="padding-top: 15px;" translate>
                              label.exam.question.set.title
                            </label>
                            <div class="ui-g-12 ui-md-6">
                              <input formControlName="title" type="text" pInputText class="form-control" placeholder="Nhập">
                            </div>
                          </div>
                        </div>
                
                        <div class=" ui-g-12">
                          <div class="ui-g-12 ui-md-6">
                            <label class="ui-g-12 ui-md-4 control-label vt-align-right " style="padding-top: 15px;" translate>
                              label.exam.question.set.branch
                            </label>
                            <div class="ui-g-12 ui-md-6">
                              <p-dropdown formControlName="branch" 
                              [options]="branchList" [placeholder]="'placeholder.choose' | translate" [showClear]="true"></p-dropdown>
                            </div>
                          </div>
                
                          <div class="ui-g-12 ui-md-6">
                            <label class="ui-g-12 ui-md-4 control-label vt-align-right" style="padding-top: 15px;" translate>
                              label.exam.question.status
                            </label>
                            <div class="ui-g-12 ui-md-6">
                              <p-dropdown [optionLabel]="'name'" formControlName="status" 
                              [options]="statusList" [placeholder]="'placeholder.choose' | translate" [showClear]="true"></p-dropdown>
                            </div>
                          </div>
                        </div>


                        <div class=" ui-g-12">
                          <div class="ui-g-12 ui-md-6">
                            <label class="ui-g-12 ui-md-4 control-label vt-align-right " style="padding-top: 15px;" translate>
                              label.exam.question.set.start-date
                            </label>
                            <div class="ui-g-12 ui-md-6">
                              <date-picker [property]="formSearch.controls.startDate">
                              </date-picker>
                            </div>
                          </div>
                
                          <div class="ui-g-12 ui-md-6">
                            <label class="ui-g-12 ui-md-4 control-label vt-align-right" style="padding-top: 15px;" translate>
                              label.exam.question.set.end-date
                            </label>
                            <div class="ui-g-12 ui-md-6">
                              <date-picker [property]="formSearch.controls.endDate">
                              </date-picker>
                            </div>
                          </div>
                        </div>
                
                    </div>

                    <div *ngIf="isBasicSearch" class="panel-footer vt-area-button">
                        <button type="submit" class="btn btn-sm vt-btn btn-submit" (click)="search()"
                                [innerHTML]="'common.button.icon.search' | translate"></button>
                        <button *ngIf="isShowVertical" type="submit" class="btn btn-sm vt-btn "
                                (click)="showFormSearch(false)"
                                [innerHTML]="'common.button.icon.out' | translate"></button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div id="listArea" [ngClass]="isShowVertical?'display-list-vertical':''"
         [ngStyle]="{'width': isShowVertical && !isShowHideVertical ? '100%' : '','height': isShowVertical && !isShowHideVertical ? '85vh' : ''}">
        <div [ngClass]="isShowVertical?'panel panel-default display-max-vertical-height':'panel panel-default'">
            <table-view (lazyLoad)="search($event)" [optionTemplate]="optionTemplate" [title]="'label.reportConfig.exam.listData'"
                        [columnsConfig]="tableColumnsConfig" [resultList]="resultList" [btnHeaderTemplate]="btnHeaderTemplate"
                        [isShowVertical]="isShowVertical"
                        [isShowHideVertical]="isShowHideVertical">
                <ng-template #btnHeaderTemplate>
                    <button type="submit" class="btn btn-sm vt-btn btn-submit" (click)="navigateToCreatePage()"
                            [innerHTML]="'common.button.icon.addNew' | translate"></button>
                </ng-template>
                <ng-template #optionTemplate let-rowData let-rowIndex="rowIndex">
                    <td class="vt-align-center" style="overflow: inherit !important;">
                        <div ngbDropdown class="d-inline-block">
                            <div ngbDropdownToggle class="vt-action-hover">
                                <img class="menu-icon" src="./../../../assets/images/home/Mask_Group_24366.png">
                            </div>
                            <div ngbDropdownMenu class="vt-border-radius">
                                <!-- Xem chi tiết -->
                                <button class="dropdown-item"
                                        (click)="navigateToViewPage(rowData)"
                                        [innerHTML]="'common.button.table.viewdropdown' | translate">
                                </button>
                                <!-- Sửa -->
                                <button *ngIf="!branchNotUpdatableList.includes(rowData.branch)" class="dropdown-item"
                                        (click)="navigateToCreatePage(rowData)"
                                        [innerHTML]="'common.button.table.acteditdropdown' | translate">
                                </button>
                                <!-- Xóa -->
                                <button *ngIf="!branchNotUpdatableList.includes(rowData.branch)" class="dropdown-item"
                                        (click)="deleteReport(rowData)"
                                        [innerHTML]="'common.button.icon.delete' | translate">
                                </button>
                            </div>
                        </div>
                    </td>
                    <td class="vt-align-center">{{rowIndex + 1}}</td>
                    <td class="vt-align-left">{{rowData.title}}</td>
                    <td class="vt-align-left">{{rowData.branchName}}</td>
                    <td class="vt-align-left">{{rowData.questionCount}}</td>
                    <td class="vt-align-left">{{rowData.statusName}}</td>
                    <!-- <td class="vt-align-left">
                        <a *ngFor="let data of rowData.fileAttachment.file"
                           style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                           (click)="downloadFile(data)">
                            <i class="fas fa-download" style="padding-right: 10px;"></i>
                            {{data.fileName}}
                        </a>
                    </td> -->
                    <td class="vt-align-left">{{rowData.createdDate}}</td>
                    <td class="vt-align-left">{{rowData.fullName}}</td>
                </ng-template>
            </table-view>

        </div>
    </div>
</div>
