<form id="formPosition" [formGroup]="formPosition">
  <div class="panel panel-default">
    <div class="panel-heading vt-relative">
      <strong>
        <span translate> app.settings.rewardGeneral.listTitle </span>
      </strong>
    </div>
    <div class="panel-body panel-table">
      <p-table [value]="formPosition.controls" tableStyleClass="table controls-table table-wrapper b-t b-b"
        (sortFunction)="customSort($event)" [customSort]="true" [paginator]="true" [first]="firstRowIndex"
        [rows]="pageSize" [totalRecords]="formPosition.controls.length" [resizableColumns]="true" [scrollable]="true">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width: 50px;">
            <col style="width: 100px;" *ngIf="!view && !isViewPersonal && !isViewGroup">
            <col style="width: 150px;" *ngIf="isPersonal || isViewPersonal">
            <col style="width: 150px;" *ngIf="isPersonal || isViewPersonal">
            <col style="width: 150px;" *ngIf="isPersonal || isViewPersonal">
            <col style="width: 150px;" *ngIf="isPersonal || isViewPersonal">
            <col style="width: 150px;" *ngIf="isGroup || isViewGroup">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
            <col style="width: 150px;">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pResizableColumn translate><span>common.table.index</span></th>
            <th pResizableColumn translate *ngIf="!view && !isViewPersonal && !isViewGroup"><span>common.label.action</span></th>
            <th pResizableColumn translate *ngIf="isGroup || isViewGroup"><span class="required">rewardGeneral.rewardGroupp</span>
            </th>
            <th pResizableColumn translate *ngIf="isPersonal || isViewPersonal"><span class="required">rewardGeneral.employeeCode</span>
            </th>
            <th pResizableColumn translate *ngIf="isPersonal || isViewPersonal"><span>rewardGeneral.employeeName</span>
            </th>
            <th pResizableColumn translate *ngIf="isPersonal || isViewPersonal"><span>assessment.positionName</span>
            <th pResizableColumn translate *ngIf="isPersonal || isViewPersonal"><span>rewardGeneral.workunit</span>
            </th>
            <th pResizableColumn translate><span>label.commendations.type</span></th>
            <th pResizableColumn translate><span class="required">rewardGeneral.rewardTitle</span>
            </th>
            <th pResizableColumn translate>rewardGeneral.money</th>
            <th pResizableColumn translate><span>rewardGeneral.content</span></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr [formGroup]="item">
            <td class="vt-align-center">
              {{index+1}}
            </td>
            <td class="vt-align-center" *ngIf="!view && !isViewPersonal && !isViewGroup">
              <button class="btn-icon plus" type="button" (click)="add(index, item)"
                [innerHTML]="'common.icon.plus' | translate">
              </button>
              <button class="btn-icon minus" type="button" (click)="remove(index, item)"
                [innerHTML]="'common.icon.minus' | translate">
                <span class="glyphicons glyphicons-minus icon-table delete" title="Xóa"></span>
              </button>
            </td>
            <td>
              <!-- Thanh niên, phụ nữ, đoàn -->
              <mass-org-selector *ngIf="(isGroup || isViewGroup) && !isPartyOrganization && !isOrganization"
                [property]="item.controls.massOrganizationId" operationKey="action.view" [title]="item.value.massOrgName || ''"
                adResourceKey="resource.rewardGeneral" [defaultValue]="false" [branch]="branch" [disabled]="view || !rewardType || isViewPersonal || isViewGroup"
                [isRequiredField]="true" (onChange)="onChangeMassOrg($event, massOrgSelector)"
                #massOrgSelector>
              </mass-org-selector>
              <app-control-messages [control]="item.controls.massOrganizationId"></app-control-messages>
              <!-- Đảng -->
              <party-org-selector [property]="item.controls.partyOrganizationId" [title]="item.value.partyOrgName || ''"
                *ngIf="(isGroup || isViewGroup) && isPartyOrganization && !isOrganization" operationKey="action.view"  (onChange)="onChangeMassOrg($event, massOrgSelector)"
                adResourceKey="resource.rewardGeneral" [isRequiredField]="true" [defaultValue]="false" [disabled]="isViewPersonal || isViewGroup" #partyOrgSelector>
              </party-org-selector>
              <app-control-messages [control]="item.controls.partyOrganizationId"></app-control-messages>

              <!-- Chinh quyen -->
              <org-selector *ngIf="(isGroup || isViewGroup) && !isPartyOrganization && isOrganization" [property]="item.controls.organizationId"
                operationKey="action.view" adResourceKey="resource.rewardGeneral" [defaultValue]="false" [disabled]="isViewPersonal || isViewGroup"
                [isRequiredField]="true" [title]="item.value.orgName || ''"  (onChange)="onChangeMassOrg($event, massOrgSelector)">
              </org-selector>
              <app-control-messages [control]="item.controls.organizationId"></app-control-messages>

              <!-- Nhân viên -->
              <data-picker *ngIf="isPersonal || isViewPersonal" [property]="item.controls.employeeId" systemCode="political"
                operationKey="action.view" adResourceKey="resource.rewardGeneral" objectBO="EmployeeBO"
                codeField="employeeCode" nameField="fullName" emailField="email" mobileNumberField="mobileNumber" selectField="employeeId"
                (onChange)="onChangeEmployee($event)" [isRequiredField]="true" isDisplayCode="true" filterCondition="AND obj.status = 1" 
                [disabled]="isViewPersonal || isViewGroup" [title]="item.controls.employeeId.value || ''">
              </data-picker>
              <app-control-messages [control]="item.controls.employeeId"></app-control-messages>
            </td>
            <td class="vt-align-left" *ngIf="isPersonal || isViewPersonal">
              <input type="text" class="form form-control" name="employeeName" maxlength="255" disabled
                formControlName="employeeName" [title]="item.controls.employeeName.value || ''">
            </td>
            <td class="vt-align-left" *ngIf="isPersonal || isViewPersonal">
              <input type="text" class="form form-control" name="positionName" maxlength="255"
                formControlName="positionName" [title]="item.controls.positionName.value || ''">
            </td>
            <td class="vt-align-left" *ngIf="isPersonal || isViewPersonal">
              <input type="text" class="form form-control" name="organizationName" maxlength="255"
                formControlName="organizationName" [title]="item.controls.organizationName.value || ''">
            </td>
          <td>
            <div class="text-center">
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="rewardCategory{{index}}_1" value="1" formControlName="rewardCategory" (change)="handleChaneValue(item)">
                  <i></i>
                  {{'rewardCategory.titleReward' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="rewardCategory{{index}}_2" value="2" formControlName="rewardCategory" (change)="handleChaneValue(item)">
                  <i></i>
                  {{'rewardCategory.formReward' | translate}}
                </label>
              </div>
            </div>
          </td>
            <!-- Danh hiệu, hình thức khen thưởng -->
            <td>
              <select-icon-filter [property]="item.controls.rewardTitleId" [options]="item.controls.rewardTitleIdList.value" optionLabel="name"
                optionValue="rewardCategoryId" [placeHolder]="'common.label.cboMustSelect'"
                [rewardGroupType]="rewardTitleIdList" (onChange)="getAmountOfMoney(item)" [title]="item.controls.rewardTitleId.value ? item.controls.rewardTitleName.value: ''">
              </select-icon-filter>
              <app-control-messages [control]="item.controls.rewardTitleId"></app-control-messages>
            </td>
            <!-- Số tiền khen thưởng -->
            <td class="vt-align-right">
              <input type="text" style="text-align:right;" class="form form-control" name="rewardMoney" min="0" formControlName="rewardMoney" maxlength="15">
              <app-control-messages [control]="item.controls.rewardMoney"></app-control-messages>
            </td>
            <!-- Nội dung khen thưởng -->
            <td class="vt-align-center">
              <textarea type="text" rows="2" name="description" class="form form-control" formControlName="description" [title]="item.controls.description.value || ''"
                        maxlength="2000">
            </textarea>
              <app-control-messages [control]="item.controls.description"></app-control-messages>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</form>
