<div class="card-emp">
  <div id="listTitle" class="card card-info">
    <div class="card-header">
      <div>
        <img class="header-icon" [ngClass]="{'transform-icon': hideListTitle === true}" src="./../../../../../../assets/images/home/Group_18932.png" (click)="hideListTitle = !hideListTitle">
        {{'rewardPartyMember.listTitle' | translate}}
      </div>
    </div>
    <div *ngIf="!hideListTitle" class="card-body">
      <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearchDetail($event)" [lazy]="true"
          [rows]="changeRow" [totalRecords]="resultList.recordsTotal" [scrollable]="true" [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" styleClass="controlOverflow" [resizableColumns]="true">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 50px;">
              <col style="width: 50px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate pResizableColumn>common.table.index</th>
              <th [pSortableColumn]="'year'" pResizableColumn>
                {{'employee.report.year' | translate}}
                <p-sortIcon [field]="'year'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'rewardGovernment'" pResizableColumn>
                {{'rewardPartyMember.rewardGovernment' | translate}}
                <p-sortIcon [field]="'rewardGovernment'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'agencyAchievements'" pResizableColumn>
                {{'rewardPartyMember.agencyAchievements' | translate}}
                <p-sortIcon [field]="'agencyAchievements'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'rewardRequest'" pResizableColumn>
                {{'rewardPartyMember.rewardRequest' | translate}}
                <p-sortIcon [field]="'rewardRequest'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'bankAccount'" pResizableColumn>
                {{'rewardPartyMember.bankAccount' | translate}}
                <p-sortIcon [field]="'bankAccount'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'bankName'" pResizableColumn>
                {{'rewardPartyMember.bankName' | translate}}
                <p-sortIcon [field]="'bankName'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center">
                {{item.year}}
              </td>
              <td class="vt-align-left">
                {{item.rewardGovernment}}
              </td>
              <td class="vt-align-left">
                {{item.agencyAchievements}}
              </td>
              <td class="vt-align-left">
                {{item.rewardRequest}}
              </td>
              <td class="vt-align-left">
                {{item.bankAccount}}
              </td>
              <td class="vt-align-left">
                {{item.bankName}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="8" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>