<div class="card-form">
  <div class="clearfix">
    <div class="left-nav-bar pull-left row-header">
      <div>
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png" (click)="goBack();">
        <span *ngIf="!formSave.get('assessmentFormulaId').value" class="title">
          {{'assessment.formula.save.label.title' | translate}}
        </span>
        <span *ngIf="formSave.get('assessmentFormulaId').value" class="title">
          {{'assessment.formula.update.label.title' | translate}}
        </span>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
        <ul class="header-right sys-ul space-line">
          <li>
            <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="goBack();" [innerHTML]="'common.button.out' | translate">
            </button>
          </li>
          <li>
            <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="processSaveOrUpdate()" [innerHTML]="'common.button.icon.save' | translate">
            </button>
          </li>
        </ul>
    </div>
  </div>
</div>
<div class="info">
  <div class="panel panel-default card-info">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong>
          <!-- <span *ngIf="!formSave.get('assessmentFormulaId').value">
            {{'assessment.formula.save.label.title' | translate}}
          </span>
          <span *ngIf="formSave.get('assessmentFormulaId').value">
            {{'assessment.formula.update.label.title' | translate}}
          </span> -->
          <span class="ml-2 title-info">Thông tin công thức đánh giá</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.assessment.formula.name' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input
              type="text"
              class="form form-control"
              name="assessmentFormulaName"
              formControlName="assessmentFormulaName"
              maxlength="500"
              [attr.disabled]="update? true : null"
              [autoFocus]="update? false : true"
            >
            <app-control-messages [control]="f['assessmentFormulaName']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'assessment.formula.add.criteria.group' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-2">
            <data-picker
              [property]="f['assessmentCriteriaGroupId']"
              systemCode="political"
              operationKey="action.view"
              adResourceKey="resource.assessmentFormula"
              objectBO="AssessmentCriteriaGroupBO"
              codeField="assessmentCriteriaGroupCode"
              nameField="assessmentCriteriaGroupName"
              selectField="assessmentCriteriaGroupId"
              isPlus ="true"
              isRequiredField="true"
              [filterCondition]="existCriteriaSql + filterCondition"
              (onChange)="loadCriteriaGroup($event)"
            >
            </data-picker>
          </div>
        </div>
      </div>
      <!-- Nhom tieu chi -->
      <div class="panel panel-default card-info" *ngIf="lstAssessmentCriteriaGroup.length > 0">
        <div class="ui-g" *ngFor="let criteriaGroup of lstAssessmentCriteriaGroup; index as indexGroup">
          <div class="ui-g-6">
            <strong>
              <span class="ml-2 title-info">{{indexGroup + 1}}. {{criteriaGroup.assessmentCriteriaGroupName}} </span>
            </strong>
          </div>
          <div class="ui-g-6 vt-align-right" style="padding-right: 10px;">
            <button *ngIf="indexGroup > 0" class="btn-icon plus" type="button" [title]="'titleAdd' | translate"
              (click)="upCriteriaGroup(indexGroup)" [innerHTML]="'common.icon.up' | translate">
            </button>
            <button *ngIf="indexGroup != lstAssessmentCriteriaGroup.length - 1" class="btn-icon plus" type="button"
              [title]="'titleAdd' | translate" (click)="downCriteriaGroup(indexGroup)"
              [innerHTML]="'common.icon.down' | translate">
            </button>
            <button class="btn-icon minus" type="button" [title]="'titleDelete' | translate"
              (click)="removeCriteriaGroup(indexGroup, criteriaGroup)"
              [innerHTML]="'common.icon.minus' | translate"></button>
          </div>
          <!-- Tieu chi thuoc nhom tieu chi-->
          <div class="panel-body panel-table">
            <p-table  [scrollable]="true"
                      [value]="criteriaGroup.assessmentCriteriaList"
                      tableStyleClass="table controls-table table-wrapper b-t b-b"
                      styleClass="rewardGroupMinHeight"
                      [(selection)]="criteriaGroup.listChangeDisplay"
            >
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup class="ng-star-inserted">
                  <col class="size-1">
                  <col class="size-12">
                  <col class="size-3">
                  <col class="size-2">
                  <col class="size-3">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 2.25em">
                    <p-tableHeaderCheckbox (click)="handleChangeAllListDisplay(indexGroup)"></p-tableHeaderCheckbox>
                  </th>
                  <th>{{'catecriteria.title' | translate}}</th>
                  <th>{{'messages.error.resolutions.listResolution.empty' | translate}}</th>
                  <th>{{'assessment.formula.result.final' | translate}}</th>
                  <th>{{'assessment.criteria.display' | translate}}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-criteriaItem let-indexCriteria="rowIndex">
                <tr>
                  <td class="vt-align-center">
                    <p-tableCheckbox [value]="criteriaItem" (click)="handleChangeItemListDisplay(indexGroup, criteriaItem)"></p-tableCheckbox>
                  </td>
                  <td class="vt-align-left">{{criteriaItem.assessmentCriteriaName}}</td>
                  <td class="vt-align-center">
                    <span class="mr-top-0" [ngClass]="{'box-disable': criteriaItem.disabled, 'box': !criteriaItem.disabled}">
                      <input
                        id="{{indexGroup + indexCriteria + criteriaItem.assessmentCriteriaName + 'required-formula'}}"
                        type="checkbox"
                        [value]="1"
                        [checked]="criteriaItem.required"
                        [disabled]="criteriaItem.disabled"
                        (click)="onClickRequireCriteria($event, criteriaItem)"
                      />
                      <label for="{{indexGroup + indexCriteria + criteriaItem.assessmentCriteriaName + 'required-formula'}}"></label>
                    </span>
                  </td>
                  <td class="vt-align-center">
                    <span class="mr-top-0" [ngClass]="{'box-disable': criteriaItem.disabled, 'box': !criteriaItem.disabled}">
                      <input
                              id="{{indexGroup + indexCriteria + criteriaItem.assessmentCriteriaName + 'resultFinal-formula'}}"
                              type="checkbox"
                              [value]="1"
                              [checked]="criteriaItem.resultFinal"
                              [disabled]="criteriaItem.disabled"
                              (click)="onClickResultFinal($event, criteriaItem)"
                      />
                      <label for="{{indexGroup + indexCriteria + criteriaItem.assessmentCriteriaName + 'resultFinal-formula'}}"></label>
                    </span>
                  </td>
                  <td class="vt-align-center">
                    <button *ngIf="indexCriteria > 0" type="button" [title]="'titleAdd' | translate"
                      (click)="upCriteria(indexGroup, indexCriteria)" class="btn-icon plus"
                      [innerHTML]="'common.icon.up' | translate">
                    </button>
                    <button *ngIf="indexCriteria != (criteriaGroup.assessmentCriteriaList.length - 1)" type="button"
                      [title]="'titleAdd' | translate" (click)="downCriteria(indexGroup, indexCriteria)"
                      class="btn-icon plus" [innerHTML]="'common.icon.down' | translate">
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
      <!--danh sach tieu chi (Ten tieu chi - ma tieu chi)-->
      
      <div class="panel-heading" *ngIf="criteriaDisplayList.length > 0">
        <strong translate>
          <span class="ml-2 title-info">
            table.title.staff.assessment.criteria
          </span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g" style="padding: 0 12px 12px 12px;" *ngIf="criteriaDisplayList.length > 0">
        <div class="ui-g-12" *ngFor="let item of getCriteriaListForDisplay()">
          <div class="ui-g-12 ui-md-6 ui-lg-6" *ngFor="let criteria of item">
          <a style="color: rgb(0, 153, 255);" (click)="goToCriteriaView(criteria.assessmentCriteriaId)">{{criteria.assessmentCriteriaName}}{{" "}}</a>({{criteria.assessmentCriteriaCode}})
          </div>
        </div>
      </div>
      <!-- Bieu thuc -->
      <div class="panel-heading">
        <strong translate>
          <span class="ml-2 title-info">
            expression.evaluate.update.label.title
          </span>
        </strong>
      </div>
      <div class="panel-body panel-table" style="padding: 0 12px 12px 12px;">
        <p-table
          [scrollable]="false"
          [value]="lstExpressionEvaluate.controls"
          tableStyleClass="table controls-table table-wrapper b-t b-b"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-8">
              <col class="size-6">
              <col class="size-14">
              <col class="size-12">
              <col class="size-2">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th translate>expression.evaluate.type.name.label</th>
              <th translate><span>expression.variable.name.label</span></th>
              <th translate><span>expression.evaluate.name.label</span></th>
              <th translate>common.label.description</th>
              <th translate>common.label.action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-indexEvaluate="rowIndex">
            <tr [formGroup]="item">
              <td class="vt-align-center">
                {{indexEvaluate+1}}
              </td>
              <td>
                <select-filter
                [property]="item.controls.assessmentExpressionType"
                [options]="assessmentExpressionTypeList"
                optionLabel="label"
                optionValue="value"
                [placeHolder]="'common.label.cboMustSelect'"
                [autoFocus]="false">
              </select-filter>
              <app-control-messages [control]="item.controls.assessmentExpressionType"></app-control-messages>
              </td>
              <td>
                <input type="text" name="assessmentVariableName" class="form-control"
                  formControlName="assessmentVariableName" maxlength="50" />
                <app-control-messages [control]="item.controls.assessmentVariableName"></app-control-messages>
              </td>
              <td>
                <textarea rows="3" name="assessmentExpressionEvaluateValue" class="form-control"
                  formControlName="assessmentExpressionEvaluateValue" maxlength="1000">
                </textarea>
                <app-control-messages [control]="item.controls.assessmentExpressionEvaluateValue"></app-control-messages>
              </td>
              <td>
                <textarea rows="3" name="assessmentDescription" class="form-control"
                  formControlName="assessmentDescription" maxlength="1000">
                </textarea>
                <app-control-messages [control]="item.controls.assessmentDescription"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <button class="btn-icon plus" type="button" [title]="'titleAdd' | translate"
                  (click)="addNextExpressionRow(indexEvaluate, item)" [innerHTML]="'common.icon.plus' | translate">
                </button>
                <button class="btn-icon minus" type="button" [title]="'titleDelete' | translate"
                  (click)="removeNextExpressionRow(indexEvaluate, item)" [innerHTML]="'common.icon.minus' | translate">
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!-- </form> -->
    </form>
  </div>
</div>