<div class="card-emp">
  <div id="listContractProcess" class="card card-info">
    <div class="card-header">
      <div>
        <img class="header-icon" [ngClass]="{'transform-icon': hideListContractProcess === true}" src="./../../../../../../assets/images/home/Group_18932.png" (click)="hideListContractProcess = !hideListContractProcess">
        <span translate> app.empTypeProcess.listContractProcess</span>
      </div>
    </div>
    <div *ngIf="!hideListContractProcess" class="card-body">
      <div class="panel-body panel-table">
        <p-table
          #pTable
          [value]="resultList.data"
          [paginator]="true"
          (onLazyLoad)="processSearch($event)"
          [lazy]="true" [rows]="changeRow"
          [totalRecords]="resultList.recordsTotal"
          [scrollable]="true"
          [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
          [resizableColumns]="true"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 50px;">
              <!-- <col class="size-1" *ngIf="hasPermission('action.update')">
              <col class="size-1" *ngIf="hasPermission('action.delete')"> -->
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 200px;">
              <col style="width: 200px;">
              <col style="width: 100px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate pResizableColumn>common.table.index</th>
              <!-- <th *ngIf="hasPermission('action.update')" translate pResizableColumn >common.label.edit</th>
              <th *ngIf="hasPermission('action.delete')" translate pResizableColumn >common.label.delete</th> -->
              <th pSortableColumn="empTypeName" translate pResizableColumn>app.empTypeProcess.empType
                <p-sortIcon field="empTypeName"></p-sortIcon>
              </th>
              <th pSortableColumn="labourContractTypeId" translate pResizableColumn>app.empTypeProcess.contractType
                <p-sortIcon field="labourContractTypeId"></p-sortIcon>
              </th>
              <th pSortableColumn="labourContractDetailName" translate pResizableColumn>app.empTypeProcess.contract
                <p-sortIcon field="labourContractDetailName"></p-sortIcon>
              </th>
              <th pSortableColumn="workingTimeName" translate pResizableColumn>app.empTypeProcess.workingTime
                <p-sortIcon field="workingTimeName"></p-sortIcon>
              </th>
              <th pSortableColumn="contractDecisionNumber" translate pResizableColumn>app.empTypeProcess.contractNumber
                <p-sortIcon field="contractDecisionNumber"></p-sortIcon>
              </th>
              <th pSortableColumn="soldierLevelName" translate pResizableColumn>app.empTypeProcess.soldierLevel
                <p-sortIcon field="soldierLevelName"></p-sortIcon>
              </th>
              <th pSortableColumn="managementTypeName" translate pResizableColumn>app.empTypeProcess.managementType
                <p-sortIcon field="managementTypeName"></p-sortIcon>
              </th>
              <th pSortableColumn="signedDate" translate pResizableColumn>app.empTypeProcess.signedDate
                <p-sortIcon field="signedDate"></p-sortIcon>
              </th>
              <th pSortableColumn="contractMonth" translate pResizableColumn>app.empTypeProcess.contractPeriodByMonth
                <p-sortIcon field="contractMonth"></p-sortIcon>
              </th>
              <th pSortableColumn="effectiveDate" translate pResizableColumn>app.empTypeProcess.effectiveDate
                <p-sortIcon field="effectiveDate"></p-sortIcon>
              </th>
              <th pSortableColumn="expiredDate" translate pResizableColumn>app.empTypeProcess.expiredDate
                <p-sortIcon field="expiredDate"></p-sortIcon>
              </th>
              <th pSortableColumn="description" translate pResizableColumn>app.empTypeProcess.description
                <p-sortIcon field="description"></p-sortIcon>
              </th>
              <th translate pResizableColumn>app.empTypeProcess.attachmentFile
              </th>
              <th pSortableColumn="isCurrent" translate pResizableColumn>app.empTypeProcess.isCurrent
                <p-sortIcon field="isCurrent"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <!-- <td *ngIf="hasPermission('action.update')" class="vt-align-center">
                <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.label.edit' | translate}}" ><i class="fa fa-edit"></i></a>
              </td>
              <td *ngIf="hasPermission('action.delete')" class="vt-align-center">
                <a class="btn-table delete" (click)="processDeletes(item)" title="{{'common.label.delete' | translate}}" ><i class="fa fa-trash-alt"></i></a>
              </td> -->
              <td class="vt-align-left">{{item.empTypeName}}</td>
              <td class="vt-align-left">{{item.labourContractTypeName}}</td>
              <td class="vt-align-left">{{item.labourContractDetailName}}</td>
              <td class="vt-align-left">{{item.workingTimeName}}</td>
              <td class="vt-align-left">{{item.contractDecisionNumber}}</td>
              <td class="vt-align-left">{{item.soldierLevelName}}</td>
              <td class="vt-align-left">{{item.managementTypeName}}</td>
              <td class="vt-align-center">{{item.signedDate | displayDate}}</td>
              <td class="vt-align-center"  >{{item.contractMonth}}</td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
              <td class="vt-align-left">{{item.description}}</td>
              <td class="vt-align-left">
                <a *ngFor="let data of item.fileAttachment.file"
                    style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                    (click)="downloadFile(data)">
                    - {{data.fileName}}
                </a>
              </td>
              <td class="vt-align-center">
                <i *ngIf="item.isCurrent==1" class="fas fa-check table-icon color-info"></i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="13" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)" [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
