<div class="card-form">
  <div class="clearfix">
    <div class="left-nav-bar pull-left row-header">
      <div>
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png" (click)="goBack();">
        <span class="title">{{'fundManagement.label.history.list' | translate}}</span>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
        <ul class="header-right sys-ul space-line">
          <li>
            <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="goBack();" [innerHTML]="'common.button.out' | translate">
            </button>
          </li>
        </ul>
    </div>
  </div>
</div>
<div class="info">
  <div class="panel panel-default card-info">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong>
          <span class="ml-2 title-info">Thông tin lịch sử hoạt động của quỹ</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right">
            {{'fundContribution.lable.namefund' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-2">
              <input type="text" 
                class="form form-control" 
                name="name" 
                formControlName="name"
                [attr.disabled]="true"
              >
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'fundManagement.label.totalMoneyContribution' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-2">
              <input type="text" 
                class="form form-control" 
                name="totalContributionMoney" 
                formControlName="totalContributionMoney"
                [attr.disabled]="true"
              >
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'fundManagement.label.totalMoneyActivity' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-2">
              <input type="text" 
                class="form form-control" 
                name="totalActivityMoney" 
                formControlName="totalActivityMoney"
                [attr.disabled]="true"
              >
          </div>
        </div>
        <div class="ui-g-12 padding-tab">
          <p-tabView class="tab-view" (onChange)="onSelectTab($event)">
            <!-- Vùng danh sách -->
            <p-tabPanel [selected]="activeTab == 1" headerStyleClass="text-u-c">
                <ng-template pTemplate="header">
                    Danh sách nộp quỹ
                </ng-template>
                <ng-template pTemplate="content">
                    <div>
                        <fund-history-contribution
                          #lstFundContribution
                          [fundManagementId]="fundManagementId"
                          [searchKeyWord]="f['contributionSearchKeyWord'].value"
                        >
                        </fund-history-contribution>
                    </div>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel [selected]="activeTab == 2" headerStyleClass="text-u-c">
                <ng-template pTemplate="header">
                    Danh sách hoạt động
                </ng-template>
                <ng-template pTemplate="content">
                    <div>
                        <fund-history-activity
                          #lstFundActivity
                          [fundManagementId]="fundManagementId"
                          [searchKeyWord]="f['activitySearchKeyWord'].value"
                        >
                        </fund-history-activity>
                    </div>
                </ng-template>
            </p-tabPanel>
            <!-- Vùng tìm kiếm -->
            <p-tabPanel headerStyleClass="tab-header-right-search" [headerStyle]="{'opacity': '1', 'width': '263px'}" [disabled] = "true">
              <ng-template pTemplate="header">
                <div  *ngIf="activeTab == 1" class="input-group orgSelector">
                  <input 
                    type="text"
                    class="form-control org-selector-input input-height" 
                    type="text"
                    name="contributionSearchKeyWord"
                    formControlName="contributionSearchKeyWord"
                    placeholder="Nhập tên đơn vị, nội dung nộp"
                    (keyup.enter)="lstFundContribution.onSearch()"
                  />
                  <div class="input-group-append">
                    <button class="btn org-selector-addon" title="{{ 'common.label.search' | translate }}" type="button" (click)="lstFundContribution.onSearch()">
                      <i class="fa fa-search color-info" style="font-size: 16px;"></i>
                    </button>
                  </div>
                </div>
                <div  *ngIf="activeTab == 2" class="input-group orgSelector">
                  <input 
                    type="text"
                    class="form-control org-selector-input input-height" 
                    type="text"
                    name="activitySearchKeyWord"
                    formControlName="activitySearchKeyWord"
                    placeholder="Nhập tên hoạt động"
                    (keyup.enter)="lstFundActivity.onSearch()"
                  />
                  <div class="input-group-append">
                    <button class="btn org-selector-addon" title="{{ 'common.label.search' | translate }}" type="button" (click)="lstFundActivity.onSearch()">
                      <i class="fa fa-search color-info" style="font-size: 16px;"></i>
                    </button>
                  </div>
                </div>
              </ng-template>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </form>
  </div>
</div>
<div
  *ngIf="!hasPermission('action.view')">
  {{'common.haveNoPermission' | translate}}
</div>