<div class="panel panel-default homeWarning">
  <div class="panel-body padding-top-0 padding-bot-0">
      <div class="ui-g">
          <label class="ui-g-12 ui-md-8 ui-lg-7 control-label vt-align-left">
            Đảng viên giảm
          </label>
          <div class="ui-g-12 ui-md-8 ui-lg-5 vt-align-left">
            <select-filter
              [placeHolder]="'common.label.cboSelectAll'"
              [property]="monthType" 
              [options]="monthTypeList" 
              optionLabel="name"
              optionValue="id"
              [isDisplayClear] = "false"
              (onChange) = "changePartyType()"
              >
            </select-filter>
          </div>
      </div>
      <div class="display-table party-statical">
        <label class="table-cell show-number">
            {{resultList.thisMonth}}
        </label>
        <label class="table-cell">
            {{resultList.percent}} %
        </label>
      </div>
      <span class="text-mute">
        {{labelPrevious}}: {{resultList.lastMonth}}
      </span>
  </div>
</div>