<div id="listArea">
  <div class="panel panel-default" style="margin-bottom: 0px;">
    <div class="panel-heading">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        {{'securityPermission.listTitle' | translate}}
      </strong>
    </div>
    <div class="panel-footer vt-area-button" style="border-top: none;">
      <button type="submit" class="btn btn-sm btn-info" (click)="processSearch()" [innerHTML]="'common.button.icon.search' | translate" ></button>
      <button type="button" class="btn btn-sm btn-info" *ngIf="hasPermission('action.export')" (click)="processExport()" [innerHTML]="'common.button.icon.export' | translate" ></button>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        {{'securityPermission.result' | translate}}
      </strong>
    </div>
    <div class="panel-body panel-table">
      <p-table
        #ptable
        [value]="resultList.data"
        [paginator]="true"
        (onLazyLoad)="processSearch($event)"
        [lazy]="true" [rows]="changeRow"
        [totalRecords]="resultList.recordsTotal"
        [scrollable]="true"
        [lazyLoadOnInit]="false"
        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
        styleClass="controlOverflow"
      >
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col class="size-6">
            <col class="size-10">
            <col class="size-6">
            <col class="size-12">
            <col class="size-12">
            <col class="size-6">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th translate>common.table.index</th>
            <th>
              {{'common.label.partymembersCode' | translate}}
            </th>
            <th>
              {{'EmployeeBO.fullName' | translate}}
            </th>
            <th>
              {{'common.label.title' | translate}}
            </th>
            <th>
              {{'common.label.unit' | translate}}
            </th>
            <th>
              {{'securityPermission.domainOrg' | translate}}
            </th>
            <th>
              {{'securityPermission.isNotInWorkingOrg' | translate}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
          <tr>
            <td class="vt-align-center">{{index}}</td>
            <td class="vt-align-center">{{item.employeeCode}}</td>
            <td class="vt-align-left">{{item.fullName}}</td>
            <td class="vt-align-left">{{item.positionName}}</td>
            <td class="vt-align-left">{{item.organizationName}}</td>
            <td class="vt-align-left" [innerHTML]="item.domain"></td>
            <td class="vt-align-center"><span *ngIf="item.isNotInWorkingOrg === 1" class="fa fa-check color-info"></span></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="7" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer (changeRow)="onTablePageChange($event)" [resultList]="resultList"></table-footer>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>