<div *ngIf="hasPermission('action.view')">
  <div id="searchPage">
    <div id="searchArea">
      <div class="panel panel-default">
        <div class="panel-heading" translate>
          <strong class="text-u-c">
            <i class="fa fa-th"></i> common.label.search.info
          </strong>
        </div>
        <form id="formSearch" [formGroup]="formSearch">
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'templateNotify.label.code'|translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="text" class="form form-control" name="code" formControlName="code" maxlength="50"
                  [autoFocus]="true">
                <app-control-messages [control]="f['code']"></app-control-messages>
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'templateNotify.label.name'|translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="text" class="form form-control" formControlName="name" maxlength="255">
                <app-control-messages [control]="f['name']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'templateNotify.label.smsContent'|translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="text" class="form form-control" name="smsContent" formControlName="smsContent"
                  maxlength="1000">
                <app-control-messages [control]="f['smsContent']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
            <button type="submit" class="btn btn-sm btn-info" (click)="processSearch()"
              [innerHTML]="'common.button.icon.search' | translate"></button>
            <button type="button" class="btn btn-sm btn-info" (click)="prepareSaveOrUpdate()"
              [innerHTML]="'common.button.icon.addNew' | translate"> </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          {{'templateNotify.listTemplateNotify' | translate}}
        </strong>
      </div>
      <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)" [lazy]="true"
          [rows]="changeRow" [totalRecords]="resultList.recordsTotal" [scrollable]="true" [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" styleClass="controlOverflow">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-2" *ngIf="hasPermission('action.view')">
              <col class="size-4">
              <col class="size-12">
              <col class="size-12">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th style="width: 100px;" *ngIf="hasPermission('action.view')" translate>common.label.action</th>
              <th [pSortableColumn]="'code'">
                {{'templateNotify.label.code' | translate}}
                <p-sortIcon [field]="'code'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'name'">
                {{'templateNotify.label.name' | translate}}
                <p-sortIcon [field]="'name'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'organizationName'">
                {{'templateNotify.label.organizationName' | translate}}
                <p-sortIcon [field]="'organizationName'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center" style="overflow: initial !important;">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-sm btn-info" ngbDropdownToggle translate>common.label.action</button>
                  <div ngbDropdownMenu>
                    <!-- Xem chi tiết -->
                    <div *ngIf="hasPermission('action.view')">
                      <button class="dropdown-item" (click)="prepareView(item)"
                        [innerHTML]="'common.button.table.viewdropdown' | translate">
                      </button>
                    </div>
                    <!-- Sửa -->
                    <!-- <div *ngIf="hasPermission('action.update') && item.hasPermission && checkAction(item)"> -->
                    <div>
                      <button class="dropdown-item" (click)="prepareSaveOrUpdate(item)"
                        [innerHTML]="'common.button.table.acteditdropdown' | translate">
                      </button>
                    </div>
                    <!-- Xóa -->
                    <!-- <div *ngIf="hasPermission('action.delete') && item.hasPermission && checkAction(item)">  -->
                    <div>
                      <button class="dropdown-item" (click)="processDelete(item)"
                        [innerHTML]="'common.button.removedropdown' | translate">
                      </button>
                    </div>
                  </div>
                </div>
              </td>
              <td class="vt-align-left">{{item.code}}</td>
              <td class="vt-align-left">{{item.name}}</td>
              <td class="vt-align-left">{{item.organizationName}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="13" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
