
<a (click)="exportAssessmentStatistic(null)"><p-chart height="250" type="pie" [options]="options" [data]="data" *ngIf="assessmentStatusStatistics && isDisplayStatus === true"></p-chart></a>
<a (click)="exportAssessmentStatistic(null)"><p-chart height="250" type="pie" [options]="options" [data]="dataResultOfAssessment" *ngIf="resultOfAssessment && isDisplayResult === true"></p-chart></a>
<span *ngIf="assessmentStatusStatistics === true && isDisplayStatus === false" translate>no.empployee.assessment.statistic</span>
<span *ngIf="resultOfAssessment === true && isDisplayResult === false" translate>no.empployee.assessment.statistic</span>
<!-- <div class="headerAssessmentStatistics">
  <strong>{{ 'unit.list.assessment.statistic.percentage.of.completion.assessment' | translate }}</strong>
</div> -->
<!-- <p-table 
  [value]="resultList.data" 
  [paginator]="true" 
  (onLazyLoad)="getUnitListAssessmentStatistics($event)"
  [lazy]="true" 
  [scrollable]="true" 
  [rows]="10" 
  [totalRecords]="resultList.recordsTotal" 
  [lazyLoadOnInit]="false" 
  [scrollable]="true"
  styleClass="p-datatable-gridlines tableAssessmentStatistic">
  <ng-template pTemplate="colgroup" let-columns >
    <colgroup>
      <col class="size-1 colAssessmentStatistic1">
      <col class="size-3 colAssessmentStatistic2">
      <col class="size-5 colAssessmentStatistic3">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th translate>common.table.index</th>
      <th translate>unit.list.assessment.statistic</th>
      <th translate>amount.assessment.statistic</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-index="rowIndex">
    <tr>
      <td class="vt-align-center">
        {{index+1}}
      </td>
      <td class="vt-align-left">{{item.orgNameLevel1}}</td>
        <td class="vt-align-left progressBarAssessmentStatistic" style="padding: 5px;">
          <a (click)="exportAssessmentStatistic(item.orgIdLevel1)">
            <p-progressBar
              [pTooltip]="item.ratioAssessmentResult"
              tooltipPosition="top"
              tooltipStyleClass="progress-bar-tooltip"
              [value]="item.percentAssessmentResult"
            >
            </p-progressBar>
          </a>
        </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr class="emptymessage">
      <td style="color: rgba(38,1,0,1);" [attr.colspan]="13" [innerHTML]="'app.noRecords.assessment.statistic' | translate">
      </td>
    </tr>
  </ng-template>
  <ng-template  pTemplate="paginatorleft">
    <table-footer class="footerAssessmentStatistic" [resultList]="resultList"></table-footer>
  </ng-template>
</p-table> -->
