<div class="p-4">
  <!-- Form tìm kiếm -->
  <form [formGroup]="searchForm">
    <input formControlName="planName" type="text" placeholder="Tên kế hoạch" />
    <select formControlName="planType" type="text" placeholder="Loại kế hoạch">
      <option value="">Tất cả</option>
      <option value="ARTY_WORK_PLAN">Kế hoạch công tác Đảng</option>
      <option value="RESOLUTION">Nghị quyết</option>
    </select>
    <select formControlName="status">
      <option value="">Tất cả</option>
      <option value="DRAFT">Dự thảo</option>
      <option value="PENDING_APPROVAL">Chờ ký duyệt</option>
      <option value="APPROVED">Đã ký duyệt</option>
      <option value="IN_PROGRESS">Đang thực hiện</option>
      <option value="COMPLETED">Đã hoàn thành</option>
    </select>
    <input formControlName="assignerUnit" type="text" placeholder="Đơn vị giao" />
    <input formControlName="startDate" type="date" />
    <input formControlName="endDate" type="date" />
    <input formControlName="updatedBy" type="text" placeholder="Người cập nhật" />

    <div class="button-group">
      <button type="button" class="search" (click)="search()">Tìm kiếm</button>
    </div>
  </form>

  <!-- Danh sách kế hoạch -->
  <div class="table-container">
    <div class="table-header">
      <p class="title">Danh sách kế hoạch</p>
      <button class="create-btn" (click)="createPlan()">Tạo kế hoạch</button>
    </div>
    <div class="table-header">
      <p class="text">Tất cả danh sách: {{ plans.length }}</p>

      <div class="flex items-center gap-2">
        <label for="pageSize" class="text-sm font-medium">Hiển thị:</label>
        <select id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange()" class="border rounded p-1">
          <option *ngFor="let size of pageSizeOptions" [value]="size">
            {{ size }}
          </option>
        </select>
      </div>
      <div class="pagination-controls">
        <button (click)="prevPage()" [disabled]="currentPage === 1">&lt;</button>
        <span>{{ currentPage }}</span>
        <button (click)="nextPage()" [disabled]="currentPage * pageSize >= totalRecords">&gt;</button>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>Thao tác</th>
          <th>STT</th>
          <th>Tên kế hoạch</th>
          <th>Loại kế hoạch</th>
          <th>Trạng thái</th>
          <th>Ngày bắt đầu</th>
          <th>Ngày hoàn thành</th>
          <th>Đơn vị giao</th>
          <th>Ngày cập nhật</th>
          <th>Người cập nhật</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plan of plans; let i = index">
          <td class="border p-2 relative action-cell">
            <button class="btn-menu" (click)="toggleDropdown(i, $event)">⋯</button>

            <ul *ngIf="activeMenu === i" class="menu-dropdown">
              <li (click)="viewPlan(plan.planId)">Xem</li>
              <li (click)="editPlan(plan.planId)">Sửa</li>
              <li (click)="createSign(plan.planId)">Trình ký</li>
              <li (click)="deletePlan(plan.planId)">Xoá</li>
            </ul>
          </td>
          <td>{{ i + 1 }}</td>
          <td>{{ plan.planName }}</td>
          <td>{{ plan.planType }}</td>
          <td>{{ plan.status }}</td>
          <td>{{ plan.startDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ plan.endDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ plan.assignerUnit }}</td>
          <td>{{ plan.updatedDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ plan.updatedBy }}</td>
        </tr>
        <tr *ngIf="!plans.length">
          <td colspan="9">Không có dữ liệu</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>