<div class="modal-body">
  <div class="panel-default">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        {{'assessment.period.title.addStaffAssessment' | translate}}
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
          class="btn btn-span btn-sm btn-info btn-close"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'assessmentPartyOrganization.titleField.periodName' | translate}}
          </label>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label" style="font-weight: unset;">
            {{assessmentPeriodName}}
          </label>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'assessmentPartyOrganization.titleField.employee' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <data-picker
              #choseEmployeeCode
              [property]="f['employeeId']"
              systemCode="political"
              operationKey="action.view"
              adResourceKey="resource.assessmentPeriod"
              objectBO="EmployeeBO"
              codeField="employeeCode"
              nameField="fullName"
              emailField="email"
              mobileNumberField="mobileNumber"
              selectField="employeeId"
              isRequiredField="true"
              [filterCondition]="empFilterCondition"
            ></data-picker>
            <app-control-messages [control]="f['employeeId']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSave()" class="btn btn-sm btn-info"
          [innerHTML]="'common.button.table.Update' | translate"></button>
        <button type="button" (click)="cancel()" class="btn btn-sm btn-danger"
          [innerHTML]="'common.button.out' | translate"></button>
      </div>
    </form>
  </div>
</div>
<div class="bodyToast">
  <p-toast position="bottom-center"
  ></p-toast>
</div>
