<div id="searchPage">
    <div id="searchArea">
      <div class="panel panel-default">
        <div class="panel-heading " translate>
          <strong>
            common.label.search.info
          </strong>
        </div>
        <form id="formSearch" [formGroup]="formSearch">
          <div class="panel-body padding-xl ui-g vt-border-side">
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'common.label.unit' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <org-selector
                  [property]="f['organizationId']"
                  operationKey="action.view"
                  adResourceKey="resource.partyOrganization"
                  [defaultValue]="true">
                </org-selector>
                <app-control-messages [control]="f['organizationId']"></app-control-messages>
              </div>
            </div>
            <div *ngIf="!isMobileScreen" class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'partyOrganization.name' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <input type="text" class="form form-control" name="name" formControlName="name" [autoFocus]="true">
                  <app-control-messages [control]="f['name']"></app-control-messages>
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'partyOrganization.code' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="text" class="form form-control" name="code" formControlName="code" >
                <app-control-messages [control]="f['code']"></app-control-messages>
              </div>
            </div>
            <div *ngIf="isMobileScreen" class="ui-g-12 vt-row">
              <label label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                  {{'partyOrganization.name' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                  <input type="text" class="form form-control" name="name" formControlName="name" [autoFocus]="true">
                  <app-control-messages [control]="f['name']"></app-control-messages>
              </div>
            </div>
            <div *ngIf="isMobileScreen" class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                {{'partyOrganization.code' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                <input type="text" class="form form-control" name="code" formControlName="code" >
                <app-control-messages [control]="f['code']"></app-control-messages>
              </div>
            </div>
            <div *ngIf="!isMobileScreen" class="ui-g-12 vt-row">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'partyOrganization.foundingDateFrom' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker
                    [property]="f['foundingDateFrom']">
                  </date-picker>
                  <app-control-messages [control]="f['foundingDateFrom']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                    {{'partyOrganization.foundingDateTo' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker
                    [property]="f['foundingDateTo']">
                  </date-picker>
                  <app-control-messages [control]="f['foundingDateTo']"></app-control-messages>
                </div>
            </div>
            <div *ngIf="isMobileScreen" class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                  {{'partyOrganization.foundingDateFrom' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                <date-picker
                  [property]="f['foundingDateFrom']">
                </date-picker>
                <app-control-messages [control]="f['foundingDateFrom']"></app-control-messages>
              </div>
            </div>
            <div *ngIf="isMobileScreen" class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
                  {{'partyOrganization.foundingDateTo' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
                <date-picker
                  [property]="f['foundingDateTo']">
                </date-picker>
                <app-control-messages [control]="f['foundingDateTo']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button vt-border-side-bottom">
            <button type="submit" class="btn btn-sm btn-submit" (click)="processSearch()" [innerHTML]="'common.button.icon.search' | translate" ></button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div id="listArea">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative" translate="">
          <strong>
            partyOrganization.list
          </strong>
          <div class="show-btn-right-header">
            <button type="button" *ngIf="hasPermission('action.insert')" class="btn btn-sm vt-btn btn-submit" (click)="prepareSaveOrUpdate()" [innerHTML]="'common.button.icon.addNew' | translate" ></button>
            <button type="button" *ngIf="hasPermission('action.export')" class="btn btn-sm vt-btn" (click)="processExport()"  [innerHTML]="'common.button.icon.exportFile' | translate" ></button>
          </div>
        </div>
        <div class="panel-body panel-table">
          <p-table
            #ptable
            [value]="resultList.data"
            [paginator]="true"
            (onLazyLoad)="processSearch($event)"
            [lazy]="true" [rows]="changeRow"
            [totalRecords]="resultList.recordsTotal"
            [scrollable]="true"
            [lazyLoadOnInit]="false"
            class="custom-table"
            tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
            [resizableColumns]="true"
            styleClass="controlOverflow"
            currentPageReportTemplate="{first} - {{resultList.recordsTotal}}"
          >
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col style="width: 50px;">
                <col style="width: 50px;">
<!--                <col *ngIf="hasPermission('action.view')" class="size-1">-->
<!--                <col *ngIf="hasPermission('action.update')" class="size-1">-->
<!--                <col *ngIf="hasPermission('action.delete')" class="size-3">-->
                <col style="width: 200px;">
                <col style="width: 300px;">
                <col style="width: 200px;">
                <col style="width: 200px;">
                <col style="width: 200px;">
                <col style="width: 200px;">
                <col style="width: 200px;">
                <col style="width: 200px;">
                <col style="width: 200px;">
                <col style="width: 200px;">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate pResizableColumn></th>
                <th translate pResizableColumn>common.table.index</th>
<!--                <th *ngIf="hasPermission('action.view')" translate>common.label.view</th>-->
<!--                <th *ngIf="hasPermission('action.update')" translate>common.label.edit</th>-->
<!--                <th *ngIf="hasPermission('action.delete')" translate>common.label.ban</th>-->
                <th [pSortableColumn]="'code'" pResizableColumn>
                  {{'partyOrganization.code' | translate}}
                  <p-sortIcon [field]="'code'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'partyOrganizationName'" pResizableColumn>
                  {{'partyOrganization.name' | translate}}
                  <p-sortIcon [field]="'partyOrganizationName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'foundingDate'" pResizableColumn>
                  {{'partyOrganization.foundingDate' | translate}}
                  <p-sortIcon [field]="'foundingDate'"></p-sortIcon>
                  </th>
                <th [pSortableColumn]="'effectiveDate'" pResizableColumn>
                  {{'partyOrganization.effectiveDate' | translate}}
                  <p-sortIcon [field]="'effectiveDate'"></p-sortIcon>
                </th>
                <th pResizableColumn>{{'partyOrganization.expiredDate' | translate}}</th>
                <th pResizableColumn>{{'partyOrganization.coordinatorEmail' | translate}}</th>
                <th pResizableColumn>{{'partyOrganization.authorizationEmail' | translate}}</th>
                <th pResizableColumn>{{'partyOrganization.secretaryEmail' | translate}}</th>
                <th pResizableColumn>{{'partyOrganization.deputySecretaryEmail' | translate}}</th>
                <th pResizableColumn>{{'partyOrganization.signOutVoffice' | translate}}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center" style="overflow: initial !important;">
                  <div ngbDropdown class="d-inline-block">
                    <div ngbDropdownToggle class="vt-action-hover">
                      <img class="menu-icon" src="./../../../assets/images/home/Icon.svg" >
                    </div>
                    <div ngbDropdownMenu class="vt-border-radius">
                      <!-- xem -->
                      <button *ngIf="hasPermission('action.view')"
                              class="dropdown-item" (click)="prepareView(item)"
                              [innerHTML]="'common.button.table.viewdropdown' | translate">
                      </button>
                      <!-- sua -->
                      <button *ngIf="hasPermission('action.update')"
                              class="dropdown-item" (click)="prepareSaveOrUpdate(item)"
                              [innerHTML]="'common.button.table.acteditdropdown' | translate">
                      </button>
                      <!-- chấm dứt hoạt động -->
                      <button *ngIf="hasPermission('action.delete')"
                              class="dropdown-item" (click)="preparePopUpDelete(item)"
                              [innerHTML]="'common.label.ban' | translate">
                      </button>
                    </div>
                  </div>
                </td>
                <td class="vt-align-center">{{index}}</td>
<!--                <td class="vt-align-center" *ngIf="hasPermission('action.view')">-->
<!--                  <a (click)="prepareView(item)" class="btn-table edit" title="{{'common.label.view' | translate}}" ><i class="fas fa-eye"></i></a>-->
<!--                </td>-->
<!--                <td class="vt-align-center" *ngIf="hasPermission('action.update')">-->
<!--                  <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.label.edit' | translate}}" ><i class="fa fa-edit"></i></a>-->
<!--                </td>-->
<!--                <td class="vt-align-center" *ngIf="hasPermission('action.delete')">-->
<!--                  <a class="btn-table delete" (click)="preparePopUpDelete(item)" title="{{'common.label.ban' | translate}}" ><i class="glyphicons glyphicons-ban-circle"></i></a>-->
<!--                </td>-->
                <td class="vt-align-left" [title]="item.code">{{item.code}}</td>
                <td class="vt-align-left" [title]="item.partyOrganizationName">{{item.partyOrganizationName}}</td>
                <td class="vt-align-center" [title]="item.foundingDate">{{item.foundingDate | displayDate}}</td>
                <td class="vt-align-center" [title]="item.effectiveDate">{{item.effectiveDate | displayDate}}</td>
                <!-- Thêm mới thông tin ngày hiệu lực, email đầu mối, kỳ ngoài,... -->
                <td class="vt-align-center" [title]="item.expiredDate">{{item.expiredDate | displayDate}}</td>
                <td class="vt-align-left" [title]="item.coordinatorEmail">{{item.coordinatorEmail}}</td>
                <td class="vt-align-left" [title]="item.authorizationEmail">{{item.authorizationEmail}}</td>
                <td class="vt-align-left" [title]="item.secretaryEmail">{{item.secretaryEmail}}</td>
                <td class="vt-align-left" [title]="item.deputySecretaryEmail">{{item.deputySecretaryEmail}}</td>
                <td class="vt-align-center" [title]="item.isSignOutVoffice">{{item.isSignOutVoffice? 'Có': 'Không'}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                <td [attr.colspan]="14" [innerHTML]="'app.noRecords' | translate">
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer (changeRow)="onTablePageChange($event)" [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
        </div>
      </div>
  </div>

