<div class="card-reward">
  <div class="clearfix">
    <div class="left-nav-bar pull-left row-header">
      <div>
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png" (click)="goBack();">
        <span *ngIf="create" class="title" > Thêm mới tờ trình trợ cấp</span>
        <span *ngIf="update" class="title" > Cập nhật tờ trình trợ cấp</span>
        <span *ngIf="view" class="title" > Xem chi tiết tờ trình trợ cấp</span>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
      <ul class="header-right sys-ul space-line">
        <li>
          <button class="btn btn-sm vt-btn ng-star-inserted" type="button" (click)="goBack();" [innerHTML]="'common.button.out' | translate">
          </button>
        </li>
        <li *ngIf="!view">
          <button class="btn btn-sm vt-btn btn-submit ng-star-inserted" type="button" (click)="processSaveOrUpdate()" [innerHTML]="'common.button.icon.save' | translate">
          </button>
        </li>
        <li>
          <button *ngIf="formSave.get('status').value == 2"  class="btn btn-sm vt-btn btn-submit ng-star-inserted" type="button" (click)="sysStatement()" [innerHTML]="'common.button.icon.transferPayment' | translate">
          </button>
        </li>
        <li>
          <button *ngIf="formSave.get('status').value == 7" class="btn btn-sm vt-btn btn-submit ng-star-inserted" type="button" (click)="transferPayment()" [innerHTML]="'common.button.icon.transferBTHTT' | translate">
          </button>
        </li>
        <li *ngIf="view && f['status'].value == 0">
          <button class="btn btn-sm vt-btn btn-submit ng-star-inserted" type="button" (click)="navigate()" [innerHTML]="'common.button.icon.edit' | translate">
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="info">
  <form id="formSave" [formGroup]="formSave">
    <div class="panel panel-default card-info">
      <div class="panel-heading">
        <strong>
          <span class="ml-2 title-info">Thông tin đề xuất trợ cấp</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'subsidizedSuggest.label.subsidizedPeriodId' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['allowancePeriodId']" [options]="AllowancePeriodList" (onChange)="changeAllowancePeriod()" optionLabel="name" optionValue="allowancePeriodId"
                           [placeHolder]="'common.label.cboMustSelect'" [disabled]="view">
            </select-filter>
            <app-control-messages [control]="f['allowancePeriodId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'label.welfare.policy.category.organizationModel' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['orgType']" [options]="orgTypeOptions" optionLabel="name" optionValue="id"
                           [placeHolder]="'common.label.cboMustSelect'"  [disabled]="true">
            </select-filter>
            <app-control-messages [control]="f['orgType']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.allowance.proposal.search.name' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" class="form form-control" name="name" formControlName="name"
                   maxlength="200" [attr.disabled]="view? true: null">
            <app-control-messages [control]="f['name']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'label.allowance.period.search.allowanceType' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['allowanceType']" [options]="allowanceTypeOptions" optionLabel="name" optionValue="value"
                           [placeHolder]="'common.label.cboMustSelect'"  [disabled]="true">
            </select-filter>
            <app-control-messages [control]="f['allowanceType']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.allowance.proposal.sign.search.proposeOrgId' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <mass-org-selector
                    [property]="f['proposalOrgId']"
                    operationKey="action.view"
                    adResourceKey="resource.allowanceProposalSign"
                    [defaultValue]="true"
                    [branch] = "branch"
                    [disabled]="view"
                    (onChange)="changeProposeOrgId()">
            </mass-org-selector>
            <app-control-messages [control]="f['proposalOrgId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'subsidizedPeriod.label.decisionOrgId' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector
                    [property]="f['approveOrgId']"
                    operationKey="action.view"
                    adResourceKey="resource.allowanceProposalSign"
                    [disabled]=" view"
                    [autoFocus]="true"
                    [rootId]="rootId"
            >
            </org-selector>
            <app-control-messages [control]="f['approveOrgId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-5 ui-lg-2 control-label vt-align-right required">
            {{'label.allowance.proposal.sign.search.signOrgId' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['signOrgId']"
                           [options]="orgOptions"
                           optionLabel="name"
                           optionValue="organizationId"
                           [placeHolder]="'common.label.cboMustSelect'"
                           [disabled]="this.view">
            </select-filter>
            <app-control-messages [control]="f['signOrgId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-3 control-label vt-align-right">
            {{'common.label.attachmentFile' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <multi-file-chooser class="attachment-file" [property]="f['attachedFiles']" fileName="attachedFiles" [validMaxSize]="50"
                                validType="png,jpg,gif,tiff,bmp,xls,xlsx,doc,docx,pdf,rar,zip,7z"
                                [disabled]="view  ? true : null">
            </multi-file-chooser>
            <app-control-messages [control]="f['attachedFiles']"></app-control-messages>
          </div>
        </div>
        <!--Thông tin tờ trình-->
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            Trạng thái tờ trình SAP
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" class="form form-control" name="sapStatementStatus" formControlName="sapStatementStatus"
                   maxlength="200" [attr.disabled]="true">           
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'rewardProposeSign.vfsStatementNo' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" class="form form-control" name="sapstatmentNo" formControlName="sapstatmentNo"
                   maxlength="200" [attr.disabled]="true">           
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'rewardPayment.reporting.PaymentStatus' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" class="form form-control" name="paymentStatus" formControlName="paymentStatus"
                   maxlength="200" [attr.disabled]="true">           
          </div>          
        </div>

        <div class="ui-g-10 ui-g-offset-1">
          <label class="ui-g-12 ui-md-4  control-label vt-align-left" style="width:10%">
              Ghi chú</label>
          <div class="ui-g-12 ui-md-8" style="width:90%">
              <textarea type="text" class="form form-control" name="note" formControlName="note" [attr.disabled]="true"></textarea>
              
          </div>
      </div>



        <div>
          <div class="scollTable panel panel-default" >
            <div class="panel-heading vt-relative">
              <strong>
                <span class="title">{{ 'label.allowance.list.data.form' | translate }}</span>
              </strong>
            </div>
            <div class="p-3">
              <div id="formSaveRewardDecide">
                <div class="panel-body panel-table" style="padding: 12px;">
                  <p-table [scrollable]="true" [value]="allowanceProposalBOList.controls" [paginator]="true" [resizableColumns]="true"
                           [first]="firstRowIndex" [rows]="pageSize" [totalRecords]="allowanceProposalBOList ? allowanceProposalBOList.length : 0"
                           tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                    <div class="tbl-panel">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col style="width: 50px;">
                          <col *ngIf="!view" style="width: 100px;">
                          <col style="width: 100px;display: none">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th pResizableColumn translate>common.table.index</th>
                          <th pResizableColumn *ngIf="!view" translate><span>common.label.action</span></th>
                          <th pResizableColumn translate style="display: none"></th>
                          <th pResizableColumn translate>decide.rewardPropose.label.name</th>
                          <th pResizableColumn translate>subsidizedSuggest.label.subsidizedPeriodId</th>
                          <th pResizableColumn translate>label.allowance.proposal.search.proposeOrgId</th>
                          <th pResizableColumn translate>label.allowance.proposal.search.approveOrgId</th>
                          <th pResizableColumn translate>label.welfare.policy.proposal.spendingOrg1</th>
                          <th pResizableColumn translate>label.welfare.policy.category.organizationModel</th>
                          <th pResizableColumn translate>decide.rewardPropose.label.year</th>
                          <th pResizableColumn translate>label.welfare.policy.proposal.signer</th>
                          <th pResizableColumn translate>label.welfare.policy.proposal.total</th>
                          <th pResizableColumn translate>common.label.status</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-item let-index="rowIndex">
                        <tr >
                          <td class="vt-align-center">
                            {{index+1}}
                          </td>
                          <td class="vt-align-center" *ngIf="!view && item.value.allowanceProposalId">
                            <button class="btn-icon minus" type="button" (click)="removeRow(index, item)"
                                    [innerHTML]="'common.icon.minus' | translate">
                            </button>
                          </td>
                          <td class="vt-align-left" style="display:none;">
                            {{item.value.allowanceProposalId}}
                          </td>
                          <td class="vt-align-left" [title]="item.value.name">
                            {{item.value.name}}
                          </td>
                          <td class="vt-align-left" [title]="item.value.allowancePeriod">
                            {{item.value.allowancePeriod}}
                          </td>
                          <td class="vt-align-left" [title]="item.value.proposeOrg">
                            {{item.value.proposeOrg}}
                          </td>
                          <td class="vt-align-left" [title]="item.value.approveOrg">
                            {{item.value.approveOrg}}
                          </td>
                          <td class="vt-align-left" [title]="item.value.signOrg">
                            {{item.value.signOrg}}
                          </td>
                          <td class="vt-align-left">
                            <div *ngIf="item.value.orgType === 1" title="Tổ chức Đảng">Tổ chức Đảng</div>
                            <div *ngIf="item.value.orgType === 2" title="Tổ chức Công đoàn">Tổ chức Công đoàn</div>
                            <div *ngIf="item.value.orgType === 3" title="Tổ chức Phụ nữ">Tổ chức Phụ nữ</div>
                            <div *ngIf="item.value.orgType === 4" title="Tổ chức Thanh niên">Tổ chức Thanh niên</div>
                            <div *ngIf="item.value.orgType === 5" title="Chính quyền">Chính quyền</div>
                          </td>
                          <td class="vt-align-left" [title]="item.value.year">
                            {{item.value.year}}
                          </td>
                          <td class="vt-align-left" [title]="item.value.employeeProposal">
                            {{item.value.employeeProposal}}
                          </td>
                          <td class="vt-align-left" [title]="item.value.amountTotal">
                            {{item.value.amountTotal}}
                          </td>
                          <td class="vt-align-left">
                            <div *ngIf="item.value.status === 0" title="Dự thảo">Dự thảo</div>
                            <div *ngIf="item.value.status === 1" title="Chờ xét chọn">Chờ xét chọn</div>
                            <div *ngIf="item.value.status === 2" title="Đang xét chọn">Đang xét chọn</div>
                            <div *ngIf="item.value.status === 3" title="Bị từ chối">Bị từ chối</div>
                            <div *ngIf="item.value.status === 4" title="Đang trình ký">Đang trình ký</div>
                            <div *ngIf="item.value.status === 5" title="Đã xét chọn">Đã xét chọn</div>
                          </td>
                        </tr>
                      </ng-template>
                    </div>
                  </p-table>
                </div>
              </div>
              <button type="button" class="btn btn-sm vt-btn " [innerHTML]="'titleSelectAdd' | translate" *ngIf="!view" (click)="showPopupAdd()"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 100%;">
      <p-tabView class="tab-view">
        <p-tabPanel header="Danh sách chi tiết - Bản thân">
          <div class="scollTable panel panel-default" >
            <div class="p-3">
              <div id="formSaveRewardDecide">
                <div class="panel-body panel-table" style="padding: 12px;">
                  <p-table [scrollable]="true" [value]="empAllowanceRequestBTBOList.controls" [paginator]="true" [resizableColumns]="true"
                           [first]="firstRowIndexBT" [rows]="pageSizeBT" [totalRecords]="empAllowanceRequestBTBOList ? empAllowanceRequestBTBOList.length : 0"
                           tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                    <div class="tbl-panel">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col style="width: 50px;">
                          <col style="width: 50px;">
                          <col style="width: 100px; display: none">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th pResizableColumn translate>common.table.index</th>
                          <th pResizableColumn translate><span>common.label.action</span></th>
                          <th pResizableColumn translate style="display: none"></th>
                          <th pResizableColumn translate>common.label.partymembersCode</th>
                          <th pResizableColumn translate>PartyMemberBO.memberName</th>
                          <th pResizableColumn translate>rewardGeneral.workunit</th>
                          <th pResizableColumn translate>subsidizedSuggest.label.subsidizedPeriodId</th>
                          <th pResizableColumn translate>label.welfare.policy.request.requestContent</th>
                          <th pResizableColumn translate>label.welfare.policy.desease.category</th>
                          <th pResizableColumn translate>label.allowance.request.search.reason</th>
                          <th pResizableColumn translate>label.allowance.request.form.amountPerBill</th>
                          <th pResizableColumn translate>label.welfare.policy.proposal.total</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-item let-index="rowIndex">
                        <tr >
                          <td class="vt-align-center">
                            {{index+1}}
                          </td>
                          <td class="vt-align-center">
                            <div ngbDropdown class="d-inline-block" *ngIf="item.value.empAllowanceRequestId">
                              <div ngbDropdownToggle class="vt-action-hover">
                                <img class="menu-icon" src="./../../../assets/images/home/Icon.svg">
                              </div>
                              <div ngbDropdownMenu class="vt-border-radius">
                                <!-- View detail -->
                                <div>
                                  <button class="dropdown-item" (click)="viewDetailEmpAllowanceRequest(item)"
                                          [innerHTML]="'common.button.table.viewdropdown' | translate">
                                  </button>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td class="vt-align-left" style="display: none">
                            {{item.value.empAllowanceRequestId}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.employeeCode}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.employeeName}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.orgName}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.allowancePeriod}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.content}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.desease}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.reason}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.amountPerBill}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.amountTotal}}
                          </td>
                        </tr>
                      </ng-template>
                    </div>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Danh sách chi tiết - thân nhân">
          <div class="scollTable panel panel-default" >
            <div class="p-3">
              <div id="formSaveRewardDecide">
                <div class="panel-body panel-table" style="padding: 12px;">
                  <p-table [scrollable]="true" [value]="empAllowanceRequestNTBOList.controls" [paginator]="true" [resizableColumns]="true"
                           [first]="firstRowIndexNT" [rows]="pageSizeNT" [totalRecords]="empAllowanceRequestNTBOList ? empAllowanceRequestNTBOList.length : 0"
                           tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                    <div class="tbl-panel">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col style="width: 50px;">
                          <col style="width: 50px;">
                          <col style="width: 100px; display: none">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                          <col style="width: 100px;">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th pResizableColumn translate>common.table.index</th>
                          <th pResizableColumn translate><span>common.label.action</span></th>
                          <th pResizableColumn translate style="display: none"></th>
                          <th pResizableColumn translate>common.label.partymembersCode</th>
                          <th pResizableColumn translate>PartyMemberBO.memberName</th>
                          <th pResizableColumn translate>rewardGeneral.workunit</th>
                          <th pResizableColumn translate>subsidizedSuggest.label.subsidizedPeriodId</th>
                          <th pResizableColumn translate>label.welfare.policy.category.relationship</th>
                          <th pResizableColumn translate>label.welfare.policy.requestList.objectName</th>
                          <th pResizableColumn translate>label.welfare.policy.request.requestContent</th>
                          <th pResizableColumn translate>label.welfare.policy.desease.category</th>
                          <th pResizableColumn translate>label.allowance.request.search.reason</th>
                          <th pResizableColumn translate>label.allowance.request.form.amountPerBill</th>
                          <th pResizableColumn translate>label.welfare.policy.proposal.total</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-item let-index="rowIndex">
                        <tr >
                          <td class="vt-align-center">
                            {{index+1}}
                          </td>
                          <td class="vt-align-center">
                            <div ngbDropdown class="d-inline-block" *ngIf="item.value.empAllowanceRequestId">
                              <div ngbDropdownToggle class="vt-action-hover">
                                <img class="menu-icon" src="./../../../assets/images/home/Icon.svg">
                              </div>
                              <div ngbDropdownMenu class="vt-border-radius">
                                <!-- View detail -->
                                <div>
                                  <button class="dropdown-item" (click)="viewDetailEmpAllowanceRequest(item)"
                                          [innerHTML]="'common.button.table.viewdropdown' | translate">
                                  </button>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td class="vt-align-left" style="display: none">
                            {{item.value.empAllowanceRequestId}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.employeeCode}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.employeeName}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.orgName}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.allowancePeriod}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.relationShip}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.objectName}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.content}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.desease}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.reason}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.amountPerBill}}
                          </td>
                          <td class="vt-align-left">
                            {{item.value.amountTotal}}
                          </td>
                        </tr>
                      </ng-template>
                    </div>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>

    <div class="scollTable panel panel-default card-info reward-reimbursement"> <!--*ngIf="formSave.controls['paymentStatus'].value != 0"-->
      <div class="panel-heading vt-relative">
          <strong>
              <span class="ml-2 title-info">{{ 'rewardPropose.label.rewardReimbursement' | translate }}</span>
          </strong>
      </div>
      <div class="p-3">
          <div class="panel-body panel-table" style="padding: 12px;">
              <p-table #ptable [scrollable]="true" [value]="listReimbursement" [paginator]="true" [resizableColumns]="true"
                          [first]="firstRowIndex" [rows]="pageSize" selectionMode="single"
                         
                          [totalRecords]="listReimbursement ? listReimbursement.length : 0"
                          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                  <div class="tbl-panel">
                      <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                              <col style="width: 50px;">
                              <col style="width: 50px;">
                              <col style="width: 100px;">
                              <col style="width: 100px;">
                              <col style="width: 100px;">
                              <col style="width: 100px;">
                              <col style="width: 100px;">
                              <col style="width: 100px;">
                              <col style="width: 100px;">
                              <col style="width: 100px;">
                          </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header">
                          <tr>
                              <th pResizableColumn translate>common.table.index</th>
                              <th pResizableColumn >{{'fundContribution.lable.action' | translate}}</th>
                              <!-- to chuc  -->
                              <th pResizableColumn translate><span>rewardPropose.reimbursement.organization</span>
                              </th>
                              <!-- so bang THTT -->
                              <th pResizableColumn translate>
                                  <span>rewardPropose.reimbursement.reimbursementID</span></th>
                              <!-- So to trinh -->
                              <th pResizableColumn translate><span>rewardPropose.reimbursement.statementNo</span>
                              </th>
                              <!--mo ta loi-->
                              <th pResizableColumn translate>rewardPropose.reimbursement.response</th>


                              <!--trang thai ky de nghi chuyen tien-->
                              <th pResizableColumn translate>rewardPropose.reimbursement.signerStatus</th>

                              <!--trang thai chi-->
                              <th pResizableColumn translate>rewardPropose.reimbursement.apCashStatus</th>
                              <th pResizableColumn translate>rewardPropose.reimbursement.sapSumInvNo</th>
                              <th pResizableColumn translate>rewardPropose.reimbursement.sapvoSStatusDes</th>

                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-item let-index="rowIndex">
                          <tr>
                              <td class="vt-align-left">
                                  {{index + 1}}
                              </td>
                              <td class="vt-align-left">
                                  <a target="_blank" href="{{URL}}/reward/reward-payment-reporting/{{item.vfsReimbursementId}}"
                                      title="{{'common.button.table.viewinvoice' | translate}}"><i
                                          class="fa fa-eye color-info"></i></a>
                              </td>
                              <td class="vt-align-left">
                                  {{item.organizationName}}
                              </td>
                              <td class="vt-align-left">
                                  {{item.documentNo}}
                              </td>
                              <td class="vt-align-left">
                                  {{item.vfsStatementNo}}
                              </td>
                              <td class="vt-align-left" (click) = "openModal(item.response)">
                                  {{item.response}}
                              </td>

                              <td class="vt-align-left">
                                  <span *ngIf="item.signerStatus == '0'">Chưa ký</span>
                                  <span *ngIf="item.signerStatus == '1'">Văn thư từ chối</span>
                                  <span *ngIf="item.signerStatus == '2'">Lãnh đạo từ chối</span>
                                  <span *ngIf="item.signerStatus == '3'">Đã phê duyệt</span>
                                  <span *ngIf="item.signerStatus == '4'">Hủy luồng</span>
                                  <span *ngIf="item.signerStatus == '5'">Đã ban hành</span>
                                  <span *ngIf="item.signerStatus == '10'">Chờ ký</span>
                              </td>
                              <td class="vt-align-left">
                                  <span *ngIf="item.apcashStatus == 'Y'">Đã chi</span>
                                  <span *ngIf="item.apcashStatus == 'N'">Chưa chi</span>
                              </td>
                              <td class="vt-align-left">
                                  {{item.sapSumInvNo}}
                              </td>
                              <td class="vt-align-left">
                                  {{item.sapvoSStatusDes}}
                              </td>
                      </ng-template>
                  </div>
              </p-table>
          </div>
      </div>
  </div>
  </form>
</div>
