.dropdown {
    position: inherit;
}

:host ::ng-deep .panel-body .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body {
    overflow: unset !important;
}

/*.scollTable {*/
/*    overflow: auto;*/
/*}*/
.isHidden {
    display: none;
}
/*Start Page Demo*/
.card-reward {
    position: relative;
    background-color: transparent;
    margin-left: -14px;
    margin-top: -2px;
    margin-right: -14px;
    height: 52px;
    margin-bottom: 16px;
}
.logo-container {
    width: 300px;
    position: absolute;
    z-index: 1;
    left: 52px;
    top: 1px;
}

.pageDemo {
    width: 60px;
    height: 50px;
    padding: 8px;
}

.pageDemo, .pageDemoMenu, .pageDemoContent, .pageDemoHeader {
    display: block;
}

.pageDemoHeader {
    height: 6px;
    margin-bottom: 2px;
    float: right;
    width: 33px;
}

.pageDemoMenu {
    height: 34px;
    float: left;
    width: 9px;
    background-color: #4d394b;
}

.pageDemoContent {
    border: #e9e9e9 solid 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    float: right;
    width: 33px;
    height: 26px;
    background-color: #fff;
    text-align: center;
}

.pageDemo.page0 .pageDemoHeader {
    background-color: #e6272e;
}

.pageDemo.page2 .pageDemoHeader {
    background-color: #31c0be;
}

.pageDemo.page4 .pageDemoHeader {
    background-color: #00adca;
}

.pageDemo.page3 .pageDemoHeader {
    background-color: #609e3b;
}

.pageDemo.page1 .pageDemoHeader {
    background-color: #3f51b5;
}

.pageDemo.page1 .pageDemoMenu {
    background-color: #222d32;
}

.pageDemo.page2 .pageDemoMenu {
    background-color: #eee;
}

.pageDemo.page4 .pageDemoMenu {
    background-color: #222d32;
}

.pageDemo.page3 .pageDemoMenu {
    background-color: #4d394b;
}

.pageDemo.page0 .pageDemoMenu {
    background-color: #b21921;
}

.select-theme {
    width: 150px;
}

.icon-checked {
    color: var(--primary-color);
    padding-top: 5px;
}

.select-theme {
    min-width: 120px !important;
}

.icon-bar {
    width: 40px;
    color: #000;
}

.left-nav-bar {
    font-size: 15px;
}

.left-nav-bar .header-title {
    font-size: 15px;
    font-family: 'PFBeauSansPro',Arial, "Lato", "Helvetica Neue", sans-serif !important;
    color: var(--color-nav) !important;
}

.logo-icon {
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.row-header {
    display: flex;
    margin-left: 16px;
    align-items: center;
}

.menu-title {
    color: #d6dce4;
    font-size: 15px;
    cursor: pointer;
}

.item {
    display: none;
}

.item:nth-child(-n+4) {
    display: block;
}

.list-style {
    list-style: none;
}

.popup-more {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 250px;
    border: 1px solid #c0c6cc52;
    border-radius: 10px;
}


.list-style:hover .popup-more {
    display: block;
}

.item:hover .popup-more {
    display: block;
}

.h-30 {
    height: 30px;
}

.left-option {
    padding: 10px 15px;
}

.input-search {
    border-radius: 0px 8px 8px 0;
    border: 2px solid #c0c6cc;
    border-left: none;
    width: 220px !important;
    height: 32px !important;
}

.search-wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 10px;
}

.icon-search {
    border-radius: 8px 0px 0px 8px;
    border: 2px solid #c0c6cc;
    border-right: none;
    height: 32px !important;
}

.search-box {
    padding: 10px 16px;
}

.label-pupop {
    font-size: 14px;
    color: #313949;
    font-family: "PFBeauSansPro";
    font-weight: 400;
    padding-bottom: 5px;
}

.img-fluid {
    position: absolute;
    top: 18px;
    left: 10px;
    cursor: pointer;
}

.image-avatar {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 10px;
}

.title {
    white-space: nowrap;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.12px;
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(198,31,27,1);
}

.clearfix {
    align-items: center;
    display: flex;
    justify-content: space-between;height: 100%;
}

.left-nav-bar {
    font-size: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-header {
  display: flex;
  margin-left: 16px;
  align-items: center;
}

.info {
    max-height: 80vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 6px;
    margin-left: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.user-info {
    white-space: nowrap;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(49,57,73,1);
    letter-spacing: 0.12px;
    vertical-align: middle;
}

.btn-edit {
    overflow: visible;
    width: 123px;
    height: 32px;
    background: linear-gradient(#00A3F3, #0279FF);
    border-radius: 8px;
}

.edit-icon {
    width: 16px;
    height: 16px;
    left: 0px;
    overflow: visible;
    margin-right: 10px;
}

.edit-label {
    white-space: nowrap;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}

.btn-close {
    overflow: visible;
    width: 84px;
    height: 32px;
    border-color: #D0D4DF;
    background-color: #EAEEF5;
    border-radius: 8px;
}

.close-icon {
    width: 16px;
    height: 16px;
    overflow: visible;
    margin-right: 10px;
    margin-top: -3px;
}

.close-label {
    white-space: nowrap;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(49,57,73,1);
}

.btn-save {
    overflow: visible;
    width: 81px;
    height: 32px;
    background: linear-gradient(#00A3F3, #0279FF);
    border-radius: 8px;
}

.save-icon {
    width: 16px;
    height: 16px;
    overflow: visible;
    margin-right: 10px;
    margin-top: -3px;
}

.save-label {
    white-space: nowrap;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}

.btn-register {
    overflow: visible;
    width: 105px;
    height: 32px;
    background: linear-gradient(#00A3F3, #0279FF);
    border-radius: 8px;
}

.register-icon {
    width: 16px;
    height: 16px;
    overflow: visible;
    margin-right: 10px;
    margin-top: -3px;
}

.register-label {
    white-space: nowrap;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}

.btn-approve {
    overflow: visible;
    width: 136px;
    height: 32px;
    background: linear-gradient(#00A3F3, #0279FF);
    border-radius: 8px;
    margin-right: 10px;
}

.approve-icon {
    width: 16px;
    height: 16px;
    overflow: visible;
    margin-right: 10px;
    margin-top: -3px;
}

.approve-label {
    white-space: nowrap;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}

.view-label {
    white-space: nowrap;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}

.btn-view {
    overflow: visible;
    width: 170px;
    height: 32px;
    background: linear-gradient(#00A3F3, #0279FF);
    border-radius: 8px;
}

.view-icon {
    width: 16px;
    height: 16px;
    overflow: visible;
    margin-right: 10px;
    margin-top: -3px;
}

.icon-more {
    overflow: visible;
    border-radius: 8px;
    border-color: rgba(208,212,223,1);
    background-color: aliceblue;
    padding: 6px;
}

.card-info {
    border-top: 1px solid #D7E2E3;
    border-bottom: 1px solid #D7E2E3;
    border-left: 1px solid #D7E2E3;
    border-right: 1px solid #D7E2E3;
}

.panel-heading {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.label-info {
    width: 30.6% !important;
}

.checkbox-info {
    width: 3% !important;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav {
    background: border-box !important;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-default {
    width: fit-content;
    height: 32px;
    background: transparent 0% 0% no-repeat padding-box !important;
    border: 1px solid rgba(198,31,27,1) !important;
    border-radius: 8px;
    opacity: 1;
    padding-right: 0 !important;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-right: 10px;
}

:host ::ng-deep .ui-tabview-panel .ui-tabview .ui-tabview-nav .ui-state-default {
    width: fit-content;
    height: 32px;
    background: transparent 0% 0% no-repeat padding-box !important;
    border: 1px solid rgba(246,183,109,0.5) !important;
    border-radius: 8px;
    opacity: 1;
    padding-right: 0 !important;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-right: 10px;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-default a {
    padding: 4px 15px 9px 15px !important;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-default a .ui-tabview-title {
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    color: rgba(198,31,27,1) !important;
    text-transform: none;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-active {
    width: fit-content;
    height: 32px;
    background: rgba(198,31,27,1) 0% 0% no-repeat padding-box !important;
    border: 1px solid rgba(198,31,27,1) !important;
    border-radius: 8px;
    opacity: 1;
    padding-right: 0 !important;
}

:host ::ng-deep .ui-tabview-panel .ui-tabview .ui-tabview-nav .ui-state-active {
    width: fit-content;
    height: 32px;
    background: rgba(198,31,27,1) 0% 0% no-repeat padding-box !important;
    border: 1px solid rgba(255,182,0,1) !important;
    border-radius: 8px;
    opacity: 1;
    padding-right: 0 !important;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-active:hover {
    border: 1px solid rgba(255,182,0,1) !important;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-active a {
    padding: 4px 15px 9px 15px !important;
}

:host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-active a .ui-tabview-title {
    color: white !important;
}

:host ::ng-deep .ui-tabview-panel .ui-tabview .ui-tabview-nav .ui-state-default a .ui-tabview-title {
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    color: rgba(78,3,0,1) !important;
}

:host ::ng-deep .tab-item .ui-tabview .ui-tabview-nav .ui-state-default {
    background: border-box !important;
    border-top: hidden !important;
    border-left: hidden !important;
    border-right: hidden !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-width: 3px !important;
}

:host ::ng-deep .tab-item .ui-tabview .ui-tabview-nav .ui-state-active {
    background: border-box !important;
    border-top: hidden !important;
    border-left: hidden !important;
    border-right: hidden !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-width: 3px !important;
}

:host ::ng-deep .tab-item .ui-tabview .ui-tabview-nav .ui-state-active:hover {
    background: border-box !important;
    border-top: hidden !important;
    border-left: hidden !important;
    border-right: hidden !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-width: 3px !important;
}

:host ::ng-deep .tab-item .ui-tabview .ui-tabview-panels {
    border-top: hidden !important;
    border-bottom: hidden !important;
    border-left: hidden !important;
    border-right: hidden !important;
}

/* mobile*/
@media (min-width: 374px) and (max-width: 576px){

}
@media (min-width: 577px) and (max-width: 767px){
    .title {
        font-size: 12px !important;
    }

    .title-info {
        font-size: 12px !important;
    }

    .btn-close {
        width: 66px !important;
        height: 26px !important;
        margin-right: -14px !important;
    }

    .close-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }

    .close-label {
        font-size: 12px !important;
    }

    .btn-save {
        width: 65px !important;
        height: 26px !important;
        margin-right: -14px !important;
    }

    .save-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }

    .save-label {
        font-size: 12px !important;
    }

    .btn-register {
        width: 90px !important;
        height: 26px !important;
        margin-right: -14px !important;
    }

    .register-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }

    .register-label {
        font-size: 12px !important;
    }

    .btn-approve {
        width: 115px !important;
        height: 26px !important;
        margin-right: -14px !important;
    }

    .approve-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }

    .approve-label {
        font-size: 12px !important;
    }

    .view-label {
        font-size: 12px !important;
    }

    .btn-view {
        width: 143px !important;
        height: 26px !important;
        margin-left: 10px !important;
    }

    .view-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }

    :host ::ng-deep .year .nation-picker {
        width: 83% !important;
    }

    :host ::ng-deep .attachment-file .file-group {
        width: 70.2% !important;
    }

    .label-info {
        width: 30.6% !important;
        margin-left: -3%;
    }

    .checkbox-info {
        width: 0 !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .title {
        font-size: 12px !important;
    }

    .title-info {
        font-size: 12px !important;
    }

    .btn-close {
        width: 66px !important;
        height: 26px !important;
        margin-right: -14px !important;
    }

    .close-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }

    .close-label {
        font-size: 12px !important;
    }

    .btn-save {
        width: 65px !important;
        height: 26px !important;
        margin-right: -14px !important;
    }

    .save-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }

    .save-label {
        font-size: 12px !important;
    }

    .btn-register {
        width: 90px !important;
        height: 26px !important;
        margin-right: -14px !important;
    }

    .register-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }

    .register-label {
        font-size: 12px !important;
    }

    .btn-approve {
        width: 115px !important;
        height: 26px !important;
        margin-right: -14px !important;
    }

    .approve-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }

    .approve-label {
        font-size: 12px !important;
    }

    .view-label {
        font-size: 12px !important;
    }

    .btn-view {
        width: 143px !important;
        height: 26px !important;
        margin-left: 10px !important;
    }

    .view-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }

    :host ::ng-deep .year .nation-picker {
        width: 83% !important;
    }

    :host ::ng-deep .attachment-file .file-group {
        width: 70.2% !important;
    }

    .label-info {
        width: 30.6% !important;
        margin-left: -3%;
    }

    .checkbox-info {
        width: 0 !important;
    }

    :host ::ng-deep .tab-view .ui-tabview .ui-tabview-nav .ui-state-default a .ui-tabview-title {
        font-size: 12px !important;
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
    .label-info {
        width: 29.6% !important;
    }
}
@media (min-width: 1920px) {
    .label-info {
        width: 30.6% !important;
    }
}
