<div *ngIf="(hasPermission('action.update') && isUpdate || isAnswer) || (hasPermission('action.insert') && isInsert)
            || (hasPermission('action.view') && isView)">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span *ngIf="isInsert" translate>transferEmployee.add</span>
          <span *ngIf="isUpdate" translate>transferEmployee.edit</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'transferEmployee.organization'|translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector
            [property]="f['organizationId']"
            operationKey="action.view"
            adResourceKey="resource.transferEmployee"
            [defaultValue]="isInsert"
            [isRequiredField]="true"
            (onChange) = "autogenousCode()"
            autoFocus="true"
            >
            </org-selector>
            <app-control-messages [control]="f['organizationId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required" >
            {{'vicinityPlan.vicinityPositionPlan.document' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <data-picker
              [property]="f['documentId']"
              systemCode="political"
              operationKey="action.view"
              adResourceKey="resource.transferEmployee"
              objectBO="DocumentBO"
              nameField="documentName"
              codeField="documentNumber"
              selectField="documentId"
              isRequiredField="true"
              filterCondition=" and curdate()
                BETWEEN obj.effective_date and
                IFNULL(obj.exprited_date, curdate())
                and branch = 2
                and is_deleted = 0 
                AND EXISTS (
                  SELECT 1 FROM document_type dt
                  WHERE dt.branch = 2
                  AND dt.name = 'Điều động cán bộ'
                  AND dt.document_type_id = obj.document_type_id
                )"
            >
            </data-picker>
            <app-control-messages [control]="f['documentId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'transferEmployee.transferDate'|translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker 
            (onChanged)="autogenousCode()"
            [property]="f['transferDate']"
            >
            </date-picker>
            <app-control-messages [control]="f['transferDate']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'transferEmployee.code' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" class="form form-control" formControlName="code" [attr.disabled]="true" maxlength="100" >
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'transferEmployee.employeeTransfer' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
          <data-picker
            [property]="f['employeeId']"
            systemCode="political"
            operationKey="action.view"
            adResourceKey="resource.transferEmployee"
            objectBO="EmployeeBO"
            codeField="employeeCode"
            nameField="fullName"
            emailField="email"
            mobileNumberField="mobileNumber"
            selectField="employeeId"
            [isRequiredField]="true"
            [filterCondition]="' AND obj.status = 1'"
            (onChange)="changeEmployee($event)"
            >
          </data-picker>
          <app-control-messages [control]="f['employeeId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'transferEmployee.oldPosition' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <data-picker
              [property]="f['oldPositionId']"
              systemCode="political"
              operationKey="action.view"
              adResourceKey="resource.transferEmployee"
              objectBO="PositionBO"
              codeField="code"
              nameField="name"
              selectField="positionId"
              [disabled] = "true"
            >
            </data-picker>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'transferEmployee.transferType' | translate}} 
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['transferType']"
              [options]="transferTypeList"
              optionLabel="label"
              optionValue="value"
              [placeHolder]="'common.label.cboMustSelect'">
            </select-filter>
            <app-control-messages [control]="f['transferType']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" [ngClass]="enablePosition?'required':''">
            {{'transferEmployee.newPosition' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter 
              [placeHolder]="'common.label.cboMustSelect'"
              [property]="f['positionId']" 
              [options]="lstPosition" 
              optionLabel="positionName" 
              optionValue="positionId"
              [disabled]="!enablePosition"
            >
            </select-filter>
            <app-control-messages [control]="f['positionId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'transferEmployee.name' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" class="form form-control" formControlName="name" maxlength="200">
            <app-control-messages [control]="f['name']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class= "ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'transferEmployee.description' | translate}}
          </label>
          <div class="ui-g-12 ui-md-9 ui-lg-9">
            <textarea formControlName="description" rows="6" class="form-control" maxlength="1000"></textarea>
            <app-control-messages [control]="f['description']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" *ngIf="!isView" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.icon.save' | translate"></button>
        <button type="button" (click)="goBack()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="(!hasPermission('action.update') && isUpdate) || (!hasPermission('action.insert') && isInsert)">
  {{'common.haveNoPermission' | translate}}
</div>