<div *ngIf="hasPermission('action.view')">
    <div class="row">
      <div class="col-md-3">
        <!-- nav menu -->
        <follow-org-tree
          operationKey="action.view"
          adResourceKey="resource.assessmentPeriod"
          (treeSelectNode)="treeSelectNode($event)"
          height="735"
          #orgTree
          [showAll]="false"
          [isGetAll]="false"
        >
        </follow-org-tree>
      </div>
      <div class="col-md-9 no-padding-left">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
