<div *ngIf="hasPermission('action.view')">
  <div id="searchPage" class="'display-search-not-vertical">
    <div id="searchArea" class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <button type="submit" *ngIf="hasPermission('action.view')" class="btn btn-sm vt-btn btn-submit"
          (click)="processSearch()" style="display: none"
          [innerHTML]="'common.button.icon.search' | translate"></button>
        <div style="overflow: unset" class="panel-heading">
          <a *ngIf="!isShowVertical" style="color: #202123; font-weight: 600; font-size: 16px; height: 40px"
            (click)="pressLabelSearchBasic()">
            <div *ngIf="isBasicSearch && !isShowVertical" style="height: 100%; padding: 9px 20px 9px 15px;">
              <i class="fa fa-caret-down"></i>
              {{'common.label.hideBasicSearch' | translate}}
            </div>
            <div *ngIf="!isBasicSearch && !isShowVertical" style="height: 100%; padding: 9px 20px 9px 15px;">
              <i class="fa fa-caret-right"></i>
              {{'common.label.showBasicSearch' | translate}}
            </div>
          </a>
          <span *ngIf="isShowVertical"
            style="color: #202123; font-weight: 600; font-size: 16px; height: 40px; padding-left: 10px; padding-top: 10px;">
            <img alt="back" class="img-fluid icon-show-hide-search"
              src="./../../../../../../assets/images/home/Mask_Group_24370.png" (click)="closeBasicSearch()">
            {{'common.label.showBasicSearch' | translate}}
          </span>
        </div>
        <div *ngIf="isBasicSearch" class="vt-border-side-bottom">
          <div class="panel-body padding-xl">
            <a *ngIf="isShowVertical" style="color: #202123; font-weight: 600; font-size: 14px; height: 40px"
              (click)="pressLabelSearchBasicDiv()">
              <div *ngIf="isBasicDivSearch && isShowVertical" style="padding: 9px 20px 9px 15px;">
                <i class="fa fa-caret-down"></i>
                {{'common.label.basicSearch' | translate}}
              </div>
              <div *ngIf="!isBasicDivSearch && isShowVertical" style="padding: 9px 20px 9px 15px;">
                <i class="fa fa-caret-right"></i>
                {{'common.label.basicSearch' | translate}}
              </div>
            </a>
            <div class="ui-g vt-row">
              <div class="ui-md-6 rows">
                <label class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right">
                  <p-checkbox *ngIf="isShowVertical" [formControl]="f['admissionBatchName']" binary="true">
                  </p-checkbox>
                  {{'admissionManagement.label.admissionBatchName' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-6"
                  *ngIf="(f['admissionBatchName'].value && isShowVertical) || !isShowVertical">
                  <input type="text" class="form form-control" name="admissionBatchName"
                    formControlName="admissionBatchName" autofocus maxlength="200" [autoFocus]="'true'">
                  <app-control-messages [control]="f['admissionBatchName']"></app-control-messages>
                </div>
              </div>
              <div class="ui-md-6 rows">
                <label class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right">
                  <p-checkbox *ngIf="isShowVertical" [formControl]="f['isPartyOrganizationId']" binary="true">
                  </p-checkbox>
                  {{'organization.label.name' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <party-org-selector [property]="f['partyOrganizationId']" operationKey="action.view"
                    adResourceKey="resource.partyMember" [defaultValue]="true">
                  </party-org-selector>
                  <app-control-messages [control]="f['partyOrganizationId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-md-6 rows">
                <label class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right">
                  <p-checkbox *ngIf="isShowVertical" [formControl]="f['admissionDate']" binary="true"></p-checkbox>
                  {{'admissionManagement.label.admissionDate' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <date-picker [property]="formSearch.controls.admissionDate"></date-picker>
                  <app-control-messages [control]="f['admissionDate']"></app-control-messages>
                </div>
              </div>
              <div class="ui-md-6 rows">
                <label class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right">
                  <p-checkbox *ngIf="isShowVertical" [formControl]="f['deadlineDate']" binary="true"></p-checkbox>
                  {{'admissionManagement.label.deadlineDate' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <date-picker [property]="formSearch.controls.deadlineDate"></date-picker>
                  <app-control-messages [control]="f['deadlineDate']"></app-control-messages>
                </div>
              </div>
              <div class="ui-md-6 rows">
                <label class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right">
                  <p-checkbox *ngIf="isShowVertical" [formControl]="f['status']" binary="true"></p-checkbox>
                  {{'common.label.status' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <select-filter [property]="f['status']" [options]="statusList" optionLabel="name"
                    optionValue="statusId" [placeHolder]="'common.label.cboSelectAll'">
                  </select-filter>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isBasicSearch" class="panel-footer vt-area-button">
          <button type="submit" *ngIf="hasPermission('action.view')" class="btn btn-sm vt-btn btn-submit"
            (click)="processSearch()" [innerHTML]="'common.button.icon.search' | translate"></button>
          <button *ngIf="isShowVertical" type="submit" class="btn btn-sm vt-btn " (click)="showFormSearch(false)"
            [innerHTML]="'common.button.icon.out' | translate"></button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative vt-panel-heading-table">
        <div *ngIf="isBasicSearch && isMenuHeaderMobile" class="show-btn-right-header">
          <div class="d-inline-block mt-2">
            <button (click)="showFormMobileSearch(true)" class="btn btn-sm vt-btn">
              <img src="assets/img/icon/lọc.svg">
            </button>
          </div>
        </div>
        <strong *ngIf="!isMenuHeaderMobile">
          <img *ngIf="isShowVertical && !isShowHideVertical" alt="next" class="img-fluid icon-show-hide-search"
            src="./../../../../../../assets/images/home/Mask_Group_24371.png" (click)="closeBasicSearch()">
          {{'admissionManagement.listAdmission' | translate}}
        </strong>
        <div class="show-btn-right-header">
          <button type="button" class="btn btn-sm vt-btn btn-submit" *ngIf="hasPermission('action.insert')"
            (click)="add()" [innerHTML]="'common.button.icon.addNew' | translate"></button>
        </div>
      </div>
      <div class="" *ngIf="isMenuHeaderMobile" style="padding: 10px; font-size: 14px">
        <strong>
          <img *ngIf="isShowVertical && !isShowHideVertical" alt="next" class="img-fluid icon-show-hide-search"
            src="./../../../../../../assets/images/home/Mask_Group_24371.png" (click)="closeBasicSearch()">
          {{'admissionManagement.listAdmission' | translate}}
        </strong>
      </div>
      <div class="panel-body panel-table table-container">
        <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)" [lazy]="true"
          [rows]="changeRow" [totalRecords]="resultList.recordsTotal" [scrollable]="true" [lazyLoadOnInit]="false"
          class="custom-table" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
          [resizableColumns]="true" styleClass="controlOverflow">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 50px;">
              <col style="width: 50px;">
              <col style="width: 450px;">
              <col style="width: 160px;">
              <col style="width: 200px;">
              <col style="width: 450px;">
              <col style="width: 130px;">
              <col style="width: 150px;">
              <col style="width: 130px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate pResizableColumn></th>
              <th translate pResizableColumn>common.table.index</th>
              <th [pSortableColumn]="'admissionBatchName'" pResizableColumn>
                {{'admissionManagement.label.admissionBatchName' | translate}}
                <p-sortIcon [field]="'admissionBatchName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'admissionDate'" pResizableColumn>
                {{'admissionManagement.label.admissionDate' | translate}}
                <p-sortIcon [field]="'admissionDate'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'deadlineDate'" pResizableColumn>
                {{'admissionManagement.label.deadlineDate' | translate}}
                <p-sortIcon [field]="'deadlineDate'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'partyOrganizationName'" pResizableColumn>
                {{'organization.label.name' | translate}}
                <p-sortIcon [field]="'partyOrganizationName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'attachment'" pResizableColumn>
                {{'admissionManagement.label.attachment' | translate}}
                <p-sortIcon [field]="'attachment'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'status'" pResizableColumn>
                {{'common.label.status' | translate}}
                <p-sortIcon [field]="'status'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'createdDate'" pResizableColumn>
                {{'common.label.createdDate' | translate}}
                <p-sortIcon [field]="'createdDate'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center" style="overflow: initial !important;">
                <div ngbDropdown class="d-inline-block">
                  <div ngbDropdownToggle class="vt-action-hover">
                    <img class="menu-icon" src="./../../../assets/images/home/Icon.svg">
                  </div>
                  <!-- Đang thực hiện -->
                  <div ngbDropdownMenu class="vt-border-radius" *ngIf="item.status==1">
                    <button *ngIf="hasPermission('action.view')" class="dropdown-item" (click)="prepareView(item)"
                      [innerHTML]="'common.button.table.viewdropdown' | translate">
                    </button>
                    <button *ngIf="hasPermission('action.update')" class="dropdown-item"
                      (click)="prepareSaveOrUpdate(item)"
                      [innerHTML]="'common.button.table.acteditdropdown' | translate">
                    </button>
                    <button class="dropdown-item" (click)="suspendend(item)"
                      [innerHTML]="'common.button.table.suspended' | translate">
                    </button>
                    <button class="dropdown-item" (click)="cancelRecruitment(item)"
                      [innerHTML]="'common.button.table.cancelRecruitment' | translate">
                    </button>
                    <button class="dropdown-item" (click)="finished(item)"
                      [innerHTML]="'common.button.table.finished' | translate">
                    </button>
                    <button class="dropdown-item" (click)="admission()"
                      [innerHTML]="'common.button.table.admission' | translate">
                    </button>
                  </div>
                  <!-- end Đang thực hiện -->
                  <!-- Dự thảo -->
                  <div ngbDropdownMenu class="vt-border-radius" *ngIf="item.status==2">
                    <button *ngIf="hasPermission('action.view')" class="dropdown-item" (click)="prepareView(item)"
                      [innerHTML]="'common.button.table.viewdropdown' | translate">
                    </button>
                    <button *ngIf="hasPermission('action.update')" class="dropdown-item"
                      (click)="prepareSaveOrUpdate(item)"
                      [innerHTML]="'common.button.table.acteditdropdown' | translate">
                    </button>
                    <button class="dropdown-item" (click)="deployment()"
                      [innerHTML]="'common.button.table.deployment' | translate">
                    </button>
                    <button *ngIf="hasPermission('action.delete')" class="dropdown-item" (click)="processDelete(item)"
                      [innerHTML]="'common.button.removedropdown' | translate">
                    </button>
                  </div>
                  <!-- End dự thảo -->
                  <!-- Tạm dừng -->
                  <div ngbDropdownMenu class="vt-border-radius" *ngIf="item.status==3">
                    <button *ngIf="hasPermission('action.view')" class="dropdown-item" (click)="prepareView(item)"
                      [innerHTML]="'common.button.table.viewdropdown' | translate">
                    </button>
                    <button *ngIf="hasPermission('action.update')" class="dropdown-item"
                      (click)="prepareSaveOrUpdate(item)"
                      [innerHTML]="'common.button.table.acteditdropdown' | translate">
                    </button>
                    <button class="dropdown-item" (click)="deployment()"
                      [innerHTML]="'common.button.table.deployment' | translate">
                    </button>
                    <button class="dropdown-item" (click)="cancelRecruitment(item)"
                      [innerHTML]="'common.button.table.cancelRecruitment' | translate">
                    </button>
                    <button class="dropdown-item" (click)="admission()"
                      [innerHTML]="'common.button.table.admission' | translate">
                    </button>
                  </div>
                  <!-- end tạm dừng -->
                  <!-- Bị hủy -->
                  <div ngbDropdownMenu class="vt-border-radius" *ngIf="item.status==4">
                    <button *ngIf="hasPermission('action.view')" class="dropdown-item" (click)="prepareView(item)"
                      [innerHTML]="'common.button.table.viewdropdown' | translate">
                    </button>
                    <button *ngIf="hasPermission('action.delete')" class="dropdown-item" (click)="processDelete(item)"
                      [innerHTML]="'common.button.removedropdown' | translate">
                    </button>
                    <button class="dropdown-item" (click)="admission()"
                      [innerHTML]="'common.button.table.admission' | translate">
                    </button>
                  </div>
                  <!-- end bị hủy -->
                  <!-- Kết thúc -->
                  <div ngbDropdownMenu class="vt-border-radius" *ngIf="item.status==5">
                    <button *ngIf="hasPermission('action.view')" class="dropdown-item" (click)="prepareView(item)"
                      [innerHTML]="'common.button.table.viewdropdown' | translate">
                    </button>
                    <button class="dropdown-item" (click)="admission()"
                      [innerHTML]="'common.button.table.admission' | translate">
                    </button>
                  </div>
                  <!-- end kết thúc -->
                </div>
              </td>
              <td class="vt-align-center none-border-left">{{index}}</td>
              <td>{{item.admissionBatchName}}</td>
              <td>{{item.admissionDate | displayDate }}</td>
              <td>{{item.deadlineDate | displayDate }}</td>
              <td>{{item.partyOrganizationName}}</td>
              <td>{{item.attachment}}</td>
              <td>
                <div class="label-status inprogress" *ngIf="item.status==1">{{'admissionManagement.status.inprogress' |
                  translate}}</div>
                <div class="label-status draft" *ngIf="item.status==2">{{'admissionManagement.status.draft' |
                  translate}}</div>
                <div class="label-status suspended" *ngIf="item.status==3">{{'admissionManagement.status.suspended' |
                  translate}}</div>
                <div class="label-status cancel" *ngIf="item.status==4">{{'admissionManagement.status.cancel' |
                  translate}}</div>
                <div class="label-status finished" *ngIf="item.status==5">{{'admissionManagement.status.finished' |
                  translate}}</div>
              </td>
              <td>{{item.createdDate | displayDate }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="9" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')">
  {{'common.haveNoPermission' | translate}}
</div>