.display-search-vertical {
    width: 20%;
    margin-right: 10px;
    height: 100%;
}

/**
 chỉnh kích thước scroll
 */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

