<div class="panel-body panel-table">
    <p-table
        #pTable
        [value]="resultList.data"
        [paginator]="true"
        (onLazyLoad)="processSearch($event)"
        [lazy]="true" [rows]="changeRow"
        [totalRecords]="resultList.recordsTotal"
        [scrollable]="true"
        [lazyLoadOnInit]="false"
        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
        [resizableColumns]="true"
    >
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col style="width: 50px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th translate pResizableColumn>common.table.index</th>
                <th translate pResizableColumn>employee360.insuranceSalary.startDate</th>
                <th translate pResizableColumn>employee360.insuranceSalary.endDate</th>
                <th translate pResizableColumn>employee360.insuranceSalary.factor</th>
                <th translate pResizableColumn>employee360.insuranceSalary.salaryGrade</th>
                <th translate pResizableColumn>employee360.insuranceSalary.salaryRank</th>
                <th translate pResizableColumn>employee360.insuranceSalary.decideCode</th>
                <th translate pResizableColumn>employee360.insuranceSalary.decideDate</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
                <td class="vt-align-center">{{index}}</td>
                <td class="vt-align-center">
                    {{item.fromDate | displayDate}}
                </td>
                <td class="vt-align-center">
                    {{item.toDate | displayDate}}
                </td>
                <td class="vt-align-center">{{item.factor}}</td>
                <td class="vt-align-center">{{item.salaryGrade}}</td>
                <td class="vt-align-center">{{item.salaryRank}}</td>
                <td class="vt-align-center">{{item.decideCode}}</td>
                <td class="vt-align-center">{{item.decideDate | displayDate}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
        </ng-template>
    </p-table>
</div>
