<div class="modal-body">
  <div id="searchArea"></div>
    <div class="panel panel-default">
        <form id="formSave"  >
          <div class="panel-heading">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp; {{'requestDemocraticMeetingManage' | translate}}
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <button style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-sm btn-info btn-span"><i class="fa fa-times"></i></button>
          </div>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-12">
              <mass-request-tree-manage
                operationKey="action.view"
                adResourceKey="resource.partyOrganization"
                height="735"
                [rootId]="massRequestId"
                #tree
              >
              </mass-request-tree-manage>
              <app-control-messages [control]="f['lstNodeCheck']"></app-control-messages>
            </div>
            </div>
            <div class="panel-footer vt-area-button">
              <!-- <button type="button" (click)="reportProgressManage()" class="btn btn-sm btn-info" [innerHTML]="'common.button.icon.export' | translate" ></button> -->
              <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
            </div>
        </form>
      </div>
  </div>
  
<style>
.modal {
    text-align: center;
    padding: 0!important;
  }
  
  .modal::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
</style>
 

