<div class="panel panel-default">
  <div class="panel-heading vt-relative">
    <strong class="text-u-c"><i class="fa fa-th"></i>
      <span translate> transferEmployee.workProcess.title</span>
    </strong>
  </div>
  <div class="panel-body panel-table">
    <p-table
      [value]="resultList.data"
      [responsive]="true"
      (onLazyLoad)="processSearch($event)"
      [lazy]="true"
      [rows]="resultList.recordsTotal"
      [totalRecords]="resultList.recordsTotal"
      [scrollable]="true"
      [lazyLoadOnInit]="false"
      tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
    >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col class="size-12">
          <col class="size-12">
          <col class="size-4">
          <col class="size-4">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate>common.table.index</th>
          <th translate>transferEmployee.workProcess.orgFullName</th>
          <th translate>transferEmployee.workProcess.positionName</th>
          <th translate>transferEmployee.workProcess.wpEffectiveDate</th>
          <th translate>transferEmployee.workProcess.wpExpiredDate</th>
          <!-- <th translate>transferEmployee.workProcess.soldierLevelName</th>
          <th translate>transferEmployee.workProcess.etpEffectiveDate</th>
          <th translate>transferEmployee.workProcess.etpExpiredDate</th>
          <th translate>transferEmployee.workProcess.partyPositionName</th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex+1">
        <tr>
          <td class="vt-align-center">{{ index }}</td>
          <td class="vt-align-left">{{ item.orgFullName }}</td>
          <td class="vt-align-left">{{ item.positionName }}</td>
          <td class="vt-align-center">{{ item.wpEffectiveDate | displayDate}}</td>
          <td class="vt-align-center">{{ item.wpExpiredDate | displayDate}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="emptymessage">
          <td [attr.colspan]="8" [innerHTML]="'app.noRecords' | translate">
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
