<div class="card-reward">
  <div class="clearfix">
    <div class="left-nav-bar pull-left row-header">
      <div>
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png" (click)="goBack();">
        <span *ngIf="isInsert" class="title" translate>tab.rewardProposal.rewardInfoInsertDecide</span>
          <span *ngIf="isEdit" class="title" translate>tab.rewardProposal.rewardInfoDecideEdit</span>
          <span *ngIf="isView" class="title" translate>tab.rewardProposeSign.label.rewardSignInfoView</span>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
        <ul class="header-right sys-ul space-line">
            <li *ngIf="!isView || status == 3 || status == 5">
              <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="processSaveOrUpdate(1)" [innerHTML]="'common.button.icon.save' | translate">
              </button>
            </li>
            <li *ngIf="(status == 1 && isView ) || isEdit || isInsert">
              <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="processSaveOrUpdate(2)" [innerHTML]="'common.button.icon.confirm' | translate">
              </button>
            </li>
            <li *ngIf="canTransferPayment">
              <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="transferPayment(formSave.value)">
                <img class="create-icon" src="./../../../../../assets/images/home/Sent.svg"> <span class="create-label">Tạo tờ trình</span>
              </button>
            </li>
            <li *ngIf="canTransferBTHTT">
              <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="transferBTHTT(formSave.value)" [innerHTML]="'common.button.icon.transferBTHTT' | translate">
              </button>
            </li>
            <li *ngIf="canGenerateFile">
                <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="generateFileReward(formSave.value)" [innerHTML]="'common.button.icon.generateFle' | translate">
                </button>
            </li>
            <li *ngIf="completeStatement">
              <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="docompleteStatement(formSave.value)" [innerHTML]="'common.button.icon.completeStatement' | translate">
              </button>
            </li>
            <li>
              <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="goBack();" [innerHTML]="'common.button.out' | translate">
              </button>
            </li>
            <li>
              <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="onPreviewFile()" [innerHTML]="'common.button.icon.previewFile' | translate">
              </button>
            </li>
            <li>
              <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="onPreviewFile(true)" [innerHTML]="'common.button.icon.previewAllFile' | translate">
              </button>
            </li>
        </ul>
    </div>
  </div>
</div>
<div class="info">
  <form id="formSave" [formGroup]="formSave">
    <div *ngIf="(hasPermission('action.update') && isEdit) || (hasPermission('action.insert') && isInsert || isView)">
      <div class="panel panel-default card-info">
        <div class="panel-heading vt-relative">
          <strong>
            <!-- <span *ngIf="isInsert" translate>tab.rewardProposal.rewardInfoInsertDecide</span>
            <span *ngIf="isEdit" translate>tab.rewardProposal.rewardInfoDecideEdit</span>
            <span *ngIf="isView" translate>tab.rewardProposeSign.label.rewardSignInfoView</span> -->
            <span class="ml-2 title-info">Thông tin quyết định khen thưởng</span>
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12 vt-row">
            <!-- Đơn vị xét duyệt -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'rewardPropose.reviewOrganization' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector [property]="f['approvalOrgId']" operationKey="action.view"
              adResourceKey="resource.rewardPropose" [defaultValue]="true" [disabled]="isView" >
              </org-selector>
              <app-control-messages [control]="f['approvalOrgId']"></app-control-messages>
            </div>
            <!-- đơn vị trình ký -->
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
              {{'rewardPropose.signOrganization' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector [property]="f['signOrgId']" operationKey="action.view" adResourceKey="resource.rewardPropose"
                [defaultValue]="true" [disabled]="isView" (onChange)="onOrganizationChange()">
              </org-selector>
              <app-control-messages [control]="f['signOrgId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <!-- tên quyết đinh -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'rewardProposeSign.rewardProposeSignName' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="text" class="form form-control" [autoFocus]="true" name="name" formControlName="name"
                maxlength="200" [attr.disabled]="isView ? true : null">
              <app-control-messages [control]="f['name']"></app-control-messages>
            </div>
            <!-- Phân loại khen thưởng -->
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
              {{'rewardPropose.rewardType' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [placeHolder]="'common.label.cboMustSelect'" [property]="f['rewardType']"
                [options]="rewardTypeListByUserToInsert" optionLabel="name" optionValue="id" (onChange)="onRewardTypeChange()"
                [disabled]="isView">
              </select-filter>
              <app-control-messages [control]="f['rewardType']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <!-- kỳ khen thưởng -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'rewardPropose.periodType' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [property]="f['periodType']" [options]="lstPeriodType" optionLabel="name" optionValue="id"
                [placeHolder]="'common.label.cboMustSelect'" [disabled]="isView ">
              </select-filter>
              <app-control-messages [control]="f['periodType']"></app-control-messages>
            </div>
            <!-- năm -->
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
              {{'rewardPropose.year' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [property]="f['proposeYear']" [options]="listYear" optionLabel="year" optionValue="year"
                [placeHolder]="'common.label.cboMustSelect'" [disabled]="isView ">
              </select-filter>
              <app-control-messages [control]="f['proposeYear']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <!-- số quyết định -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'rewardProposeSign.decisionNumber' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="text" class="form form-control" name="decisionNumber"
                formControlName="decisionNumber" maxlength="200" [attr.disabled]="isView ? true: null">
              <app-control-messages [control]="f['decisionNumber']"></app-control-messages>
            </div>
            <!-- Ngày ban hành-->
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
              {{'rewardProposeSign.promulgateDate' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['promulgateDate']" [disabled]='isView'>
              </date-picker>
              <app-control-messages [control]="f['promulgateDate']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <!-- người ký ban hành -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'rewardProposeSign.promulgateBy' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <data-picker
                  [property]="f['promulgateBy']"
                  systemCode="political"
                  operationKey="action.view"
                  adResourceKey="resource.rewardPropose"
                  objectBO="EmployeeBO"
                  codeField="employeeCode"
                  nameField="fullName"
                  emailField="email"
                  mobileNumberField="mobileNumber"
                  selectField="employeeId"
                  (onChange)="genData($event)"
                  [disabled]='isView'
                >
                </data-picker>
              <app-control-messages [control]="f['promulgateBy']"></app-control-messages>
            </div>
          <!-- Ngày chốt quân số-->
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" [ngClass]="{'required': hasRewardPositionEmployee}">
              {{'rewardProposeSign.lockPeople' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['closingDate']" [disabled]='isView' (onChanged)="onChangeClosingDate()">
              </date-picker>
              <app-control-messages [control]="f['closingDate']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
  
            <!-- Ngày ngày ngân sách-->
            <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right required">
              Ngày thanh toán
            </label>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
              <date-picker [property]="f['budgetDate']" [disabled]='isView'>
              </date-picker>
              <app-control-messages [control]="f['budgetDate']"></app-control-messages>
            </div>

            <!-- kỳ khen thưởng -->
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
              Nguồn ngân sách
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [property]="f['funCategory']" [options]="lstfunCategory" optionLabel="name" optionValue="id"
                [placeHolder]="'common.label.cboMustSelect'" [disabled]="isView ">
              </select-filter>
              <app-control-messages [control]="f['funCategory']"></app-control-messages>
            </div>


          </div>
          <div class="ui-g-12 vt-row">
            <!-- File ký chính -->
            <label class="ui-g-12 ui-md-5 ui-lg-2 control-label vt-align-right required">
              {{'label.rewardPropose.fileSign' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <multi-file-chooser class="attachment-file" [property]="f['attachedFiles']" fileName="attachedFiles" [validMaxSize]="50"
                validType="png,jpg,gif,tiff,bmp,xls,xlsx,doc,docx,pdf,rar,zip,7z" [disabled]="isView  ? true : null">
              </multi-file-chooser>
              <app-control-messages [control]="f['attachedFiles']"></app-control-messages>
            </div>
            <!-- File phụ lục -->
            <label class="ui-g-12 ui-md-3 control-label vt-align-right">
              {{'common.label.attachmentFileAppendix' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <multi-file-chooser [property]="f['fileAppendix']" fileName="fileAppendix" [validMaxSize]="50"
                validType="png,jpg,gif,tiff,bmp,xls,xlsx,doc,docx,pdf,rar,zip,7z" [disabled]="isView  ? true : null">
              </multi-file-chooser>
              <app-control-messages [control]="f['fileAppendix']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <!-- Người tạo-->
              <label class="ui-g-12 ui-md-2 control-label vt-align-right" *ngIf="isView">
              {{'common.label.createdBy' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3" *ngIf="isView">
              <input type="text" class="form form-control" name="createdBy"
                formControlName="createdBy" maxlength="200" [attr.disabled]="isView ? true: null">
              <app-control-messages [control]="f['createdBy']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label *ngIf="!isInsert"
                    class="ui-g-12 ui-md-2 control-label vt-align-right">
              {{'rewardProposeSign.vfsStatementNo' | translate}}
            </label>
            <div *ngIf="!isInsert" class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="text" class="form form-control" name="vfsStatementNo" formControlName="vfsStatementNo"
                      maxlength="50" autocomplete="off"
                      disabled>
            </div>
  
            <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right ">
              {{'rewardPropose.isAuthority' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="checkbox" name="isAuthority" formControlName="isAuthority" style="width: 18px;
                height: 1.5rem;" [attr.disabled]="isView ? true : null" [value]="0">
            </div>
          </div>
          <div class="ui-g-12 vt-row" *ngIf="isView">
            <!-- Trạng thái tờ trình SAP-->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              Trạng thái tờ trình SAP
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [placeHolder]="'common.label.cboSelectAll'" [property]="f['sapStatementStatus']" [options]="listSAPStatementStatus"
                              optionLabel="name" optionValue="id" [disabled]="isView ? true: null">
              </select-filter>
              <app-control-messages [control]="f['sapStatementStatus']"></app-control-messages>
            </div>
  
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
              Tổng tiền
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="text" class="form form-control" name="totalAmountOfMoney"
                      formControlName="totalAmountOfMoney" maxlength="200" [attr.disabled]="true">
            </div>
          </div>
  
          <div class="ui-g-12 vt-row" *ngIf="isView">
            <!-- Trạng thái-->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.warning.status' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter [placeHolder]="'common.label.cboSelectAll'" [property]="f['status']" [options]="listStatus"
                optionLabel="name" optionValue="id" [disabled]="isView ? true: null">
              </select-filter>
              <app-control-messages [control]="f['status']"></app-control-messages>
            </div>
  
            <!-- Ngày tạo -->
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'issue.resolution.create.date.label' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['createdDate']" [disabled]='isView'>
              </date-picker>
              <app-control-messages [control]="f['createdDate']"></app-control-messages>
            </div>
          </div>
  
          <div class="ui-g-12 ui-md-12 ui-lg-12 import-file">
            <button type="button" class="btn btn-sm btn-info btn-import-file"
              *ngIf="!isView && hasPermission('action.import')" (click)="openFormImport()"
              [innerHTML]="'bonusType.importFile' | translate"></button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="(hasPermission('action.update') && isEdit) || (hasPermission('action.insert') && isInsert || isView)">
      <div style="width: 100%;">
        <p-tabView class="tab-view">
          <p-tabPanel header="{{'rewardPropose.label.rewardProposeDetail' | translate}}">
            <p-tabView [(activeIndex)]="activeIndex" class="tab-item">
              <!-- Khen thuong tap the -->
              <p-tabPanel
                      header="{{'tab.rewardPropose.group' | translate}} ({{formRewardGroupInside ? formRewardGroupInside.value.length : 0}})">
                <decision-reward-group-position [resetFormArray]="resetFormArray.asObservable()" [isViewFile]="true"
                                                [setData]="setData.asObservable()"
                                                (formRewardGroupOutput)="getFormRewardGroupInside($event)"
                                                [processingData]="processingData"
                                                [importGroupInsangnn]="importGroupInsangnn.asObservable()"
                                                [pageFocus]="pageFocus.asObservable()">
                </decision-reward-group-position>
              </p-tabPanel>
              <!-- Khen thuong CBCNV -->
              <p-tabPanel
                      header="{{'tab.rewardPropose.rewardEmployee' | translate}} ({{formRewardPersonInside ? formRewardPersonInside.value.length : 0}})">
                <decision-reward-employee-position [resetFormArray]="resetFormArray.asObservable()"
                                                    [isViewFile]="true"
                                                    [forwardLoadOrgazation]="forwardLoadOrgazation.asObservable()"
                                                    (onChangeRewardEmployeePosition)="onChangeRewardEmployeePosition($event)"
                                                    [setData]="setData.asObservable()"
                                                    (formRewarPersonalOutput)="getFormRewardPersonalInside($event)"
                                                    [processingData]="processingData"
                                                    [importStaffInsangnn]="importStaffInsangnn.asObservable()"
                                                    [closingDate]="f['closingDate']"
                                                    [pageFocus]="pageFocus.asObservable()">
                </decision-reward-employee-position>
              </p-tabPanel>
              <!-- Tap the ngoai sangnn -->
              <p-tabPanel
                      header="{{'tab.rewardPropose.organizationOut' | translate}} ({{formRewardGroupOutside ? formRewardGroupOutside.value.length: 0}})">
                <decision-reward-organization-out [resetFormArray]="resetFormArray.asObservable()"
                                                  [processingData]="processingData"
                                                  [setData]="setData.asObservable()"
                                                  (formRewardOrgOutside)="getFormRewardGroupOutSide($event)"
                                                  [importGroupOutsangnn]="importGroupOutsangnn.asObservable()"
                                                  [pageFocus]="pageFocus.asObservable()">
                </decision-reward-organization-out>
              </p-tabPanel>
              <!-- Ca nhan ngoai sangnn -->
              <p-tabPanel
                      header="{{'tab.rewardPropose.individualsOut' | translate}} ({{formRewardPersonOutside ? formRewardPersonOutside.value.length: 0}})">
                <decision-reward-individuals-out [resetFormArray]="resetFormArray.asObservable()"
                                                  [processingData]="processingData"
                                                  [setData]="setData.asObservable()"
                                                  (formRewardIndividualOutside)="getFormRewardPersonalOutSide($event)"
                                                  [importStaffOutsangnn]="importStaffOutsangnn.asObservable()"
                                                  [pageFocus]="pageFocus.asObservable()">
                </decision-reward-individuals-out>
              </p-tabPanel>
            </p-tabView>
          </p-tabPanel>
          <p-tabPanel header="{{'tab.rewardPropose.cost' | translate}} ">
            <decided-reward-cost [resetFormArray]="resetFormArray.asObservable()"
                          [setData]="setData.asObservable()"
                          [pageFocus]="pageFocus.asObservable()"
                          (formRewardOrgCost) = "getFormRewardOrgCost($event)"
                          [dataRewardCost]="dataRewardCost.asObservable()">
            </decided-reward-cost>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    <div *ngIf="showReimbusment" class="scollTable panel panel-default card-info reward-reimbursement">
      <div class="panel-heading vt-relative">
        <strong>
          <span class="ml-2 title-info">{{ 'rewardPropose.label.rewardReimbursement' | translate }}</span>
        </strong>
      </div>
      <div class="p-3">
        <div class="panel-body panel-table" style="padding: 12px;">
          <p-table #ptable [scrollable]="true" [value]="listReimbursement" [paginator]="true"
                    [first]="firstRowIndex" [rows]="pageSize" selectionMode="single"

                    [(selection)]="selectedRows" (onRowSelect)="onSelectChange($event)"
                    [totalRecords]="listReimbursement ? listReimbursement.length : 0"
                    tableStyleClass="table controls-table table-wrapper b-t b-b">
            <div class="tbl-panel">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col class="size-5">
                  <col class="size-4">
                  <col class="size-10">
                  <col class="size-10">
                  <col class="size-15">
                  <col class="size-8">
                  <col class="size-8">
                  <col class="size-8">
                  <col class="size-8">
                  <col class="size-15">
                  <col class="size-6">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th>{{'fundContribution.lable.action' | translate}}</th>
                  <!-- to chuc  -->
                  <th translate><span>rewardPropose.reimbursement.organization</span>
                  </th>
                  <!-- so bang THTT -->
                  <th translate>
                    <span>rewardPropose.reimbursement.reimbursementID</span></th>
                  <!-- So to trinh -->
                  <th translate><span>rewardPropose.reimbursement.statementNo</span>
                  </th>
                  <!--mo ta loi-->
                  <th translate>rewardPropose.reimbursement.response</th>


                  <!--trang thai ky de nghi chuyen tien-->
                  <th translate>rewardPropose.reimbursement.signerStatus</th>

                  <!--trang thai chi-->
                  <th translate>rewardPropose.reimbursement.apCashStatus</th>
                  <th translate>rewardPropose.reimbursement.sapSumInvNo</th>
                  <th translate>rewardPropose.reimbursement.sapvoSStatusDes</th>
                  <th translate>rewardPropose.reimbursement.logSyncSap</th>
                  <th translate>rewardPropose.reimbursement.autoPayOrder</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr>
                  <td class="vt-align-center">
                    {{index + 1}}
                  </td>
                  <td class="vt-align-center">
                    <a target="_blank" href="{{URL}}/reward/reward-payment-reporting/{{item.vfsReimbursementId}}"
                        title="{{'common.button.table.viewinvoice' | translate}}"><i
                            class="fa fa-eye color-info"></i></a>
                  </td>
                  <td class="vt-align-center">
                    {{item.organizationName}}
                  </td>
                  <td class="vt-align-center">
                    {{item.documentNo}}
                  </td>
                  <td class="vt-align-center">
                    {{item.vfsStatementNo}}
                  </td>
                  <td class="vt-align-center" (click)="openModal(item?.response)">
                    {{item.response}}
                  </td>

                  <td class="vt-align-center">
                    <span *ngIf="item.signerStatus == '0'">Chưa ký</span>
                    <span *ngIf="item.signerStatus == '1'">Văn thư từ chối</span>
                    <span *ngIf="item.signerStatus == '2'">Lãnh đạo từ chối</span>
                    <span *ngIf="item.signerStatus == '3'">Đã phê duyệt</span>
                    <span *ngIf="item.signerStatus == '4'">Hủy luồng</span>
                    <span *ngIf="item.signerStatus == '5'">Đã ban hành</span>
                    <span *ngIf="item.signerStatus == '10'">Chờ ký</span>
                  </td>
                  <td class="vt-align-center">
                    <span *ngIf="item.apcashStatus == 'Y'">Đã chi</span>
                    <span *ngIf="item.apcashStatus == 'N'">Chưa chi</span>
                  </td>
                  <td class="vt-align-center">
                    {{item.sapSumInvNo}}
                  </td>
                  <td class="vt-align-center">
                    {{item.sapvoSStatusDes}}
                  </td>
                  <td class="vt-align-center" (click)="openModal(item?.sapErrorMessage)">
                    {{item.sapErrorMessage}}
                  </td>
                  <td class="vt-align-center">
                    <input type="checkbox" class="ui-chkbox ui-chkbox-box" style="height: 1.5rem;" name="autoPayOrder" [checked]="item.autoPayOrder == 'Y' ? 1 :0"
                             disabled/>
                  </td>
              </ng-template>
            </div>
          </p-table>
        </div>
      </div>
      <br>

    </div>
  </form>
  <div *ngIf="(!hasPermission('action.update') && isEdit) || (!hasPermission('action.insert') && isInsert)">
    {{'common.haveNoPermission' | translate}}
  </div>
</div>
