<div class="card-emp">
  <div id="partyMemberProcess" class="card card-info">
    <div class="card-header">
      <div>
        <img class="header-icon" [ngClass]="{'transform-icon': hidePartyMemberProcess === true}" src="./../../../../../../assets/images/home/Group_18932.png" (click)="hidePartyMemberProcess = !hidePartyMemberProcess">
        <span translate> app.emp.tabMenu.partyMemberProcess.listTitle</span>
<!--        <div class="vt-absolute vt-shotcut-button-in-heading">-->
<!--          <div>-->
<!--            <button type="button" *ngIf="hasPermission('action.insert')" (click)="prepareInsertPartyMemberProcess(true)" class="btn btn-sm btn-info" [innerHTML]="'common.button.icon.addNew' | translate"></button>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
    <div *ngIf="!hidePartyMemberProcess" class="card-body">
      <div class="panel-body panel-table">
        <p-table
          #pTable
          [value]="listPartyProcess.data"
          [paginator]="true"
          (onLazyLoad)="processSearch()"
          [lazy]="true" [rows]="changeRow"
          [totalRecords]="listPartyProcess.recordsTotal"
          [scrollable]="true"
          [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
          [resizableColumns]="true"
          class="table-view"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 50px;">
              <col style="width: 50px;">
              <col style="width: 200px;">          
              <col style="width: 100px;">
              <col style="width: 100px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate pResizableColumn></th>
              <th translate pResizableColumn>common.table.index</th>
              <th pSortableColumn="partyOrganizationName" pResizableColumn>Chi bộ
                <p-sortIcon field="partyOrganizationName"></p-sortIcon>
              </th>
              <th pSortableColumn="effectiveDate" translate pResizableColumn>app.emp.tabMenu.partyMemberConcurrentProcess.effectiveDate
                <p-sortIcon field="effectiveDate"></p-sortIcon>
              </th>
              <th pSortableColumn="expiredDate" translate pResizableColumn>app.emp.tabMenu.partyMemberConcurrentProcess.expiredDate
                <p-sortIcon field="expiredDate"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center" style="overflow: initial !important;">
                <div ngbDropdown class="d-inline-block">
                    <div ngbDropdownToggle class="vt-action-hover">
                        <img class="menu-icon" src="./../../../assets/images/home/Icon.svg">
                    </div>
                    <div ngbDropdownMenu class="vt-border-radius">
                      <!-- Sửa -->
                      <button *ngIf="hasPermission('action.update')" class="dropdown-item"
                              (click)="prepareSaveOrUpdate(item, true)"
                              [innerHTML]="'common.button.table.acteditdropdown' | translate">
                      </button>
                      <!-- Xóa -->
                      <button *ngIf="hasPermission('action.delete')" class="dropdown-item"
                              (click)="processDeleteProcess(item.partyMemberProcessId, true)"
                              [innerHTML]="'common.button.icon.delete' | translate">
                      </button>
                    </div>
                </div>
              </td>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-left">{{item.partyOrganizationName}} - {{item.parentPartyOrganizationName}} </td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="13" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="listPartyProcess"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div id="partyConcurrentProcess" class="card card-info">
    <div class="card-header">
      <div>
        <img class="header-icon" [ngClass]="{'transform-icon': hidePartyConcurrentProcess === true}" src="./../../../../../../assets/images/home/Group_18932.png" (click)="hidePartyConcurrentProcess = !hidePartyConcurrentProcess">
        <span translate> app.emp.tabMenu.partyConcurrentProcess.listTitle</span>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div>
            <button type="button" *ngIf="hasPermission('action.insert')" (click)="prepareInsertPartyMemberProcess(false)" class="btn btn-sm vt-btn btn-submit" [innerHTML]="'common.button.icon.addNew' | translate"></button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!hidePartyConcurrentProcess" class="card-body">
      <div class="panel-body panel-table">
        <p-table
          #pTable
          [value]="listConcurrentProcess.data"
          [paginator]="true"
          (onLazyLoad)="processSearch()"
          [lazy]="true" [rows]="changeRow"
          [totalRecords]="listConcurrentProcess.recordsTotal"
          [scrollable]="true"
          [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
          [resizableColumns]="true"
          class="table-view"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 50px;">
              <col style="width: 50px;">
              <col style="width: 200px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate pResizableColumn></th>
              <th translate pResizableColumn>common.table.index</th>
              <th pSortableColumn="partyOrganizationName" translate pResizableColumn>party.member.party.organization.label
                <p-sortIcon field="partyOrganizationName"></p-sortIcon>
              </th>
              <th pSortableColumn="partyPositionName" translate pResizableColumn>partymanager.label.partyTitle
                <p-sortIcon field="partyPositionName"></p-sortIcon>
              </th>
              <th pSortableColumn="tenureName" translate pResizableColumn>app.emp.tabMenu.partyMemberConcurrentProcess.tenure
                <p-sortIcon field="tenureName"></p-sortIcon>
              </th>
              <th pSortableColumn="effectiveDate" translate pResizableColumn>app.emp.tabMenu.partyMemberConcurrentProcess.effectiveDate
                <p-sortIcon field="effectiveDate"></p-sortIcon>
              </th>
              <th pSortableColumn="expiredDate" translate pResizableColumn>app.emp.tabMenu.partyMemberConcurrentProcess.expiredDate
                <p-sortIcon field="expiredDate"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center" style="overflow: initial !important;">
                <div ngbDropdown class="d-inline-block">
                    <div ngbDropdownToggle class="vt-action-hover">
                        <img class="menu-icon" src="./../../../assets/images/home/Icon.svg">
                    </div>
                    <div ngbDropdownMenu class="vt-border-radius">
                      <!-- Sửa -->
                      <button *ngIf="hasPermission('action.update')" class="dropdown-item"
                              (click)="prepareSaveOrUpdate(item, false)"
                              [innerHTML]="'common.button.table.acteditdropdown' | translate">
                      </button>
                      <!-- Xóa -->
                      <button *ngIf="hasPermission('action.delete')" class="dropdown-item"
                              (click)="processDeleteProcess(item.itemId, false)"
                              [innerHTML]="'common.button.icon.delete' | translate">
                      </button>
                    </div>
                </div>
              </td>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-left">{{item.partyOrganizationName}}</td>
              <td class="vt-align-left">{{item.partyPositionName}}</td>
              <td class="vt-align-left">{{item.tenureName}}</td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="13" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="listConcurrentProcess"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
