.card-emp {
    position: relative;
    background-color: #fff;
    margin-left: -14px;
    margin-top: -14px;
    margin-right: -14px;
    height: 52px;
    border-bottom: solid 1px rgba(208,212,223,1);
}

.card-menu {
    position: relative;
    background-color: #fff;
    margin-bottom: -20px;
    opacity: 0.8;
}

.card-info {
    margin-left: 20px;
    opacity: 0.8;
}

.collapse-right {
    width: 100%;
    padding: 0px 15px 15px 15px;
}

:host ::ng-deep .collapse-menu .ui-scrollpanel .ui-scrollpanel-wrapper .ui-scrollpanel-content {
    display: flex;
}

.left-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.right-icon {
    width: 16px;
    height: 16px;
    margin-top: 16px;
    cursor: pointer;
}

.list-label {
    white-space: nowrap;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(198,31,27,1);
    letter-spacing: 0.12px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.item-label {
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(78,3,0,1);
    letter-spacing: 0.12px;
    margin-bottom: 23px;
}

.item-label:hover {
    color: rgba(198,31,27,1);
    cursor: pointer;
}

/* mobile*/
@media (min-width: 374px) and (max-width: 576px){
    .card-emp {
        height: 90px !important;
    }

    .list-label {
        font-size: 12px !important;
    }
    
    .item-label {
        font-size: 12px !important;
    }

    .card-info {
        margin-left: 3px !important;
    }
}