<div class="card-form">
  <div class="clearfix">
    <div class="left-nav-bar pull-left row-header">
      <div>
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png" (click)="goBack();">
        <strong *ngIf="view && branch == 1">
          <span class="title">{{'massMember.viewEmployeeWomen' | translate}}</span>
        </strong>
        <strong *ngIf="view && branch == 2">
          <span class="title">{{'massMember.viewEmployeeYouth' | translate}}</span>
        </strong>
        <strong *ngIf="view && branch == 3">
          <span class="title">{{'massMember.viewNewEmployeeUnion' | translate}}</span>
        </strong>
        <strong *ngIf="update && branch == 1">
          <span class="title">{{'massMember.updateEmployeeWomen' | translate}}</span>
        </strong>
        <strong *ngIf="update && branch == 2">
          <span class="title">{{'massMember.updateEmployeeYouth' | translate}}</span>
        </strong>
        <strong *ngIf="update && branch == 3">
          <span class="title">{{'massMember.updateEmployeeUnion' | translate}}</span>
        </strong>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
        <ul class="header-right sys-ul space-line">
          <li>
            <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="goBack();" [innerHTML]="'common.button.out' | translate">
            </button>
          </li>
          <li *ngIf="!view">
            <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="processSaveOrUpdate()" [innerHTML]="'common.button.icon.save' | translate">
            </button>
          </li>
          <li *ngIf="view">
            <button class="btn btn-sm vt-btn btn-submit mt-btn btn-header-right ng-star-inserted" type="button" (click)="navigate()" [innerHTML]="'common.button.icon.edit' | translate">
            </button>
          </li>
        </ul>
    </div>
  </div>
</div>
<div class="info">
  <div class="panel panel-default card-info">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <!-- <strong class="text-u-c" *ngIf="view && branch == 1">
          <i class="fa fa-th"></i>&nbsp;
          {{'massMember.viewEmployeeWomen' | translate}}
        </strong>
        <strong class="text-u-c" *ngIf="view && branch == 2">
          <i class="fa fa-th"></i>&nbsp;
          {{'massMember.viewEmployeeYouth' | translate}}
        </strong>
        <strong class="text-u-c" *ngIf="view && branch == 3">
          <i class="fa fa-th"></i>&nbsp;
          {{'massMember.viewEmployeeUnion' | translate}}
        </strong>
        <strong class="text-u-c" *ngIf="update && branch == 1">
          <i class="fa fa-th"></i>&nbsp;
          {{'massMember.updateEmployeeWomen' | translate}}
        </strong>
        <strong class="text-u-c" *ngIf="update && branch == 2">
          <i class="fa fa-th"></i>&nbsp;
          {{'massMember.updateEmployeeYouth' | translate}}
        </strong>
        <strong class="text-u-c" *ngIf="update && branch == 3">
          <i class="fa fa-th"></i>&nbsp;
          {{'massMember.updateEmployeeUnion' | translate}}
        </strong> -->
        <strong>
          <span class="ml-2 title-info">Thông tin chi tiết</span>
        </strong>
      </div>
  
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right required">
            {{'massMember.employeeCode' | translate}}
          </label>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <data-picker [property]="f['employeeId']" systemCode="political" operationKey="action.view"
              adResourceKey="resource.massMember" objectBO="EmployeeBO" codeField="fullName" nameField="employeeCode"
              emailField="email" mobileNumberField="mobileNumber" selectField="employeeId" disabled="true" [isRequiredField]="true">
            </data-picker>
            <app-control-messages [control]="f['employeeId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right required">
            {{'massMember.employeeName' | translate}}
          </label>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <input type="text" class="form form-control" name="name" formControlName="name" maxlength="255" disabled>
            <app-control-messages [control]="f['name']"></app-control-messages>
          </div>
        </div>
  
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
            {{'massMember.employeePersonId' | translate}}
          </label>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <input type="text" class="form form-control" name="cmt" formControlName="cmt" maxlength="255" disabled>
            <app-control-messages [control]="f['cmt']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
            {{'massMember.employeeMobileNumber' | translate}}
          </label>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <input type="text" class="form form-control" name="mobileNumber" formControlName="mobileNumber" maxlength="50"
              disabled>
            <app-control-messages [control]="f['mobileNumber']"></app-control-messages>
          </div>
        </div>
  
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
            {{'massMember.DOB' | translate}}
          </label>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <date-picker [property]="f['dateOfBirth']" disabled>
            </date-picker>
            <app-control-messages [control]="f['dateOfBirth']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
            {{'massMember.empType' | translate}}
          </label>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <input type="text" class="form form-control" name="empTypeName" formControlName="empTypeName" maxlength="255"
              disabled>
            <app-control-messages [control]="f['empTypeName']"></app-control-messages>
          </div>
        </div>
  
        <div class="ui-g-12 vt-row" style="padding: 32px 12px 12px 12px;">
          <management-employee-add-position #position></management-employee-add-position>
        </div>
      </div>
    </form>
  </div>
</div>