<div class="panel-body panel-table">
  <p-table
    #pTable
    [value]="resultList.data"
    [paginator]="true"
    (onLazyLoad)="processSearch($event)"
    [lazy]="true" [rows]="changeRow"
    [totalRecords]="resultList.recordsTotal"
    [scrollable]="true"
    [lazyLoadOnInit]="false"
    tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
    [resizableColumns]="true"
  >
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col style="width: 50px;">
        <col style="width: 200px;">
        <col style="width: 200px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
        <col style="width: 100px;">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th translate pResizableColumn>common.table.index</th>
        <th pSortableColumn="partyOrganizationName" translate pResizableColumn>party.member.party.organization.label
          <p-sortIcon field="partyOrganizationName"></p-sortIcon>
        </th>
        <th pSortableColumn="partyPositionName" translate pResizableColumn>partymanager.label.partyTitle
          <p-sortIcon field="partyPositionName"></p-sortIcon>
        </th>
        <th pSortableColumn="effectiveDate" translate pResizableColumn>app.emp.tabMenu.partyMemberConcurrentProcess.effectiveDate
          <p-sortIcon field="effectiveDate"></p-sortIcon>
        </th>
        <th pSortableColumn="expiredDate" translate pResizableColumn>app.emp.tabMenu.partyMemberConcurrentProcess.expiredDate
          <p-sortIcon field="expiredDate"></p-sortIcon>
        </th>
        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex+1">
      <tr>
        <td class="vt-align-center">{{index}}</td>
        <td class="vt-align-left">{{item.partyOrganizationName}}</td>
        <td class="vt-align-left">{{item.partyPositionName}}</td>
        <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
        <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
        <td class="vt-align-center">
          <i *ngIf="item.isHighestPosition==1" class="fas fa-check table-icon color-info"></i>
        </td>
        <td class="vt-align-center">
          <i *ngIf="item.isPartyMemberConcurrentProcess==1" class="fas fa-check table-icon color-info"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="emptymessage">
        <td [attr.colspan]="13" [innerHTML]="'app.noRecords' | translate">
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
    </ng-template>
  </p-table>
</div>