<form id="formPosition" [formGroup]="formPosition">
  <div class="panel panel-default">
    <div class="panel-heading vt-relative" style="justify-content: space-between">
      <strong>
        <span > Danh sách cần đào tạo </span>
      </strong>
      <div style="display: flex">
        <div *ngIf="!isView && !chooseParent && !editable" class=" vt-area-button-import">
          <button  type="button" class="btn btn-sm vt-btn" (click)="openFormImport()"
                   [innerHTML]="'bonusType.importFile' | translate"></button>
        </div>
        <div *ngIf="chooseParent" class="vt-area-button-import">
          <button  type="button" class="btn btn-sm vt-btn" (click)="exportForm()"
                   [innerHTML]="'assessment.criteria.export.file' | translate"></button>
        </div>
      </div>
    </div>
    <div class="panel-body panel-table">
      <p-table [value]="formPosition.controls" tableStyleClass="table controls-table table-wrapper b-t b-b"
         [customSort]="true" [paginator]="true" [first]="firstRowIndex"
        [rows]="pageSize" [totalRecords]="formPosition.controls.length" [resizableColumns]="true" [scrollable]="true">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width: 50px;">
<!--            <col style="width: 100px;" >-->
            <col style="width: 150px;" >
            <col style="width: 150px;" >
            <col style="width: 150px;" >
            <col style="width: 150px;" >
            <col style="width: 150px;" >
            <col style="width: 150px;">
            <col style="width: 150px;">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pResizableColumn translate><span>common.table.index</span></th>
<!--            <th pResizableColumn translate ><span>common.label.action</span></th>-->
              <th pResizableColumn translate ><span class="required">training-topic.employee-name</span></th>
              <th pResizableColumn translate ><span class="required">training-topic.employee-code</span></th>
            <th pResizableColumn translate><span>training-topic.employee-position</span>
            </th>
            <th pResizableColumn translate ><span>training-topic.employee-organization</span>
            <th pResizableColumn translate ><span>training-topic.employee-cb</span>
            </th>
            <th pResizableColumn translate><span>training-topic.employee-db</span></th>
            <th pResizableColumn translate><span >training-topic.employee-dbct</span>
            <th pResizableColumn translate><span >label.training-class-member.result</span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr [formGroup]="item">
            <td class="vt-align-center">
              {{index+1}}
            </td>
<!--            <td class="vt-align-center" >-->
<!--              <button *ngIf="!isView" class="btn-icon plus" type="button" (click)="add(index, item)"-->
<!--                [innerHTML]="'common.icon.plus' | translate">-->
<!--              </button>-->
<!--              <button *ngIf="!isView" class="btn-icon minus" type="button" (click)="remove(index, item)"-->
<!--                [innerHTML]="'common.icon.minus' | translate">-->
<!--                <span class="glyphicons glyphicons-minus icon-table delete" title="Xóa"></span>-->
<!--              </button>-->
<!--            </td>-->
              <td>
                {{item.controls.employeeName.value}}
              </td>
              <td>{{item.controls.employeeCode.value}}</td>
              <td>{{item.controls.currentPosition.value}}</td>
              <td>{{item.controls.organizationName.value}}</td>
              <td>{{item.controls.partyOrganizationName.value}}</td>
              <td>{{item.controls.partyOrganizationDB.value}}</td>
              <td></td>
              <td>{{item.controls.score.value}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</form>
