<div class="card-form">
  <div class="clearfix">
    <div class="left-nav-bar pull-left row-header">
      <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png"
        (click)="previous()">
      <span class="title">{{'common.label.add.info' | translate }}</span>
    </div>
    <ul class="header-right sys-ul space-line  pull-right">
      <li>
        <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="save()"
          [innerHTML]="'common.button.icon.save' | translate">
        </button>
      </li>
      <li>
        <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="previous()"
          [innerHTML]="'common.button.close' | translate">
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="info">
  <form id="formAdd" [formGroup]="formGroup">
    <div class="panel panel-default card-info">
      <div class="panel-heading vt-relative">
        <strong>
          <span class="ml-2 title-info">{{ 'app.organization.commonInformation' | translate }}</span>
        </strong>
      </div>
      <div class="panel-body padding-xl border-info-common ui-g">
        <div class="ui-g-12 vt-row">
          <label
            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">{{'admissionManagement.label.admissionBatchName'
            | translate}}</label>
          <div class="ui-g-12 ui-md-12 ui-lg-8">
            <input type="text" class="form form-control" name="admissionBatchName" formControlName="admissionBatchName"
              maxlength="200">
            <app-control-messages [control]="f['admissionBatchName']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'admissionManagement.label.admissionDate' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['admissionDate']"></date-picker>
            <app-control-messages [control]="f['admissionDate']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'admissionManagement.label.deadlineDate' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['deadlineDate']"></date-picker>
            <app-control-messages [control]="f['deadlineDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'organization.label.name' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <party-org-selector [property]="f['partyOrganizationId']" operationKey="action.view"
              adResourceKey="resource.partyMember" [defaultValue]="true" [disabled]="true">
            </party-org-selector>
            <app-control-messages [control]="f['partyOrganizationId']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'common.label.createdDate' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" class="form form-control" name="createdDate" formControlName="createdDate" disabled>
            <app-control-messages [control]="f['createdDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'admissionManagement.label.attachment' | translate}}</label>
          <div *ngIf="f['fileAttachedList']" class="ui-g-12 ui-md-12 ui-lg-8">
            <multi-file-chooser-v2 #multiFileAttachedChooser fileName="fileAttachedList" class="attachment-file"
              [property]="f['fileAttachedList']" validType="pdf" [validMaxSize]="20">
            </multi-file-chooser-v2>
            <app-control-messages [control]="f['fileAttachedList']"></app-control-messages>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default card-info">
      <div class="panel-heading vt-relative">
        <strong>
          <span class="ml-2 title-info">{{ 'admissionManagement.header.information' | translate }}</span>
        </strong>
      </div>
      <div formArrayName="informationFormName">
        <div *ngFor="let infor of informationFormName.controls; let i = index" [formGroupName]="i">
          <div class="panel-body padding-xl border-info-common ui-g">
            <div class="ui-g-12 vt-row">
              <label
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">{{'app.reportSummaryTemplate.templateName'
                | translate}}</label>
              <div class="ui-g-12 ui-md-12 ui-lg-8">
                <input type="text" class="form form-control" name="formName" formControlName="formName" maxlength="200">
                <app-control-messages [control]="informationFormName.at(i).get('formName')"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12 vt-row">
              <label
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'admissionManagement.label.profileRequired'
                | translate}}</label>
              <div class="ui-g-12 ui-md-12 ui-lg-8">
                <p-checkbox [formControl]="informationFormName.at(i).get('requiredProfile')" binary="true">
                </p-checkbox>
              </div>
            </div>
            <div class="ui-g-12 vt-row">
              <label
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">{{'common.label.appendixFileForm2'
                | translate}}</label>
              <div class="ui-g-12 ui-md-12 ui-lg-8">
                <file-chooser [property]="informationFormName.at(i).get('fileImport')" validMaxSize="50"
                  validType="xls">
                </file-chooser>
                <app-control-messages [control]="informationFormName.at(i).get('fileImport')"></app-control-messages>
              </div>
            </div>
            <div class="remove-info" *ngIf="informationFormName.length > 1">
              <button type="button" (click)="removeItem(i)" class="btn-icon minus"
                [innerHTML]="'common.icon.minus' | translate"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="addInformationForm()"
          [innerHTML]="'admissionManagement.button.information' | translate">
        </button>
      </div>
    </div>
  </form>
</div>