$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #2e8ccd !default;
@import "node_modules/bootstrap/scss/bootstrap";
$fa-font-path: "../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
$fa-font-path: "./assets/fonts/inter-fonts";
@import "./assets/fonts/inter-fonts/inter.css";
@import "./assets/css/beausan/beausan.css";
//@import "./assets/fonts/inter-fonts/Inter-Black.woff";
//@import "./assets/fonts/inter-fonts/Inter-Black.woff2";
//@import "./assets/fonts/inter-fonts/Inter-BlackItalic.woff";
//@import "./assets/fonts/inter-fonts/Inter-BlackItalic.woff2";
//@import "./assets/fonts/inter-fonts/Inter-Bold.woff";
//@import "./assets/fonts/inter-fonts/Inter-Bold.woff2";
//@import "./assets/fonts/inter-fonts/Inter-BoldItalic.woff";
//@import "./assets/fonts/inter-fonts/Inter-BoldItalic.woff2";
//@import "./assets/fonts/inter-fonts/Inter-ExtraBold.woff";
//@import "./assets/fonts/inter-fonts/Inter-ExtraBold.woff2";
//@import "./assets/fonts/inter-fonts/Inter-ExtraBoldItalic.woff";
//@import "./assets/fonts/inter-fonts/Inter-ExtraBoldItalic.woff2";
//@import "./assets/fonts/inter-fonts/Inter-ExtraLight.woff";
//@import "./assets/fonts/inter-fonts/Inter-ExtraLight.woff2";
//@import "./assets/fonts/inter-fonts/Inter-ExtraLightItalic.woff";
//@import "./assets/fonts/inter-fonts/Inter-ExtraLightItalic.woff2";
//@import "./assets/fonts/inter-fonts/Inter-Italic.woff";
//@import "./assets/fonts/inter-fonts/Inter-Italic.woff2";
//@import "./assets/fonts/inter-fonts/Inter-Light.woff";
//@import "./assets/fonts/inter-fonts/Inter-Light.woff2";
//@import "./assets/fonts/inter-fonts/Inter-LightItalic.woff";
//@import "./assets/fonts/inter-fonts/Inter-LightItalic.woff2";
//@import "./assets/fonts/inter-fonts/Inter-Medium.woff";
//@import "./assets/fonts/inter-fonts/Inter-Medium.woff2";
//@import "./assets/fonts/inter-fonts/Inter-MediumItalic.woff";
//@import "./assets/fonts/inter-fonts/Inter-MediumItalic.woff2";
//@import "./assets/fonts/inter-fonts/Inter-Regular.woff";
//@import "./assets/fonts/inter-fonts/Inter-Regular.woff2";
//@import "./assets/fonts/inter-fonts/Inter-SemiBold.woff";
//@import "./assets/fonts/inter-fonts/Inter-SemiBold.woff2";
//@import "./assets/fonts/inter-fonts/Inter-SemiBoldItalic.woff";
//@import "./assets/fonts/inter-fonts/Inter-SemiBoldItalic.woff2";
//@import "./assets/fonts/inter-fonts/Inter-Thin.woff";
//@import "./assets/fonts/inter-fonts/Inter-ThinItalic.woff";
//@import "./assets/fonts/inter-fonts/Inter-Thin.woff2";
//@import "./assets/fonts/inter-fonts/Inter-ThinItalic.woff2";


