<form id="formView" [formGroup]="formView">
  <!-- Thông tin chung -->
  <div class="panel panel-default card-info">
    <div class="panel-heading" translate>
      <strong class="child-header">
        app.organization.commonInformation
      </strong>
    </div>
    <div *ngIf="!isMobileScreen" class="panel-body ui-g" >
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'common.label.fullName' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="employeeName" formControlName="employeeName">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.officerNumber' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" name="formatedSoldierNumber" formControlName="formatedSoldierNumber" class="form-control">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'common.label.gender' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="single" [value]="1" name="gender" formControlName="gender">
              <i></i>
              {{'common.label.male' | translate}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="single" [value]="2" name="gender" formControlName="gender">
              <i></i>
              {{'common.label.female' | translate}}
            </label>
          </div>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.aliases' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="aliasName" formControlName="aliasName">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'staffManager.Label.dateOfBirth' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <date-picker [property]="f['dateOfBirth']" [disabled]="true"></date-picker>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.nationality' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['nationId']"
            [options]="nationList"
            optionLabel="name"
            optionValue="nationId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 3 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'transferactivity.label.cv' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="currentPosition" formControlName="currentPosition">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.tookOfficeDate' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <date-picker [property]="f['positionStartDate']" [disabled]="true"></date-picker>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 4 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'common.label.unit' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-10">
          <input type="text" class="form form-control" name="orgFullName" formControlName="orgFullName">
        </div>
      </div>
      <div class="ui-g-12 padding-bottom-20"><!-- Row 5 -->
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'profile.label.ddt' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['empTypeId']"
            [options]="empTypeList"
            optionLabel="name"
            optionValue="empTypeId"
            [disabled]="true"
          ></select-filter>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'profile.label.cb' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="soldierLevel" formControlName="soldierLevel">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.tookRankDate' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <date-picker [property]="f['soldierSignedDate']" [disabled]="true"></date-picker>
        </div>
      </div>
    </div>
    <div *ngIf="isMobileScreen" class="panel-body ui-g" >
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'common.label.fullName' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <input type="text" class="form form-control" name="employeeName" formControlName="employeeName">
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.officerNumber' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <input type="text" name="formatedSoldierNumber" formControlName="formatedSoldierNumber" class="form-control">
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'common.label.gender' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="single" [value]="1" name="gender" formControlName="gender">
              <i></i>
              {{'common.label.male' | translate}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="single" [value]="2" name="gender" formControlName="gender">
              <i></i>
              {{'common.label.female' | translate}}
            </label>
          </div>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.aliases' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <input type="text" class="form form-control" name="aliasName" formControlName="aliasName">
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'staffManager.Label.dateOfBirth' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <date-picker [property]="f['dateOfBirth']" [disabled]="true"></date-picker>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.nationality' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['nationId']"
            [options]="nationList"
            optionLabel="name"
            optionValue="nationId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 3 -->
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'transferactivity.label.cv' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <input type="text" class="form form-control" name="currentPosition" formControlName="currentPosition">
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.tookOfficeDate' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <date-picker [property]="f['positionStartDate']" [disabled]="true"></date-picker>
        </div>
      </div>
      <div class="ui-g-12 vt-row"><!-- Row 4 -->
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'common.label.unit' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-10">
          <input type="text" class="form form-control" name="orgFullName" formControlName="orgFullName">
        </div>
      </div>
      <div class="ui-g-12 padding-bottom-20"><!-- Row 5 -->
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'profile.label.ddt' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['empTypeId']"
            [options]="empTypeList"
            optionLabel="name"
            optionValue="empTypeId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'profile.label.cb' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <input type="text" class="form form-control" name="soldierLevel" formControlName="soldierLevel">
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.tookRankDate' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <date-picker [property]="f['soldierSignedDate']" [disabled]="true"></date-picker>
        </div>
      </div>
    </div>
  </div>

  <!-- Thông tin tùy thân -->
  <div class="panel panel-default card-info" [ngClass]="{'show': isViewMore === true}" [hidden]="isViewMore === false">
    <div class="panel-heading">
      <strong class="child-header" translate>
        employee360.personalInfo
      </strong>
    </div>
    <div *ngIf="!isMobileScreen" class="panel-body ui-g">
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.idCard' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="personalIdNumber" formControlName="personalIdNumber">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.dateIdCard' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <date-picker [property]="f['personalIdIssuedDate']" [disabled]="true"></date-picker>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.placeIdCard' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="personalIdIssuedPlace" formControlName="personalIdIssuedPlace">
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.passportNumber' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="passportNumber" formControlName="passportNumber">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.datePassportNumber' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <date-picker [property]="f['passportIssueDate']" [disabled]="true"></date-picker>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.ethnicity' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['ethnicId']"
            [options]="ethnicList"
            optionLabel="name"
            optionValue="sysCatId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.traningLevel' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input type="text" class="form form-control" name="currentEducationGrade" formControlName="currentEducationGrade">
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.degree' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['degreeId']"
            [options]="degreeList"
            optionLabel="name"
            optionValue="sysCatId"
            [disabled]="true"
          ></select-filter>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.religion' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['religionId']"
            [options]="religionList"
            optionLabel="name"
            optionValue="sysCatId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.maritalStatus' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="single" [value]="1" name="maritalStatus" formControlName="maritalStatus">
              <i></i>
              {{'generalInformation.label.single' | translate}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="married" [value]="2" name="maritalStatus" formControlName="maritalStatus">
              <i></i>
              {{'generalInformation.label.marriged' | translate}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="disvorce" [value]="3" name="maritalStatus" formControlName="maritalStatus">
              <i></i>
              {{'generalInformation.label.divorce' | translate}}
            </label>
          </div>
        </div>
        <label class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right">
          {{'generalInformation.label.empTypeFile' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['empTypeFile']"
            [options]="empTypeFileList"
            optionLabel="name"
            optionValue="code"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
    </div>
    <div *ngIf="isMobileScreen" class="panel-body ui-g">
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.idCard' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <input type="text" class="form form-control" name="personalIdNumber" formControlName="personalIdNumber">
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.dateIdCard' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <date-picker [property]="f['personalIdIssuedDate']" [disabled]="true"></date-picker>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.placeIdCard' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <input type="text" class="form form-control" name="personalIdIssuedPlace" formControlName="personalIdIssuedPlace">
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.passportNumber' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <input type="text" class="form form-control" name="passportNumber" formControlName="passportNumber">
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.datePassportNumber' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <date-picker [property]="f['passportIssueDate']" [disabled]="true"></date-picker>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.ethnicity' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['ethnicId']"
            [options]="ethnicList"
            optionLabel="name"
            optionValue="sysCatId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.traningLevel' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <input type="text" class="form form-control" name="currentEducationGrade" formControlName="currentEducationGrade">
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.degree' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['degreeId']"
            [options]="degreeList"
            optionLabel="name"
            optionValue="sysCatId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.religion' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['religionId']"
            [options]="religionList"
            optionLabel="name"
            optionValue="sysCatId"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
          {{'generalInformation.label.maritalStatus' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="single" [value]="1" name="maritalStatus" formControlName="maritalStatus">
              <i></i>
              {{'generalInformation.label.single' | translate}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="married" [value]="2" name="maritalStatus" formControlName="maritalStatus">
              <i></i>
              {{'generalInformation.label.marriged' | translate}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio" class="form-check-input control-label" id="disvorce" [value]="3" name="maritalStatus" formControlName="maritalStatus">
              <i></i>
              {{'generalInformation.label.divorce' | translate}}
            </label>
          </div>
        </div>
      </div>
      <div class="ui-g-12 vt-row">
        <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-1 control-label vt-align-right">
          {{'generalInformation.label.empTypeFile' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
          <select-filter
            [placeHolder]="'common.label.cboSelect'"
            [property]="f['empTypeFile']"
            [options]="empTypeFileList"
            optionLabel="name"
            optionValue="code"
            [disabled]="true"
          ></select-filter>
        </div>
      </div>
    </div>
  </div>

  <!-- Thông tin Đảng, Đoàn -->
  <div class="panel panel-default card-info" [ngClass]="{'show': isViewMore === true}" [hidden]="isViewMore === false">
    <div class="panel-heading">
      <strong class="child-header" translate>
        employee360.partyInfo
      </strong>
    </div>
    <div *ngIf="!isMobileScreen" class="panel-body ui-g">
      <form id="formSavePartyMember" [formGroup]="formSavePartyMember">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'organization.label.name' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <party-org-selector
              [property]="fPartyMember['partyOrganizationId'].value"
              operationKey="action.view"
              adResourceKey="resource.employeeManager"
              [defaultValue]="true"
              [disabled]="true"
            >
            </party-org-selector>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'partymanager.label.partyTitle' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <data-picker
              [property]="fPartyMember['partyPositionId'].value"
              systemCode="political"
              operationKey="action.view"
              adResourceKey="resource.employeeManager"
              objectBO="PartyPositionBO"
              codeField="code"
              nameField="name"
              selectField="partyPositionId"
              [disabled]="true"
            >
            </data-picker>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'generalInformation.label.partyCardNumber' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <input type="text" class="form form-control" name="partyNumber" formControlName="partyNumber" [autoFocus]="true" maxlength="50" [attr.disabled]="true">
            <app-control-messages [control]="fPartyMember['partyNumber']"></app-control-messages>
          </div>              
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'partymanager.label.partyAdmisionDate' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <date-picker [property]="fPartyMember['partyAdmissionDate']" [disabled]="true"></date-picker>
            <app-control-messages [control]="fPartyMember['partyAdmissionDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'partymanager.label.partyAdmision' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <input type="text" class="form form-control" name="partyAdmissionPlace" formControlName="partyAdmissionPlace" maxlength="500" [attr.disabled]="true">
            <app-control-messages [control]="fPartyMember['partyAdmissionPlace']"></app-control-messages>
          </div>
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'generalInformation.label.partyDateJoinSuccess' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <date-picker [property]="fPartyMember['partyOfficialAdmissionDate']" [disabled]="true"></date-picker>
            <app-control-messages [control]="fPartyMember['partyOfficialAdmissionDate']"></app-control-messages>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="isMobileScreen" class="panel-body ui-g">
      <form id="formSavePartyMember" [formGroup]="formSavePartyMember">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
            {{'organization.label.name' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-4">
            <party-org-selector
              [property]="fPartyMember['partyOrganizationId'].value"
              operationKey="action.view"
              adResourceKey="resource.employeeManager"
              [defaultValue]="true"
              [disabled]="true"
            >
            </party-org-selector>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
            {{'partymanager.label.partyTitle' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-4">
            <data-picker
              [property]="fPartyMember['partyPositionId'].value"
              systemCode="political"
              operationKey="action.view"
              adResourceKey="resource.employeeManager"
              objectBO="PartyPositionBO"
              codeField="code"
              nameField="name"
              selectField="partyPositionId"
              [disabled]="true"
            >
            </data-picker>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
            {{'generalInformation.label.partyCardNumber' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-4">
            <input type="text" class="form form-control" name="partyNumber" formControlName="partyNumber" [autoFocus]="true" maxlength="50" [attr.disabled]="true">
            <app-control-messages [control]="fPartyMember['partyNumber']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">              
          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
            {{'partymanager.label.partyAdmisionDate' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-4">
            <date-picker [property]="fPartyMember['partyAdmissionDate']" [disabled]="true"></date-picker>
            <app-control-messages [control]="fPartyMember['partyAdmissionDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
            {{'partymanager.label.partyAdmision' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-4">
            <input type="text" class="form form-control" name="partyAdmissionPlace" formControlName="partyAdmissionPlace" maxlength="500" [attr.disabled]="true">
            <app-control-messages [control]="fPartyMember['partyAdmissionPlace']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
            {{'generalInformation.label.partyDateJoinSuccess' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-4">
            <date-picker [property]="fPartyMember['partyOfficialAdmissionDate']" [disabled]="true"></date-picker>
            <app-control-messages [control]="fPartyMember['partyOfficialAdmissionDate']"></app-control-messages>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="ui-g-12 vt-align-center">
    <a class="text-link" (click)="viewMore()"
      [ngClass]="{'show': isViewMore === false}" [hidden]="isViewMore === true"
      [innerHTML]="'common.button.viewMore' | translate"
    >
    </a>
    <a class="text-link" (click)="viewMore()"
      [ngClass]="{'show': isViewMore === true}" [hidden]="isViewMore === false"
      [innerHTML]="'common.button.viewLess' | translate"
    >
    </a>
  </div>
</form>