<div class="modal-body orgSelectorModal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="text-u-c"><i class="fa fa-th"></i>&nbsp;
                <span>Tiến độ tải dữ liệu khen thưởng</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
                <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
                class="btn btn-span btn-sm btn-info btn-close"><i style="color: white" class="fa fa-times"></i></span>
            </div>
        </div>
        <div class="panel-body">
            <div class="no-padding-left content-file-report">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="d-flex flex-direction-column">
                            <div class="d-flex process-item">
                                <label class="titel-control">Tập thể trong sangnn</label>
                                <p-progressBar class="w-100" [value]="info[1].percent"></p-progressBar>
                            </div>
                            <div class="d-flex process-item">
                                <label class="titel-control">Khen thưởng CBNV</label>
                                <p-progressBar class="w-100" [value]="info[2].percent"></p-progressBar>
                            </div>
                            <div class="d-flex process-item">
                                <label class="titel-control">Tập thể ngoài sangnn</label>
                                <p-progressBar class="w-100" [value]="info[3].percent"></p-progressBar>
                            </div>
                            <div class="d-flex process-item">
                                <label class="titel-control">Cá nhân ngoài sangnn</label>
                                <p-progressBar class="w-100" [value]="info[4].percent"></p-progressBar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
