<div class="modal-body"> 
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSearch">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span>Tham số</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <button type="button" (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
            class="btn btn-span btn-sm btn-info btn-close"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <!-- Vùng loại thống kê theo -->
        <div class="ui-g-12 vt-row">
          <!-- Vùng tổ chức đảng -->
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
            Tổ chức Đảng
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-8">
              <party-org-selector
                [property]="f['partyOrganizationId']"
                operationKey="action.view"
                adResourceKey="resource.partyOrganizationHome"
                [defaultValue]="true"
                (onChange) = "setPartyName($event)"
              >
              </party-org-selector>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            Thống kê theo
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-8">
            <select-filter
                  [placeHolder]="'common.label.cboSelectAll'"
                  [property]="f['type']" 
                  [options]="LIST_TYPE" 
                  optionLabel="name"
                  optionValue="id"
                  [isDisplayClear]="false"
                  [autoFocus]="true"
                  >
            </select-filter>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              Đến ngày
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-8">
              <date-picker
                [property]="f['dateTo']">
              </date-picker>
            </div>
        </div>
        <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              Hiển thị
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-6">
              <select-filter
                    [placeHolder]="'common.label.cboSelectAll'"
                    [property]="f['displayType']" 
                    [options]="DISPLAY_LIST_TYPE" 
                    optionLabel="name"
                    optionValue="id"
                    [isDisplayClear]="false"
                    (onChange) = "changeModeDisplay($event)"
                    >
              </select-filter>
              <app-control-messages [control]="f['displayValue']"></app-control-messages>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <input type="number" formControlName="displayValue" name="displayValue"
              class="form-control vt-align-left" min="0" max="100">
            </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" class="btn btn-sm btn-info" (click)="processSearch()" [innerHTML]="'common.button.icon.search' | translate"></button>
        <button type="button" class="btn btn-sm btn-info" (click)="activeModal.close()" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </form>
  </div>
</div>
