<div class="content vt-nopadding">
  <div class="no-padding-left">
    <div class="panel panel-default">
      <form id="formSave" [formGroup]="formSearch">
        <div class="panel-heading">
          <strong>
            <!-- <span *ngIf="option == 1" translate> rewardPropose.importGroup</span>
            <span *ngIf="option == 2" translate> rewardPropose.importEmployee</span> -->
            <span>Cập nhật quyết định khen thưởng</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
              class="btn btn-span btn-sm"><img class="info-icon"
                src="./../../../../../../assets/images/home/Mask_Group_19561.png"></button>
          </div>
        </div>
        <div class="panel-body padding-xl ui-g" style="justify-content: center;">
          <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            Số quyết định
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <textarea maxlength="500" formControlName="decisionNumber" id="decisionNumber" cols="200" rows="1" class="form-control"></textarea>
            <app-control-messages [control]="f['decisionNumber']"></app-control-messages>
          </div>
            <!-- Ngày ngày ngân sách-->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              Ngày ban hành
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['promulgateDate']">
              </date-picker>

            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              Người ban hành
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <data-picker  [property]="f['promulgateBy']" systemCode="political" operationKey="action.view"
                           adResourceKey="resource.rewardPropose" objectBO="AllEmployeeBO" codeField="employeeCode" nameField="fullName"
                           emailField="email" mobileNumberField="mobileNumber" selectField="employeeId" (onChange)="onSelectEmployee($event)" [isRequiredField]="true"
                           [filterCondition]="employeeFilterCondition" [isSearchByPartyDomainData]="isSearchByPartyDomainData"
                           [isNotSearchByOrgDomainData]="isNotSearchByOrgDomainData"
                            isDisplayCode="true">
              </data-picker>
            </div>
<!--           Trạng thái -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              Trạng thái
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [property]="f['status']" [options]="lstStatus" optionLabel="name"
                             optionValue="id" [placeHolder]="'common.label.cboMustSelect'">
              </select-filter>
              <app-control-messages [control]="f['status']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              Lý do cập nhật
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <textarea maxlength="500" formControlName="updateReasonDescription" id="updateReasonDescription" cols="200" rows="3" class="form-control"></textarea>
              <app-control-messages [control]="f['updateReasonDescription']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="button" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"
            (click)="activeModal.close()"></button>
          <button type="submit" (click)="updateStatusRewardProposeSign()"  class="btn btn-sm btn-info" [autoFocus]="true"
            [innerHTML]="'common.button.ok' | translate"></button>
        </div>
      </form>
    </div>
  </div>
</div>
