/*Start Page Demo*/
.card-form {
    position: relative;
    background-color: transparent;
    margin-left: -14px;
    margin-top: 0px;
    margin-right: -5px;
    height: 52px;
    margin-bottom: 16px;
}

.left-nav-bar {
  font-size: 15px;
}

.left-nav-bar .header-title {
  font-size: 15px;
  font-family: 'PFBeauSansPro',Arial, "Lato", "Helvetica Neue", sans-serif !important;
  color: var(--color-nav) !important;
}

.img-fluid {
    position: absolute;
    top: 18px;
    left: 10px;
    cursor: pointer;
}

.title {
    white-space: nowrap;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.12px;
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(198,31,27,1);
}

.clearfix {
    align-items: center;
    display: flex;
    justify-content: space-between;height: 100%;
}

.left-nav-bar {
    font-size: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-header {
  display: flex;
  margin-left: 16px;
  align-items: center;
}

/*.info {*/
/*    max-height: 80vh;*/
/*    overflow-y: scroll;*/
/*}*/

::-webkit-scrollbar {
    width: 6px;
    margin-left: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn-close {
  overflow: visible;
  width: 105px;
  height: 32px;
  border-color: #D0D4DF;
  background-color: #EAEEF5;
  border-radius: 8px;
  margin-top: 8px;
  margin-right: 10px;
}

.close-icon {
  width: 16px;
  height: 16px;
  overflow: visible;
  margin-right: 10px;
  margin-top: -3px;
}

.close-label {
  white-space: nowrap;
  text-align: left;
  font-family: "PFBeauSansPro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(49,57,73,1);
}

.btn-save {
  overflow: visible;
  width: 81px;
  height: 32px;
  background: linear-gradient(#00A3F3, #0279FF);
  border-radius: 8px;
  margin-top: 8px;
  margin-right: 16px;
}

.save-icon {
  width: 16px;
  height: 16px;
  overflow: visible;
  margin-right: 10px;
  margin-top: -3px;
}

.save-label {
  white-space: nowrap;
  text-align: left;
  font-family: "PFBeauSansPro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(255,255,255,1);
}

.card-info {
    border-top: 1px solid #D7E2E3;
}

.panel-heading {
    border-top: none;
    border-bottom: none;
    padding-bottom: 25px;
}

:host ::ng-deep .ui-table table{
    height: unset;
}

:host ::ng-deep .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view .ui-table-scrollable-body{
    height: unset;
}


.border-info-common{
    /*border-left: 2px solid rgba(246,183,109,1);*/
    /*border-right: 2px solid rgba(246,183,109,1);*/
    border-radius: 8px 8px 8px 8px;
    /*border-bottom: 2px solid rgba(246,183,109,1);*/
}
/* mobile*/
@media (min-width: 374px) and (max-width: 576px){
    .title {
        font-size: 14px !important;
    }

    .title-info {
        font-size: 14px !important;
    }
  }
  @media (min-width: 577px) and (max-width: 767px){
    .title {
        font-size: 12px !important;
    }

    .title-info {
        font-size: 12px !important;
    }

    .btn-close {
        width: 90px !important;
        height: 26px !important;
        margin-top: 12px !important;
    }
      
    .close-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }
      
    .close-label {
        font-size: 12px !important;
    }
      
    .btn-save {
        width: 65px !important;
        height: 26px !important;
        margin-top: 12px !important;
    }
      
    .save-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }
      
    .save-label {
        font-size: 12px !important;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px){
    .title {
        font-size: 12px !important;
    }

    .title-info {
        font-size: 12px !important;
    }

    .btn-close {
        width: 90px !important;
        height: 26px !important;
        margin-top: 12px !important;
    }
      
    .close-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }
      
    .close-label {
        font-size: 12px !important;
    }
      
    .btn-save {
        width: 65px !important;
        height: 26px !important;
        margin-top: 12px !important;
    }
      
    .save-icon {
        width: 12px !important;
        height: 12px !important;
        margin-right: 5px !important;
    }
      
    .save-label {
        font-size: 12px !important;
    }
  }
  @media (min-width: 992px) {

  }
  @media (min-width: 1200px) {

  }
  @media (min-width: 1400px) {

  }
  @media (min-width: 1920px) {

  }
