<div class="content vt-nopadding">
  <div class="no-padding-left">
    <form id="frmSavePartyPunishment" [formGroup]="formSave">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>
            <span *ngIf="!formSave.get('partyPunishmentId').value">
              {{'partyPunishment.label.insert' | translate}}
            </span>
            <span *ngIf="formSave.get('partyPunishmentId').value">
              {{'partyPunishment.label.update' | translate}}
            </span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
              class="btn btn-span btn-sm"><img class="info-icon" src="./../../../../../../assets/images/home/Mask_Group_19561.png"></button>
          </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'partyPunishment.decideNum' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input type="text" class="form form-control" formControlName="decideNum" maxlength="100" [autoFocus]="true">
              <app-control-messages [control]="f['decideNum']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
              {{'partyPunishment.partyOrganization' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <party-org-selector [property]="f['partyOrganizationId']" operationKey="action.view"
                adResourceKey="resource.partyPunishment" [isRequiredField]="true">
              </party-org-selector>
              <app-control-messages [control]="f['partyOrganizationId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'partyPunishment.decideLevel' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <party-org-selector [property]="f['decideLevelId']" operationKey="action.view"
                adResourceKey="resource.partyPunishment" [isRequiredField]="true">
              </party-org-selector>
              <app-control-messages [control]="f['decideLevelId']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
              {{'partyPunishment.punishmentForm' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [placeHolder]="'common.label.cboMustSelect'" [property]="f['punishmentFormId']"
                [options]="listPunishmentForm" optionLabel="name" optionValue="sysCatId">
              </select-filter>
              <app-control-messages [control]="f['punishmentFormId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partyPunishment.decideDate' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['decideDate']"></date-picker>
              <app-control-messages [control]="f['decideDate']"></app-control-messages>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
              {{'common.label.attachmentFile' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <multi-file-chooser [property]="f['files']" fileName="fileAttachment" validMaxSize="50"
                validType="png,jpg,gif,tiff,bmp,xls,xlsx,doc,docx,pdf,rar,zip,7z" downLoadFile="true">
              </multi-file-chooser>
              <app-control-messages [control]="f['files']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partyPunishment.reason' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-9">
              <textarea type="text-area" rows="3" class="form-control" formControlName="reason"
                maxlength="1000"></textarea>
              <app-control-messages [control]="f['reason']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm vt-btn btn-submit"
            [innerHTML]="'common.button.icon.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm vt-btn"
            [innerHTML]="'common.button.out' | translate"></button>
        </div>
      </div>
    </form>
  </div>
</div>