.card-header {
    white-space: nowrap;
    text-align: left;
    font-family: "PFBeauSansPro";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(198,31,27,1);
    letter-spacing: 0.12px;
    background-color: #fff;
}

.card-footer {
    padding: 0;
    background-color: #fff;
}

.panel-heading {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}