<div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
        <div class="panel-heading vt-relative">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>&nbsp;
                <span *ngIf="!update && !view">Chi tiết đăng ký thi đua</span>
                <span *ngIf="update">Chi tiết đăng ký thi đua</span>
                <span *ngIf="view">Chi tiết đăng ký thi đua</span>
            </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12 vt-row">
                <label [class]="firstTitle">
<!--                              {{'propaganda.thoughtEffectiveDate' | translate}}-->
                    Tên chương trình
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <input type="text" class="form form-control" name="reason" formControlName="competitionName"
                                           maxlength="50" autocomplete="off"
                                           [disabled]="view">
                    <app-control-messages [control]="f['reason']"></app-control-messages>
                </div>
            </div>
        </div>
    </form>
</div>