.form-sign-process{
    border: 1px solid;
    background-color: var(--background-grid);
    padding: 0px 20px;
    border-color: var(--background-color-header) !important;
}

.info-title {
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0;
    color: rgba(38,1,0,1)
}

/* div 1*/
.info-employee-col {
    display: flex;
    align-items: center;
}

.info-employee-col .avt-employee {
    width: 175px;
    height: 175px;
    background-color: rgba(38,1,0,1);
    margin: 0% 2% 1% 0%;
    border-radius: 1.5rem;
}

.info-employee-col .info-emp {
    width: 500px;
    max-height: 175px;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 5px;
}

.info-employee-col .info-emp .info-emp-item {
    display: flex;
    height: 48px;
    font-size: 16px;
}

.info-employee-col .info-emp .info-emp-item .info-emp-value {
    margin-left: 24px;
}
/* div 2*/

.info-compete-process {
    height: auto;
}

.info-compete-process .info-compete .info-compete-item {
    display: flex;
    height: 48px;
    font-size: 16px;
}

.info-compete-process .info-compete .info-compete-col {
    display:flex;
    justify-content: space-between;
}

.info-compete-process .info-compete .info-compete-col .second-col{
    padding-right: 10%;
}

.info-compete-process .info-compete .info-compete-item .info-compete-value {
    margin-left: 24px;
}

.info-label {
    width: 150px;
    margin-right: 8px;
    font-size: 16px;
}
/* div 3*/
.info-approve-item1{
    display: flex;
    font-size: 16px;
    height: 48px;
}
.info-approve-item{
    display: flex;
    font-size: 16px;
}
.info-approve-item .info-approve-label {
    width: 150px;
    margin-right: 8px;
    font-size: 16px;
}
.info-approve-item .info-approve-value{
    margin-left: 24px;
}

.info-approve-value.reason-approve{
    width: 89%;
}
.info-approve-item-col1, .info-approve-item-col2{
    display: flex;
    width: 50%;
}
.info-approve-item-col2{
    justify-content: flex-end;
    padding-right: 202px;
}

.info-approve-item-col1 .info-approve-value, .info-approve-item-col2 .info-approve-value{
    width: 50%;
    margin-left: 24px;
}

.info-approve-item-col1 .info-approve-label, .info-approve-item-col2 .info-approve-label{
    width: 150px;
    margin-right: 8px;
    font-size: 16px;
}

.info-approve .info-approve-col .info-approve-footer{
    text-align: center;
    margin: 25px 0px;
}

div.label-required:after {
    content: " *";
    color: #f05050;
}
