<div class="content vt-nopadding">
  <div class="no-padding-left">
    <div class="panel-default">
      <div class="panel-heading vt-relative">
        <strong>
          Lịch sử nhập tiêu chí
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
            class="btn btn-span btn-sm"><img class="info-icon" src="./../../../../../../assets/images/home/Mask_Group_19561.png"></button>
        </div>
      </div>
      <div class="panel-body panel-table" style="padding: 16px;">
        <p-table 
        #ptable 
        [value]="data" 
        [paginator]="true" 
        (onLazyLoad)="processSearchHis($event)" 
        [lazy]="true"
        [rows]="changeRow"
        [totalRecords]="recordsTotal" 
        [scrollable]="true" [lazyLoadOnInit]="false"
        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" 
        styleClass="controlOverflow">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-12">
              <col class="size-4">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th [pSortableColumn]="'content'">
                Nội dung
                <p-sortIcon [field]="'content'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'createdDate'">
                Ngày tạo
                <p-sortIcon [field]="'createdDate'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-left">{{item.content}}</td>
              <td class="vt-align-center">{{item.createdDate |displayDate}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="14" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)"  [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
      </div>
    </div>
  </div>
</div>