<div *ngIf="hasPermission('action.view')" class="card-emp">
  <form id="formSave" [formGroup]="formSave">
    <div id="employeeT63Information" class="card card-info">
      <div class="card-header">
        <div>
          <img class="header-icon" [ngClass]="{'transform-icon': hideEmployeeT63Information === true}" src="./../../../../../../assets/images/home/Group_18932.png" (click)="hideEmployeeT63Information = !hideEmployeeT63Information">
          <span translate>partymanager.label.employeeT63Information</span>
        </div>
      </div>
      <div *ngIf="!hideEmployeeT63Information" class="card-body">
        <div *ngIf="!isMobileScreen" class="panel-body ui-g">
          <div class="ui-g-12 vt-row"><!-- Row 1 -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.number' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['formatedSoldierNumber'].value }}</span>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.ethnicId' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['ethnic'].value }}</span>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.religionId' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['religion'].value }}</span>
            </div>
          </div>
          <div class="ui-g-12 vt-row"><!-- Row 2 -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'employeeT63.sangnnStartDate' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['sangnnStartDate'].value | displayDate }}</span>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.recuitmentDate' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['firsSignCNVQP'].value |displayDate }}</span>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.ArmyJoinDate' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['mobilizationDate'].value | displayDate }}</span>
            </div>
          </div>
          <div class="ui-g-12 vt-row"><!-- Row 3 -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.demobilizationDate' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['demobilizationDate'].value |displayDate }}</span>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.dayOfReincarnation' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['remobilizationDate'].value | displayDate }}</span>
            </div>
          </div>
          <div class="ui-g-12 vt-row"><!-- Row 4 -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.Abroaded' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              <textarea type="text" rows="2" name="t36Abroad" class="form-control" formControlName="t36Abroad" maxlength="1000"
                (blur)="onBlurTextArea(f['t36Abroad'], 't36Abroad', 1, 50, 0)">
              </textarea>
              <app-control-messages [control]="f['t36Abroad']"></app-control-messages>
              <div class="errorMessageDiv" [ngClass]="{'show': textAreaWarningList[textAreaControlList.indexOf('t36Abroad')]}">
                <small *ngIf="textAreaWarningList[textAreaControlList.indexOf('t36Abroad')]" class="text-danger errorMessage">
                  {{'employeeT63.export.textAreaWarning' | translate}}
                </small>
              </div>
            </div>
          </div>
          <div class="ui-g-12 vt-row"><!-- Row 5 -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.beforeJoinRevolution' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              <textarea type="text" rows="2" name="t36PriorRevolution" class="form-control" formControlName="t36PriorRevolution" maxlength="1000"
                (blur)="onBlurTextArea(f['t36PriorRevolution'], 't36PriorRevolution', 2, 28, 93)">
              </textarea>
              <app-control-messages [control]="f['t36PriorRevolution']"></app-control-messages>
              <div class="errorMessageDiv" [ngClass]="{'show': textAreaWarningList[textAreaControlList.indexOf('t36PriorRevolution')]}">
                <small *ngIf="textAreaWarningList[textAreaControlList.indexOf('t36PriorRevolution')]" class="text-danger errorMessage">
                  {{'employeeT63.export.textAreaWarning' | translate}}
                </small>
              </div>
            </div>
          </div>
          <div class="ui-g-12 vt-row"><!-- Row 6 -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.housingSituation' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-10">
              <textarea type="text" rows="2" name="t36Housing" class="form-control" formControlName="t36Housing" maxlength="1000"
                (blur)="onBlurTextArea(f['t36Housing'], 't36Housing', 2, 47, 93)">
              </textarea>
              <app-control-messages [control]="f['t36Housing']"></app-control-messages>
              <div class="errorMessageDiv" [ngClass]="{'show': textAreaWarningList[textAreaControlList.indexOf('t36Housing')]}">
                <small *ngIf="textAreaWarningList[textAreaControlList.indexOf('t36Housing')]" class="text-danger errorMessage">
                  {{'employeeT63.export.textAreaWarning' | translate}}
                </small>
              </div>
            </div>
          </div>
          <div class="ui-g-12 vt-row"><!-- Row 7 -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.typeHeathy' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="t36HealthLevelId"
                    [value]="12826" name="t36HealthLevelId" formControlName="t36HealthLevelId">
                  <i></i>
                  {{'partymanager.label.notGood' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="t36HealthLevelId"
                    [value]="12825" name="t36HealthLevelId" formControlName="t36HealthLevelId">
                  <i></i>
                  {{'partymanager.label.good' | translate}}
                </label>
              </div>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'partymanager.label.mainDisease' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <input type="text" class="form form-control" name="t36Diseases" formControlName="t36Diseases" maxlength="1000"
                (blur)="onBlurTextArea(f['t36Diseases'], 't36Diseases', 1, 35, 0)">
              <app-control-messages [control]="f['t36Diseases']"></app-control-messages>
              <div class="errorMessageDiv" [ngClass]="{'show': textAreaWarningList[textAreaControlList.indexOf('t36Diseases')]}">
                <small *ngIf="textAreaWarningList[textAreaControlList.indexOf('t36Diseases')]" class="text-danger errorMessage">
                  {{'employeeT63.export.textAreaWarning' | translate}}
                </small>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isMobileScreen" class="panel-body ui-g">
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.number' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['formatedSoldierNumber'].value }}</span>
            </div>
            <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.ethnicId' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['ethnic'].value }}</span>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.religionId' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['religion'].value }}</span>
            </div>
            <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
              {{'employeeT63.sangnnStartDate' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['sangnnStartDate'].value | displayDate }}</span>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.recuitmentDate' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['firsSignCNVQP'].value |displayDate }}</span>
            </div>
            <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.ArmyJoinDate' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['mobilizationDate'].value | displayDate }}</span>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.demobilizationDate' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['demobilizationDate'].value |displayDate }}</span>
            </div>
            <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.dayOfReincarnation' | translate}}:
            </label>
            <div class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-left">
              <span style="font-weight: normal">{{ f['remobilizationDate'].value | displayDate }}</span>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.Abroaded' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-10">
              <textarea type="text" rows="2" name="t36Abroad" class="form-control" formControlName="t36Abroad" maxlength="1000"
                (blur)="onBlurTextArea(f['t36Abroad'], 't36Abroad', 1, 50, 0)">
              </textarea>
              <app-control-messages [control]="f['t36Abroad']"></app-control-messages>
              <div class="errorMessageDiv" [ngClass]="{'show': textAreaWarningList[textAreaControlList.indexOf('t36Abroad')]}">
                <small *ngIf="textAreaWarningList[textAreaControlList.indexOf('t36Abroad')]" class="text-danger errorMessage">
                  {{'employeeT63.export.textAreaWarning' | translate}}
                </small>
              </div>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.beforeJoinRevolution' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-10">
              <textarea type="text" rows="2" name="t36PriorRevolution" class="form-control" formControlName="t36PriorRevolution" maxlength="1000"
                (blur)="onBlurTextArea(f['t36PriorRevolution'], 't36PriorRevolution', 2, 28, 93)">
              </textarea>
              <app-control-messages [control]="f['t36PriorRevolution']"></app-control-messages>
              <div class="errorMessageDiv" [ngClass]="{'show': textAreaWarningList[textAreaControlList.indexOf('t36PriorRevolution')]}">
                <small *ngIf="textAreaWarningList[textAreaControlList.indexOf('t36PriorRevolution')]" class="text-danger errorMessage">
                  {{'employeeT63.export.textAreaWarning' | translate}}
                </small>
              </div>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.housingSituation' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-10">
              <textarea type="text" rows="2" name="t36Housing" class="form-control" formControlName="t36Housing" maxlength="1000"
                (blur)="onBlurTextArea(f['t36Housing'], 't36Housing', 2, 47, 93)">
              </textarea>
              <app-control-messages [control]="f['t36Housing']"></app-control-messages>
              <div class="errorMessageDiv" [ngClass]="{'show': textAreaWarningList[textAreaControlList.indexOf('t36Housing')]}">
                <small *ngIf="textAreaWarningList[textAreaControlList.indexOf('t36Housing')]" class="text-danger errorMessage">
                  {{'employeeT63.export.textAreaWarning' | translate}}
                </small>
              </div>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
              {{'partymanager.label.typeHeathy' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-3">
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="t36HealthLevelId"
                    [value]="12826" name="t36HealthLevelId" formControlName="t36HealthLevelId">
                  <i></i>
                  {{'partymanager.label.notGood' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="t36HealthLevelId"
                    [value]="12825" name="t36HealthLevelId" formControlName="t36HealthLevelId">
                  <i></i>
                  {{'partymanager.label.good' | translate}}
                </label>
              </div>
            </div>
          </div>
          <div class="ui-g-12 vt-row">
            <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-3 control-label vt-align-right">
              {{'partymanager.label.mainDisease' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-4">
              <input type="text" class="form form-control" name="t36Diseases" formControlName="t36Diseases" maxlength="1000"
                (blur)="onBlurTextArea(f['t36Diseases'], 't36Diseases', 1, 35, 0)">
              <app-control-messages [control]="f['t36Diseases']"></app-control-messages>
              <div class="errorMessageDiv" [ngClass]="{'show': textAreaWarningList[textAreaControlList.indexOf('t36Diseases')]}">
                <small *ngIf="textAreaWarningList[textAreaControlList.indexOf('t36Diseases')]" class="text-danger errorMessage">
                  {{'employeeT63.export.textAreaWarning' | translate}}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="politicalAndEconomicSituationOfFamily" class="card card-info">
      <div class="card-header">
        <div>
          <img class="header-icon" [ngClass]="{'transform-icon': hidePoliticalAndEconomicSituationOfFamily === true}" src="./../../../../../../assets/images/home/Group_18932.png" (click)="hidePoliticalAndEconomicSituationOfFamily = !hidePoliticalAndEconomicSituationOfFamily">
          <span translate>partymanager.label.politicalAndEconomicSituationOfFamily</span>
        </div>
      </div>
      <div *ngIf="!hidePoliticalAndEconomicSituationOfFamily" class="card-body">
        <div *ngIf="!isMobileScreen" class="panel-body ui-g">
          <div class="panel panel-default">
            <div class="ui-g-12 vt-row" ><!-- Row 1 -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.fullNameDad' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="fatherName" formControlName="fatherName">
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.birth_day' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2 " style="display: inline-flex">
                <div class="display-table">
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="fatherDayOfBirth" formControlName="fatherDayOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="fatherMonthOfBirth" formControlName="fatherMonthOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 40%;">
                    <input type="text" class="form form-control" name="fatherYearOfBirth" formControlName="fatherYearOfBirth">
                  </div>
                </div>
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.job' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="fatherJob" formControlName="fatherJob">
              </div>
            </div>
            <div class="ui-g-12 vt-row" ><!-- Row 2 -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.fullNameMom' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="motherName" formControlName="motherName">
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.birth_day' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2 " style="display: inline-flex">
                <div class="display-table">
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="motherDayOfBirth" formControlName="motherDayOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="motherMonthOfBirth" formControlName="motherMonthOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 40%;">
                    <input type="text" class="form form-control" name="motherYearOfBirth" formControlName="motherYearOfBirth">
                  </div>
                </div>
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.job' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="motherJob" formControlName="motherJob">
              </div>
            </div>
            <div class="ui-g-12 vt-row"><!-- Row 3 -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'generalInformation.label.FamilyMember' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <select-filter
                  [property]="f['familyTypeId']"
                  [options]="familyTypeList"
                  optionLabel="name"
                  optionValue="sysCatId"
                  [placeHolder]="'common.label.cboSelect'"
                >
                </select-filter>
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.nativeLand' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="t36PermanentAddress" formControlName="t36PermanentAddress" maxlength="100">
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.current_address' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="t36CurrentAddress" formControlName="t36CurrentAddress" maxlength="100">
              </div>
            </div>
            <div class="ui-g-12 vt-row"><!-- Row 4 -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.bornByParent' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="t36SiblingNumber" formControlName="t36SiblingNumber" maxlength="2">
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.numberOfSon' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="t36BrotherNumber" formControlName="t36BrotherNumber" maxlength="2">
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.sonOfNumber' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="t36YourPosition" formControlName="t36YourPosition" maxlength="2">
              </div>
            </div>
            <div class="ui-g-12 vt-row"><!-- Row 5 -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.politicalAndEconomicSituationOfGD' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-10">
                <textarea type="text" rows="2" name="t36FamilyDesciption" class="form-control" formControlName="t36FamilyDesciption" maxlength="1000"
                  (blur)="onBlurTextArea(f['t36FamilyDesciption'], 't36FamilyDesciption', 6, null, 100)">
                </textarea>
                <app-control-messages [control]="f['t36FamilyDesciption']"></app-control-messages>
                <div class="errorMessageDiv" [ngClass]="{'show': textAreaWarningList[textAreaControlList.indexOf('t36FamilyDesciption')]}">
                  <small *ngIf="textAreaWarningList[textAreaControlList.indexOf('t36FamilyDesciption')]" class="text-danger errorMessage">
                    {{'employeeT63.export.textAreaWarning' | translate}}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isMobileScreen" class="panel-body ui-g">
          <div class="panel panel-default">
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.fullNameDad' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="fatherName" formControlName="fatherName">
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.birth_day' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2 " style="display: inline-flex">
                <div class="display-table">
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="fatherDayOfBirth" formControlName="fatherDayOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="fatherMonthOfBirth" formControlName="fatherMonthOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 40%;">
                    <input type="text" class="form form-control" name="fatherYearOfBirth" formControlName="fatherYearOfBirth">
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.job' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="fatherJob" formControlName="fatherJob">
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.fullNameMom' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="motherName" formControlName="motherName">
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.birth_day' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2 " style="display: inline-flex">
                <div class="display-table">
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="motherDayOfBirth" formControlName="motherDayOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="motherMonthOfBirth" formControlName="motherMonthOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 40%;">
                    <input type="text" class="form form-control" name="motherYearOfBirth" formControlName="motherYearOfBirth">
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.job' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="motherJob" formControlName="motherJob">
              </div>
            </div>
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'generalInformation.label.FamilyMember' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <select-filter
                  [property]="f['familyTypeId']"
                  [options]="familyTypeList"
                  optionLabel="name"
                  optionValue="sysCatId"
                  [placeHolder]="'common.label.cboSelect'"
                >
                </select-filter>
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.nativeLand' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="t36PermanentAddress" formControlName="t36PermanentAddress" maxlength="100">
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.current_address' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="t36CurrentAddress" formControlName="t36CurrentAddress" maxlength="100">
              </div>
            </div>
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.bornByParent' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="t36SiblingNumber" formControlName="t36SiblingNumber" maxlength="2">
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.numberOfSon' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="t36BrotherNumber" formControlName="t36BrotherNumber" maxlength="2">
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.sonOfNumber' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="t36YourPosition" formControlName="t36YourPosition" maxlength="2">
              </div>
            </div>
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.politicalAndEconomicSituationOfGD' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-10">
                <textarea type="text" rows="2" name="t36FamilyDesciption" class="form-control" formControlName="t36FamilyDesciption" maxlength="1000"
                  (blur)="onBlurTextArea(f['t36FamilyDesciption'], 't36FamilyDesciption', 6, null, 100)">
                </textarea>
                <app-control-messages [control]="f['t36FamilyDesciption']"></app-control-messages>
                <div class="errorMessageDiv" [ngClass]="{'show': textAreaWarningList[textAreaControlList.indexOf('t36FamilyDesciption')]}">
                  <small *ngIf="textAreaWarningList[textAreaControlList.indexOf('t36FamilyDesciption')]" class="text-danger errorMessage">
                    {{'employeeT63.export.textAreaWarning' | translate}}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="politicalAndEconomicSituationOfFamilyWife" class="card card-info">
      <div class="card-header">
        <div>
          <img class="header-icon" [ngClass]="{'transform-icon': hidePoliticalAndEconomicSituationOfFamilyWife === true}" src="./../../../../../../assets/images/home/Group_18932.png" (click)="hidePoliticalAndEconomicSituationOfFamilyWife = !hidePoliticalAndEconomicSituationOfFamilyWife">
          <span translate>partymanager.label.politicalAndEconomicSituationOfFamilyWife.Wife.Husband</span>
        </div>
      </div>
      <div *ngIf="!hidePoliticalAndEconomicSituationOfFamilyWife" class="card-body">
        <div *ngIf="!isMobileScreen" class="panel-body ui-g">
          <div class="panel panel-default">
            <div class="ui-g-12 vt-row" ><!-- Row 1 -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.fullNameDad' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="marriageFatherName" formControlName="marriageFatherName">
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.birth_day' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2 " style="display: inline-flex">
                <div class="display-table">
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="marriageFatherDayOfBirth" formControlName="marriageFatherDayOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="marriageFatherMonthOfBirth" formControlName="marriageFatherMonthOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 40%;">
                    <input type="text" class="form form-control" name="marriageFatherYearOfBirth" formControlName="marriageFatherYearOfBirth">
                  </div>
                </div>
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.job' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="marriageFatherJob" formControlName="marriageFatherJob">
              </div>
            </div>
            <div class="ui-g-12 vt-row"><!-- Row 2 -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.fullNameMom' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="marriageMotherName" formControlName="marriageMotherName">
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.birth_day' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2 " style="display: inline-flex">
                <div class="display-table">
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="marriageMotherDayOfBirth" formControlName="marriageMotherDayOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="marriageMotherMonthOfBirth" formControlName="marriageMotherMonthOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 40%;">
                    <input type="text" class="form form-control" name="marriageMotherYearOfBirth" formControlName="marriageMotherYearOfBirth">
                  </div>
                </div>
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.job' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="marriageMotherJob" formControlName="marriageMotherJob">
              </div>
            </div>
            <div class="ui-g-12 vt-row"><!-- Row 3 -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'generalInformation.label.FamilyMember' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <select-filter
                  [property]="f['t36MarriageFamilyTypeId']"
                  [options]="familyTypeList"
                  optionLabel="name"
                  optionValue="sysCatId"
                  [placeHolder]="'common.label.cboSelect'"
                >
                </select-filter>
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.nativeLand' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="t36MarriagePermanentAddress"
                  formControlName="t36MarriagePermanentAddress" maxlength="100">
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.current_address' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="t36MarriageCurrentAddress"
                  formControlName="t36MarriageCurrentAddress" maxlength="100">
              </div>
            </div>
            <div class="ui-g-12 vt-row"><!-- Row 4 -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.bornByParent' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="t36MarriageSiblingNumber" formControlName="t36MarriageSiblingNumber" maxlength="2">
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.numberOfSon' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="t36MarriageBrotherNumber" formControlName="t36MarriageBrotherNumber" maxlength="2">
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.sonOfNumber' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="t36MarriageYourPosition" formControlName="t36MarriageYourPosition" maxlength="2">
              </div>
            </div>
            <div class="ui-g-12 vt-row"><!-- Row 5 -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.politicalAndEconomicSituationOfGD' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-10">
                <textarea type="text" rows="2" name="t36MarriageFamilyDesciption" class="form-control" formControlName="t36MarriageFamilyDesciption" maxlength="1000"
                  (blur)="onBlurTextArea(f['t36MarriageFamilyDesciption'], 't36MarriageFamilyDesciption', 6, null, 100)"></textarea>
                <app-control-messages [control]="f['t36MarriageFamilyDesciption']"></app-control-messages>
                <div class="errorMessageDiv" [ngClass]="{'show': textAreaWarningList[textAreaControlList.indexOf('t36MarriageFamilyDesciption')]}">
                  <small *ngIf="textAreaWarningList[textAreaControlList.indexOf('t36MarriageFamilyDesciption')]" class="text-danger errorMessage">
                    {{'employeeT63.export.textAreaWarning' | translate}}
                  </small>
                </div>
              </div>
            </div>
            <div class="ui-g-12 vt-row"><!-- Row 6 -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.nameOfWife(Husband)' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="marriageName" formControlName="marriageName">
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.birth_day' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2 " style="display: inline-flex">
                <div class="display-table">
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="marriageDayOfBirth" formControlName="marriageDayOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="marriageMonthOfBirth" formControlName="marriageMonthOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 40%;">
                    <input type="text" class="form form-control" name="marriageYearOfBirth" formControlName="marriageYearOfBirth">
                  </div>
                </div>
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.job' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="marriageJob" formControlName="marriageJob">
              </div>
            </div>
            <div class="ui-g-12 vt-row"><!-- Row 7 -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right"> 
                {{'partymanager.label.currentAddress' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <input type="text" class="form form-control" name="marriageAddress" formControlName="marriageAddress">
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.componentYourself' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-2">
                <select-filter
                  [property]="f['t36MarriageTypeId']"
                  [options]="familyTypeList"
                  optionLabel="name"
                  optionValue="sysCatId"
                  [placeHolder]="'common.label.cboSelect'"
                >
                </select-filter>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isMobileScreen" class="panel-body ui-g">
          <div class="panel panel-default">
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.fullNameDad' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="marriageFatherName" formControlName="marriageFatherName">
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.birth_day' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2 " style="display: inline-flex">
                <div class="display-table">
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="marriageFatherDayOfBirth" formControlName="marriageFatherDayOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="marriageFatherMonthOfBirth" formControlName="marriageFatherMonthOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 40%;">
                    <input type="text" class="form form-control" name="marriageFatherYearOfBirth" formControlName="marriageFatherYearOfBirth">
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.job' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="marriageFatherJob" formControlName="marriageFatherJob">
              </div>
            </div>
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.fullNameMom' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="marriageMotherName" formControlName="marriageMotherName">
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.birth_day' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2 " style="display: inline-flex">
                <div class="display-table">
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="marriageMotherDayOfBirth" formControlName="marriageMotherDayOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="marriageMotherMonthOfBirth" formControlName="marriageMotherMonthOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 40%;">
                    <input type="text" class="form form-control" name="marriageMotherYearOfBirth" formControlName="marriageMotherYearOfBirth">
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.job' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="marriageMotherJob" formControlName="marriageMotherJob">
              </div>
            </div>
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'generalInformation.label.FamilyMember' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <select-filter
                  [property]="f['t36MarriageFamilyTypeId']"
                  [options]="familyTypeList"
                  optionLabel="name"
                  optionValue="sysCatId"
                  [placeHolder]="'common.label.cboSelect'"
                >
                </select-filter>
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.nativeLand' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="t36MarriagePermanentAddress"
                  formControlName="t36MarriagePermanentAddress" maxlength="100">
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.current_address' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="t36MarriageCurrentAddress"
                  formControlName="t36MarriageCurrentAddress" maxlength="100">
              </div>
            </div>
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.bornByParent' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="t36MarriageSiblingNumber" formControlName="t36MarriageSiblingNumber" maxlength="2">
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.numberOfSon' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="t36MarriageBrotherNumber" formControlName="t36MarriageBrotherNumber" maxlength="2">
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.sonOfNumber' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="t36MarriageYourPosition" formControlName="t36MarriageYourPosition" maxlength="2">
              </div>
            </div>
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.politicalAndEconomicSituationOfGD' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-10">
                <textarea type="text" rows="2" name="t36MarriageFamilyDesciption" class="form-control" formControlName="t36MarriageFamilyDesciption" maxlength="1000"
                  (blur)="onBlurTextArea(f['t36MarriageFamilyDesciption'], 't36MarriageFamilyDesciption', 6, null, 100)"></textarea>
                <app-control-messages [control]="f['t36MarriageFamilyDesciption']"></app-control-messages>
                <div class="errorMessageDiv" [ngClass]="{'show': textAreaWarningList[textAreaControlList.indexOf('t36MarriageFamilyDesciption')]}">
                  <small *ngIf="textAreaWarningList[textAreaControlList.indexOf('t36MarriageFamilyDesciption')]" class="text-danger errorMessage">
                    {{'employeeT63.export.textAreaWarning' | translate}}
                  </small>
                </div>
              </div>
            </div>
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.nameOfWife(Husband)' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="marriageName" formControlName="marriageName">
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.birth_day' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2 " style="display: inline-flex">
                <div class="display-table">
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="marriageDayOfBirth" formControlName="marriageDayOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 30%;">
                    <input type="text" class="form form-control" name="marriageMonthOfBirth" formControlName="marriageMonthOfBirth">
                  </div>
                  <div class="control-label" style="padding: 9px !important;">/</div>
                  <div class="table-cell" style="width: 40%;">
                    <input type="text" class="form form-control" name="marriageYearOfBirth" formControlName="marriageYearOfBirth">
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.job' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="marriageJob" formControlName="marriageJob">
              </div>
            </div>
            <div class="ui-g-12 vt-row">
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right"> 
                {{'partymanager.label.currentAddress' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <input type="text" class="form form-control" name="marriageAddress" formControlName="marriageAddress">
              </div>
            </div>
            <div class="ui-g-12 vt-row" >
              <label class="ui-g-12 ui-md-6 ui-sm-3 ui-lg-2 control-label vt-align-right">
                {{'partymanager.label.componentYourself' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-sm-9 ui-lg-2">
                <select-filter
                  [property]="f['t36MarriageTypeId']"
                  [options]="familyTypeList"
                  optionLabel="name"
                  optionValue="sysCatId"
                  [placeHolder]="'common.label.cboSelect'"
                >
                </select-filter>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="reviewSummary" class="card card-info">
      <div class="card-header">
        <div>
          <img class="header-icon" [ngClass]="{'transform-icon': hideReviewSummary === true}" src="./../../../../../../assets/images/home/Group_18932.png" (click)="hideReviewSummary = !hideReviewSummary">
          <span translate>partymanager.label.reviewSummary</span>
        </div>
      </div>
      <div *ngIf="!hideReviewSummary" class="card-body">
        <div class="panel-body ui-g">
          <div class="panel panel-default ui-g-12" style="padding: 0px;">
            <div class="ui-g-12 vt-row">
              <textarea type="text" rows="10" name="t36Review" class="form-control" formControlName="t36Review" maxlength="60000"
                (blur)="onBlurTextArea(f['t36Review'], 't36Review', 18, null, 96)">
              </textarea>
              <app-control-messages [control]="f['t36Review']"></app-control-messages>
              <div class="errorMessageDiv" [ngClass]="{'show': textAreaWarningList[textAreaControlList.indexOf('t36Review')]}">
                <small *ngIf="textAreaWarningList[textAreaControlList.indexOf('t36Review')]" class="text-danger errorMessage">
                  {{'employeeT63.export.textAreaWarning' | translate}}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- <button *ngIf="hasPermission('action.update')" type="submit" (click)="doSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.icon.save' | translate"></button>
        <button *ngIf="hasPermission('action.export')" (click)="activeModal()" type="submit" class="btn btn-sm btn-info" [innerHTML]="'common.button.icon.exportFile' | translate"></button> -->
        <!-- <button type="button" (click)="goBack()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button> -->
  </form>
</div>
<div *ngIf="!hasPermission('action.view')">
  {{'common.haveNoPermission' | translate}}
</div>
