<div class="content vt-nopadding">
  <div class="no-padding-left">
    <div class="panel-default">
      <div class="panel-heading vt-relative">
        <strong>
          {{partyOrgName}}
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
            class="btn btn-span btn-sm"><img class="info-icon" src="./../../../../../../assets/images/home/Mask_Group_19561.png"></button>
        </div>
      </div>
      <div class="panel-body panel-table" style="padding: 16px;">
        <p-table
        #ptable
        [value]="resultList.data"
        [paginator]="true"
        (onLazyLoad)="processSearchRewardPartyOrg($event)"
        [lazy]="true" [rows]="changeRow"
        [totalRecords]="resultList.recordsTotal"
        [scrollable]="true"
        [lazyLoadOnInit]="false"
        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
        [resizableColumns]="true"
        styleClass="controlOverflow"
      >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 50px;">
              <col style="width: 100px;">
              <col style="width: 200px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <col style="width: 200px;">
              <col style="width: 100px;">
              <col style="width: 100px;">
              <!-- <col class="size-6"> -->
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate pResizableColumn>common.table.index</th>
              <th [pSortableColumn]="'partyOrgCode'" pResizableColumn>
                {{'organization.lable.organization.controller.code' | translate}}
                <p-sortIcon [field]="'partyOrgCode'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'partyOrganizationName'" pResizableColumn>
                {{'organization.lable.organization.controller.name' | translate}}
                <p-sortIcon [field]="'partyOrganizationName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'year'" pResizableColumn>
                {{'employee.report.year' | translate}}
                <p-sortIcon [field]="'year'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'qualityRating'" pResizableColumn>
                {{'rewardOrganization.qualityRating' | translate}}
                <p-sortIcon [field]="'qualityRating'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'rewardGovernment'" pResizableColumn>
                {{'rewardOrganization.rewardGovernment' | translate}}
                <p-sortIcon [field]="'rewardGovernment'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'rewardParty'" pResizableColumn>
                {{'rewardOrganization.rewardParty' | translate}}
                <p-sortIcon [field]="'rewardParty'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'parentOrgName'" pResizableColumn>
                {{'partyOrganization.parentParty' | translate}}
                <p-sortIcon [field]="'parentOrgName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'bankAccount'" pResizableColumn>
                {{'rewardOrganization.bankAccount' | translate}}
                <p-sortIcon [field]="'bankAccount'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'bankName'" pResizableColumn>
                {{'rewardOrganization.bankName' | translate}}
                <p-sortIcon [field]="'bankName'"></p-sortIcon>
              </th>
              <!-- <th [pSortableColumn]="'status'">
                {{'request.org-tree.manage.status' | translate}}
                <p-sortIcon [field]="'status'"></p-sortIcon>
              </th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-left">
                {{item.partyOrgCode}}
              </td>
              <td class="vt-align-left">
                {{item.partyOrganizationName}}
              </td>
              <td class="vt-align-center">
                {{item.year}}
              </td>
              <td class="vt-align-left">
                {{item.qualityRating}}
              </td>
              <td class="vt-align-left">
                {{item.rewardGovernment}}
              </td>
              <td class="vt-align-left">
                {{item.rewardParty}}
              </td>
              <td class="vt-align-left">
                {{item.parentOrgName}}
              </td>
              <td class="vt-align-left">
                {{item.bankAccount}}
              </td>
              <td class="vt-align-left">
                {{item.bankName}}
              </td>
              <!-- <td class="vt-align-left">
                <div class="label-status notYet" *ngIf="item.status==0" translate>{{'rewardProposal.status.' + item.status }}</div>
                <div class="label-status warning" *ngIf="item.status==1" translate>{{'rewardProposal.status.' + item.status }}</div>
                <div class="label-status danger" *ngIf="item.status==2" translate>{{'rewardProposal.status.' + item.status }}</div>
                <div class="label-status info" *ngIf="item.status==3" translate>{{'rewardProposal.status.' + item.status}}</div>
              </td> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="14" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer (changeRow)="onTablePageChange($event)" [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="button" class="btn btn-sm vt-btn" *ngIf="hasPermission('action.export')" (click)="processExport()" [innerHTML]="'common.button.icon.exportFile' | translate" ></button>
        <button type="button" (click)="goBack()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
       </div>
    </div>
  </div>
</div>