<div class="card card-assigment p-0">
  <div class="card-header">
    <h3 class="card-title">Các nhiệm vụ đang thực hiện</h3>
    <a class="apt-icon icon-config" href="#" title="Config"></a>
  </div>
  <div class="table-responsive-sm">
    <table class="table common-table assignment-table">
      <thead >
        <tr class="vt-align-left">
          <th style="text-align: left" class="vt-align-left">Nhiệm vụ</th>
          <th style="text-align: left">Tiến độ</th>
          <th style="text-align: left" class="d-none d-md-table-cell">Kết quả thực hiện</th>
          <th class="d-none d-md-table-cell">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="#" class="assignment-title">Đánh giá kết quả triển khai Nghị quyết Đảng 2019</a>
            <span class="assigner">Cấp ủy báo Xây Dựng</span>
          </td>
          <td>
            <span class="badge badge-success badge-status">Hoàn thành</span>
          </td>
          <td class="d-none d-md-table-cell">
            <span>Kết quả vượt tiến độ 20 ngày</span>
          </td>
          <td class="text-right d-none d-md-table-cell">
            <a href="#" class="apt-icon icon-redirect"></a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="assignment-title">Công tác đền ơn đáp nghĩa</a>
            <span class="assigner">Cấp ủy báo Xây Dựng</span>
          </td>
          <td>
            <span class="badge badge-success badge-status">Hoàn thành</span>
          </td>
          <td class="d-none d-md-table-cell">
            <span>Đạt đủ chỉ tiêu</span>
          </td>
          <td class="text-right d-none d-md-table-cell">
            <a href="#" class="apt-icon icon-redirect"></a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="assignment-title">Nghị quyết Trung ương 4</a>
            <span class="assigner">Cấp ủy báo Xây Dựng</span>
          </td>
          <td>
            <span class="badge badge-warning badge-status">Tiến hành</span>
          </td>
          <td class="d-none d-md-table-cell">
            <span>Chưa có</span>
          </td>
          <td class="text-right d-none d-md-table-cell">
            <a href="#" class="apt-icon icon-redirect"></a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="assignment-title">Đánh giá kết quả triển khai Nghị quyết Đảng 2019</a>
            <span class="assigner">Cấp ủy báo Xây Dựng</span>
          </td>
          <td>
            <span class="badge badge-warning badge-status">Tiến hành</span>
          </td>
          <td class="d-none d-md-table-cell">
            <span>Kết quả vượt tiến độ 20 ngày</span>
          </td>
          <td class="text-right d-none d-md-table-cell">
            <a href="#" class="apt-icon icon-redirect"></a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="assignment-title">Xây dựng khối công đoàn</a>
            <span class="assigner">Hội phụ nữ</span>
          </td>
          <td>
            <span class="badge badge-light badge-status">Hủy</span>
          </td>
          <td class="d-none d-md-table-cell">
            <span>Nhiệm vụ đã hủy</span>
          </td>
          <td class="text-right d-none d-md-table-cell">
            <a href="#" class="apt-icon icon-redirect"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>