<div class="modal-body orgSelectorModal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="text-u-c"><i class="fa fa-th"></i>&nbsp;
                <span translate>reportFile.preview</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
                <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
                class="btn btn-span btn-sm btn-info btn-close"><i class="fa fa-times"></i></span>
            </div>
        </div>
        <div class="panel-body">
                <div class="no-padding-left content-file-report">
                    <div class="panel panel-default">
                        <div class="panel-heading vt-relative">
                            <strong class="text-u-c">
                                <i class="fa fa-th"></i>&nbsp;
                                <span translate>common.title.fileContent</span>
                            </strong>
                            <div class="d-flex align-items-center">
                                <div *ngIf="isPreviewRewardTitle">
                                    <label class="control-label" style="padding-top: 0">
                                        {{'show.massUploadImgStamp' | translate}}
                                      </label>
                                      &nbsp;
                                      <label class="i-switch bg-warning m-t-xs m-r">
                                        <input type="checkbox" name="status" [value]="1"  [(ngModel)]="isShowStamp" (ngModelChange)="onShowStamp($event)" />
                                        <i></i>
                                    </label>
                                </div>
                                <button type="button" (click)="downloadFile()" class="btn btn-sm btn-success btn-dowload"
                                    [innerHTML]="'common.button.icon.loadfile' | translate"></button>
                                <button *ngIf="isPreviewRewardTitle" type="button" (click)="downloadFile(true)" class="btn btn-sm btn-success btn-dowload"
                                    [innerHTML]="'common.button.icon.loadAllfile' | translate"></button>
                            </div>
                        </div>
                        <div *ngIf="isPreviewRewardTitle">
                            <p-paginator [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)"></p-paginator>
                        </div>
                        <div class="panel-body">
                            <div *ngIf="formType == 2" #spreadsheet style="width: 100%; height: 80vh"></div>
                            <pdf-viewer *ngIf="formType == 1" [src]="url"></pdf-viewer>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
