<div class="modal-body">
  <div class="panel-default">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        {{'massGroup.title.import' | translate}}
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
          class="btn btn-span btn-sm btn-info btn-close"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <form id="formImport" [formGroup]="formImport">
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right required">
            {{'massGroup.titleField.year' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-5">
            <select-filter [property]="f['massGroupYear']" [options]="listYear" optionLabel="year" optionValue="year"
              [placeHolder]="'common.label.cboSelect'">
            </select-filter>
            <app-control-messages [control]="f['massGroupYear']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 vt-row">
          <label class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right required">
            {{'assessmentPartyOrg.import.titleFile' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-5">
            <file-chooser
              [property]="f['fileImport']"
              validMaxSize="50"
              validType="xls"
            >
            </file-chooser>
            <app-control-messages [control]="f['fileImport']"></app-control-messages>
            <br>
            <a class="text-link" (click)="processDownloadTemplate();">
              <span translate><i class="fa fa-download"></i> app.common.downloadTemplate</span>
            </a>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processImport()" class="btn btn-sm btn-info" [innerHTML]="'assessmentPartyOrg.button.ImportFile' | translate"></button>
        <button type="button" (click)="cancel()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.out' | translate"></button>
      </div>
    </form>
    <div *ngIf="dataError">
      <import-error [data]="dataError"></import-error>
    </div>
  </div>
</div>
