<div class="content vt-nopadding">
    <div class="no-padding-left">
        <form id="frmUpdatePoliticsQuality" [formGroup]="formSave">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        {{'politicsQuality.phUpdate' | translate}}
                    </strong>
                </div>
                <div class="vt-absolute vt-shotcut-button-in-heading">
                    <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
                      class="btn btn-span btn-sm"><img class="info-icon" src="./../../../../../../assets/images/home/Mask_Group_19561.png"></button>
                </div>
                <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                            {{'common.label.partymembersCode' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <input formControlName="employeeCode" class="form-control" disabled />
                        </div>
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                            {{'EmployeeBO.fullName' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <input formControlName="fullName" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                            {{'common.label.unit' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-9">
                            <input formControlName="unitName" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                            {{'politicsQuality.politicalClass' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <div class="form-check-inline">
                                <select-filter [property]="f['politicalClass']" [options]="politicalClassList"
                                    optionLabel="name" optionValue="sysCatId"
                                    [placeHolder]="'politicsQuality.notClassified'"
                                    (onChange)="onPoliticalClassChange($event)">
                                </select-filter>
                                <span class="fa fa-info-circle" style="margin-left: 10px;"
                                    pTooltip="{{politicalClassTooltip}}" tooltipPosition="bottom" tooltipZIndex="1060"
                                    [escape]=false>
                                </span>
                            </div>
                        </div>
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                            {{'politicsQuality.evaluationDate' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <input [value]="formSave.get('evaluationDate').value | displayDateMonth"
                                formControlName="evaluationDate" class="form-control" disabled />
                        </div>
                    </div>
                    <!-- Không phân loại hoặc loại 3 thì bắt buộc phải nhập ghi chú -->
                    <div *ngIf="!formSave.get('politicalClass').value || formSave.get('politicalClass').value == 17243"
                        class="ui-g-12 vt-row">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                            {{'politicsQuality.note' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-9 ui-lg-9">
                            <textarea formControlName="note" rows="6" class="form-control" maxlength="1000"></textarea>
                            <app-control-messages [control]="f['note']"></app-control-messages>
                        </div>
                    </div>
                </div>
                <div class="panel-footer vt-area-button">
                    <button *ngIf="hasPermission('action.update')" type="submit" (click)="processSave()"
                        class="btn btn-sm vt-btn btn-submit" [innerHTML]="'common.button.icon.save' | translate"></button>
                    <button type="button" (click)="activeModal.close()" class="btn btn-sm vt-btn"
                        [innerHTML]="'common.button.out' | translate"></button>
                </div>
            </div>
        </form>
    </div>
</div>