<div class="content vt-nopadding">
  <div class="no-padding-left">
    <div class="panel panel-default">
      <!--header-->
      <form id="formAssessmentLevel" [formGroup]="formAssessmentLevel">
        <div class="panel-heading">
          <div *ngIf="isNewTheme" class="title">
          {{'assessmentResult.evaluatingAgain' | translate}}
          </div>
          <strong *ngIf="!isNewTheme">
          {{'assessmentResult.evaluatingAgain' | translate}}
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
              class="btn btn-span btn-sm"><img class="info-icon" src="./../../../../../../assets/images/home/Mask_Group_19561.png"></button>
          </div>
        </div>
        <!--body-->
        <div *ngIf="!isMobileScreen" class="panel-body padding-xl ui-g">
          <div class="control-input ui-g-12">
            <label class="ui-g-12 ui-md-12 ui-lg-12 control-label required" [ngClass]="isNewTheme ? '' : 'vt-align-right'">{{'assessmentPeriod.assessmentLevelList.orderAssessment' | translate}} </label>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
              <select-filter
                [placeHolder]="'common.label.cboMustSelect'"
                [property]="f['assessmentLevelId']"
                [options]="assessmentLevelList"
                optionLabel="assessmentLevelName"
                optionValue="assessmentLevelId"
              >
              </select-filter>
              <app-control-messages [control]="f['assessmentLevelId']"></app-control-messages>
            </div>
          </div>
          <div class="control-input ui-g-12">
            <label class="ui-g-12 ui-md-12 ui-lg-12 control-label required" [ngClass]="isNewTheme ? '' : 'vt-align-right'">
              {{'assessmentResult.evaluatingAgain.reason' | translate}}
            </label>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
              <textarea type="text"
                rows="3"
                name="reason"
                class="form-control"
                formControlName="reason"
                maxlength="500"
              >
              </textarea>
              <app-control-messages [control]="f['reason']"></app-control-messages>
            </div>
          </div>
        </div>
        <div *ngIf="isMobileScreen" class="panel-body padding-xl ui-g">
          <div class="control-input ui-g-12">
            <label class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12 control-label required" [ngClass]="isNewTheme ? '' : 'vt-align-right'">{{'assessmentPeriod.assessmentLevelList.orderAssessment' | translate}} </label>
            <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12">
              <select-filter
                [placeHolder]="'common.label.cboMustSelect'"
                [property]="f['assessmentLevelId']"
                [options]="assessmentLevelList"
                optionLabel="assessmentLevelName"
                optionValue="assessmentLevelId"
              >
              </select-filter>
              <app-control-messages [control]="f['assessmentLevelId']"></app-control-messages>
            </div>
          </div>
          <div class="control-input ui-g-12">
            <label class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12 control-label required" [ngClass]="isNewTheme ? '' : 'vt-align-right'">
              {{'assessmentResult.evaluatingAgain.reason' | translate}}
            </label>
            <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12">
              <textarea type="text"
                rows="3"
                name="reason"
                class="form-control"
                formControlName="reason"
                maxlength="500"
              >
              </textarea>
              <app-control-messages [control]="f['reason']"></app-control-messages>
            </div>
          </div>
        </div>
      </form>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="activeModal.close();"
          class="btn btn-sm vt-btn" [ngClass]="isNewTheme ? 'btn-default' : 'btn-danger'" [innerHTML]="'common.button.icon.cancel' | translate"></button>
        <button type="submit" (click)="processEvaluateAgain()"
          class="btn btn-sm vt-btn btn-submit" [ngClass]="isNewTheme ? 'btn-primary' : 'btn-info'" [innerHTML]="'common.button.icon.confirm' | translate"></button>
      </div>
    </div>
  </div>
</div>