<div class="card-form">
  <div class="clearfix"  style="height: 100%">
    <div class="left-nav-bar pull-left row-header"  style="height: 100%">
      <div style="height: 100%">
        <img alt="back" class="img-fluid" src="./../../../../../../assets/images/home/Mask_Group_18824.png"
          (click)="previous()">
        <span class="title" style="height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; color: rgba(198,31,27,1); font-family: PFBeauSansPro">{{header}}</span>
      </div>
    </div>
    <div class="right-nav-bar pull-right left-option">
      <ul class="header-right sys-ul space-line">
        <li *ngIf="!viewMode">
          <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="save()"
            [innerHTML]="'common.button.icon.save' | translate">
          </button>
        </li>
        <li *ngIf="viewMode && formGroup.value.status != null && formGroup.value.status == 0">
          <button class="btn btn-sm vt-btn btn-submit mt-btn btn-header-right ng-star-inserted" type="button"
            (click)="navigate(formGroup.value.trainingTopicId)" [innerHTML]="'common.button.icon.edit' | translate">
          </button>
        </li>
        <li *ngIf="viewMode && formGroup.value.status != null && formGroup.value.status == 0 && hasApproveEmployee">
          <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="submitToApprove()"
            [innerHTML]="'label.training-topic.submit' | translate">
          </button>
        </li>
          <li *ngIf="viewMode && formGroup.value.status != null && formGroup.value.status == 0   && !hasApproveEmployee">
              <button class="btn btn-sm vt-btn btn-submit mt-btn ng-star-inserted" type="button" (click)="submitToThorough()"
                      [innerHTML]="'label.training-topic.thorough' | translate">
              </button>
          </li>
        <li>
          <button class="btn btn-sm vt-btn mt-btn ng-star-inserted" type="button" (click)="previous()"
            [innerHTML]="'common.button.close' | translate">
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="info">
  <form id="formSave" [formGroup]="formGroup">
    <div class="panel panel-default card-info">
      <div *ngIf="!isMobileScreen" class="panel-body padding-xl ui-g border-info-common">
        <div class="ui-g-12 vt-row">
            <!-- Năm -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'label.training-topic.training-year' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter [optionValue]="'value'" [optionLabel]="'value'" [property]="f['year']" [disabled]="viewMode || editableThoroughed"
                               [options]="trainingYearOptions" [placeHolder]="'placeholder.choose'"
                               [filter]="true">
                </select-filter>
                <app-control-messages [control]="f['year']"></app-control-messages>
            </div>
          <!-- Cấp triển khai -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.training-topic.org-tkqt' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter optionLabel="name" optionValue="partyOrganizationId" [property]="f['thoroughLevel']" [disabled]="viewMode || editableThoroughed"
                             [options]="thoroughLevelOptions" [placeHolder]="'placeholder.choose'" (onChange)="onChangeThoroughLevel()"
                             [filter]="true" >
              </select-filter>
            <app-control-messages [control]="f['thoroughLevel']"></app-control-messages>
          </div>
        </div>
<!--          <div class="ui-g-12 vt-row">-->
<!--             -->
<!--          </div>-->
        <!-- 1 -->
        <div class="ui-g-12 vt-row">
          <!-- Chuyên đề đào tạo của cấp trên -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'label.training-topic.parent-training-topic' | translate}}</label>
          <div class="ui-g-12 ui-md-12 ui-lg-8">
            <parent-training-topic-picker
              [property]="f['parentId']"
              systemCode="political"
              operationKey="action.view"
              adResourceKey="CTCT_TRAINING_TOPIC"
              objectBO="TrainingTopicBO"
              codeField="thoroughLevel"
              nameField="title"
              selectField="trainingTopicId"
              (onChange)="onChangeParent()"
              [filterCondition]="filterCondition"
              [disabled]="viewMode || editableThoroughed "
            >
            </parent-training-topic-picker>
          </div>
        </div>
        <!-- 2 -->
        <div class="ui-g-12 vt-row">
          <!-- Tiêu đề -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.training-topic.title' | translate}}</label>
          <div class="ui-g-12 ui-md-12 ui-lg-8">
            <input type="text" formControlName="title" class="form-control"
              maxlength="500" [readonly]="viewMode || editableThoroughed && !(this.progressStatus == PROGRESS.WAITING) && !(this.progressStatus == PROGRESS.INPROGRESS)">
            <app-control-messages [control]="f['title']"></app-control-messages>
          </div>
        </div>
        <!-- 3 -->
        <div class="ui-g-12 vt-row">
            <!-- Đơn vị triển khai -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                {{'label.training-topic.org-tqt' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <multi-party-org-selector
                    #partyThoroughOrgSelector
                    [property]="f['trainingTopicOrgIds']"
                    operationKey="action.view"
                    adResourceKey="CTCT_TRAINING_TOPIC"
                    [filterCondition]="filterConditionThoroughLevel"
                    [disabled]="viewMode || editableThoroughed "
                    (onChange)="onChangeTargetThorough()"
                    isRequiredField="true">
                </multi-party-org-selector>
                <app-control-messages [control]="f['trainingTopicOrgIds']"></app-control-messages>
            </div>
          <!-- Phân nhóm -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.training-topic.group' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter optionLabel="label" optionValue="value" [property]="f['issueLevel']" [disabled]="viewMode || hasParentTrainingTopic || editableThoroughed "
              [options]="issueLevelOptions" [placeHolder]="'placeholder.choose'"
              [filter]="true" >
              </select-filter>
            <app-control-messages [control]="f['issueLevel']"></app-control-messages>
          </div>
        </div>
        <!-- 4 -->
        <div class="ui-g-12 vt-row">
            <!-- Người phê duyệt -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'label.thorough-content.approver_id' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <data-picker
                        [property]="f['approveEmployeeId']"
                        systemCode="political"
                        operationKey="action.view"
                        [disabled]="viewMode || editableThoroughed "
                        adResourceKey="CTCT_TRAINING_TOPIC"
                        objectBO="EmployeeBO"
                        codeField="employeeCode"
                        nameField="fullName"
                        emailField="email"
                        mobileNumberField="mobileNumber"
                        selectField="employeeId"
                        [isDisplayCode]="false"
                        [filterCondition]=filterConditionApprover
                >
                </data-picker>
                <app-control-messages [control]="f['approveEmployeeId']"></app-control-messages>
            </div>
<!--            &lt;!&ndash; Hình thức đào tạo &ndash;&gt;-->
<!--            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">-->
<!--                {{'label.training-topic.form-of-training' | translate}}</label>-->
<!--            <div class="ui-g-12 ui-md-6 ui-lg-3">-->
<!--                <select-filter [optionLabel]="'name'" [optionValue]="'id'" [property]="f['formOfTraining']" [disabled]="viewMode  || editableThoroughed"-->
<!--                               [options]="formOfConfirmationOptions" [placeHolder]="'placeholder.choose'"-->
<!--                               [filter]="true" >-->
<!--                </select-filter>-->
<!--                <app-control-messages [control]="f['formOfTraining']"></app-control-messages>-->
<!--            </div>-->
            <!-- Đối tượng đào tạo -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                {{'label.training-topic.training-objects' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter [optionLabel]="'name'" [optionValue]="'id'" [property]="f['objectType']" [disabled]="viewMode || hasParentTrainingTopic || editableThoroughed  "
                               [options]="objectOptions" [placeHolder]="'placeholder.choose'" (onChange)="onChangeObjectType()"
                               [filter]="true" >
                </select-filter>
                <app-control-messages [control]="f['objectType']"></app-control-messages>
            </div>
        </div>
        <!-- 5 -->
        <div class="ui-g-12 vt-row">
            <!-- Ngày bắt đầu -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                {{'label.training-topic.from-date' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker [disabled]=" viewMode || editableThoroughed && !(this.progressStatus == PROGRESS.WAITING)" [property]="f['startDate']"></date-picker>
                <app-control-messages [control]="f['startDate']"></app-control-messages>
                <div *ngIf="validateStartDate()" class="errorMessageDiv show">
                    <small class="text-danger errorMessage ng-star-inserted">
                        {{'training-topic.input.start-date' | translate}}
                    </small>
                </div>
                <div *ngIf="validateStartDateForQuickDeploy()" class="errorMessageDiv show">
                    <small class="text-danger errorMessage ng-star-inserted">
                        {{'training-topic.input.start-date-quick-deploy' | translate}}
                    </small>
                </div>
            </div>
          <!-- Tên nhóm đối tượng -->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'label.training-topic.object-type-name' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <multi-select-filter *ngIf="f['objectType'].value === 1" [optionLabel]="'name'" [optionValue]="'id'" [property]="f['objectTypeTraining']"
              [options]="objectTypeOptions" [showVertical] = true [disabled]="viewMode || hasParentTrainingTopic || editableThoroughed"
              >
            </multi-select-filter>
              <input *ngIf="f['objectType'].value === 2" type="text" formControlName="objectTypeTraining" class="form-control"
                     maxlength="50" [readOnly]="viewMode || hasParentTrainingTopic || editableThoroughed"/>
            <app-control-messages  [control]="f['objectTypeTraining']"></app-control-messages>
          </div>
        </div>
        <!-- 6 -->
        <div class="ui-g-12 vt-row">
            <!-- ngay ket thuc -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                {{'label.training-topic.to-date' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker [disabled]=" viewMode " [property]="f['endDate']"></date-picker>
                <app-control-messages [control]="f['endDate']"></app-control-messages>
                <div *ngIf="validateEndDate()" class="errorMessageDiv show">
                    <small class="text-danger errorMessage ng-star-inserted">
                        {{'training-topic.input.end-date' | translate}}
                    </small>
                </div>
                <div *ngIf="validateEndDateHaveParent()" class="errorMessageDiv show">
                    <small class="text-danger errorMessage ng-star-inserted">
                        {{'training-topic.input.parent-end-date' | translate}}
                    </small>
                </div>
            </div>
          <!-- Yêu cầu đơn vị triển khai đào tạo-->
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'label.training-topic.required-thorough' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <p-checkbox  [formControl]="f['requiredThorough']" binary="true" [disabled]="viewMode || isBranch || editableThoroughed">
            </p-checkbox>
          </div>
        </div>
        <!-- 7 -->
        <div class="ui-g-12 vt-row">
<!--            Ngày chốt quân số đào tạo-->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                {{'label.training-topic.closing-date' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker [disabled]="viewMode || editableThoroughed && !(this.progressStatus == PROGRESS.WAITING)" [property]="f['finishNumberDate']" ></date-picker>
                <app-control-messages [control]="f['finishNumberDate']"></app-control-messages>
                <div *ngIf="validateFinishNumberDate()" class="errorMessageDiv show">
                    <small class="text-danger errorMessage ng-star-inserted">
                        {{'training-topic.input.finish-number-date' | translate}}
                    </small>
                </div>
                <div *ngIf="validateFinishNumberDateHaveParent()" class="errorMessageDiv show">
                    <small class="text-danger errorMessage ng-star-inserted">
                        {{'training-topic.input.parent-finish-number-date' | translate}}
                    </small>
                </div>
            </div>
            <!-- Tổng số giờ đào tạo -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                {{'label.training-topic.total-training-hours' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="text"  formControlName="totalTime"
                              class="form-control" [readonly]="viewMode || hasParentTrainingTopic || editableThoroughed">
                <app-control-messages [control]="f['totalTime']"></app-control-messages>
            </div>
        </div>

        <!-- 13 -->

          <div class="ui-g-12 vt-row">
              <!-- Chỉ tiêu KPI -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                  {{'label.training-topic.kpi.number' | translate}}</label>
              <div  class="ui-g-12 ui-md-6 ui-lg-3">
                  <input  type="text" formControlName="kpiNumber" class="form-control"
                          maxlength="50" [readonly]="viewMode || hasParentTrainingTopic || editableThoroughed && !(this.progressStatus == PROGRESS.WAITING)"/>
                  <app-control-messages [control]="f['kpiNumber']"></app-control-messages>
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'label.training-topic.kpi.average' | translate}}</label>
              <div  class="ui-g-12 ui-md-6 ui-lg-3">
                  <input  type="text" formControlName="kpiAverage" class="form-control"
                          maxlength="50" [readonly]="viewMode || hasParentTrainingTopic || editableThoroughed && !(this.progressStatus == PROGRESS.WAITING)"/>
                  <app-control-messages [control]="f['kpiAverage']"></app-control-messages>
              </div>
          </div>
          <div class="ui-g-12 vt-row">
              <!-- Chỉ tiêu KPI -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                  {{'label.training-topic.kpi.excellent' | translate}}
                  </label>
              <div  class="ui-g-12 ui-md-6 ui-lg-3">
                  <input  type="text" formControlName="kpiExcellent" class="form-control"
                          maxlength="50" [readonly]="viewMode || hasParentTrainingTopic || editableThoroughed && !(this.progressStatus == PROGRESS.WAITING)"/>
                  <app-control-messages [control]="f['kpiExcellent']"></app-control-messages>
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'label.training-topic.kpi.good' | translate}}</label>
              <div  class="ui-g-12 ui-md-6 ui-lg-3">
                  <input  type="text" formControlName="kpiGood" class="form-control"
                          maxlength="50" [readonly]="viewMode || hasParentTrainingTopic || editableThoroughed && !(this.progressStatus == PROGRESS.WAITING)"/>
                  <app-control-messages [control]="f['kpiGood']"></app-control-messages>
              </div>
          </div>

          <div class="ui-g-12 vt-row">
              <!-- File đính kèm -->
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'label.training-topic.attachment' | translate}}</label>
              <div *ngIf="f['fileAttachedList']"  class="ui-g-12 ui-md-6 ui-lg-3">
                  <multi-file-chooser-v2 #multiFileAttachedChooser fileName="fileAttachedList" class="attachment-file-1" [property]="f['fileAttachedList']"
                                         validType="pdf" [validMaxSize]="50" [disabled]="viewMode || editableThoroughed && !(this.progressStatus == PROGRESS.WAITING)"
                  >
                  </multi-file-chooser-v2>
                  <app-control-messages [control]="f['fileAttachedList']"></app-control-messages>
              </div>
          </div>
      </div>

        <div *ngIf="f['objectType'].value === 2" class="ui-g-12 vt-row mt-5 p-0">
            <import-class-member-form #position [saveData]="saveDataImport.asObservable()"
                                      [loadDataIntoForm]="loadDataIntoForm.asObservable()" [dataToLoadIntoForm]="dataToLoadIntoForm"
                                      [dataToSave]="dataToSave"
                                      (dataPersion)="getDataPersion($event)"
                                      [trainingTopicOrgIds]="this.formGroup.controls['trainingTopicOrgIds'].value"
                                      [isView]="viewMode" [chooseParent]="hasParentTrainingTopic" [editable]="editableThoroughed"
            >
            </import-class-member-form>
        </div>
    </div>

  </form>
</div>
