<div class="panel panel-default">
  <p-scrollPanel [style]="{width: '100%', height: 400 + 'px'}" styleClass="custombar2 clearfix">
    <div *ngIf="!showOrgByLineOrg" id="orgTree">
      <p-treeTable [value]="nodes">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-10">
            <col class="size-2">
            <col class="size-4">
            <col class="size-4">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="vt-align-center" translate>request.org-tree.manage.orgName</th>
            <th class="vt-align-center" translate>request.org-tree.manage.status</th>
            <th class="vt-align-center" translate>request.org-tree.manage.fileDocument</th>
            <th class="vt-align-center" translate>request.org-tree.manage.fileSign</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr *ngIf="rowData != null && rowData.name != null">
            <td>
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{rowData.name}}
            </td>
            <td>
              <div class="label-status notYet" *ngIf="rowData.status==0" translate>app.response.status.notYet</div>
              <div class="label-status warning" *ngIf="rowData.status==1" translate>app.response.status.doing</div>
              <div class="label-status warning" *ngIf="rowData.status==2" translate>app.response.status.waiting</div>
              <div class="label-status danger" *ngIf="rowData.status==3" translate>app.response.status.refuse</div>
              <div class="label-status info" *ngIf="rowData.status==4" translate>app.response.status.approved</div>
              <div class="label-status danger" *ngIf="rowData.status==5" translate>app.response.status.reject</div>
            </td>
            <td class="vt-align-left">
              <div *ngIf="rowData.fileAttachment != null">
                <a *ngFor="let data of (rowData.fileAttachment.reportFile)"
                  style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                  (click)="downloadFile(data)">
                  - {{data.fileName}}
                </a>
              </div>
            </td>
            <td class="vt-align-left">
              <div *ngIf="rowData.fileAttachment != null">
                <a *ngFor="let data of (rowData.fileAttachment.signFile)"
                  style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                  (click)="downloadFile(data)">
                  - {{data.fileName}}
                </a>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
      <p-contextMenu #cm [model]="items" appendTo="body"></p-contextMenu>
    </div>
  </p-scrollPanel>
</div>